## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{{ portscanner['parser']['min'] }} {{ portscanner['parser']['hour'] }} {{ portscanner['parser']['day'] }} {{ portscanner['parser']['week'] }} {{ portscanner['parser']['month'] }} root bash /var/opt/portscan/parser.sh 
