## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

OUTPUT_DIR="{{ portscanner['output_dir'] }}"
LOG_DIR="{{ portscanner['log_dir'] }}"
DB_DIR="{{ portscanner['db_dir'] }}"
TARGETS="{{ portscanner['target'] }}"
