## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDTwT2+CSkjUQ2C
HnzRSPW46vn8EAssIkcky4RbgMXJDreaIELu8vFGibxS/HCUyk/x7yfedlZcQQw6
7pi1pPaKQ+DBM9BwQs75RAjFbSnIPQEWOKxNQRam7zm1BSkoBLlCQ9PhC98k5RfP
Y6tQcm7sRrTbnA2UHJqhMBkmNqAMhdQmMfZp4qXvcWioKnKdFq6dYpj5xGwN3RhK
K3NGvm63AB8+PE+IAhMyB8u/9JoiQ7bqn6ocd3B54b4ClbUNkIFFe1Ua/HlEVeTt
85ar79ZT904o/Pxu15LwffYMk4rb8GbwZNn7BTGGoOIXjfmXtxaYnQwgwvQfIMQc
POnm+XyNAgMBAAECggEBAMfzpRWZGNtcYeEIYNxOhJkEaOF3VNVr2LoJ4wV0Z08f
Moe7BvkTNnlg/g9uh/A3yZ2uMnuCSrH6Sk4rls+O4a5VwhktkBkxPLdrYszp85Y8
5JXTFgAtAfLH2jnwkZhUPYsw+RV8XE0+dmlCuDXSmKNLcOQeS0QcbnbeMCFBW4f1
7h3rdYGXrhTu9uwcgpFqtJLL0SUKLK+VpKPxVFwHJYxQk6UTAlCSmafpV3ZP1wNi
Eog7kbaxm+F9av9+qSpVljk5A1fHTUp/G4YQt9qC0jcb9ijiXfD1Dc5oFd0tAGWS
pKTIuM8Mkm8vBY7DcV+Wq89qY0ly/gLf+MM4NgYwERECgYEA+sZ3bB5U/LQBiwK+
c8tgwS93hclusNi/u2Bp8ys++PerWgt8HhahHiwrK0p4MfK+8O6nlAvbUfbL1u+h
3HIw6k7x+YW+3Kbaq5SqKxHiYvim2J/gNtQpERtpUxrOAna70kJAeAgb8ftRCbtE
du+KBluAPIAoXLhfgiCrbQSnMPcCgYEA2Cqn2ClQAgmxLYGZidcAHcpQykdfCkdb
Q8FGBlkrwh1LEunAJWG86qduhmpNkr95TF7DV7KkSGV+di+fLARFQs85TPO66x+n
19k2GhgQaNdgF0Np8852L5yyZTO3aWAc5Inyr2PjkQGqzSrS4jynIj/3UhoRDeMq
DUzTuH5JIZsCgYBnXE30njvhPEA2j5b4Gydx+KKG3hNliLDeBkslEvoNm+dgYcNy
k1ktGn9ghH0t+SOCIpunhYuMKPCzUmmgduB6creBZQLZ51vRxKCux9xLdrkuKBc+
Agw7JNUwj6fBlDat3ui7kHwULMWmAS2i5/A31pbwWNJKBSQ4ekat1HEk2QKBgDu5
VVRg3a0idmRnST+POoYAjt/EZlrVqj6HGMzKOE/SfhqEoMTzQxnmFqBmoHYqFt5l
1DzXq5IhEJagw66Ko4Q48tDzCjLKNTpq1grRmT8OOotS4eQtp/OxrIxPhJ5FotX1
0ypoQ8idmE5FRayiK19IIxH5B7s5hzXTgy+XHKd/AoGBAJawjxgFSryNrva2vqMz
RTrW8IsRtBtIROEu4XYscENlKpfdC/ZIcVi5Mvk4XN7H02AIKyNozduccENULzw3
2shLfx75IhUFNsPU4a7FOeOnqCeWgFLII6UASx3zN1e2m8nohc66XAY0Zi7u3vLs
59YiD33BHad9caYYCZpVs1cf
-----END PRIVATE KEY-----
