## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{{ portscanner['scanner']['min'] }} {{ portscanner['scanner']['hour'] }} {{ portscanner['scanner']['day'] }} {{ portscanner['scanner']['week'] }} {{ portscanner['scanner']['month'] }} root bash /var/opt/portscan/scanner.sh 
