## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{{ sarg['min'] }} {{ sarg['hour'] }} {{ sarg['day'] }} {{ sarg['week'] }} {{ sarg['month'] }} root LC_ALL=C /usr/bin/sarg -x 2> {{ sarg['log'] }}
