## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

net.ipv4.netfilter.ip_conntrack_max = {{ sysctl['ip_conntrack_max'] }}
net.nf_conntrack_max = {{ sysctl['nf_conntrack_max'] }}

net.netfilter.nf_conntrack_tcp_timeout_established = {{ sysctl['nf_conntrack_tcp_timeout_established'] }}
net.ipv4.netfilter.ip_conntrack_tcp_timeout_established = {{ sysctl['ip_conntrack_tcp_timeout_established'] }}

net.netfilter.nf_conntrack_tcp_timeout_time_wait = {{ sysctl['nf_conntrack_tcp_timeout_time_wait'] }}
net.ipv4.netfilter.ip_conntrack_tcp_timeout_time_wait = {{ sysctl['ip_conntrack_tcp_timeout_time_wait'] }}

net.ipv4.ip_local_port_range = {{ sysctl['ip_local_port_range_start'] }}  {{ sysctl['ip_local_port_range_end'] }}

net.ipv4.icmp_ignore_bogus_error_responses = {{ sysctl['icmp_ignore_bougs_error_responses'] }}
net.ipv4.icmp_echo_ignore_broadcasts = {{ sysctl['icmp_echo_ignore_broadcasts'] }}

net.ipv4.conf.all.log_martians = {{ sysctl['log_martians'] }}
net.ipv4.conf.default.log_martians = {{ sysctl['log_martians'] }}
net.ipv4.conf.eth0.log_martians = {{ sysctl['log_martians'] }}
net.ipv4.conf.eth1.log_martians = {{ sysctl['log_martians'] }}
net.ipv4.conf.lo.log_martians = {{ sysctl['log_martians'] }}

net.ipv4.tcp_ecn = {{ sysctl['tcp_ecn'] }}
net.ipv4.tcp_syncookies = {{ sysctl['tcp_syncookies'] }}
net.ipv4.tcp_abort_on_overflow = {{ sysctl['tcp_abort_on_overflow'] }}

net.ipv4.tcp_tw_recycle = {{ sysctl['tcp_tw_recycle'] }}
net.ipv4.tcp_tw_reuse = {{ sysctl['tcp_tw_reuse'] }}
net.ipv4.tcp_window_scaling = {{ sysctl['tcp_window_scaling'] }}
net.ipv4.tcp_timestamps = {{ sysctl['tcp_timestamps'] }}
net.ipv4.tcp_sack = {{ sysctl['tcp_sack'] }}
net.ipv4.tcp_dsack = {{ sysctl['tcp_dsack'] }}
net.ipv4.tcp_fack = {{ sysctl['tcp_fack'] }}
net.ipv4.tcp_keepalive_time = {{ sysctl['tcp_keepalive_time'] }}
net.ipv4.tcp_fin_timeout = {{ sysctl['tcp_fin_timeout'] }}

net.ipv4.tcp_retries1 = {{ sysctl['tcp_retries1'] }}
net.ipv4.tcp_synack_retries = {{ sysctl['tcp_synack_retries'] }}
net.ipv4.tcp_syn_retries = {{ sysctl['tcp_syn_retries'] }}
net.ipv4.tcp_max_syn_backlog = {{ sysctl['tcp_max_syn_backlog'] }}

net.ipv4.conf.all.rp_filter = {{ sysctl['rp_filter'] }}
net.ipv4.conf.default.rp_filter = {{ sysctl['rp_filter'] }}
net.ipv4.conf.eth0.rp_filter = {{ sysctl['rp_filter'] }}
net.ipv4.conf.eth1.rp_filter = {{ sysctl['rp_filter'] }}
net.ipv4.conf.lo.rp_filter = {{ sysctl['rp_filter'] }}

net.ipv4.conf.all.accept_source_route = {{ sysctl['accept_source_route'] }}
net.ipv4.conf.default.accept_source_route = {{ sysctl['accept_source_route'] }}
net.ipv4.conf.eth0.accept_source_route = {{ sysctl['accept_source_route'] }}
net.ipv4.conf.eth1.accept_source_route = {{ sysctl['accept_source_route'] }}
net.ipv4.conf.lo.accept_source_route = {{ sysctl['accept_source_route'] }}
net.ipv6.conf.all.accept_source_route = {{ sysctl['accept_source_route_ipv6'] }}
net.ipv6.conf.default.accept_source_route = {{ sysctl['accept_source_route_ipv6'] }}
net.ipv6.conf.eth0.accept_source_route = {{ sysctl['accept_source_route_ipv6'] }}
net.ipv6.conf.eth1.accept_source_route = {{ sysctl['accept_source_route_ipv6'] }}
net.ipv6.conf.lo.accept_source_route = {{ sysctl['accept_source_route_ipv6'] }}

net.ipv4.conf.all.bootp_relay = {{ sysctl['bootp_relay'] }}
net.ipv4.conf.default.bootp_relay = {{ sysctl['bootp_relay'] }}
net.ipv4.conf.eth0.bootp_relay = {{ sysctl['bootp_relay'] }}
net.ipv4.conf.eth1.bootp_relay = {{ sysctl['bootp_relay'] }}
net.ipv4.conf.lo.bootp_relay = {{ sysctl['bootp_relay'] }}

net.ipv4.ip_forward = {{ sysctl['ip_forward'] }}

net.ipv4.conf.all.secure_redirects = {{ sysctl['secure_redirects'] }}
net.ipv4.conf.default.secure_redirects = {{ sysctl['secure_redirects'] }}
net.ipv4.conf.eth0.secure_redirects = {{ sysctl['secure_redirects'] }}
net.ipv4.conf.eth1.secure_redirects = {{ sysctl['secure_redirects'] }}
net.ipv4.conf.lo.secure_redirects = {{ sysctl['secure_redirects'] }}

net.ipv4.conf.all.send_redirects = {{ sysctl['send_redirects'] }}
net.ipv4.conf.default.send_redirects = {{ sysctl['send_redirects'] }}
net.ipv4.conf.eth0.send_redirects = {{ sysctl['send_redirects'] }}
net.ipv4.conf.eth1.send_redirects = {{ sysctl['send_redirects'] }}
net.ipv4.conf.lo.send_redirects = {{ sysctl['send_redirects'] }}

net.ipv4.conf.all.proxy_arp = {{ sysctl['proxy_arp'] }}
net.ipv4.conf.default.proxy_arp = {{ sysctl['proxy_arp'] }}
net.ipv4.conf.eth0.proxy_arp = {{ sysctl['proxy_arp'] }}
net.ipv4.conf.eth1.proxy_arp = {{ sysctl['proxy_arp'] }}
net.ipv4.conf.lo.proxy_arp = {{ sysctl['proxy_arp'] }}
