BRANCH_NAME={{ git.BRANCH_NAME }}
ADMIN_USERNAME={{ gdys.ADMIN_USERNAME }}
ADMIN_MAIL={{ gdys.ADMIN_MAIL }}
ADMIN_PASSWORD={{ gdys.ADMIN_PASSWORD }}
WORKDIR={{ gdys.WORKDIR }}
LOGLEVEL=info
LOGPATH={{ gdys.LOGPATH }}
HOST={{ gdys.FQDN }}
{% if gdys.SSL == "yes" %}
HOST_PORT=443
{% else %}
HOST_PORT=80
{% endif %}
MYS_IP_ADDR={{ gdys.MYS_IP_ADDR }} # Gerekli
FLASK_ENV=production
FLASK_DEBUG=0