## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{{ signer['cron']['min'] }} {{ signer['cron']['hour'] }} * * * root /bin/bash /opt/signer.bash
