## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

# Ahtapot Gdys-Gui kisayol tanimlamasi
alias gdys-gui='/usr/bin/sudo /usr/bin/python /var/opt/gdysgui/gdys-gui.py'
