[AmunServer]

### define the amun server ip
ip: {{amun_conf.listen_ip}}
#ip: 192.168.0.1 - 192.168.0.5, 192.168.15.1 - 192.168.15.15
#ip: 192.168.0.1, 192.168.0.2, 192.168.0.5
#ip: 192.168.0.0/28
#ip: eth0

### define the user amun should run as
### NOTE: non-root user cannot open bindports below 1024
user: root
group: root

### timeouts in seconds when everything else fails
### (can be changed while running)
connection_timeout: 120
bindport_timeout: 120
ftp_timeout: 180

### port range for ftp connections
### (can be changed while running)
ftp_port_range: 51025-65535

### use this ip for ftp (NAT), set to None if no NAT is used
### (can be changed while running)
ftp_nat_ip: None

### retransmit last request every x seconds
### (can be changed while running)
tftp_retransmissions: 5

### determine the number of tftp retransmissions
### (can be changed while running)
tftp_max_retransmissions: 10

### block refused IPs, timeouts, successfull downloads, or successfull exploits for x seconds
### (can be changed while running)
refused_blocktime: 1200
timeout_blocktime: 1200
sucdown_blocktime: 1200
sucexpl_blocktime: 1200

### block ips which refuse a connection, throw a timeout, or
### from which we already have a successfull download or exploit
### (can be changed while running)
block_refused: 0
block_timeout: 0
block_sucdown: 0
block_sucexpl: 0

### http header filesize check
### (can be changed while running)
check_http_filesize: 1

### store unfinished tftp transfers
### (can be changed while running)
store_unfinished_tftp: 0

### replace local ip with attacker ip
### (can be changed while running)
replace_local_ip: 1

### set iptables rule to block icmp echo-requests
honeypot_pingable: 1

### check for new vuln-modules every x seconds, read configuration
### (can be changed while running)
check_new_vulns: 240

### debug option
### (can be changes while running)
output_curr_sockets: 0
log_local_downloads: 0
verbose_logging: 0
max_open_sockets: 800

### define submission modules
### Note: with the submission of binaries to third party
###       services you must read, understand, and agree
###   to their terms and conditions!
submit_modules:
    submit-md5
#   submit-anubis,
#   submit-cwsandbox,
#   submit-joebox

### define logging modules
log_modules:
    log-hpfeeds
#   log-hpfeeds
#   log-surfnet,
#   log-syslog,
#   log-mysql

### define the vulnerability modules to load
### Note: modules listening on the same port
###       answer to requests in the order they
###       appear here.
### (can be changed while running)
vuln_modules:
        vuln-smb,
        vuln-sasserftpd,
        vuln-msdtc,
        vuln-mydoom,
        vuln-wins,
        vuln-axigen,
        vuln-slmail,
        vuln-mdaemon,
        vuln-ca,
        vuln-iis,
        vuln-ftpd,
        vuln-dcom,
        vuln-upnp,
        vuln-maxdb,
        vuln-arc,
        vuln-imail,
        vuln-tivoli,
        vuln-msmq,
        vuln-sub7,
        vuln-mercury,
#       vuln-analyzer,
        vuln-lotusdomino,
        vuln-arkeia,
        vuln-dameware,
        vuln-symantec,
        vuln-veritas,
        vuln-check,
        vuln-trend,
        vuln-bagle,
        vuln-goodtech,
        vuln-helix,
        vuln-hpopenview,
        vuln-http,
        vuln-peercast,
        vuln-rdp,
        vuln-speedport

### define ports for vulnerability modules
### (can be changed while running)
vuln-smb: {{amun_conf.vuln_smb}}
vuln-dcom: {{amun_conf.vuln_dcom}}
vuln-ca: {{amun_conf.vuln_ca}}
vuln-ftpd: {{amun_conf.vuln_ftpd}}
vuln-sasserftpd: {{amun_conf.vuln_sasserftpd}}
vuln-wins: {{amun_conf.vuln_wins}}
vuln-arc: {{amun_conf.vuln_arc}}
vuln-symantec: {{amun_conf.vuln_symantec}}
vuln-msdtc: {{amun_conf.vuln_msdtc}}
vuln-axigen: {{amun_conf.vuln_axigen}}
vuln-slmail: {{amun_conf.vuln_slmail}}
vuln-mdaemon: {{amun_conf.vuln_mdaemon}}
vuln-upnp: {{amun_conf.vuln_upnp}}
vuln-iis: {{amun_conf.vuln_iis}}
vuln-maxdb: {{amun_conf.vuln_maxdb}}
vuln-tivoli: {{amun_conf.vuln_tivoli}}
vuln-msmq: {{amun_conf.vuln_msmq}}
vuln-sub7: {{amun_conf.vuln_sub7}}
vuln-imail: {{amun_conf.vuln_imail}}
vuln-mercury: {{amun_conf.vuln_mercury}}
vuln-lotusdomino: {{amun_conf.vuln_lotusdomino}}
vuln-arkeia: {{amun_conf.vuln_arkeia}}
vuln-dameware: {{amun_conf.vuln_dameware}}
vuln-veritas: {{amun_conf.vuln_veritas}}
vuln-trend: {{amun_conf.vuln_trend}}
vuln-bagle: {{amun_conf.vuln_bagle}}
vuln-goodtech: {{amun_conf.vuln_goodtech}}
vuln-helix: {{amun_conf.vuln_helix}}
vuln-hpopenview: {{amun_conf.vuln_hpopenview}}
vuln-http: {{amun_conf.vuln_http}}
vuln-peercast: {{amun_conf.vuln_peercast}}
vuln-speedport: {{amun_conf.vuln_speedport}}

### work in progress
vuln-rdp: {{amun_conf.vuln_rdp}}

### kein shellcode sondern direkt file download
vuln-mydoom: {{amun_conf.vuln_mydoom}}

### analyze interesting ports
#vuln-analyzer: 139

### simulate vulnerable telnet (in work)
vuln-check: {{amun_conf.vuln_rdp}}

### linux shellcode not recognized
#vuln-rsync: 873
### Sample Exploit requires connection termination (this does not work with other modules listening on port 110)
#vuln-cyruspop3: 110

### incomplete (work in progress)
#vuln-mssql: 1433
#vuln-mysql: 3306
#vuln-realvnc: 5900

[logging]
logdir = logs
