mkdir /etc/postfix/ssl
cd /etc/ssl/private/
openssl genrsa -des3 -passout pass:xxxx -out /etc/ssl/private/mhn.pass.key 2048
openssl rsa -passin pass:xxxx -in /etc/ssl/private/mhn.pass.key -out /etc/ssl/private/mhn.key
chmod 600 mhn.key
rm /etc/ssl/private/mhn.pass.key
openssl req -new -key /etc/ssl/private/mhn.key -out /etc/ssl/private/mhn.csr -subj "/C={{mhn_ssl_country}}/ST={{mhn_ssl_state}}/L={{mhn_ssl_locality}}/O={{mhn_ssl_organization}}/OU={{mhn_ssl_organizationalunit}}/CN={{mhn_ssl_commonname}}"
openssl x509 -req -days 3650 -in /etc/ssl/private/mhn.csr -signkey /etc/ssl/private/mhn.key -out /etc/ssl/private/mhn.crt
openssl rsa -in /etc/ssl/private/mhn.key -out /etc/ssl/private/mhn.key.unencrypted
mv -f mhn.key.unencrypted mhn.key
openssl req -new -key /etc/ssl/private/mhn.key -x509 -extensions v3_ca -keyout cakey.pem -out cacert.pem -days 3650 -subj "/C={{mhn_ssl_country}}/ST={{mhn_ssl_state}}/L={{mhn_ssl_locality}}/O={{mhn_ssl_organization}}/OU={{mhn_ssl_organizationalunit}}/CN={{mhn_ssl_commonname}}"