ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCf5Hk3iVgNKiC79rPfGBrqFsWoepR+Q8oEKpkS9VGxdqTJgyU2rvHAWXTSFjtFAU32bOdd2Jd4Q/iAoat/2pv+01td8OZ95UZ+FvMg2MZXKidlDuNrUdIWuct6OycGpi2EEXJ/KmbuDV6DHCVfnq+equEWF92yix2bcdn9WQUUK+IaQRINlL+e0PJ0Rj1xB21nWvwPFrbIrQyQrNQKN+osdm/REwExR0iuGRSy4tyQjaA6GZyCWZS6aiIiWf6JmUyuuFTEtN0r876yS0gTt+Fbq8TIpVIQF3P5YLsQ7T/2w1XKXeUEm6rdFaZYy+buiM0zg/iv8tj85URGQ5t0Ytq3 root@bsgs
