# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin ansible id:91125 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# ansible:-
#
# END-HEADER
#
# Description:
#   ansible
#
#
#
#

[DEFAULT]
plugin_id=91125

[config]
type=detector
enable=yes

source=log
location=/var/log/ansible.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

#Nov 23 07:21:56 mys ansible 2018-11-23 08:21:56,467 p=19147 u=ahtapotops |  [DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default).
#Nov 23 07:21:56 mys ansible This feature 
#Nov 23 07:21:56 mys ansible will be removed in a future release. Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.
#Nov 23 07:21:58 mys ansible 2018-11-23 08:21:58,454 p=19147 u=ahtapotops |  PLAY [antispam] ****************************************************************
#Nov 23 07:21:58 mys ansible 2018-11-23 08:21:58,602 p=19147 u=ahtapotops |  TASK [setup] *******************************************************************
#Nov 23 07:21:59 mys ansible 2018-11-23 08:21:59,430 p=19147 u=ahtapotops |  ok: [endpoint]
#Nov 23 07:21:59 mys ansible 2018-11-23 08:21:59,480 p=19147 u=ahtapotops |  TASK [base : konfigurasyon listesi olusturuluyor] ******************************
#Nov 23 07:21:59 mys ansible 2018-11-23 08:21:59,582 p=19147 u=ahtapotops |  ok: [endpoint]
#Nov 22 10:41:36 mys ansible 2018-11-22 11:41:36,811 p=16684 u=ahtapotops |  TASK [base : Gereksiz cekirdek modulleri kaldiriliyori (blacklist).] ***********
#Nov 22 10:41:36 mys ansible 2018-11-22 11:41:37,089 p=16684 u=ahtapotops |  ok: [endpoint] => (item={'key': u'module01', 'value': {u'state': u'absent', u'name': u'uhci_hcd'}})
#Nov 22 10:41:36 mys ansible 2018-11-22 11:41:37,245 p=16684 u=ahtapotops |  failed: [endpoint] (item={'key': u'module02', 'value': {u'state': u'absent', u'name': u'ehci_hcd'}}) => {"changed": false, "failed": true, "item": {"key": "module02", "value": {"name": "ehci_hcd", "state": "absent"}}, "msg": "modprobe: FATAL: Module ehci_hcd is in use.\n", "name": "ehci_hcd", "params": "", "state": "absent"}
#Nov 22 10:41:36 mys ansible 2018-11-22 11:41:37,417 p=16684 u=ahtapotops |  ok: [endpoint] => (item={'key': u'module03', 'value': {u'state': u'absent', u'name': u'usbhid'}})
#Nov 22 10:41:37 mys ansible 2018-11-22 11:41:37,627 p=16684 u=ahtapotops |  failed: [endpoint] (item={'key': u'module04', 'value': {u'state': u'absent', u'name': u'usbcore'}}) => {"changed": false, "failed": true, "item": {"key": "module04", "value": {"name": "usbcore", "state": "absent"}}, "msg": "modprobe: FATAL: Module usbcore is in use.\n", "name": "usbcore", "params": "", "state": "absent"}
#Nov 22 10:41:37 mys ansible 2018-11-22 11:41:37,629 p=16684 u=ahtapotops |  #011to retry, use: --limit @/etc/ansible/playbooks/antispam.retry
#Nov 22 10:41:37 mys ansible 2018-11-22 11:41:37,629 p=16684 u=ahtapotops |  PLAY RECAP *********************************************************************
#Nov 22 10:41:37 mys ansible 2018-11-22 11:41:37,629 p=16684 u=ahtapotops |  endpoint                   : ok=29   changed=0    unreachable=0    failed=1

[translation]
PLAY=1
TASK=2

[0001 - ansible]
event_type=event
regexp="\w+\s+\d+\s\d+\:\d+\:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+\-\d+\-\d+\s+\d+\:\d+\:\d+)\,?\d*\sp\=\d+\su\=\w+\s\|\s+(?P<type>PLAY|TASK)\s\[(?P<content>.+)\].*$"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($type)}
userdata1= CONTENT: {$content}
