# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin apache-tomcat id:1816 version: 0.0.2
# Last modification: 2018-07-24 10:30
#
# Plugin Selection Info:
# Apache Software Foundation:Tomcat:-
#
# END-HEADER
# Accepted products:
# apache - catalina -
# Description:
# Apache Tomcat Catalina output logs
#

[DEFAULT]
plugin_id=1816

[config]
type=detector
enable=yes
source=log
location=/var/log/apache-tomcat.log
create_file=false

process=syslog
start=no
stop=no
startup=
shutdown=

[translation]
Access to the deviceAlert collection must go through the repository. = 1
An attempt was made to authenticate the locked = 2
At least one JAR was scanned for TLDs yet contained no TLDs. =3
Channel shutdown: = 4
Character decoding failed = 5
Clearing static property = 6
Connection has been marked = 7
Consumer raised = 8
Could not synchronize database state with session = 9
Creation of SecureRandom instance for session ID generation = 10
Deploying web application archive = 11
Deploying web application directory = 12
Deployment of web application archive = 13
Deployment of web application directory = 14
Destroying ProtocolHandler = 15
Destroying Spring parent = 16
Error intercepting locale change: = 17
Exception fixing docBase for context = 18
Grails application loaded. = 19
Initialization processed = 20
Initializing = 21
LifecycleException = 22
Local Fleet Report = 23
MLog clients using log4j logging. = 24
No migrations to run for = 25
Not suppressing = 26
Pausing ProtocolHandler = 27
Reading from = 28
Registering Queue Listener for: = 29
Restarting Consumer: = 30
Server startup = 31
Set db generation strategy to = 32
Setting mongo $comment Text: = 33
Setting up queue config: = 34
Shutting down EHCache CacheManager = 35
Starting ProtocolHandler = 36
Starting Servlet Engine = 37
Starting service Catalina = 38
Stopping ProtocolHandler = 39
Stopping service Catalina = 40
StringIndexOutOfBoundsException occurred when processing request: = 41
Successfully waited for workers to finish. = 42
TLD skipped = 43
The APR based Apache Tomcat Native library which allows optimal performance in production environments was not found on the java.library.path = 44
Unable to add OohLaLog SpringSecurity filter to capture principal token. = 45
Using a shared selector for servlet write/read = 46
Using corrected distance = 47
Waiting for workers to finish. = 48
buildAlertOutput error: = 49
executeScheduledReports error = 50
executeStopsReport error: = 51
failed to get node info for = 52
loaded = 53
postProcessBeanDefinitionRegistry start = 54
postProcessBeanFactory = 55
processReportNotificationsWithAttachment error: = 56
updateOnStart disabled for = 57
The web application = 58
Row was updated or deleted by another transaction = 59
sending report results = 60
sending report to distribution list = 61
sending report to distribution list with attachment = 62
processReportNotificationsWithAttachment = 63
body = 64
clearReferencesThreads = 65
deployDirectory = 66
deployWAR = 67
destroy = 68
getSharedSelector = 69
init = 70
load = 71
pause = 72
start = 73
startInternal = 74
stop = 75
stopInternal = 76
Initializing ProtocolHandler = 77
Loading config = 78
Loading datasource.config = 79
SEVERE = 58
com.rabbitmq.client.MissedHeartbeatException = 81
com.rabbitmq.client.ShutdownSignalException = 82
executeScheduledReports = 50
rtn.summary = 83
runScheduledReports = 84
Initializing External Config.groovy = 85
Procon PLUGINS = 86
Using External Data Source Config = 87
searchFuelCardTransactionsForReport = 88
sending report to recipient = 89
sending report to recipient with attachment = 90
unable to coerce long value for id criteria = 91
Reading = 28

_DEFAULT_=20000000


[0001 - Apache Tomcat - Standard logs]
event_type=event
regexp="(?P<date>\d{4}-\d\d-\d\d\s\d\d:\d\d:\d\d)\.\d*\s*\|\s*(?P<sev>\w*)\s*\|\s*(?P<module>\S+)\s*\|\s*(?P<action>[^|]*)\s*\|\s*(?:system=(?P<system>[^|]*)\s+\|\s+|principal=(?P<principal>[^|]*)\s+\|\s+|account=(?P<account>[^|]*)\s+\|\s+|device=(?P<device>[^|]*)\s+\|\s+|scenario=(?P<scenario>[^|]*)\s+\|\s+|operation=(?P<operation>[^|]*)\s+\|\s+|correlation=(?P<correlation>[^|]*)\s+\|\s+)+(?P<status>(?:\[[^]]+\]\s*)*(?P<sid>Initializing|Reading|Local Fleet Report|Clearing\sstatic\sproperty|Set db generation strategy to|No migrations to run for|Creation of SecureRandom instance for session ID generation|Destroying Spring parent|[^\.:]+[\.\:]|(?:(?!\s\|)\w+\s*)+)(?:(?:\s*\[[^+]+\]\s)*(?P<file>/\S+)|\sHOSTNAME:\s(?P<hostname>[^|]+)|(?:\sauto-locate\sevent\sfor\s|\sfrom\s|')(?P<message>[^'|]+)|\s[^|]*))(?:\|\s*HOSTIP:\s(?P<host_ip>[^|]*)\s+\|\s+SERVERURL:\s(?:https?|:|www\.|//)*(?P<server_url>[^|]*)\s+\|\s+APP:\s*(?P<app>[^|]*)\s+\|)?"
plugin_sid={translate($sid)}
date={normalize_date($date)}
device={$device}
dst_ip={$server_url}
src_ip={$host_ip}
filename={$file}
username={$account}
userdata1={$module}
userdata2={$action}
userdata3={$hostname}
userdata4={$principal}
userdata5={$scenario}
userdata6={$operation}
userdata7={$correlation}
userdata8={$system}
userdata9={$sev}


[0002 - Apache Tomcat - Multiline logs]
event_type=event
regexp="(?P<date>\w+\s+\d+,\s+\d+\s+\d+:\d+:\d+\s\w+)\s(?P<device>\S+)\s(?P<action>\S+)\n(?P<sev>SEVERE|INFO|WARNING|CONFIG|FINE\S*|EXCEPTION):\s*(?P<postmsg>(?P<sid>Initializing|The APR based Apache Tomcat[^\:]+|An attempt was made to authenticate the locked|Initialization processed|Deploy\S+ (?:of\s)?web application (?:archive|directory)|[^:\.[]+)[:\.\s]+(?:(?P<file>/\S+)|URI:\s(?:https?|:|www\.|//)*(?P<uri>\S+)|user\s"(?P<username>[^"]+)")?)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
filename={$file}
username={$username}
userdata1={$action}
userdata2={$postmsg}
userdata3={$sev}
userdata4={$uri}


[0003 - Apache Tomcat - Row was updated or deleted by another transaction]
event_type=event
precheck="Row was updated or deleted by another transaction"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+)?(?:(?:Caused\sby:\s)?(?P<module>[^\s:]+):?\s*(?:(?P<error>error)\s-\s(?P<object>[^:]+):\s(?P<msg>Object\sof\sclass\s[^:]+):)?).*?(?P<message>(?P<sid>Row\swas\supdated\sor\sdeleted\sby\sanother\stransaction)\s\([^)]+\)):\s\[(?P<object2>[^]]+)\]"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
userdata1={$module}
userdata2={$error}
userdata3={$sev}
userdata4={$object}
userdata5={$msg}
userdata6={$message}
userdata7={$object2}


[0004 - Apache Tomcat - sending report]
event_type=event
precheck="sending report"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+)?(?P<sid>sending\sreport\s(?:results|to\sdistribution\slist.*))(?:\s(?P<object>\S+)(?:\s-?\s*(?P<message>.*))?)?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
userdata1={$object}
userdata2={$message}
userdata3={$sev}


[0005 - Apache Tomcat - No thread-bound request found]
event_type=event
precheck="No thread-bound request found"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+)?(?P<sid>\S+)\s(?P<error>[^:]+):\s(?P<object>[^:]+):\s(?P<message>No\sthread-bound\srequest\sfound):\s(?P<msg_complete>.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
userdata1={$error}
userdata2={$object}
userdata3={$sev}
userdata4={$msg_complete}


[0006 - Apache Tomcat - With Date in the beginning]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+)?(?P<date_log>\w+\s\d+,\s\d+\s\d+:\d+:\d+\s\w+)\s(?P<object>\S+)\s(?P<sid>.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
userdata1={$date_log}
userdata2={$object}
userdata3={$sev}
userdata4={$sid}

[0007 - Apache Tomcat - Numeric sids]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+)?(?:#011|\t)(?:at)?\s*(?P<module>[^(]+)\((?P<object>[^:)]+)(?::(?P<num>\d+))?\)"
date={normalize_date($date)}
plugin_sid=95
device={$device}
src_ip={$device}
userdata1={$module}
userdata2={$object}
userdata3={$sev}

[0008 - Apache Tomcat - ]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+|Caused\sby:\s)?(?P<sid>Deploy\S+ (?:of )?web application \S+|Loading \S+|com.rabbitmq\.client\.MissedHeartbeatException|com\.rabbitmq\.client\.ShutdownSignalException|rtn.summary|[^:\.[\-=]+)(?::?\s*|\s\[|\s-\s*|\s=\s*|\.\s+|\s(?:archive|from|directory)\s)(?:success=(?P<success>[^,]+),\s*|(?:startDate=|startDate:)?(?P<start_date>\d+/\d+/\d+|\w+\s+\w+\s\d+\s+\d+:\d+:\d+\s\w+\s\d+),?\s*|end(?:Date[=:]|:\s+)(?P<end_date>\d+/\d+/\d+|\w+\s+\w+\s\d+\s+\d+:\d+:\d+\s\w+\s\d+),?\s*|count=(?P<count>\d+)|(?:->.*?userName\s=\s|\[userTz:|startTime.*?accountName:)(?:null|(?P<username>[^,]*)),?\s*|->|executionStart:(?P<exec_date>\d+/\d+/\d+\s\d+:\d+\s\w+\s[^,]+),\s|"(?P<protocol>[^"]+)"\]|The\sweb\sapplication\s\[\][^[]+(?P<app>.*?)\sbut.*|/(?P<path>\S+)|URI:\s(?:http://www.)?(?P<uri>[^/]+)/\S+|(?P<app2>Apache.*)|Heartbeat|(?P<error>connection\serror))+"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
username={$username}
filename={$path}
userdata1={$success}
userdata2={$start_date}
userdata3={$uri}
userdata4={$end_date}
userdata5={$count}
userdata6={$exec_date}
userdata7={$protocol}
userdata8={$app}
userdata9={$app2}

[0009 - Apache Tomcat - App Multiline logs]
event_type=event
precheck="Application"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*Application:\s(?P<app>\S+\s\S+)\s+\n.*?\n.*?catalina:\s+Environment:\s(?P<enviroment>\S+)\n.*?catalina:\s+Database\sconfiguration:\s+\n.*?catalina:\s+Hibernate\sDDL\smode:\s(?P<mode>\S+)\n.*?catalina:\s+URL:\s(?P<cab>[^/]+)/*(?P<url>[^:]+):(?P<port>\d+).*?\n.*?catalina:\s+Driver:\s(?P<driver>\S+)\n.*?catalina:\s+User:\s(?P<username>\S+)"
date={normalize_date($date)}
plugin_sid=94
device={$device}
src_ip={$url}
src_port={$port}
username={$username}
userdata1={$enviroment}
userdata2={$mode}
userdata3={$url}
userdata4={$driver}

[0010 - Apache Tomcat - Generic]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+catalina:\s*(?:(?P<sev>INFO):\s+)?(?P<sid>Server\sstartup|unable\sto\scoerce\slong\svalue\sfor\sid\scriteria|searchFuelCardTransactionsForReport|sending.*|Stopping.*|Using.*|Starting.*|Procon\sPLUGINS)(?::\s+(?:(?P<path>/\S+)|(?P<message>[^(]+)))?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
filename={$path}
userdata1={$message}



