# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin apache-ldap id:1713 version: 0.0.4
# Last modification: 2018-07-24 09:00
#
# Plugin Selection Info:
# Apache Software Foundation:OpenLDAP:-
#
# END-HEADER
# Accepted products:
# 
# Description:
#
# Apache OpenLDAP

[DEFAULT]
plugin_id=1713

[config]
type=detector
enable=yes
source=log
location=/var/log/apache-ldap.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
#Request types
SRCH=1
MOD=2
DEL=3
ADD=4
MODDN=5
EXT=6
ABANDON=7
#Response types
RESULT=8
ENTRY=9
REFERRAL=10
DISCONNECT=20
#BIND Methods
0=11
128=12
sasl=13
163=13
255=29
129=30
130=31
#index failure
bdb_equality_candidates=21
bdb_substring_candidates=22
#Other
STARTTLS=23
do_bind:=24
#DEFAULT
_DEFAULT_=20000000

#   Error codes for rule 2
[search_results]
0 = 32
1 = 33
2 = 34
3 = 35
4 = 36
5 = 37
6 = 38
7 = 39
8 = 40
10 = 41
11 = 42
12 = 43
13 = 44
14 = 45
16 = 46
17 = 47
18 = 48
19 = 49
20 = 50
21 = 51
32 = 52
33 = 53
34 = 54

35 = 55
36 = 56
48 = 57
49 = 58
50 = 59
51 = 60
52 = 61
53 = 62
54 = 63
64 = 64
65 = 65
66 = 66
67 = 67
68 = 68
69 = 69
70 = 70
71 = 71
80 = 72

[0001 - Access Request]
event_type=event
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\d+)\s+(?P<request_type>[A-Z]+)\s+base="(?P<base>[^"]*)"\s+scope=(?P<scope>\d)\s+(?:deref=\d+)?\s*filter="(?P<filter>[^"]*)"(?:\s+attrs="?(?P<search_attributes>[^"]*)"?)?"
date={normalize_date($date)}
device={$device}
plugin_sid={translate($request_type)}
userdata1={$connection_number}
userdata2={$operation_number}
userdata3={$base}
userdata4={$scope}
userdata5={$filter}
userdata6={$search_attributes}

[0002 - Search results]
event_type=event
precheck="SEARCH RESULT"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*slapd\[\d+\]:)\sconn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\d+)\s+SEARCH RESULT\s*tag=(?P<tag>\d+)\s*err=(?P<error_id>\d+)\s*nentries=(?P<entries_retrieved>\d+)\s*text=(?P<error_text>.*)"
date={normalize_date($date)}
device={$device}
plugin_sid={translate2($error_id,$search_results)}
userdata1={$connection_number}
userdata2={$operation_number}
userdata3={$error_id}
userdata4={$tag}
userdata5={$entries_retrieved}
userdata6={$error_text}

[0003 - Access Response]
event_type=event
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\S+)\s+op=(?P<operation_number>\d+)\s+.*?(?P<response_type>[A-Z]+)\s+(?:err=(?P<error_number>\d+)\s+|tag=(?P<tag_number>\d+)\s+)+(?:nentries=(?P<number_entries>\d+)\s+)?(?:etime=(?P<elapsed_time>\d+))?(?:\s*(?:notes|text)=(?P<notes>\S*))?"
date={normalize_date($date)}
device={$device}
plugin_sid={translate($response_type)}
userdata1={$connection_number}
userdata2={$operation_number}
userdata3={$error_number}
userdata4={$tag_number}
userdata5={$number_entries}
userdata6={$elapsed_time}
userdata7={$notes}

[0004 - connection from an external LDAP client]
event_type=event
precheck="connection from"
regexp="\[(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2})\s+[+-]\d{4}\]\s+conn=(?P<connection_number>\d+)\s+fd=(?P<file_descriptor>\d+)\s+slot=(?P<slot>\d+).*?(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+to\s+(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})"
date={normalize_date($date)}
plugin_sid=14
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$connection_number}
userdata2={$file_descriptor}
userdata3={$slot}

[0005 - connection closed]
event_type=event
precheck="closed"
regexp="\[(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2})\s+[+-]\d{4}\]\s+conn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\-?\d+)\s+fd=(?P<file_descriptor>\d+)\s+closed.*?\-\s+(?P<connection_code>\S+)"
date={normalize_date($date)}
plugin_sid=15
userdata1={$connection_number}
userdata2={$file_descriptor}
userdata3={$connection_code}
userdata4={$operation_number}

[0010 - BIND operation]
event_type=event
precheck="BIND"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\d+)\s+BIND\s+dn="(?P<dn>[^"]*?(?:cn=(?P<username>[^",;]*))?[^"]*)"\s+method=(?P<method_type>\S+)\s*(?:version=(?P<version>\d+))?"
date={normalize_date($date)}
device={$device}
plugin_sid={translate($method_type)}
username={$username}
userdata1={$connection_number}
userdata2={$operation_number}
userdata3={$version}

[0011 - UNBIND operation]
event_type=event
precheck="UNBIND"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\d+)\s+UNBIND"
date={normalize_date($date)}
device={$device}
plugin_sid=16
userdata1={$connection_number}
userdata2={$operation_number}

[0012 - Value exists]
event_type=event
precheck="value"
regexp="\[(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2})\s+[+-]\d{4}\]\s+\-\sadd value "(?P<value>[^"]*)".*?"(?P<attribute_type>[^"]*)" in entry "(?P<entry>[^"]*)" failed: value exists"
date={normalize_date($date)}
plugin_sid=17
userdata1={$value}
userdata2={$attribute_type}
userdata3={$entry}

[0013 - export]
event_type=event
precheck="export"
regexp="\[(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2})\s+[+-]\d{4}\]\s+\-\s+export\s+(?P<data1>\S+)\:\s+Processed\s+(?P<number_entries>\d+)\s+entries.*"
date={normalize_date($date)}
plugin_sid=18
userdata1={$data1}
userdata2={$number_entries}

[0014 - Generic error]
event_type=event
regexp="^\[(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2})\s+[+-]\d{4}\]\s+(?P<message>.*?)\n(?P<data1>\S+\/\S+)\s+\S+\n(?P<url>\S+)\:(?P<port>\d+)\s+\((?P<path>[^\(|\)]*)\)$"
date={normalize_date($date)}
plugin_sid=19
userdata1={$message}
userdata2={$data1}
userdata3={$url}
userdata4={$port}
userdata5={$path}

[0015 - file closed]
event_type=event
precheck="closed"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+fd=(?P<file_descriptor>\d+)\s+closed"
date={normalize_date($date)}
device={$device}
plugin_sid=25
userdata1={$connection_number}
userdata2={$file_descriptor}

[0020 - BIND generic]
event_type=event
precheck="BIND"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\d+)\s+BIND\s+(?:dn="(?P<dn>[^"]*?(?:(?:cn=(?P<username>[^",;]*)[^"]*))"|")|anonymous)\s+mech=(?P<mech>\S+)\s*(?:sasl_ssf=(?P<sasl_ssf>\d+)\s*)?ssf=(?P<sec_strong_force>\d+)"
date={normalize_date($date)}
device={$device}
plugin_sid=26
username={$username}
userdata1={$connection_number}
userdata2={$operation_number}
userdata3={$mech}
userdata4={$sec_strong_force}
userdata5={$sasl_ssf}

[0021 - ACCEPT]
event_type=event
precheck="ACCEPT"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+fd=(?P<file_descriptor>\d+)\s+ACCEPT\s+from\s*IP=(?P<src_ip>[^:]*):(?P<src_port>\d+)\s*\(IP=(?P<dst_ip>[^:]*):(?P<dst_port>\d+)\)"
date={normalize_date($date)}
device={$device}
plugin_sid=27
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
userdata1={$connection_number}
userdata2={$file_descriptor}

[0022 - not indexed]
event_type=event
precheck="not indexed"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*slapd\[\d+\]:)\s+<=\s*(?P<sid>\S+):\s*\((?P<name>[^)]*)\)\s* not indexed"
date={normalize_date($date)}
device={$device}
plugin_sid={translate($sid)}
userdata1={$name}

[0023 - connection input]
event_type=event
precheck="connection_input"
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*slapd\[\d+\]:)\sconnection_input:\s*conn=(?P<connection_number>\d+)\s*deferring operation:\s*(?P<def_operation>\S+)"
date={normalize_date($date)}
device={$device}
plugin_sid=28
userdata1={$connection_number}
userdata2={$def_operation}

[0024 - GENERIC REQ_TYPE WITH conn]
event_type=event
precheck="conn="
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*\S+)\s+conn=(?P<connection_number>\d+)\s+op=(?P<operation_number>\d+)\s+(?P<request_type>do_bind:|[A-Z]+)\s*(?:attr=(?P<attribute>.*)|oid=\S*\s*|err=(?P<error>\d+)\s*|text=(?P<text>\S*\s*)|msg=(?P<msg>\d+)|(?P<fail>ber_scanf failed))*"
date={normalize_date($date)}
device={$device}
plugin_sid={translate($request_type)}
userdata1={$connection_number}
userdata2={$operation_number}
userdata3={$attribute}
userdata4={$error}
userdata5={$text}
userdata6={$msg}
userdata7={$fail}

[9999 - CATCH ALL]
event_type=event
#precheck=""
regexp="\[?(?P<date>\d{2}\/\w{3}\/\d{4}:\d{2}:\d{2}:\d{2}|\w{3}\s*\d+\s*\S+)\s+(?:[+-]\d{4}\]|(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\s*slapd\[\d+\]:)\s(?P<msg>.*)"
date={normalize_date($date)}
device={$device}
plugin_sid=20000000
userdata1={$msg}



