# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin asterisk-voip id:1736 version: 0.0.4
# Last modification: 2016-07-18 11:45
#
# Plugin Selection Info:
# Asterisk:VoIP:-
#
# END-HEADER
#
# Description:
#


[DEFAULT]
plugin_id=1736

[config]
type=detector
enable=yes

source=log
location=/var/log/asterisk-voip.log

create_file=false

process=

start=no
stop=no
startup=
shutdown=

[translation]
on=1
off=2
is ringing=4
answered=5

Using SIP RTP CoS=14
Using SIP VRTP CoS=15
Goto=16
Playing=17
Spawn extension=18
Called=19
Unable to create channel of type 'SIP'=20
Nobody picked up=21
Recording the message=22
open writing=23
User hung up=24
Parsing=25
Found=26
No such host=27
Hungup=28
Call failed to go through=29
Format for call is ulaw=30
No such extension/context=31

_DEFAULT_=20000000


[0001 - Asterisk-VoIP - Registration]
event_type=event
precheck="Registration"
regexp="\[?(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\]?\s(?:(?P<device>\S+)\sasterisk\S+\s)?(?P<level>\S+)\[\d+\]:?\s+(?P<file>[^:]*):.*?Registration from.*?sip:(?P<src_port>\d+)@(?P<src>[^>]+)>'\s+failed for '(?P<dst>[^']*)'"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=9
src_ip={resolv($src)}
dst_ip={resolv($dst)}
src_port={$src_port}
userdata1={$level}
userdata2={$file}


[0002 - Asterisk-VoIP - logon logoff]
event_type=event
precheck="logged"
regexp="\[(?P<date>[^\]]*)\]\s+(?P<level>\S+)\[\d+\]\s+(?P<file>[^:]*):.*?'(?P<user>[^']*)'\s+logged\s+(?P<sid>on|off)\s+from\s+(?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})"
date={normalize_date($date)}
plugin_sid={translate($sid)}
username={$user}
src_ip={resolv($src)}
userdata1={$level}
userdata2={$file}


[0003 - Asterisk-VoIP - auth call - multiline]
event_type=event
precheck="AUTHENTICATED"
regexp="\[(?P<date>[^\]]*)\]\s+(?P<level>\S+)\[\d+\]\s+(?P<file>[^:]*):.*?AUTHENTICATED call from (?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}):\n\s+> requested format = (?P<format>[^,]*),\n\s+>\s+requested prefs\s+=\s+\((?P<prefs>[^\)]*)\),\n\s+>\sactual format\s+=\s(?P<actual_format>[^,]*),\n\s+>\s+host prefs\s=\s\((?P<host_prefs>[^\)]*)\),\n\s+>\s+priority\s+=\s+(?P<prio>\S+)"
date={normalize_date($date)}
plugin_sid=3
src_ip={$src}
filename={$file}
userdata1={$level}
userdata2={$format}
userdata3={$prefs}
userdata4={$actual_format}
userdata5={$host_prefs}
userdata6={$prio}


[0004 - Asterisk-VoIP - auth call]
event_type=event
precheck="AUTHENTICATED"
regexp="\[?(?P<date>\w*\s+\d*\s+\S+)(?:\]|\s(?P<device>\S+)\sasterisk\S+)\s+(?P<level>\S+)\[\d+\](?:\s+(?P<file>[^:]*))?:.*?AUTHENTICATED\scall\sfrom\s(?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}):\s+>\srequested\sformat\s=\s(?P<format>[^,]*),\s+>\s+requested\sprefs\s+=\s+\((?P<prefs>[^\)]*)\),\s+>\sactual\sformat\s+=\s(?P<actual_format>[^,]*),\s+>\s+host\sprefs\s=\s\((?P<host_prefs>[^\)]*)\),\s+>\s+priority\s+=\s+(?P<prio>\S+)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=3
src_ip={$src}
filename={$file}
userdata1={$level}
userdata2={$format}
userdata3={$prefs}
userdata4={$actual_format}
userdata5={$host_prefs}
userdata6={$prio}

[0005 - Asterisk-VoIP - Call ringing or answered ]
event_type=event
precheck="SIP"
regexp="\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s+(?P<file>[^:]*):).*?(?P<proto>SIP|IAX2)\/(?P<src>\S+).*?(?P<sid>is ringing|answered)(?:\sSIP/(?P<dst>\S+))?"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($sid)}
protocol={$proto}
filename={$file}
userdata1={$level}
userdata2={$src}
userdata3={$dst}

[0006 - Asterisk-VoIP - Got response]
event_type=event
precheck="response"
regexp="\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s+(?P<file>[^:]*):).*?(?P<proto>SIP)\s+response\s+\d+\s+\"(?P<response>[^"]*)".*?(?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=6
src_ip={$src}
protocol={$proto}
filename={$file}
userdata1={$level}
userdata2={$response}

[0007 - Asterisk-VoIP - Called test]
event_type=event
precheck="Called"
regexp="\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s+(?P<file>[^:]*):).*?Called test@(?P<dst>\S+)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=8
dst_ip={resolv($dst)}
filename={$file}
userdata1={$level}

[0008 - Asterisk-VoIP - Accepted call]
event_type=event
precheck="Call accepted"
regexp="\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s+(?P<file>[^:]*):).*?.*Call accepted by (?P<dst>\S+)\s+\(format\s+(?P<format>\S+)\)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=10
dst_ip={resolv($dst)}
filename={$file}
userdata1={$level}
userdata2={$format}

[0009 - Asterisk-VoIP - Executing]
event_type=event
precheck="Executing"
regexp="^\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\d+.\d+.\d+.\d+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s+(?P<file>[^:]*):).*?Executing\s+\[(?P<exec>[^\]]*)\]\s+(?P<action>\w+)\("(?P<data>[^"]*)",\s*"(?P<data2>VMAIL[^"]+|CALL\s*|NEW\sCALL\sFOR:\s*\d+\sFROM\s"[^"]+")?(?:"(?P<src>[^"]+).*?(?P<data3>is\scalling|IS\sCALLING|IS\sRUNNING[^"]+|FAILED[^"]+))?"
date={normalize_date($date)}
plugin_sid=7
device={resolv($device)}
filename={$file}
userdata1={$level}
userdata2={$exec}
userdata3={$action}
userdata4={$data}
userdata5={$data2}
userdata6={$src}
userdata7={$data3}


[0010 - Asterisk-VoIP - Received SIP subscribe]
event_type=event
precheck="Received SIP subscribe"
regexp="\[?(?P<date>\w+\s+\d+\s\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\][:\s]+(?P<file>[^:]+):(?:\s|[^:]+:\s)(?P<sid>Received\sSIP\ssubscribe)[^:]+:\s\d+"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=12
filename={$file}
userdata1={$level}


[0011 - Asterisk-VoIP - Registered SIP]
event_type=event
precheck="Registered SIP"
regexp="\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s(?P<file>[^:]+):)?.*?Registered\sSIP\s'(?P<sip>[^']+)'\sat\s(?P<src_ip>\S+)\sport\s(?P<src_port>\S+)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=13
src_ip={resolv($src_ip)}
src_port={$src_port}
filename={$file}
userdata1={$level}
userdata2={$sip}


[0012 - Asterisk-VoIP - No such extension/context]
event_type=event
precheck="No such extension/context"
regexp="\[?(?P<date>\w+\s+\d+\s\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>[^[]+)\[\d+\](?::\s+(?P<file>[^:]*):).*?(?P<sid>No\ssuch\sextension/context)\s(?P<msg>[^@]+)@(?P<msg2>.*)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($sid)}
filename={$file}
userdata1={$level}
userdata2={$msg}
userdata3={$msg2}


[0013 - Asterisk-VoIP - Generic]
event_type=event
regexp="\[?(?P<date>\w+\s+\d+\s\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>[^[]+)\[\d+\](?::|\s+(?P<file>[^:]*):).*?\s(?:(?:--|==)\s)?(?:<[^>]+>)?.*?(?P<sid>Unable\sto\screate\schannel\sof\stype\s'SIP'|open\swriting|Parsing|Goto|Using\sSIP\sV?RTP\sCoS|Called|Playing|Spawn\sextension|Nobody\spicked\sup|open\swriting|User\shung\sup|Recording\sthe\smessage|Found|No\ssuch\shost|Hungup|Call\sfailed\sto\sgo\sthrough|Format\sfor\scall\sis\sulaw)\s?(?:.*?(?P<file2>/[^'\s]+))?(?:.*?(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(?::(?P<src_port>\d+))?)?(?:.*?format:\s(?P<format>[^,\s]+))?(?:.*?\((?:\d+\)\s)?(?P<msg>SPECIAL[^)]+|Remote\send\sRinging))?"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
src_port={$src_port}
plugin_sid={translate($sid)}
filename={$file}
userdata1={$level}
userdata2={$file2}
userdata3={$format}
userdata4={$msg}


[0014 - Match all]
event_type=event
regexp="^\[?(?P<date>\w+\s+\d+\s+\S+)\]?\s+(?:(?P<device>\S+)\sasterisk\[\d+\]:\s)?(?P<level>\S+)\[\d+\](?::|\s+(?P<file>[^:]*):)(?=(?P<aux>\s+))(?P=aux)(?!-- Accepting AUTH).*$"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=100
filename={$file}
userdata1={$level}
userdata2={$aux}
