# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin auditd id:91131 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# auditd:-
#
# END-HEADER
#
# Description:
#   auditd
#
#
#
#
 
[DEFAULT]
plugin_id=91131
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/audit/audit.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# Dec  4 08:03:51 pardus auditd node=ahtapotops type=SYSCALL msg=audit(1543903431.087:158754): arch=c000003e syscall=59 success=yes exit=0 a0=7f38c4004c50 a1=7f38c4004220 a2=7f38c4004fd0 a3=299e84b0345cf items=2 ppid=613 pid=4991 auid=4294967295 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=(none) ses=4294967295 comm="check_ssh" exe="/usr/lib/nagios/plugins/check_ssh" key="bilgio-bekci"
# Dec  4 08:03:51 pardus auditd node=ahtapotops type=EXECVE msg=audit(1543903431.087:158754): argc=2 a0="/usr/lib/nagios/plugins/check_ssh" a1="127.0.0.1"
# Dec  4 08:03:51 pardus auditd node=ahtapotops type=CWD msg=audit(1543903431.087:158754): cwd="/"

[0001 - auditd]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s.*type=(?P<type>.*?)\s(?P<msg>.*?)$"
date={normalize_date($date)}
device={$device}
plugin_sid=1
userdata1=type: {$type}
userdata2=msg: {$msg}
