# Alienvault plugin
# Author: Alienvault Team at avteam@alienvault.com
# Plugin bro-ids id:1568 version: 0.0.3
# Last modification: 2016-09-01 16:30
#
# Plugin Selection Info:
# Bro:Bro NSM:-
#
# END-HEADER
# Accepted products:
# Bro - Bro NSM -
# Bro - Bro DNS -
# Description:
# http://www.bro.org/index.html
#
#

[DEFAULT]
plugin_id=1568

[config]
type=detector
enable=yes
source=log
location=/var/log/bro-ids.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
AddressDropped=1
PortScan=2

#   TC
[tc_m]
T = Message was truncated
F = Message was not truncated
#   RD
[rd_m]
T = Request recursive lookup of query
F = Request not recursive lookup of query
#   RA
[ra_m]
T = Server supports recursive queries
F = Server does not support recursive queries
#AA
[aa_m]
T = Server is authoritative for query
F = Server is not authoritative for query

[0001 - bro-dns]
event_type=event
precheck="bro_dns:"
regexp="(?P<date>\w+\s*\d+\s*\d+:\d+:\d+)\s*(?P<device>\S+)\s*bro_dns:\s*(?P<time>\d[^|\s.]*)(?:\.[^\|\t]*)?(?:\||\s+)(?P<string_add>[^|\s\t]*)(?:\||\s+|\t)(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|[^|\s\t]*)(?:\||\s+|\t)(?P<src_port>[^|\s\t]*)(?:\||\s+|\t)(?:(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|[^|\s\t]*)(?:\||\s+|\t)(?P<dst_port>[^|\s\t]*)(?:\||\s+|\t)(?P<protocol>[^|\s\t]*)(?:\||\s*|\t)(?P<trans_id>[^|\s\t]*)(?:\||\s+|\t)(?P<query>[^|\s\t]*)(?:\||\s+|\t)(?P<qclass>[^|\s\t]*)(?:\||\s+|\t)(?P<qclass_name>[^|\s\t]*)(?:\||\s+|\t)(?P<qtype>[^|\s\t]*)(?:\||\s+|\t)(?P<qtype_name>[^|\s\t]*)(?:\||\s+|\t)(?P<rcode>[^|\s\t]*)(?:\||\s+|\t)(?P<rcode_name>[^|\s\t]*)(?:\||\s*|\t)(?P<aa>[^|\s\t]*)(?:\||\s+|\t)(?P<tc>[^|\s\t]*)(?:\||\s+|\t)(?P<rd>[^|\s\t]*)(?:\||\s+|\t)(?P<ra>[^|\s\t]*)(?:\||\s+|\t)(?P<z>[^|\s\t]*)(?:\||\s+|\t)(?P<answers>[^|\s\t]*)(?:\||\s+|\t)(?P<TTLs>[^|\s\t]*)(?:\||\s+|\t)(?P<rejected>\w*)"
date={normalize_date($time)}
plugin_sid=3
device={resolv($device)}
src_ip={resolv($src_ip)}
src_port={$src_port}
dst_ip={resolv($dst_ip)}
dst_port={$dst_port}
protocol={$protocol}
userdata1={$query}
userdata2={$qclass_name}
userdata3={$qtype_name}
userdata4={$rcode_name}
userdata5={translate2($aa,$aa_m)}
userdata6={translate2($tc,$tc_m)}
userdata7={translate2($rd,$rd_m)}
userdata8={translate2($ra,$ra_m)}
userdata9={$answers}

[0002 - bro-ids]
event_type=event
regexp="t=(?P<date>\d+)\.\d+ no=(?P<event>.*) na=.* sa=(?P<srcip>\IPV4) sp=(?P<srcport>\d+)\/\S+ da=(?P<dstip>\IPV4) dp=(?P<dstport>\d+)\/\S+ msg=(?P<message>.*) tag=.*"
date={normalize_date($date)}
plugin_sid={translate($event)}
src_ip={$srcip}
src_port={$srcport}
dst_ip={$dstip}
dst_port={$dstport}
userdata1={$message}

[9999 - bro - match all]
event_type=event
precheck="bro"
regexp="(?P<date>\w+\s*\d+\s*\d+:\d+:\d+)\s*(?P<device>\S+)\s*bro[^:]*:(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid=999999
device={resolv($device)}
userdata1={$msg}
