# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin conpot id:91114 version: 0.0.1
# Last modification: 2018-11-07 10:00
#
# Plugin Selection Info:
# conpot:-
#
# END-HEADER
#
# Description:
#   conpot
#
#
#
#
 
[DEFAULT]
plugin_id=91114
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/conpot.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

[translation]
HTTP=1
FTP=2
Modbus=3
S7=4
Bacnet=5
TFTP=6
TID=7
IPMI=8
SNMPv1=9
SNMPv2=9
SNMPv3=9


#Nov  6 03:02:30 ahtapot conpot 2018-11-07 09:02:00,514 HTTP/1.1 GET request from ('10.0.3.254', 57008): ('/', [('Host', '10.0.3.16:8800'), ('User-Agent', 'curl/7.52.1'), ('Accept', '*/*')], None). 21134b38-024d-442c-8cbf-9975ae106fac

[0001 - conpot_http]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s(?P<app>HTTP)/\d.\d\s(?P<method>\w+)\s\w+\s\w+\s\(\'(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\',\s(?P<src_port>\d+)\):\s(?P<header>.*)\).\s'
date={$date}
device={resolv($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=tcp
userdata1=Header: {$header}


#Nov  6 03:05:32 ahtapot conpot 2018-11-07 09:05:02,148 New FTP connection from 10.0.3.254:46744. (efb9dde3-99fe-44e5-8bb1-6c147479d03b)
#Nov  6 04:19:20 ahtapot conpot 2018-11-07 10:18:50,895 New Modbus connection from 10.0.3.254:46036. (fa2328b5-32e0-4215-bd82-287788754d1d)
#Nov  6 04:20:50 ahtapot conpot 2018-11-07 10:20:20,181 New S7 connection from 10.0.3.254:49100. (4c8b3906-d072-4563-ab48-22df0cc5160e)

#FTP,Modbus,S7
[0002 - conpot_connection]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s\w+\s(?P<app>FTP|Bacnet|Modbus|S7)\s\w+\s\w+\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}):(?P<src_port>\d+).'
date={$date}
device={resolve($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=tcp

#Nov  6 04:31:59 ahtapot conpot 2018-11-07 10:31:29,734 New Bacnet connection from 10.0.3.254:51491. (472a06d6-5aa2-4c77-b696-ca5c5b20967b)

#Bacnet
[0003 - conpot_bacnet]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s\w+\s(?P<app>Bacnet)\s\w+\s\w+\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}):(?P<src_port>\d+).'
date={$date}
device={resolve($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=udp

#Nov  6 04:32:54 ahtapot conpot 2018-11-07 10:32:24,114 New TFTP client has connected. Connection from 10.0.3.254:40946.

#TFTP 
[0004 - conpot_tftp]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s\w+\s(?P<app>TFTP)\s\w+\s\w+\s\w+.\s\w+\s\w+\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}):(?P<src_port>\d+).'
date={$date}
device={resolve($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=udp


#Nov  6 04:30:26 ahtapot conpot 2018-11-07 10:29:56,369 handle server TID [  100/140140425411656] starting on ('10.0.3.254', 35710)

#TID 
[0005 - conpot_TID]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s\w+\s\w+\s(?P<app>TID)\s\[\s+\d+/\d+\]\s\w+\s\w+\s\(\'(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\',\s(?P<src_port>\d+)\)'
date={$date}
device={resolve($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=tcp

#Nov  6 04:34:07 ahtapot conpot 2018-11-07 10:33:37,393 New IPMI traffic from ('10.0.3.254', 45717)

#IPMI 
[0006 - conpot_IPMI]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s\w+\s(?P<app>IPMI)\s\w+\s\w+\s\(\'(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\',\s(?P<src_port>\d+)\)'
date={$date}
device={resolve($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=udp


#Nov  6 09:33:09 ahtapot conpot 2018-11-07 15:32:38,622 SNMPv2 GetNext request from ('10.0.3.254', 56319): 1.3.6.1.2.1.11.19.0 
#Nov  6 09:47:51 ahtapot conpot 2018-11-07 15:47:20,991 SNMPv1 GetNext request from ('10.0.3.254', 55898): 1.3.6.1.2.1.11.30.0 

#SNMP
[0007 - conpot_SNMP]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d+-\d+-\d+ \d+:\d+:\d+),\d+\s(?P<app>SNMPv1|SNMPv2|SNMPv3)\s\w+\s\w+\s\w+\s\(\'(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\',\s(?P<src_port>\d+)\)'
date={$date}
device={resolve($device)}
plugin_sid={translate($app)}
src_ip={$src_ip}
src_port={$src_port}
protocol=udp
userdata1=SNMP Version: {$app}
