# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin honeypot_cowrie id:91121 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# honeypot_cowrie:-
#
# END-HEADER
#
# Description:
#   honeypot_cowrie
#
#
#
#
 
[DEFAULT]
plugin_id=91121
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/honeypot_cowrie.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# 2018-11-13T11:57:45.365395Z CEF:0|Cowrie|Cowrie|1.0|cowrie.session.connect|cowrie.session.connect|5|src=169.254.10.1 dpt=22 proto=tcp spt=59972 app=SSHv2 deviceExternalId=cowrie destinationServicename=sshd msg=New connection: 169.254.10.1:59972 (169.254.10.34:22) [session: b71d71b35bae] dst=169.254.10.34
# 2018-11-13T12:03:32.622925Z CEF:0|Cowrie|Cowrie|1.0|cowrie.session.connect|cowrie.session.connect|5|src=169.254.10.1 dpt=2223 proto=tcp spt=57602 app=SSHv2 deviceExternalId=cowrie destinationServicename=sshd msg=New connection: 169.254.10.1:57602 (169.254.10.34:2223) [session: 6b7e564421a4] dst=169.254.10.34

[0001 - honeypot_cowrie]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}).*\|src=(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\sdpt=(?P<dst_port>\d+)\sproto=(?P<protocol>.+)\sspt=(?P<src_port>\d+)\s(?P<msg>.*)\sdst=(?P<dst_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}).*$"
date={normalize_date($date)}
device={$dst_ip}
plugin_sid=1
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
dst_port={$dst_port}
protocol={$protocol}
