# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin dans_guardian id:91123 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# dans_guardian:-
#
# END-HEADER
#
# Description:
#   dans_guardian
#
#
#
#
 
[DEFAULT]
plugin_id=91123
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/dansguardian/access.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# Nov 21 07:32:46 pardus dans-guardian 2018.11.21 8:32:46 - 169.254.10.1 http://www.ipnedir.com  GET 4822 0  1 200 text/html   -
# Nov 21 07:32:46 pardus dans-guardian 2018.11.21 8:32:46 - 169.254.10.1 http://pagead2.googlesyndication.com/pagead/show_ads.js *DENIED* Banned site: googlesyndication.com GET 0 0  1 403 text/javascript   -
# Nov 21 07:32:46 pardus dans-guardian 2018.11.21 8:32:46 - 169.254.10.1 https://www.google-analytics.com:443 *DENIED* Banned site: google-analytics.com CONNECT 0 0  1 403 -   -
# Nov 21 07:32:46 pardus dans-guardian 2018.11.21 8:32:46 - 169.254.10.1 http://www.ipnedir.com/favicon.ico  GET 1 0  1 404 text/html   -
# Nov 21 07:33:09 pardus dans-guardian 2018.11.21 8:33:10 - 169.254.10.1 http://www.hurriyet.com.tr *DENIED* Banned site: hurriyet.com.tr GET 0 0  1 403 text/html   -
# Nov 21 07:33:10 pardus dans-guardian 2018.11.21 8:33:10 - 169.254.10.1 http://www.hurriyet.com.tr/favicon.ico *DENIED* Banned site: hurriyet.com.tr GET 0 0  1 403 image/x-icon   -
# Nov 21 07:33:10 pardus dans-guardian 2018.11.21 8:33:10 - 169.254.10.1 http://detectportal.firefox.com/success.txt  GET 8 0  1 200 text/plain   -

[translation]
URLMOD=2
CONTENTMOD=3
SCANNED=4
INFECTED=5
DENIED=6
EXCEPTED=7

[0001 - dans_guardian-success]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d{4}.\d{2}.\d{2}\s\d{1,2}:\d{1,2}:\d{1,2})\s\S\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\s(?P<url>[^\s]+)\s*(?P<method>GET|POST|HEAD)\s.*$"
date={normalize_date($date)}
device={$device}
plugin_sid=1
src_ip={$src_ip}
userdata1= URL: {$url} 
userdata2= METHOD: {$method} 

[0002 - dans_guardian-other]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d{4}.\d{2}.\d{2}\s\d{1,2}:\d{1,2}:\d{1,2})\s\S\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\s(?P<url>[^\s]+)\s\*(?P<action>[^\s]+)\*\s.*$"
date={normalize_date($date)}
device={$device}
plugin_sid={translate($action)}
src_ip={$src_ip}
userdata1= URL: {$url}
