# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin dell-switch id:1972 version: 0.0.1
# Last modification: 2018-06-28	12:15
#
# Plugin Selection Info:
# DELL:Switches:-
#
# END-HEADER
# Accepted products:
# DELL Network N3000 Series Switches
# Description:
#
#
# 

[DEFAULT]
plugin_id=1972


[config]
type=detector
enable=yes

source=log
location=/var/log/dell-switch.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=

[translation]
Failed to login because of authentication failures = 1
Failed User Login with User ID = 2
Link Down = 3
Link Up = 4
transitioned from the Forwarding state to the Blocking state = 5
transitioned from the Learning state to the Forwarding state = 6
Link failed = 7

#   Default
_DEFAULT_=20000000

[0001 - Dell-switch - Authentication failures]
event_type=event
precheck="Failed to login"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<hostname>\S+)\s+(?P<component_name>[^\[]+)\[(?P<thread_name>[^\]]+)\]:\s+(?P<file_name>[^\(]+)\((?P<line_number>\d+)\)\s+(?P<sequence_number>\d+)\s+%+\s+User\s+(?P<user>\S+)\s+(?P<sid>.*)"
date={normalize_date($date)}
device={$hostname}
dst_ip={$hostname}
filename={$file_name}
plugin_sid={translate($sid)}
username={$user}
userdata1={$component_name}
userdata2={$thread_name}
userdata3={$line_number}
userdata4={$sequence_number}

[0002 - Dell-switch - Failed User Login]
event_type=event
precheck="Failed User Login"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<hostname>\S+)\s+(?P<component_name>[^\[]+)\[(?P<thread_name>[^\]]+)\]:\s+(?P<file_name>[^\(]+)\((?P<line_number>\d+)\)\s+(?P<sequence_number>\d+)\s+%+\s+(?P<sid>[^\:]+):\s+(?P<user>\S+)"
date={normalize_date($date)}
device={$hostname}
dst_ip={$hostname}
filename={$file_name}
plugin_sid={translate($sid)}
username={$user}
userdata1={$component_name}
userdata2={$thread_name}
userdata3={$line_number}
userdata4={$sequence_number}

[0003 - Dell-switch - Transitioned state]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<hostname>\S+)\s+(?P<component_name>[^\[]+)\[(?P<thread_name>[^\]]+)\]:\s+(?P<file_name>[^\(]+)\((?P<line_number>\d+)\)\s+(?P<sequence_number>\d+)\s+%+\s+(?P<interface>\S+)\s+is\s+(?P<sid>\S+(?:(?!\s+in\s+instance)\s+\S+)*)\s+in\s+instance\s+(?P<instance>\d+)"
date={normalize_date($date)}
device={$hostname}
src_ip={$hostname}
filename={$file_name}
plugin_sid={translate($sid)}
userdata1={$component_name}
userdata2={$thread_name}
userdata3={$line_number}
userdata4={$sequence_number}
userdata5={$interface}
userdata6={$instance}

[0004 - Dell-switch - Link failed]
event_type=event
precheck="Link on"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<hostname>\S+)\s+(?P<component_name>[^\[]+)\[(?P<thread_name>[^\]]+)\]:\s+(?P<file_name>[^\(]+)\((?P<line_number>\d+)\)\s+(?P<sequence_number>\d+)\s+%+\s+Link\s+on\s+(?P<interface>\S+)"
date={normalize_date($date)}
device={$hostname}
src_ip={$hostname}
filename={$file_name}
plugin_sid=7
userdata1={$component_name}
userdata2={$thread_name}
userdata3={$line_number}
userdata4={$sequence_number}
userdata5={$interface}

[0005 - Dell-switch - Link status]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<hostname>\S+)\s+(?P<component_name>[^\[]+)\[(?P<thread_name>[^\]]+)\]:\s+(?P<file_name>[^\(]+)\((?P<line_number>\d+)\)\s+(?P<sequence_number>\d+)\s+%+\s+(?P<sid>[^\:]+):\s+(?P<interface>\S+)"
date={normalize_date($date)}
device={$hostname}
src_ip={$hostname}
filename={$file_name}
plugin_sid={translate($sid)}
userdata1={$component_name}
userdata2={$thread_name}
userdata3={$line_number}
userdata4={$sequence_number}
userdata5={$interface}

[9999 - Dell-switch - Generic]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<hostname>\S+)\s+(?P<component_name>[^\[]+)\[(?P<thread_name>[^\]]+)\]:\s+(?P<file_name>[^\(]+)\((?P<line_number>\d+)\)\s+(?P<sequence_number>\d+)\s+%+"
date={normalize_date($date)}
device={$hostname}
filename={$file_name}
plugin_sid=20000000
userdata1={$component_name}
userdata2={$thread_name}
userdata3={$line_number}
userdata4={$sequence_number}

