# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin dhcp-nxlog id:1584 version: 0.0.1
# Last modification: 2017-09-06	09:00
#
# Plugin Selection Info:
# Microsoft:DHCP Client Service:NXLog
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1584


[config]
type=detector
enable=yes

source=log
location=/var/log/dhcp-nxlog.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


#########################
#         RULES         #
#########################

[0001 - Dhcp-nxlog - Src_ip present]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\sDHCP-NXLOG:\s(?P<log_date>[^;]+);"(?P<sid>\d+),(?P<Date>[^,]*),(?P<Time>[^,]*),(?P<Description>[^,]*),(?P<src_ip>[^,]+),(?P<ReportedHostname>[^,]*),(?P<MACAddress>[^,]*),(?:(?P<domain>[^\\,]+)\\+)?(?P<UserName>[^,]*),(?P<TransactionID>[^,]*),(?P<QResult>[^,]*),(?P<Probationtime>[^,]*),(?P<CorrelationID>[^,]*),(?P<Dhcid>[^,"]*).*"
date={normalize_date($log_date)}
plugin_sid={$sid}
device={$device}
src_ip={$src_ip}
username={$UserName}
userdata1={$ReportedHostname}
userdata2={$MACAddress}
userdata3={$TransactionID}
userdata4={$QResult}
userdata5={$Probationtime}
userdata6={$CorrelationID}
userdata7={$Dhcid}
userdata8={$domain}


[0002 - Dhcp-nxlog - No Src_ip]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\sDHCP-NXLOG:\s(?P<log_date>[^;]+);"(?P<sid>\d+),(?P<Date>[^,]*),(?P<Time>[^,]*),(?P<Description>[^,]*),(?P<src_ip>[^,]*),(?P<ReportedHostname>[^,]*),(?P<MACAddress>[^,]*),(?:(?P<domain>[^\\,]+)\\+)?(?P<UserName>[^,]*),(?P<TransactionID>[^,]*),(?P<QResult>[^,]*),(?P<Probationtime>[^,]*),(?P<CorrelationID>[^,]*),(?P<Dhcid>[^,"]*).*"
date={normalize_date($log_date)}
plugin_sid={$sid}
device={$device}
src_ip={$device}
username={$UserName}
userdata1={$ReportedHostname}
userdata2={$MACAddress}
userdata3={$TransactionID}
userdata4={$QResult}
userdata5={$Probationtime}
userdata6={$CorrelationID}
userdata7={$Dhcid}
userdata8={$domain}
