# Alienvault plugin                                                                                                                                                           
# Author: Fatih usta <fatihusta@labrisnetworks.com>                                                                                                                           
# Plugin ahtapot_dionaea id:91113 version: 0.0.1                                                                                                                              
# Last modification: 2018-11-02 17:49                                                                                                                                         
#                                                                                                                                                                             
# Plugin Selection Info:                                                                                                                                                      
# ahtapot_dionaea:-                                                                                                                                                           
#                                                                                                                                                                             
# END-HEADER                                                                                                                                                                  
#                                                                                                                                                                             
# Description:                                                                                                                                                                
#   ahtapot_dionaea                                                                                                                                                           
#                                                                                                                                                                             
#                                                                                                                                                                             
#                                                                                                                                                                             
#                                                                                                                                                                             
                                                                                                                                                                              
[DEFAULT]                                                                                                                                                                     
plugin_id=91113
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/ahtapot_dionaea.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

[translation]
tcp=1
tls=2 

#Dionaea_incident Log format.

#Nov  5 23:34:40 ahtapot dionaea1 {"timestamp": "2018-11-06T12:10:59.448483", "name": "dionaea", "data": {"connection": {"local_ip": "10.0.3.222", "local_port": 80, "protocol": "httpd", "remote_hostname": "", "remote_ip": "10.0.3.254", "remote_port": 40234, "transport": "tcp", "id": "f9ba24714080419b1d5fa5d633679bbb764ab5c0d71a3a9c57e5e3ba1b8af6a4"}}, "origin": "dionaea.connection.free"}
#Nov  5 23:44:57 ahtapot ahtapot_dionaea {"timestamp": "2018-11-06T12:21:16.254594", "name": "dionaea", "data": {"connection": {"local_ip": "10.0.3.222", "local_port": 443, "protocol": "httpd", "remote_hostname": "", "remote_ip": "10.0.3.254", "remote_port": 57318, "transport": "tls", "id": "d8c2e7136a2434038fa727114445374591ecf62833ba94bdeda87adff6793284"}}, "origin": "dionaea.connection.free"}

[0001 - dionaea_http_https_connection]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s{"\w+":\s"(?P<date>\d+-\d+-\d+ \d+:\d+:\d+).\d+",\s"\w+":\s"\w+",\s"\w+":\s{"connection":\s{"\w+":\s"(?P<dst_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})",\s"\w+":\s(?P<dst_port>\d+),\s"\w+":\s"(?P<app>httpd)",\s"\w+":\s"",\s"\w+":\s"(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})",\s"\w+":\s(?P<src_port>\d+),\s"\w+":\s"(?P<proto>\w+)".*}'
date={$date}
device={$dst_ip}
plugin_sid={translate($proto)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
dst_port={$dst_port}
protocol={$proto}
userdata1=Application: {$app}
 
#Nov  5 22:30:43 ahtapot dionaea1 {"timestamp": "2018-11-06T11:07:02.486111", "name": "dionaea", "data": {"connection": {"local_ip": "10.0.3.222", "local_port": 21, "protocol": "ftpd", "remote_hostname": "", "remote_ip": "10.0.3.254", "remote_port": 33654, "transport": "tcp", "id": "3e415801019d165f0c5d865bee5f6b16622fe80a2d202b281ced16a7b65ed6e3"}}, "origin": "dionaea.connection.free"}

[0002 - dionaea_ftp_connection]
event_type=event
regexp='\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s{"\w+":\s"(?P<date>\d+-\d+-\d+ \d+:\d+:\d+).\d+",\s"\w+":\s"\w+",\s"\w+":\s{"connection":\s{"\w+":\s"(?P<dst_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})",\s"\w+":\s(?P<dst_port>\d+),\s"\w+":\s"(?P<app>ftpd)",\s"\w+":\s"",\s"\w+":\s"(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})",\s"\w+":\s(?P<src_port>\d+),\s"\w+":\s"(?P<proto>\w+)".*}'
date={$date}
device={$dst_ip}
plugin_sid=3
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
dst_port={$dst_port}
protocol={$proto}
userdata1=Application: {$app}
