# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin emc-datadomain id:1963 version: 0.0.1
# Last modification: 2018-05-11	13:15
#
# Plugin Selection Info:
# DELL:EMC DataDomain:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1963


[config]
type=detector
enable=yes

source=log
location=/var/log/emc-datadomain.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]

AUDIT-DDSH-00001 = 1
AUDIT-SMS_OST-00001 = 2
AUDIT-SMS_LICENSE-00023 = 3
GUI-AUDIT-AUTH-login = 4
GUI-AUDIT-AUTH-logout = 5
GUI-AUDIT-SYSTEM-getSetupComplete = 6
AUDIT-SMS_OST-00005 = 7
AUDIT-SMS_OST-00012 = 8
AUDIT-SMS_OST-00013 = 9
AUDIT-SMS_OST-00017 = 10
AUDIT-SMS_OST-00037 = 11
AUDIT-SMS_OST-00038 = 12
AUDIT-SMS_NET-00055 = 13
AUDIT-SMS_ENCLOSURE-00013 = 14
MSG-DDSH-00007 = 15
MSG-DDSH-00009 = 16
MSG-ASUP-00001 = 17
pam_get_uid = 18
check pass = 19
authentication failure = 20
session closed = 21
session opened = 22

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Emc-datadomain - Events with json field]
event_type=event
#precheck=
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s(?:-ddsh|sms):\s+\{epoch=(?P<epoch>[^;]+);id='(?P<id>[^']+)';desc='(?P<desc>[^']+)';level=(?P<level>[^;]+);user='(?P<user>[^']+)';role='(?P<role>[^']+)';app='(?P<app>[^']+)';host='(?:::ffff:)?(?P<host>[^']+)';(?:detail='(?P<detail>.+)')?"
date={normalize_date($epoch)}
plugin_sid={translate($id)}
device={$device}
src_ip={$host}
username={$user}
userdata1={$level}
userdata2={$role}
userdata3={$app}
userdata4={$detail}

[0002 - Emc-datadomain - Other events]
event_type=event
#precheck=
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s(?P<type>[^:]+):\s+(?P<level>[^:]+):\s(?P<sid>[^:]+):\s(?:\([^)]+\)\s)?(?:AUTOSUPPORT:|(?P<username>[^:]+):|Invalid non-interactive)\s(?:command\s"(?P<cmd>[^"]+)"|(?P<desc>.+))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
username={$username}
userdata1={$type}
userdata2={$level}
userdata3={$cmd}
userdata4={$desc}

[0003 - Emc-datadomain - PAM events]
event_type=event
#precheck=
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\ssms:\spam_[^(]+\((?P<subtype>[^)]+)\):\s(?P<sid>session (?:closed|opened)|[^;]+)[;\s]*(?:(?:for )?user (?P<user>\S+)\s*)?(?:logname=(?P<logname>\S+(?:(?!\s\w+=)\s\S+)*)?\s|uid=(?P<uid>\S+)?\s|euid=(?P<euid>\S+)?\s|tty=(?P<tty>\S+)?\s|ruser=(?P<ruser>\S+(?:(?!\s\w+=)\s\S+)*)?\s|rhost=(?P<rhost>\S+(?:(?!\s\w+=)\s\S+)*)?\s*)*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$subtype}
userdata2={$logname}
userdata3={$uid}
userdata4={$euid}
userdata5={$tty}
userdata6={$ruser}
userdata7={$rhost}

[9999 - Emc-datadomain - Generic rule]
event_type=event
#precheck=
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+).*"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
