# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin emc-recoverpoint id:1921 version: 0.0.1
# Last modification: 2017-11-29	14:15
#
# Plugin Selection Info:
# DELL:EMC RecoverPoint:-
#
# END-HEADER
#
# Description:
#
# https://es.scribd.com/document/335842699/docu62057-RecoverPoint-4-4-Administrator-s-Guide-pdf
# 

[DEFAULT]
plugin_id=1921


[config]
type=detector
enable=yes

source=log
location=/var/log/emc-recoverpoint.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


#########################
#         RULES         #
#########################

[0001 - Emc-recoverpoint - Rule 1]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+RecoverPoint:\s+(?P<date>\w+\s+\w+\s+\d+\s+\d+:\d+:\d+\s+\d+)\s+(?P<topic>\w+)-(?P<level>\w+)-(?P<scope>\w+)\s+\((?P<sid>\d+)\)\s+(?P<msg>[^(]+)\s+\((?P<usd>[^[)]+)(?:\)|;\s+\[)"
date={normalize_date($date)}
plugin_sid={$sid}
device={$device}
src_ip={$device}
userdata1={$topic}
userdata2={$level}
userdata3={$scope}
userdata4={$msg}
userdata5={$usd}

[9999 - Emc-recoverpoint - Generic Events]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+RecoverPoint:\s+(?P<date>\w+\s+\w+\s+\d+\s+\d+:\d+:\d+\s+\d+)\s+(?P<topic>\w+)-(?P<level>\w+)-(?P<scope>\w+)\s+"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
userdata1={$topic}
userdata2={$level}
userdata3={$scope}
