# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin emc-isilon id:1819 version: 0.0.2
# Last modification: 2017-02-13	13:00
#
# Plugin Selection Info:
# DELL:EMC Isilon:-
#
# END-HEADER
#
# Description:
#
#   The event SID translation is a concatenation of the audit type ( OPEN|CLOSE... ) and result( SUCCESS|FAILURE )
#   https://mydocuments.emc.com/pub/en-us/isilon/onefs/7.2.1/ifs-pub-administration-guide-cli/12-ifs-br-auditing.htm

[DEFAULT]
plugin_id=1819


[config]
type=detector
enable=yes

source=log
location=/var/log/emc-isilon.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
#   CREATE
CREATE|SUCCESS = 1
CREATE|FAILURE = 2
#   OPEN
OPEN|SUCCESS = 3
OPEN|FAILURE = 4
OPEN|FAILED = 4
#   CLOSE
CLOSE|SUCCESS = 5
CLOSE|FAILURE = 6
#   RENAME
RENAME|SUCCESS = 7
RENAME|FAILURE = 8
#   DELETE
DELETE|SUCCESS = 9
DELETE|FAILURE = 10

#   Rule 3
new connection = 12
Connection reset = 13

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - EMC Isilon - Audit rule]
event_type=event
#precheck=
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+\s+\S+\s+(?P<gsid>[^\|]*)\|(?P<integer>[^\|]*)\|(?P<src_ip>[^\|]*)\|(?P<sid>[^\|]*\|[^\|:]*)(?::(?P<integer1>\d+))?\|(?:(?P<integer2>\d+)\||(?P<target>DIR|FILE)\||(?P<byin_byout1>\d+:\d+)\|(?P<byin_byout2>\d+:\d+)\||(?P<sub_operation>CREATED|OPENED|EXISTS)\|)*(?:UNKNOWN|(?P<file_path>/.*))$"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
filename={$file_path}
userdata1={$integer}
userdata2={$integer2}
userdata3={$gsid}
userdata4={$byin_byout1}
userdata5={$byin_byout2}
userdata6={$sub_operation}
userdata7={$target}
userdata8={$integer1}

[0002 - EMC Isilon - Dropped events]
event_type=event
precheck="events in the last"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+\s\S+\sINFO:\sDropped\s(?P<drop>\d+)\s+events in the last\s(?P<time>\d+\sseconds)"
date={normalize_date($date)}
plugin_sid=11
device={$device}
src_ip={$device}
userdata1=Events dropped: {$drop}
userdata2=Time elapsed: {$time}

[0003 - EMC Isilon - Connections]
event_type=event
precheck="onnection"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+\s\S+\sINFO\s+(?:Daemonizing\s+)?(?P<sid>new connection|Connection reset):\s(?P<protocol>\w+)::{\s*ip=(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}) port=(?P<src_port>\d+)\s*}"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
src_port={$src_port}
protocol={$protocol}

#   Generic rule

[9999 - EMC Isilon - Catch All]
event_type=event
#precheck=
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+).*"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
