# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin exchange-nxlog id:1603 version: 0.0.3
# Last modification: 2017-08-30 13:40
#
# Plugin Selection Info:
# Microsoft:Exchange Server:NXLog
#
# END-HEADER
# Accepted products:
# 
# Description:
#
#

[DEFAULT]
plugin_id=1603
tzone=UTC

[config]
type=detector
enable=yes

source=log
location=/var/log/exchange-nxlog.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
BADMAIL=53
DELIVER=54
DSN=55
EXPAND=56
FAIL=57
POISONMESSAGE=58
RECEIVE=59
REDIRECT=60
RESOLVE=61
SEND=62
SUBMIT=63
TRANSFER=64
HAREDIRECT=65
IPM.Note = 69
IPM.Schedule.Meeting.Request = 70
AGENTINFO = 71
HAREDIRECTFAIL = 72

_DEFAULT_ = 20000000


[0001 - Exchange-NXLOG]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\sEXCHANGE-NXLOG:\s(?P<date_log>[^,]+),\s*(?:(?P<client_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<client_mac>[^,]*)),\s*(?P<client_hostname>[^,]*),\s*(?:(?P<server_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<server_mac>[^,]*)),\s*(?P<server_hostname>[^,]*),\s*"?(?P<source_context>[^,]*),\s*(?P<connector_id>[^,]*),\s*(?P<source>[^,]*),\s*(?:\s*MessageClass:)?(?P<event_id>[^,]*),\s*(?P<internal_message_id>[^,]*),\s*(?P<message_id>[^,]*),\s*(?:\w+-[^,]+,\s*)?(?P<recpt_address>[^,]*),\s*(?P<recipient_status>[^,]*),\s*(?P<total_bytes>[^,]*),\s*(?P<recipient_count>[^,]*),\s*(?P<related_recipient_address>[^,]*),\s*(?P<reference>[^,]*),\s*(?P<message_subject>"[^"]+"|[^,]*),\s*(?P<sender_add>[^@,]*)(?:@(?P<sender_domain>[^,]+))?,\s*(?P<return_path>[^,]*),\s*(?P<message_info>[^,]*),\s*(?P<directionality>[^,]*),\s*(?P<tenant_id>[^,]*),\s*(?P<original_client_ip>[^,]*),\s*(?P<original_server_ip>[^,]*),\s*(?P<custom_data>[^,]*)"
date={normalize_date($date_log)}
plugin_sid={translate($event_id)}
device={$device}
src_ip={$client_ip}
dst_ip={$server_ip}
username={$sender_add}
userdata1={$sender_domain}
userdata2={$recpt_address}
userdata3={$message_subject}
userdata4={$total_bytes}
userdata5={$recipient_count}
userdata6={$directionality}
userdata7={$server_hostname}
userdata8={$source_context}
userdata9={$client_mac}

[9999 - Exchange-NXLOG - Generic]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\sEXCHANGE-NXLOG:\s(?P<log>.*)"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
