# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin honeypot_ftp id:91115 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# honeypot_ftp:-
#
# END-HEADER
#
# Description:
#   honeypot_ftp
#
#
#
#
 
[DEFAULT]
plugin_id=91115
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/honeypot_ftp.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

[translation]
connected=1
command=2
disconnected=3

#Nov  6 12:13:20 ahtapot honeypot-ftp {'session': '9c079b5e-e29f-11e8-8992-00163e38fe89', 'sourceIPv4Address': '10.0.3.254', 'command': 'PASS admin', 'success': True, 'type': 'command', '@timestamp': 1541603581740, 'sourceTransportPort': 58602, 'destinationIPv4Address': '10.0.3.15', 'module': 'FTP', 'destinationTransportPort': 21}
#Nov  6 12:13:25 ahtapot honeypot-ftp {'session': '9c079b5e-e29f-11e8-8992-00163e38fe89', 'sourceIPv4Address': '10.0.3.254', 'command': 'PORT 10,0,3,254,212,13', 'success': True, 'type': 'command', '@timestamp': 1541603586382, 'sourceTransportPort': 58602, 'destinationIPv4Address': '10.0.3.15', 'module': 'FTP', 'destinationTransportPort': 21}
#Nov  6 12:13:32 ahtapot honeypot-ftp {'session': '9c079b5e-e29f-11e8-8992-00163e38fe89', 'sourceIPv4Address': '10.0.3.254', 'command': '', 'success': True, 'type': 'disconnected', '@timestamp': 1541603593351, 'sourceTransportPort': 58602, 'destinationIPv4Address': '10.0.3.15', 'module': 'FTP', 'destinationTransportPort': 21}

[0001 - honeypot_ftp]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s{'\w+':\s'.*?',\s'\w+':\s'(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})',\s'\w+':\s(?P<command>'null'|'.*?'),\s'\w+':\s\w+,\s'\w+':\s'(?P<type>.*?)',\s'@\w+':\s(?P<date>\d+),\s'\w+':\s(?P<src_port>\d+),\s'\w+':\s'(?P<dst_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})',\s'\w+':\s'(?P<module>\w+)',\s'\w+':\s(?P<dst_port>\d+)}"
date={normalize_date_unix_miliseconds($date)}
device={$dst_ip}
plugin_sid={translate($type)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
dst_port={$dst_port}
protocol=tcp
userdata1=Module: {$module}
userdata2=Command: {$command}
