# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin honeypot_glastopf id:91122 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# honeypot_glastopf:-
#
# END-HEADER
#
# Description:
#   honeypot_glastopf
#
#
#
#
 
[DEFAULT]
plugin_id=91122
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/honeypot_glastopf.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# 2018-11-13 16:05:16,725 (glastopf.glastopf) 169.254.10.1 requested GET / on 169.254.10.38:80
# 2018-11-13 16:05:16,754 (glastopf.glastopf) 169.254.10.1 requested GET /style.css on 169.254.10.38:80
# 2018-11-13 16:05:16,852 (glastopf.glastopf) 169.254.10.1 requested GET /favicon.ico on 169.254.10.38:80
# 2018-11-13 16:05:18,647 (glastopf.glastopf) 169.254.10.1 requested POST /index on 169.254.10.38:80
# 2018-11-13 16:05:18,673 (glastopf.glastopf) 169.254.10.1 requested GET /style.css on 169.254.10.38:80


[0001 - honeypot_glastopf]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}),\d+\s\(.*\)\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\s.*on\s(?P<dst_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}):(?P<dst_port>\d+).*$"
date={normalize_date($date)}
device={$device}
plugin_sid=1
src_ip={$src_ip}
dst_ip={$dst_ip}
dst_port={$dst_port}
