# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin gophish id:91130 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# gophish:-
#
# END-HEADER
#
# Description:
#   gophish
#
#
#
#

[DEFAULT]
plugin_id=91130

[config]
type=detector
enable=yes

source=log
location=/var/log/gophish.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=warning msg="No contact address has been configured."
#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=warning msg="Please consider adding a contact_address entry in your config.json"
#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=info msg="Background Worker Started Successfully - Waiting for Campaigns"
#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=info msg="Starting admin server at https://0.0.0.0:3333"
#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=info msg="listen tcp 0.0.0.0:3333: bind: address already in use"
#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=info msg="Starting phishing server at http://0.0.0.0:80"
#Nov 30 13:47:24 endpoint gophish time="2018-11-30T11:41:34+03:00" level=fatal msg="listen tcp 0.0.0.0:80: bind: address already in use"

[translation]
info=2
warning=3
fatal=4

[0001 - gophish]
event_type=event
regexp="\w+\s+\d+\s\d+\:\d+\:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\stime=\"(?P<date>\d+-\d+-\d+T\d+:\d+:\d+(\+\d+:\d+)?)\"\slevel=(?P<level>\w+)\smsg=\"(?P<msg>.*)\"$"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($level)}
userdata1= msg: {$msg}
