# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin harpp-ddos id:1852 version: 0.0.1
# Last modification: 2017-03-09 16:10
#
# Plugin Selection Info:
# HARPP:HARPP DDoS Mitigator:-
#
# END-HEADER
# Accepted products:
#
# Description:
#
#

[DEFAULT]
plugin_id=1852

[config]
type=detector
enable=yes

source=log
location=/var/log/harpp-ddos.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
Packet average check eliminated all IPs for ATTACK = 2
_DEFAULT_ = 20000000

[0001 - HARPP-DDOS - ALARM logs]
event_type=event
precheck="ALARM"
regexp="(?P<date>\d+-\d+-\d+\s\d+:\d+:\d+)\S*\sALARM:\s(?:confidence:\s(?P<confidence>[^,]+),\s|sensor:\s(?P<sensor>[^,]+),\s|time:\s(?P<time>[^,]+),\s|alerts:\s(?P<alerts>[^{]+)\{|'Threshold':\s\{(?P<usd1>[^,]+),\s(?P<usd2>[^,]+),\s(?P<usd3>[^,]+),\s(?P<usd4>[^}]+)\},\s|'Proportional':\s\{(?P<usd5>[^,]+),\s(?P<usd6>[^,]+),\s(?P<usd7>[^,]+),\s(?P<usd8>[^}]+)\},\s)+.*"
date={normalize_date($time)}
plugin_sid=1
userdata1={$confidence}
userdata2={$sensor}
userdata3={$alerts}
userdata4={$usd1}
userdata5={$usd2}
userdata6={$usd3}
userdata7={$usd4}
userdata8={$usd5}
userdata9={$usd6}

[0002 - HARPP-DDOS - Attack logs]
event_type=event
precheck="type"
regexp="(?P<date>\d+-\d+-\d+\s\d+:\d+:\d+)\S*\s(?P<sid>[^:]+):\stype:\s(?P<type>[^,]+),\sinterface:\s(?P<interface>[^,]+),\sconfidence:\s(?P<confidence>[^,]+),\sstrength:\s(?P<strength>[^,]+),\sdistributed\sconfidence:\s(?P<distributed_confidence>[^,]*),\sattacker\sconfidence:\s\{(?P<attacker_confidence>[^}]+)\},\sips:\s\{(?P<ips>[^}]*)\},\spacket\saverage:\s(?P<packet_average>[^,]+),\ssensors:\s\{'(?P<sensor>[^']+)':\s\{"
date={normalize_date($date)}
plugin_sid={translate($sid)}
userdata1={$type}
userdata2={$interface}
userdata3={$confidence}
userdata4={$strength}
userdata5={$distributed_confidence}
userdata6={$attacker_confidence}
userdata7={$ips}
userdata8={$packet_average}
userdata9={$sensor}

[9999 - HARPP-DDOS - Generic]
event_type=event
precheck=""
regexp="(?P<date>\d+-\d+-\d+\s\d+:\d+:\d+)\S*\s(?P<sid>[^:]+):\s.*"
date={normalize_date($date)}
plugin_sid={$sid}