# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin icinga id:91124 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# icinga:-
#
# END-HEADER
#
# Description:
#   icinga
#
#
#
#
 
[DEFAULT]
plugin_id=91124
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/icinga2/compat/icinga.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;disk;OK;HARD;1;DISK OK - free space: /dev 484 MB (100% inode=99%): /run 89 MB (89% inode=99%): / 7628 MB (42% inode=72%): /dev/shm 498 MB (99% inode=99%): /run/lock 5 MB (100% inode=99%): /sys/fs/cgroup 498 MB (100% inode=99%): /run/user/1000 99 MB (100% inode=99%): /tmp 498 MB (99% inode=99%): /var/tmp 498 MB (99% inode=99%):
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;http;OK;HARD;1;HTTP OK: HTTP/1.1 301 Moved Permanently - 505 bytes in 0,001 second response time 
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;icinga;OK;HARD;1;Icinga 2 has been running for 1 hour, 35 minutes and 18 seconds. Version: r2.1.1-1
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;load;OK;HARD;1;OK - load average: 0.11, 0.08, 0.16
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;procs;WARNING;HARD;1;PROCS WARNING: 295 processes 
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;ssh;OK;HARD;1;SSH OK - OpenSSH_7.4p1 Debian-10+deb9u4 (protocol 2.0) 
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;swap;CRITICAL;HARD;1;SWAP CRITICAL - 1% free (5 MB out of 1021 MB) 
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;users;OK;HARD;1;USERS OK - 4 users currently logged in 
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;ping4;OK;HARD;1;PING OK - Packet loss = 0%, RTA = 0.08 ms
# Nov 21 12:11:03 pardus icinga [1542795063] CURRENT SERVICE STATE: localhost;ping6;UNKNOWN;HARD;1;/bin/ping6 -n -U -w 10 -c 5 ::1


[0001 - icinga]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s\[(?P<date>\d+)\]\s(?P<msg>.*)$"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=1
userdata1= MSG: {$msg} 
