# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin kaspersky id:1733 version: 0.0.1
# Last modification: 2016-03-15 11:00
#
# Plugin Selection Info:
# Kaspersky:Antivirus:-
#
# END-HEADER
# Description:
#
# 

[DEFAULT]
plugin_id=1733

[config]
type=detector
enable=yes

source=log
location=/var/log/kaspersky.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[0001 - Host not responding]
event_type=event
precheck="is not responding"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>Host\s+(?P<dst_ip>\S+)[^#]+#(?P<sid>\d+).*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
plugin_sid={$sid}
userdata1={$action}
userdata2={$info}

[0002 - Failed to synchronize]
event_type=event
precheck="to synchronize"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>.*?with\scomputer\s(?P<dst_ip>\S+)\.[^#]+#(?P<sid>\d+).*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
plugin_sid={$sid}
userdata1={$action}
userdata2={$info}

[0003 - Failed to complete integration]
event_type=event
precheck="Failed to complete"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>.*?host\s'(?P<dst_ip>[^']*)'\.[^#]+#(?P<sid>\d+).*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
plugin_sid={$sid}
userdata1={$action}
userdata2={$info}

[0004 - Heartbeat processing failed]
event_type=event
precheck="Heartbeat processing"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>Heartbeat\sprocessing\sfor\shost\s'(?P<dst_ip>[^']*)'[^#]+#(?P<sid>\d+).*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
plugin_sid=9999
userdata1={$action}
userdata2={$info}

[0005 - Heartbeat rejected]
event_type=event
precheck="has been rejected"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>Heartbeat\sfrom\shost\s'(?P<dst_ip>[^']*)'[^#]+#(?P<sid>\d{4}).*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
plugin_sid=9999
userdata1={$action}
userdata2={$info}

[0006 - Request for new connection]
event_type=event
precheck="A request for a new connection from the Administration Server acquired"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>[^#]+#(?P<sid>\d+).*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($device)}
plugin_sid=1
userdata1={$info}
userdata2={$action}

[0099 - Kaspersky Event]
event_type=event
precheck="Kaspersky Event Log"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#]+#011(?P<evid>\d*)(?:[^#]*#011){6}(?P<action>[^#]+)#011(?P<src_ip>[^#]+)#011[^#]+#011(?:[^#]+)?#011(?P<info>[^#]+#(?P<sid>\d+)\s+.*)"
date={normalize_date($date)}
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($device)}
plugin_sid={$sid}
userdata1={$info}
userdata2={$action}

[0999 - Generic Kaspersky Event]
event_type=event
precheck="Kaspersky Event Log"
regexp=(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>[^\s]+)\s+[^#]+#011(?P<evt>\d+)#011Kaspersky[^#](?P<info>.*)
date={normalize_date($date)}
device={resolv($device)}
dst_ip={resolv($device)}
plugin_sid=200000000
userdata1={$info}
