# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin labris-webfilter id:91127 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# labris-webfilter:-
#
# END-HEADER
#
# Description:
#   labris-webfilter
#
#
#
#
 
[DEFAULT]
plugin_id=91127
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/labris-webfilter/accces.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://asd.com ALLOWED CONNECT 0 0 - 3 200 - - unlimited - 8 TCP_MISS/200
#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://dwfafasds.com ALLOWED CONNECT 0 0 - 3 200 - - unlimited - 3 TCP_MISS/200
#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://testdomain.com *DENIED*forbidden CONNECT 0 0 Online Ads 3 200 - - unlimited - 5 TCP_MISS/200
#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://staticeee.net *DENIED*forbidden CONNECT 0 0 Custom User Type 2 3 200 - - unlimited - 7 TCP_MISS/200
#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://google.comcom ALLOWED CONNECT 0 0 - 3 200 - - unlimited - 7 TCP_MISS/200
#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://asdqweasda.com ALLOWED CONNECT 0 0 - 3 200 - - unlimited - 9 TCP_MISS/200
#2018-11-28T15:08:21+03:00 testhost c-icap: 2018.11.28-15:08:21 testuser@testtest 55.55.55.32 - - https://deneme.com ALLOWED CONNECT 0 0 - 3 200 - - unlimited - 9 TCP_MISS/200

[0001 - labris-webfilter]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\:\s(?P<date>[0-9:.-]*)\s(?P<userdata1>.*)\*DENIED\*\s*(?P<userdata2>.*)$"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=1
userdata1= data1: {$userdata1}
userdata2= data2: {$userdata2}
