# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin integrity-check id:91141 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# labris-harpp:-
#
# END-HEADER
#
# Description:
#   labris-harpp
#
#
#
#

[DEFAULT]
plugin_id=91141

[config]
type=detector
enable=yes

source=log
location=/var/log/harpp.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

#Dec 31 33:55:66 harpp logger: HARPP_BLOCK 4743|255.255.255.255|RU|HTTPS_Flood_Detection|1522898191|1522898311|B
#Dec 34 33:66:77 harpp logger: HARPP_ATTACK UDP_flood_harppint_1545296949|UDP_flood|harppint|1542296947|1543396997||[('244.255.255.255',{'count':6654,'dst':{'255.255.255.2555':{'count':6654,'rate':665.4,'port':{65395:{'count':6654,'rate':665.4}}}},'Confidence':(0.8974150886684701,'89.7415088668%(682.6,1677.83333333,6654)'),'rate':665.4})]

[0001 - block-event]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<sensor>\S+):\s+HARPP_BLOCK\s+(?P<id>\d+)\|(?P<src_ip>[\d\.]+)\|(?P<country>\w+)\|(?P<attack_type>.+?)\|(?P<block_start>\d+)\|(?P<block_stop>\d+)\|(?P<remove_type>\S+)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=2
userdata1= id: {$id}
userdata2= src_ip: {resolv($src_ip)}
userdata3= country: {$country}
userdata4= attack_type: {$attack_type}
userdata5= block_start: {normalize_date($block_start)}
userdata6= block_stop: {normalize_date($block_stop)}
userdata7= remove_type: {$remove_type}

[0002 - attack-event]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>.+?)\s+(?P<sensor>\S+):\s+HARPP_ATTACK\s+(?P<id>\S+?)\|(?P<type>\S+?)\|(?P<interface>\S+?)\|(?P<start_time>\d+)\|(?P<end_time>\d+)\|(?P<blocked_ips>.*?)\|(?P<attack_report>.*)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=3
userdata1= id: {$id}
userdata2= type: {$type}
userdata3= interface: {$interface}
userdata4= start_time: {normalize_date($start_time)}
userdata5= end_time: {normalize_date($end_time)}
userdata6= blocked_ips: {$blocked_ips}
userdata7= attack_report: {$attack_report}
