# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin linux-usergroupadd id:1931 version: 0.0.1
# Last modification: 2018-01-11	11:15
#
# Plugin Selection Info:
# Linux:Useradd/Groupadd:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1931


[config]
type=detector
enable=yes

source=log
location=/var/log/auth.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
#   Rule 1
new user = 1
add = 2
failed adding user = 3
#   Rule 2
new group = 10
group added = 11
#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Linux - useradd]
event_type=event
precheck="useradd"
regexp="(?P<date>\w{3}\s\d+\s\d+:\d+:\d+)\s+(?P<device>\S+)\s+useradd\S+\s+(?P<sid>new user|add|failed adding user)[\s:]+(?:name=|')(?P<username>[^,']+)[,'\s]+(?:UID=(?P<user_id>\d+),\s+GID=(?P<group_id>\d+),\s+home=(?P<filepath>\S+),\s+shell=(?P<shell>\S+)|to.*?group\s+'(?P<group_name>[^']+)'|(?P<reason>.*))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
dst_ip={$device}
username={$username}
filename={$filepath}
userdata1={$group_name}
userdata2={$group_id}
userdata3={$user_id}
userdata4={$shell}
userdata5={$reason}

[0002 - Linux - groupadd]
event_type=event
precheck="groupadd"
regexp="(?P<date>\w{3}\s\d+\s\d+:\d+:\d+)\s+(?P<device>\S+)\s+groupadd\S+\s+(?P<sid>new group|group added)[\s:]+(?:to\s(?P<filepath>[^:]+):\s+|name=(?P<group_name>[^\s,]+)[\s,]*|GID=(?P<group_id>\d+))+"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
dst_ip={$device}
filename={$filepath}
userdata1={$group_name}
userdata2={$group_id}

[9999 - Linux - Generic rule]
event_type=event
#precheck=
regexp="(?P<date>\w{3}\s\d+\s\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?:useradd|groupadd).*"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}