# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin linuxdhcp-idm id:50003 version: 0.0.1
# Last modification: 2015-09-24 17:00
#
# Plugin Selection Info:
# Linux:DHCP Server:IDM:N
#
# END-HEADER
# Accepted products:
# Description:
# IDM plugin for linux DHCP
#
#

[DEFAULT]
plugin_id=50003
inventory_source=13

[config]
type=detector
enable=yes
source=log
location=/var/log/ossim/dhcp.log
create_file=false
process=
start=yes
stop=no
startup=
shutdown=

[0001 - DHCPACK without hostname]
event_type=idm-event
precheck="DHCPACK"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d{2}\:\d{2}\:\d{2})\s+(?P<sensor>\S+)\s+dhcpd[^:]*:\s+DHCPACK\s+to\s+(?P<ip>\S+)\s+\((?P<mac>[^\(\)]+)\)"
date={normalize_date($1)}
plugin_sid=1
device={resolv($sensor)}
ip={resolv($ip)}
mac={$mac}


[0002 - DHCPACK with hostname]
event_type=idm-event
precheck="DHCPACK"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d{2}\:\d{2}\:\d{2})\s+(?P<sensor>\S+)\s+dhcpd[^:]*:\s+DHCPACK\s+on\s+(?P<ip>\S+)\s+to\s+(?P<mac>\S+)\s+\((?P<hostname>[^\)]*)"
date={normalize_date($1)}
plugin_sid=1
device={resolv($sensor)}
ip={resolv($ip)}
mac={$mac}
hostname={$hostname}
