# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin mcafee-db id:1751 version: 0.0.1
# Last modification: 2016-05-20 16:00
#
# Plugin Selection Info:
# McAfee:Database Security:-
#
# END-HEADER
# Accepted products:
# 
# Description:
# 
#
#

[DEFAULT]
plugin_id=1751

[config]
type=detector
enable=yes
source=log
location=/var/log/mcafee-db.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=


[translation]
sp_dropdevice=1
sp_addlogin=2
sp_adduser=3
sp_configure=4
sp_helprotect=5
DROP TABLE=6
DROP DATABASE=7
EXECUTE PROCED=8
GRANT=9
UPDATE=10
DELETE=11
INSERT=12
USE DATABASE=13
DUMP DATABASE=14
EXECUTE=15
TRUNCATE TABLE=16
COND=17
BULK INSERT=18
SET TEXTSIZE=19
DECLARE=20
SELECT=21
DECLARE CURSOR=22
DBCC=23
ALTER TABLE=24
UPDATE STATIST=25
SHUTDOWN=26
PRINT=27
sp_dropuser=28
RAISEERROR=29
FAILED LOGIN A=30
CREATE DATABAS=31
_DEFAULT_=20000000



[0001 - mcafee- Database activity - Drop user]
event_type=event
precheck="sp_dropuser"
regexp="(?P<date>\S+\s+\S+\s+\S+)\s+(?P<device>\S+)\sCEF:\s(?P<version>[^|]+)\|McAfee\|Database\sSecurity\|(?P<device_version>[^|]+)\|(?P<event_type>[^|]+)\|(?P<name>[^|]+)\|(?P<severity>[^|]+)\|externalId=(?P<external_id>\S*)\srt=(?P<event_time>\S*)\scs1=(?P<cs_1>\S*)\scs1Label=(?P<cs_1_header>\S*)\sdst=(?P<dst_ip>\S*)\ssrc=(?P<src_ip>\S*)\sduser=(?P<dst_user>\S*)\ssuser=(?P<os_user>\S*)\sshost=(?P<src_host>\S*)\sdproc=(?P<exec_program>.*?)\sact=(?P<action>.*?)\scs2=(?P<event>sp_dropuser)\s*(?P<user_affected>\S+)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($event)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
username={$dst_user}
userdata1={$user_affected}
userdata2={$severity}
userdata3={$external_id}
userdata4={$event_time}
userdata5={$dst_user}
userdata6={$exec_program}
userdata7={$event_type}


[0002 - mcafee- Database activity - RAISEERROR]
event_type=event
precheck="RAISEERROR"
regexp="(?P<date>\S+\s+\S+\s+\S+)\s+(?P<device>\S+)\sCEF:\s(?P<version>[^|]+)\|McAfee\|Database\sSecurity\|(?P<device_version>[^|]+)\|(?P<event_type>[^|]+)\|(?P<name>[^|]+)\|(?P<severity>[^|]+)\|externalId=(?P<external_id>\S*)\srt=(?P<event_time>\S*)\scs1=(?P<cs_1>\S*)\scs1Label=(?P<cs_1_header>\S*)\sdst=(?P<dst_ip>\S*)\ssrc=(?P<src_ip>\S*)\sduser=(?P<dst_user>\S*)\ssuser=(?P<os_user>\S*)\sshost=(?P<src_host>\S*)\sdproc=(?P<exec_program>.*?)\sact=(?P<action>RAISEERROR)\scs2=(?P<cs_2>use\smaster|\S+)\s(?:'(?P<user_affected>[^']+)'[^']+'(?P<pass>[^']+)'[^']+'(?P<access>[^']+))?"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($action)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
username={$dst_user}
userdata1={$cs_2}
userdata2={$user_affected}
userdata3={$pass}
userdata4={$access}
userdata5={$severity}
userdata6={$external_id}
userdata7={$event_time}
userdata8={$dst_user}
userdata9={$exec_program}


[0003 - mcafee- Database activity - SP_(ADD USER/ ADD LOGIN/ DROP DEVICE/ CONFIGURE/ HELP PROTECT)]
event_type=event
precheck="cs2=sp_"
regexp="(?P<date>\S+\s+\S+\s+\S+)\s+(?P<device>\S+)\sCEF:\s(?P<version>[^|]+)\|McAfee\|Database\sSecurity\|(?P<device_version>[^|]+)\|(?P<event_type>[^|]+)\|(?P<name>[^|]+)\|(?P<severity>[^|]+)\|externalId=(?P<external_id>\S*)\srt=(?P<event_time>\S*)\scs1=(?P<cs_1>\S*)\scs1Label=(?P<cs_1_header>\S*)\sdst=(?P<dst_ip>\S*)\ssrc=(?P<src_ip>\S*)\sduser=(?P<dst_user>\S*)\ssuser=(?P<os_user>\S*)\sshost=(?P<src_host>\S*)\sdproc=(?P<exec_program>.*?)\sact=(?P<action>.*?)\scs2=(?P<event>sp_dropdevice|sp_addlogin|sp_adduser|sp_configure|sp_helprotect)\s'(?P<user_affected>[^']+)'(?:\s*,\s*'(?P<pass>[^']+)'\s*,\s*'(?P<access>[^']+))?"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($event)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
username={$dst_user}
userdata1={$user_affected}
userdata2={$pass}
userdata3={$access}
userdata4={$severity}
userdata5={$external_id}
userdata6={$event_time}
userdata7={$dst_user}
userdata8={$exec_program}
userdata9={$event_type}


[0004 - mcafee- Database activity - Grant]
event_type=event
precheck="GRANT"
regexp="(?P<date>\S+\s+\S+\s+\S+)\s+(?P<device>\S+)\sCEF:\s(?P<version>[^|]+)\|McAfee\|Database\sSecurity\|(?P<device_version>[^|]+)\|(?P<event_type>[^|]+)\|(?P<name>[^|]+)\|(?P<severity>[^|]+)\|externalId=(?P<external_id>\S*)\srt=(?P<event_time>\S*)\scs1=(?P<cs_1>\S*)\scs1Label=(?P<cs_1_header>\S*)\sdst=(?P<dst_ip>\S*)\ssrc=(?P<src_ip>\S*)\sduser=(?P<dst_user>\S*)\ssuser=(?P<os_user>\S*)\sshost=(?P<src_host>\S*)\sdproc=(?P<exec_program>.*?)\sact=(?P<action>GRANT)\scs2=grant\s(?P<priviledge>.*?)on\s\S+\sto\s(?P<user_affected>\S+)"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($action)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
username={$dst_user}
userdata1={$user_affected}
userdata2={$priviledge}
userdata3={$severity}
userdata4={$external_id}
userdata5={$event_time}
userdata6={$dst_user}
userdata7={$exec_program}
userdata8={$event_type}


[0005 - mcafee- Database activity - GENERAL]
event_type=event
regexp="(?P<date>\S+\s+\S+\s+\S+)\s+(?P<device>\S+)\sCEF:\s(?P<version>[^|]+)\|McAfee\|Database\sSecurity\|(?P<device_version>[^|]+)\|(?P<event_type>[^|]+)\|(?P<name>[^|]+)\|(?P<severity>[^|]+)\|externalId=(?P<external_id>\S*)\srt=(?P<event_time>\S*)\scs1=(?P<cs_1>\S*)\scs1Label=(?P<cs_1_header>\S*)\sdst=(?P<dst_ip>\S*)\ssrc=(?P<src_ip>\S*)\sduser=(?P<dst_user>\S*)\ssuser=(?P<os_user>\S*)\sshost=(?P<src_host>\S*)\sdproc=(?P<exec_program>.*?)\sact=(?P<action>.*?)\scs2=(?:(?:drop\s(?:table|database)|(?:[iI]?nsert|INSERT)(?:\s(?:into|INTO|bulk))?|dump\sdatabase|use|(?:update|UPDATE|Update)|sp_serverinfo|delete\sfrom)\s(?P<table>[^\\\s]+))?"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid={translate($action)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
username={$dst_user}
userdata1={$severity}
userdata2={$external_id}
userdata3={$event_time}
userdata4={$dst_user}
userdata5={$exec_program}
userdata6={$event_type}
userdata7={$table}

