# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin mcafee-epo id:4008 version: 0.0.3
# Last modification: 2016-06-20 12:30
#
# Plugin Selection Info:
# McAfee:ePolicy Orchestrator:-
#
# END-HEADER
# Accepted products:
# mcafee - epo_mcafee_virtual_technician 1.0.9
# Description:
# McAfee EPO plugin
# MSSQL connection can be configured using a static port or a dynamic port (using instances) 
# Static port config:
#   source_ip=database_addr_or_hostname
#   source_port=database_port (empty = default port 1433)
# 
# Dynamic port config:
#   source_ip=database_addr_or_hostname\database_instance (note: only one '\')
#   no source_port
#
[DEFAULT]
plugin_id=4008

[config]
type=detector
enable=yes

custom_functions_file=/etc/ossim/agent/plugins/custom_functions/mcafee_epo_custom_functions.cfg
source=database
source_type=mssql
source_ip=
source_port=1433
user=db_user
password=db_pass
db=db_epo
sleep=60

process=
start=no
stop=no

[start_query]
query="SELECT TOP 1 AutoID FROM EPOEvents ORDER BY AutoID DESC" 
regexp=

[query]
query="SELECT AutoID, CONVERT(nvarchar(40), AutoGUID), ServerID, DetectedUTC, SourceIPV4, TargetIPV4, TargetUserName, TargetFileName, ThreatCategory, ThreatEventID, ThreatSeverity, ThreatName FROM EPOEvents where AutoID > $1 ORDER BY AutoID"
regexp=
ref=0
plugin_sid={$9}
date={normalize_date($3)}
src_ip={:mcafeeIP($4)}
dst_ip={:mcafeeIP($5)}
filename={$7}
username={$6}
userdata1=GUID {$2}
userdata2=ServerID {$2}
userdata3=Severity {$10}
userdata4={$9}
userdata5={$11}
userdata6={$1}
userdata7={$8}
