# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin mcafee-mwg id:1699 version: 0.0.3
# Last modification: 2018-04-11 09:00
#
# Plugin Selection Info:
# McAfee:McAfee-MWG:-
#
# END HEADER
# Accepted products:
# mcafee - mcafee-mwg -
# Description:
# 
# McAfee Web Gateway

[DEFAULT]
plugin_id=1699

[config]
type=detector
enable=yes

source=log
location=/var/log/mcafee-mwg.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=

[translation]

Blocked by URL filtering = 2
Unauthorized Browser = 3
#   AcessLog sids
GET = 4
CONNECT = 5
CERTVERIFY = 6
POST = 7

_DEFAULT_ = 20000000


#########################
#         RULES         #
#########################

[0001 - mcafee mwg - blockReason field empty]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+(?P<process>\S+):\s(?P<log_format>[^\|]*)\|McAfee\|Web Gateway\|\d+\.\d+\|\d+\|devTime=(?P<devTime>\d+)\|src=(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\|usrName=(?P<username>[^\|]*)\|httpStatus=(?P<http_status>[^\|]*)\|dst=(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\|urlCategories=(?P<url_cat>[^\|]*)\|blockReason=\|url=(?P<url>\S+)"
plugin_sid=1
date={normalize_date($date)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
username={$username}
userdata1={$process}
userdata2={$devTime}
userdata3={$http_status}
userdata4={$url_cat}
userdata5={$url}
userdata6={$log_format}

[0002 - mcafee mwg ]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+(?P<process>\S+):\s(?P<log_format>[^\|]*)\|McAfee\|Web Gateway\|\d+\.\d+\|\d+\|devTime=(?P<devTime>\d+)\|src=(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\|usrName=(?P<username>[^\|]*)\|httpStatus=(?P<http_status>[^\|]*)\|dst=(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\|urlCategories=(?P<url_cat>[^\|]*)\|blockReason=(?P<block_Reason>[^\|]+)\|url=(?P<url>\S+)"
plugin_sid={translate($block_Reason)}
date={normalize_date($date)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
username={$username}
userdata1={$process}
userdata2={$devTime}
userdata3={$http_status}
userdata4={$url_cat}
userdata5={$url}
userdata6={$log_format}

[0003 - mcafee mwg - access log]
event_type=event
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+(?P<process>\S+):\s(?P<log_format>[^\|]*)\|McAfee\|Web Gateway\|[^|]*\|\d+\|Proxy-(?P<proxy_msg>[^|]*)\|\d+\|rt=(?P<date>\w+\s*\d+\s*\d+\s*\d+:\d+:\d+)\s*cat=(?P<cat>\S+(?:(?!\s\w+=)\s\S+)*)\sdst=(?P<dst_ip>\S+)\sdhost=(?P<hostname>\S+)\ssuser=(?:-|(?P<username>\S+))\ssrc=(?P<src_ip>\S+)\srequestMethod=(?P<req_method>GET|CONNECT|CERTVERIFY|POST)(?:\srequest=)?(?P<request>\S+)\s(?:app=(?P<app>\S+)\scs3=(?P<protocol_version>\S+)\scs3Label=\S+\scs4=(?P<URL>.*?)\scs4Label=.*?cs6=(?P<reputation>\S+(?:(?!\s\w+=)\s\S+)*)?\scs6Label=.*?fileType=(?P<filetype>\S+(?:(?!\s\w+=)\s\S+)*)?\sout=\d+\srequestClientApplication=(?P<requ_client_application>\S+(?:(?!\s\w+=)\s\S+)*)?\scs1=(?P<virus_name>\S+(?:(?!\s\w+=)\s\S+)*)?\scs1Label=\S+(?:(?!\s\w+=)\s\S+)*\scn1=(?P<block_reason>.*?)\scn1Label=\S+(?:(?!\s\w+=)\s\S+)*\scs5=(?P<policy>.*?)\scs5Label=Policy)?"
date={normalize_date($date)}
plugin_sid={translate($req_method)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
username={$username}
userdata1={$hostname}
userdata2={$reputation}
userdata3={$app}
userdata4={$requ_client_application}
userdata5={$virus_name}
userdata6={$proxy_msg}
userdata7={$URL}
userdata8={$policy}
userdata9={$filetype}

[9999 - mcafee mwg - Generic rule]
event_type=event
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+).+"
date={normalize_date($sys_date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
