# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin modsecurity id:1561 version: 0.0.7
# Last modification: 2018-06-27 11:30
#
# Plugin Selection Info:
# TrustWave SpiderLabs:ModSecurity Web Application Firewall:-
#
# END-HEADER
# Accepted products:
# modsecurity - modsecurity 2.7.X
# Description:
# 
#
#

[DEFAULT]
plugin_id=1561

dst_ip=\_CFG(plugin-defaults,sensor)
dst_port=80

[config]
type=detector
enable=yes

source=log
location=/var/log/modsecurity.log

create_file=false

process=apache2     ; change by apache|httpd|etc.
start=yes   ; launch plugin process when agent starts
stop=no     ; shutdown plugin process when agent stops
startup=/etc/init.d/%(process)s start
shutdown=/etc/init.d/%(process)s stop

[translation]
#   Rule 2
Failed to lock = 1
Failed to unlock = 2
# Rule 5
[core:notice = 2000000
[suexec:notice = 2000001
[ssl:warn = 2000002
[:notice = 2000003
[so:warn = 2000004
[auth_digest:notice = 2000005
[lbmethod_heartbeat:notice = 2000006
[mpm_prefork:notice = 2000007
[:error = 2000017
[ssl:error = 2000018
[core:error = 2000019
# Rule 6
CMD = 2000008
imjournal = 2000009
Suppressed = 2000010
Blacklisting = 2000011
Unregistered = 2000012
Registered = 2000013
exiting = 2000014
finished = 2000014
Stopping = 2000014
start = 2000015
starting = 2000015
Starting = 2000015
Started = 2000015
imfile = 2000016
module = 2000020
tcuser = 2000021

#   Default
_DEFAULT_ = 20000000

[0001 - mod-security-generic-event]
event_type=event
regexp="Host: (.*)\nUser-Agent: (.*)\nmod_security-message: (.*)\nmod_security-action: (.*)"
dst_ip={$1}
plugin_sid={$4}
userdata1={$3}

[0002 - ModSecurity - Audit log]
event_type=event
precheck="Audit log"
regexp="(?P<sys_date>\w+\s*\d+\s*\d+:\d+:\d+)\s*(?P<device>\S+)\s*(?P<process>[^\[]*)\S+\s*\[[^:]*:(?P<event>[^\[]*)\]\s*\[pid (?P<pid>\d+)\]\s*\[client (?:(?P<client_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+)\]\s*ModSecurity:\s*(?P<event_type>Audit log)[:\.]\s*(?P<event_desc>(?P<sid>Failed to lock|Failed to unlock)\sglobal mutex: (?P<reason>[^\[]*)|"(?P<from>[^"]*)" against "(?P<against>[^"]*)" required\.)\s(?:\[hostname "(?P<hostname>[^"]*)"\]\s*|\[uri "(?P<url>[^"]*)"\]\s*|\[accuracy "(?P<accuracy>[^"]*)"\]\s*|\[unique_id "(?P<unique_id>[^"]*)"\]\s*)*"
date={normalize_date($sys_date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$client_ip}
dst_ip={$hostname}
userdata1={$reason}
userdata2={$url}
userdata3={$accuracy}
userdata4={$unique_id}
userdata5={$process}
userdata6={$event}
userdata7={$pid}

[0003 - ModSecurity - JSON support not enabled]
event_type=event
precheck="JSON support was not enabled"
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<process>[^\[\s:]+)[^:]*:\s+(?:\[\w{3}\s+\w{3}\s+\d+\s+\d+:\d+:\d+(?:\.\d+)?\s\d{4}\]\s)?\[:?(?P<event>[^\[]+)\]\s+(?:\[pid (?P<pid>\d+)\]\s*)?\[client (?:(?P<client_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+)\]\s*ModSecurity:\s*JSON support was not enabled\s(?:\[hostname "(?:www\.)?(?P<hostname>[^"]*)"\]\s*|\[uri "(?P<url>[^"]*)"\]\s*|\[file "(?P<file>[^"]*)"\]\s*|\[tag "(?P<tag>[^"]*)"\]\s*|\[msg "(?P<msg>[^"]*)"\]\s*|\[maturity "(?P<maturity>[^"]*)"\]\s*|\[severity "(?P<severity>[^"]*)"\]\s*|\[accuracy "(?P<accuracy>[^"]*)"\]\s*|\[unique_id "(?P<unique_id>[^"]*)"\]\s*|\[ver "(?P<ver>[^"]*)"\]\s*|\[data "(?P<data>[^"]*)"\]\s*|\[rev "(?P<rev>[^"]*)"\]\s*|\[line "(?P<line>[^"]*)"\]\s*)*"
date={normalize_date($sys_date)}
plugin_sid=1000001
device={$device}
src_ip={$client_ip}
dst_ip={$hostname}
filename={$file}
userdata1={$process}
userdata2={$url}
userdata3={$accuracy}
userdata4={$unique_id}
userdata5={$data}
userdata6={$severity}
userdata7={$tag}
userdata8={$rev}
userdata9={$line}

[0004 - ModSecurity - Alert log]
event_type=event
precheck="ModSecurity:"
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?:(?P<device>\S+)\s+(?P<process>[^\[\s:]+)[^:]*:\s+)?(?:\[\w{3}\s+\w{3}\s+\d+\s+\d+:\d+:\d+(?:\.\d+)?\s\d{4}\]\s|.*?)\[:?(?P<event>[^\]]+)\]\s+(?:\[pid (?P<pid>\d+)\]\s+|[^\[]*)\[client (?:(?P<client_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+)\]\s+ModSecurity:\s+(?P<event_type>(?!Audit log)[^\.]*)[:\.]\s*(?P<event_description>.*?)\.\s(?:\[hostname "(?:www\.)?(?P<hostname>[^"]*)"\]\s*|\[uri "(?P<url>[^"]*)"\]\s*|\[file "(?P<file>[^"]*)"\]\s*|\[tag "(?P<tag>[^"]*)"\]\s*|\[msg "(?P<msg>[^"]*)"\]\s*|\[maturity "(?P<maturity>[^"]*)"\]\s*|\[severity "(?P<severity>[^"]*)"\]\s*|\[accuracy "(?P<accuracy>[^"]*)"\]\s*|\[unique_id "(?P<unique_id>[^"]*)"\]\s*|\[ver "(?P<ver>[^"]*)"\]\s*|\[data "(?P<data>[^"]*)"\]\s*|\[rev "(?P<rev>[^"]*)"\]\s*|\[id "(?P<sid>[^"]*)"\]\s*|\[line "(?P<line>[^"]*)"\]\s*)+"
date={normalize_date($sys_date)}
plugin_sid={$sid}
device={$device}
src_ip={$client_ip}
dst_ip={$hostname}
filename={$file}
userdata1={$event_type}
userdata2={$url}
userdata3={$accuracy}
userdata4={$unique_id}
userdata5={$maturity}
userdata6={$severity}
userdata7={$tag}
userdata8={$rev}
userdata9={$line}

[0005 - ModSecurity - Apache access error and httpd warning]
event_type=event
#precheck=""
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<process>apache_access_error_log|httpd)(?:\[\d+\])?:?\s(?:\[(?P<date>\w+\s\w+\s+\d+\s+\d+:\d+:\d+\.\d+\s+\d+)\])?\s*(?P<sid>[^]]+)\]\s\[pid\s(?P<pid>\d+)\]\s+(?:\S+:|ModSecurity)?\s*(?:Command line:\s+'(?P<cmd>[^']+)')?(?:\[client (?P<src>\d+\.\d+\.\d+\.\d+):(?P<src_port>\d+)\]\s*)?(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
src_port={$src_port}
userdata1={$process}
userdata2={$pid}
userdata3={$cmd}
userdata4={$msg}

[0006 - ModSecurity - Generic info]
event_type=event
#precheck=""
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<process>[^:[]+)[^:]*:\s+(?:\(\S+\))?\s*(?:\[origin software="(?P<software>[^"]+)"[^]]+\]\s*)?(?P<sid>[^\s[:]+):?(?:.*?messages from (?P<filepath>[^\s]+)|.*?address (?P<dst_ip>\d+\.\d+\.\d+\.\d+)|.*?USER=(?P<username>\S+)\s*;\s*COMMAND=(?P<command>[^;]+))?.*"
date={normalize_date($sys_date)}
plugin_sid={translate($sid)}
device={$device}
dst_ip={$dst_ip}
src_ip={$device}
filename={$filepath}
username={$username}
userdata1={$process}
userdata2={$software}
userdata3={$command}

[0007 - ModSecurity - Apache Error without date]
event_type=event
precheck="Apache-Error:"
regexp="Apache-Error:\s+\[file "(?P<file>[^"]+)"\]\s+\[line (?P<line>\d+)\]\s+\[level (?P<level>\d+)\] \[client (?P<client>[^\]]+)\] Modsecurity:\s+(?P<severity>[^.]+)\..*?\[file "(?P<file2>[^"]+)"\]\s*\[line "(?P<line2>[^"]+)"\]\s+\[id "(?P<id>[^"]+)"\]\s+(?:\[rev "(?P<rev>[^"]+)"\]\s*|\[msg "(?P<msg>[^"]+)"\]\s*|\[severity "(?P<severity2>[^"]+)"\]\s+|\[tag "[^"]+"\]\s*|\[data "(?P<data>[^"]+)"\]\s*|\[hostname "(?P<hostname>[^"]+)"\]\s*|\[uri "(?P<uri>[^"]+)"\]\s*|\[ver "(?P<ver>[^"]+)"\]\s*|\[maturity "(?P<maturity>[^"]+)"\]\s*|\[accuracy "(?P<accuracy>[^"]+)"\]\s*|\[unique_id "(?P<unique_id>[^"]+)"\]\s*)+"
plugin_sid={$id}
device={$client}
dst_ip={$hostname}
src_ip={$client}
filename={$file2}
userdata1={$severity}
userdata2={$uri}
userdata3={$accuracy}
userdata4={$unique_id}
userdata5={$maturity}
userdata6={$severity2}
userdata7={$ver}
userdata8={$rev}
userdata9={$line2}

[0010 - ModSecurity - Connect error]
event_type=event
precheck="connect() failed"
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<process>[^\[\s:]+)[^:]*:\s+(?:\[\w{3}\s+\w{3}\s+\d+\s+\d+:\d+:\d+(?:\.\d+)?\s\d{4}\]\s|.*?)\[:?(?P<event>[^\]]+)\]\s+.*?failed\s\(\w+:\s(?P<reason>[^)]*)\)\s.*?client:\s(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}),\sserver:\s(?P<server>[^,]*),\srequest:\s"(?P<method>\w+)\s[^,]*,\s+upstream:\s+"(?:https?://)?(?P<dst>[^:/"]*)[:/][^"]*",\shost:\s"(?:www\.)?(?P<host>[^"]*)""
date={normalize_date($sys_date)}
plugin_sid=1000002
device={$device}
src_ip={$src_ip}
dst_ip={$dst}
userdata1={$process}
userdata2={$event}
userdata3={$reason}
userdata4={$server}
userdata5={$method}
userdata6={$host}

[9999 - ModSecurity - Catch All]
event_type=event
#precheck=""
regexp="(?P<sys_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+.*"
date={normalize_date($sys_date)}
plugin_sid=20000000
device={$device}
src_ip={$device}

