# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin mssql-audit id:1783 version: 0.0.3
# Last modification: 2017-02-09 11:00
#
# Plugin Selection Info:
# Microsoft:MSSQL:-
#
# END-HEADER
# Accepted products:
# Microsoft MSSQL Server
# Description:
# Audit logs
#

[DEFAULT]
plugin_id=1783

[config]
type=detector
enable=yes

source=database
source_type=mssql
source_port=1433
#############
#   MODIFY: #
#############
source_ip=1.2.3.4
user=sqluser
password=dbpass
db=master
sleep=60

process=
start=no
stop=no

### MODIFY: Specify location -> '\\SERVERNAME\SHARE\Audit\*.sqlaudit'
[start_query]
query="SELECT TOP 1 event_time FROM sys.fn_get_audit_file('\\SERVERNAME\SHARE\Audit\*.sqlaudit', default, default) ORDER BY event_time DESC"
regexp=


[query]
# Mapped server_instance_name to dst_ip, object_name to username, database_name to userdata1, schema_name to userdata2, session_id to userdata3, statement to userdata4, multiple fields to userdata5, multiple fields to userdata6
query="SELECT event_time, session_id, server_principal_sid, server_principal_id, server_principal_name, database_principal_id, database_principal_name, server_instance_name, database_name, schema_name, object_name, statement, event_time as norm_event_time FROM sys.fn_get_audit_file('\\SERVERNAME\SHARE\Audit\*.sqlaudit', default, default) WHERE event_time > '$1' ORDER BY event_time"
regexp=
ref=0
plugin_sid=1
date={normalize_date($12)}
dst_ip={resolv($7)}
username={$10}
userdata1={$8}
userdata2={$9}
userdata3=session_id: {$1}
userdata4={$11}
userdata5=server_principal_sid: {$2}, server_principal_id: {$3}, server_principal_name: {$4}
userdata6=database_principal_id: {$5}, database_principal_name: {$6}
log={$1},{$2},{$3},{$4},{$5},{$6},{$7},{$8},{$9},{$10},{$11},{$12}
