# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin mssql-nxlog id:1849 version: 0.0.2
# Last modification: 2017-02-24	12:00
#
# Plugin Selection Info:
# Microsoft:SQL Server:NXLog
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1849


[config]
type=detector
enable=yes

source=log
location=/var/log/mssql-nxlog.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
#   SUCCESS
ACDO";"Success = 103100
ACO";"Success = 103101
ADBO";"Success = 103102
ADDP";"Success = 103103
ADSP";"Success = 103104
AL";"Success = 103105
ALCN";"Success = 103106
ALRS";"Success = 103107
ALSS";"Success = 103108
ALST";"Success = 103109
ALTR";"Success = 103110
APRL";"Success = 103111
AS";"Success = 103112
AUSC";"Success = 103113
AUSF";"Success = 103114
AUTH";"Success = 103115
BA";"Success = 103116
BAL";"Success = 103117
BRDB";"Success = 103118
C2OF";"Success = 103119
C2ON";"Success = 103120
CCLG";"Success = 103121
CMLG";"Success = 103122
CNAU";"Success = 103123
CO";"Success = 103124
CP";"Success = 103125
CR";"Success = 103126
D";"Success = 103127
DBCC";"Success = 103128
DBCG";"Success = 103129
DL";"Success = 103130
CPRL";"Success = 103131
DR";"Success = 103132
DWC";"Success = 103133
EX";"Success = 103134
FT";"Success = 103135
FTG";"Success = 103136
G";"Success = 103137
GRDB";"Success = 103138
GRDO";"Success = 103139
GRO";"Success = 103140
GRSO";"Success = 103141
GRSV";"Success = 103142
GWG";"Success = 103143
IMDP";"Success = 103144
IMP";"Success = 103145
IMSP";"Success = 103146
IN";"Success = 103147
LGB";"Success = 103148
LGBG";"Success = 103149
LGDA";"Success = 103150
LGDB";"Success = 103151
LGEA";"Success = 103152
LGFL";"Success = 103153
LGIF";"Success = 103154
LGIS";"Success = 103155
LGLG";"Success = 103156
LGM";"Success = 103157
LGMG";"Success = 103158
LGNM";"Success = 103159
LGO";"Success = 103160
LGSD";"Success = 103161
LO";"Success = 103162
MNDB";"Success = 103163
MNDO";"Success = 103164
MNDP";"Success = 103165
MNO";"Success = 103166
MNSO";"Success = 103167
MNSP";"Success = 103168
NMLG";"Success = 103169
OP";"Success = 103170
OPDB";"Success = 103171
OPSV";"Success = 103172
PWAR";"Success = 103173
PWC";"Success = 103174
PWCG";"Success = 103175
PWCS";"Success = 103176
PWEX";"Success = 103177
PWMC";"Success = 103178
PWPL";"Success = 103179
PWR";"Success = 103180
PWRS";"Success = 103181
PWU";"Success = 103182
R";"Success = 103183
RC";"Success = 103184
RF";"Success = 103185
RS";"Success = 103186
RWC";"Success = 103187
RWG";"Success = 103188
SL";"Success = 103189
SN";"Success = 103190
SPLN";"Success = 103191
STSV";"Success = 103192
SUQN";"Success = 103193
SVCN";"Success = 103194
SVPD";"Success = 103195
SVSD";"Success = 103196
SVSR";"Success = 103197
TASA";"Success = 103198
TASP";"Success = 103199
TO";"Success = 103200
TODB";"Success = 103201
TODO";"Success = 103202
TOO";"Success = 103203
TOSO";"Success = 103204
TRCG";"Success = 103205
TRO";"Success = 103206
UP";"Success = 103207
USAF";"Success = 103208
USLG";"Success = 103209
VDST";"Success = 103210
VSST";"Success = 103211
VWCT";"Success = 103212
XA";"Success = 103213
XU";"Success = 103214

#   FAILURE
ACDO";"Failure = 103300
ACO";"Failure = 103301
ADBO";"Failure = 103302
ADDP";"Failure = 103303
ADSP";"Failure = 103304
AL";"Failure = 103305
ALCN";"Failure = 103306
ALRS";"Failure = 103307
ALSS";"Failure = 103308
ALST";"Failure = 103309
ALTR";"Failure = 103310
APRL";"Failure = 103311
AS";"Failure = 103312
AUSC";"Failure = 103313
AUSF";"Failure = 103314
AUTH";"Failure = 103315
BA";"Failure = 103316
BAL";"Failure = 103317
BRDB";"Failure = 103318
C2OF";"Failure = 103319
C2ON";"Failure = 103320
CCLG";"Failure = 103321
CMLG";"Failure = 103322
CNAU";"Failure = 103323
CO";"Failure = 103324
CP";"Failure = 103325
CR";"Failure = 103326
D";"Failure = 103327
DBCC";"Failure = 103328
DBCG";"Failure = 103329
DL";"Failure = 103330
CPRL";"Failure = 103331
DR";"Failure = 103332
DWC";"Failure = 103333
EX";"Failure = 103334
FT";"Failure = 103335
FTG";"Failure = 103336
G";"Failure = 103337
GRDB";"Failure = 103338
GRDO";"Failure = 103339
GRO";"Failure = 103340
GRSO";"Failure = 103341
GRSV";"Failure = 103342
GWG";"Failure = 103343
IMDP";"Failure = 103344
IMP";"Failure = 103345
IMSP";"Failure = 103346
IN";"Failure = 103347
LGB";"Failure = 103348
LGBG";"Failure = 103349
LGDA";"Failure = 103350
LGDB";"Failure = 103351
LGEA";"Failure = 103352
LGFL";"Failure = 103353
LGIF";"Failure = 103354
LGIS";"Failure = 103355
LGLG";"Failure = 103356
LGM";"Failure = 103357
LGMG";"Failure = 103358
LGNM";"Failure = 103359
LGO";"Failure = 103360
LGSD";"Failure = 103361
LO";"Failure = 103362
MNDB";"Failure = 103363
MNDO";"Failure = 103364
MNDP";"Failure = 103365
MNO";"Failure = 103366
MNSO";"Failure = 103367
MNSP";"Failure = 103368
NMLG";"Failure = 103369
OP";"Failure = 103370
OPDB";"Failure = 103371
OPSV";"Failure = 103372
PWAR";"Failure = 103373
PWC";"Failure = 103374
PWCG";"Failure = 103375
PWCS";"Failure = 103376
PWEX";"Failure = 103377
PWMC";"Failure = 103378
PWPL";"Failure = 103379
PWR";"Failure = 103380
PWRS";"Failure = 103381
PWU";"Failure = 103382
R";"Failure = 103383
RC";"Failure = 103384
RF";"Failure = 103385
RS";"Failure = 103386
RWC";"Failure = 103387
RWG";"Failure = 103388
SL";"Failure = 103389
SN";"Failure = 103390
SPLN";"Failure = 103391
STSV";"Failure = 103392
SUQN";"Failure = 103393
SVCN";"Failure = 103394
SVPD";"Failure = 103395
SVSD";"Failure = 103396
SVSR";"Failure = 103397
TASA";"Failure = 103398
TASP";"Failure = 103399
TO";"Failure = 103400
TODB";"Failure = 103401
TODO";"Failure = 103402
TOO";"Failure = 103403
TOSO";"Failure = 103404
TRCG";"Failure = 103405
TRO";"Failure = 103406
UP";"Failure = 103407
USAF";"Failure = 103408
USLG";"Failure = 103409
VDST";"Failure = 103410
VSST";"Failure = 103411
VWCT";"Failure = 103412
XA";"Failure = 103413
XU";"Failure = 103414



#########################
#         RULES         #
#########################

[0001 - Mssql-nxlog - All events]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+MSSQL-NXLOG:\s"(?P<src_hostname>[^"]*)";"(?P<source>[^"]*)";"(?P<sid>[^"]+";"(?P<result>[^"]+))";"?(?P<db_name>[^";]*)"?;"?(?P<server_instance>[^;"]*)"?;"?(?:(?P<domain>[^";\\]+)\\+)?(?P<username>[^";]*)"?;"(?P<date>\S+\s\S+).*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_hostname}
dst_ip={$device}
username={$username}
userdata1={$domain}
userdata2={$db_name}
userdata3={$result}
userdata4={$server_instance}
