# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin mysql-server id:1955 version: 0.0.1
# Last modification: 2018-04-11	09:00
#
# Plugin Selection Info:
# Oracle:MySQL Server:Community Edition
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1955


[config]
type=detector
enable=yes

source=log
location=/var/log/mysql-server.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
CREATE = 1
ALTER = 1
DROP = 1
TRUNCATE = 1
COMMENT = 1
RENAME = 1

GRANT = 2
REVOKE = 2

COMMIT = 3
ROLLBACK = 3
SAVEPOINT = 3
SET = 3

SELECT = 4
INSERT = 4
UPDATE = 4
DELETE = 4
MERGE = 4
CALL = 4
EXPLAIN = 4
LOCK TABLE = 4
DESCRIBE = 4
DESC = 4

DISCONNECT = 5

CONNECT = 6

Access Denied = 7
Access denied = 7
access Denied = 7
access denied = 7

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Mysql-server - Query events]
event_type=event
#precheck=
regexp="(?P<date>\d{8}\s\d+:\d+:\d+),(?P<device>[^,]+),(?P<db_user>[^,]+),(?P<ip>[^,]+),(?P<id1>[^,]+),(?P<id2>[^,]+),QUERY,(?P<db>[^,]+),'(?P<query>\(?(?P<cat>LOCK TABLE|\S+)(?:\s+\S+(?:(?!',\d)\s+\S+\s*)*)?)',(?P<data>\S+)"
date={normalize_date($date)}
plugin_sid={translate($cat)}
device={$device}
src_ip={$ip}
username={$db_user}
userdata1={$id1}
userdata2={$id2}
userdata3={$db}
userdata4={$cat}
userdata5={$query}
userdata6={$data}

[1000 - Mysql-server - Generic rule]
event_type=event
#precheck=
regexp="(?P<date>\d{8}\s\d+:\d+:\d+),(?P<device>[^,]+),(?P<db_user>[^,]+),(?P<ip>[^,]+),(?P<id1>[^,]+),(?P<id2>[^,]+),(?P<cat>[^,]+),(?P<db>[^,]+),"
date={normalize_date($date)}
plugin_sid={translate($cat)}
device={$device}
src_ip={$ip}
username={$db_user}
userdata1={$id1}
userdata2={$id2}
userdata3={$db}
userdata4={$cat}


[9999 - Mysql-server - Ultra Generic rule]
event_type=event
#precheck=
regexp="(?P<date>\d{8}\s\d+:\d+:\d+),(?P<device>[^,]+).+"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}