# Alienvault plugindir.torun
# Author: Kadir Torun <@labrisnetworks.com>
# Plugin nessus_new id:91134 version: 0.0.1
# Last modification: 2018-12-06 15:00
#
# Plugin Selection Info:
# nessus_new:-
#
# END-HEADER
#
# Description:
#    nessus_new
#
#
#
#

[DEFAULT]
plugin_id=91134

[config]
type=detector
enable=yes

source=log
location=/var/log/nessus.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=


#Dec  5 16:08:04 HOSTNAME nessus [Mon Apr  3 11:22:14 2017][17633.554326][JOB_NAME=503_1_2d71523b-e2f5-497f-be66-445e58abc1a8][JOB_UUID=edb25f05-b957-b620-aade-ec3dc657hf87dbb5b4228cffcc60] user admin starts a new scan. Target(s) : 15.15.15.5,16.5.6.7,19.7.6.8, with max_hosts = 20 and max_checks = 5 

#Dec  5 16:08:05 HOSTNAME nessus [Tue Apr 17 16:58:49 2018][1424.714374][JOB_NAME=OS_CONTROL][JOB_UUID=eb5d7577-cf14-6185-7786-43bcebd803b895eba9b076643cf6] user admin : testing 11.11.1.11 (15.15.5.15) [869422] 

#Dec  5 16:08:05 HOSTNAME nessus [Tue Apr 17 16:58:49 2018][1424.868258][JOB_NAME=OS_CONTROL][JOB_UUID=ea7cs7s-cf14-6185-7786-43bcebd803b895eba9b076643cf6] user admin : The remote host (11.1.11.1) is dead 

#Dec  5 16:08:05 HOSTNAME nessus [Tue Apr 17 16:58:49 2018][1424.867992][JOB_NAME=OS_CONTROL][JOB_UUID=easd5655-cf14-6185-7786-43bcebd803b895eba9b076643cf6] Finished testing 11.11.1.11. Time : 7.06 secs 


[0001 - nessus start-scan]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s\[(?P<date>\w+\s\w+\s+\d+\s\d{1,2}:\d{1,2}:\d{1,2}\s\d{4})\].*starts a new scan.*$"
date={normalize_date($date)}
device={$device}
plugin_sid=1

[0002 - nessus start-testing]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s\[(?P<date>\w+\s\w+\s+\d+\s\d{1,2}:\d{1,2}:\d{1,2}\s\d{4})\].*: testing.*$"
date={normalize_date($date)}
device={$device}
plugin_sid=2

[0003 - nessus remote-dead]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s\[(?P<date>\w+\s\w+\s+\d+\s\d{1,2}:\d{1,2}:\d{1,2}\s\d{4})\].*: .*. dead.*$"
date={normalize_date($date)}
device={$device}
plugin_sid=3

[0004 - nessus scan-finish]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s\[(?P<date>\w+\s\w+\s+\d+\s\d{1,2}:\d{1,2}:\d{1,2}\s\d{4})\].*Finished.*$"
date={normalize_date($date)}
device={$device}
plugin_sid=4
