# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin nginx id:1760 version: 0.0.4
# Last modification: 2018-01-15 16:50
#
# Plugin Selection Info:
# NGinX:NGinX:-
#
# END-HEADER
# Accepted products:
#
# Description:
#
#
#

[DEFAULT]
plugin_id=1760

[config]
type=detector
enable=yes

source=log
location=/var/log/nginx.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=


[translation]
https=1
start=2
stop=3

_DEFAULT_=20000000


[0001 - NGinX]
event_type=event
precheck="https"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\snginx:\s+(?P<sid>[^|]+)\|(?P<smth>[^|]+)\|(?P<app>[^|]+)\|(?P<extended>[^|]+)\|\s*(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\s*-\s*-\s*\[(?P<date_log>[^]]+)\]\s*"(?P<request>\S+)\s+(?P<filename>\S+)\s(?P<version>(?P<proto>[^/]+)[^"]+)"\s+(?P<http_code>\d+)\s+(?P<bytes>\d+)\s+(?P<bytes2>\d+)\s+(?P<time>\S+)\s+"(?P<url>[^"]+)"\s*"(?P<browser>[^"]+)"\s*"(?P<ip_rep>[^"]+)""
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
filename={$filename}
protocol={normalize_protocol($proto)}
userdata1={$smth}
userdata2={$app}
userdata3={$extended}
userdata4={$request}
userdata5={$version}
userdata6={$http_code}
userdata7={$bytes}
userdata8={$bytes2}
userdata9={$url}


[0002 - NGinX Command]
event_type=event
precheck="sudo"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s*sudo:\s*(?P<username>\S+)\s*:\s*TTY=(?P<tty>\S+)\s*\;\s*PWD=(?P<path>\S+)\s*\;\s*USER=(?P<user>\S+)\s*\;\s*COMMAND=(?P<path_command>/[^/]+/[^/]+/nginx)\s*(?P<command>\S+)"
date={normalize_date($date)}
plugin_sid={translate($command)}
device={$device}
src_ip={$device}
username={$username}
userdata1={$tty}
userdata2={$path}
userdata3={$user}
userdata4={$path_command}


[0003 - NGinX Generic]
event_type=event
precheck="https"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\snginx:\s+(?P<sid>[^|]+)\|(?P<smth>[^|]+)\|(?P<app>[^|]+)\|(?P<extended>[^|]+)\|\s*(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\s*-\s*-\s*\[(?P<date_log>[^]]+)\]\s*"(?P<request>\S+)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
userdata1={$smth}
userdata2={$app}
userdata3={$extended}
userdata4={$request}

[0004 - NGinX Error log]
event_type=event
precheck="[error]"
regexp="(?:(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\snginx:?\s+)?(?P<date_log>\d+/\d+/\d+\s+\d+:\d+:\d+)\s+\[error\]\s+\S+\s+\*\d+\s+(?P<msg1>[^":,]+(?:[:\s]*"(?P<url>[^"]+)"[^,]+|:\s+(?P<bytes>\d+) bytes)?)[\s":,]+(?:client:\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}),\s+server:\s+(?P<server>[^,]+),\s+request:\s+"(?P<method>\S+)\s+(?P<rquery>\S+)\s+(?P<protocol>[^/]+)/(?P<version>[^"]+)",\s+(?:upstream:\s+"(?P<upstream>[^"]+)",\s+)?host:\s+"(?P<host>[^"]+)"(?:,\s+referrer:\s+"(?P<referer>[^"]+)")?)?"
date={normalize_date($date_log)}
plugin_sid=4
device={$device}
src_ip={$src_ip}
dst_ip={$server}
protocol={normalize_protocol($protocol)}
userdata1={$rquery}
userdata2={$upstream}
userdata3={$version}
userdata4={$referer}
userdata5={$bytes}
userdata6={$url}
userdata7={$method}
userdata8={$msg1}
userdata9={$host}

[0005 - NGinX CLF Request]
event_type=event
#precheck=""
regexp="(?:(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\snginx:?\s+)?(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\s*-\s*(?:-|(?P<userid>\S+))\s*\[(?P<date_log>\d+/\w+/\d+:\d+:\d+:\d+)\s+[^]]+\]\s*"(?P<request>\S+)\s+(?P<query>\S+)\s(?P<version>(?P<proto>[^/]+)[^"]+)"\s+(?P<http_code>\d+)\s+(?P<bytes>\d+)\s+"(?P<url>[^"]+)"\s*"(?P<browser>[^"]+)""
date={normalize_date($date_log)}
plugin_sid={$http_code}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
username={$userid}
protocol={normalize_protocol($proto)}
userdata1={$query}
userdata2={$request}
userdata3={$version}
userdata4={$browser}
userdata5={$bytes}
userdata6={$url}

[9999 - NGinX - Catch All]
event_type=event
#precheck=""
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\snginx:\s+.*"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}