# Alienvault plugin
# Author: Alienvault Team at avteam@alienvault.com
# Plugin nmap-idm id:50003 version: 0.0.1
# Last modification: 2017-01-27 15:30
#
# Plugin Selection Info:
# Alienvault:Nmap Hosts:IDM
#
# END-HEADER
# Accepted products:
#
# Description:
# 
#

[DEFAULT]
plugin_id=5003

[config]
type=detector
enable=yes

#To create a user in the DB
#GRANT SELECT ON alienvault.host, to hostchecker@'127.0.0.1' IDENTIFIED BY 'hostcheckerpassword';
#GRANT SELECT ON alienvault.host_ip, to hostchecker@'127.0.0.1' IDENTIFIED BY 'hostcheckerpassword';
source=database
source_type=mysql
source_ip=127.0.0.1
user=hostchecker
password=hostcheckerpassword
db=alienvault
sleep=60

process=
start=no
stop=no

exclude_sids=1

[start_query]
query="SELECT UNIX_TIMESTAMP() AS id;"

[query]
ref=0
event_type=idm-event
query="SELECT UNIX_TIMESTAMP() AS id,hostname AS host,INET6_NTOA(i.ip) AS ip FROM host h,host_ip i WHERE h.id = i.host_id AND h.created > CONVERT_TZ(FROM_UNIXTIME($1 - 120),@@session.time_zone,'+00:00');"
plugin_sid=1
hostname={$1}
src_ip={$2}
