# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin ocs-inventory id:91138 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# ocs-inventory:-
#
# END-HEADER
#
# Description:
#   ocs-inventory
#
#
#
#


[DEFAULT]
plugin_id=91138

[config]
type=detector
enable=yes

source=database
source_type=mysql
source_ip=127.0.0.1
source_port=3306
user=root
password=AkDlSbPz1oJ0UZBV
db=ocsweb
sleep=60


process=
start=no
stop=no

[start_query]
query="select id as last from softwares order by id desc limit 1"


[query]
query="SELECT hw.ID as hw_id, hw.NAME as DEVICE_NAME, hw.workgroup, hw.IPADDR AS DEVICE_IP, sftware.hardware_id as sftware_id, sftware.name as SOFTWARE_TITLE, sftware.version as SOFTWARE_VERSION, sftware.id as id FROM ocsweb.hardware as hw, ocsweb.softwares as sftware WHERE sftware.hardware_id = hw.id AND sftware.id > $1 GROUP BY DEVICE_NAME , SOFTWARE_TITLE"
regexp=
ref=0
plugin_sid=100
src_ip={$3}
device={resolv($1)}
userdata1= Sofware_Title: {$5}
userdata2= Software_Version: {$6}
userdata3= Workgroup: {$2}
log={$1},{$2},{$3},{$4},{$5},{$6},{$7}
