# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin openvpn-server id:1952 version: 0.0.2
# Last modification: 2018-07-05	9:00
#
# Plugin Selection Info:
# OpenVPN:OpenVPN Access Server:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1952


[config]
type=detector
enable=yes

source=log
location=/var/log/openvpn-server.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
#Rule 1
Learn = 1
bad source address = 2
multi_create_instance called = 3
packet dropped due to output saturation = 4
pool returned = 5
primary virtual IP = 6
#Rule 2
connection established = 7
link local = 8
link remote = 9
#Rule 3
Initial packet = 10
Username/Password authentication deferred = 11
soft reset = 12
local/remote TLS keys are out of sync = 13
#Rule 4
AUTH_FAILED = 14
PUSH_REPLY = 15
#Rule 5
VERIFY OK = 16
PLUGIN_CALL = 17
#Rule 6
Peer Connection Initiated = 18
#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Openvpn-server - MULTI events]
event_type=event
precheck="MULTI"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:message repeated \d+ times: \[ )?(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?MULTI(?:_sva)?:\s+(?P<sid>packet dropped due to output saturation|multi_create_instance called|Learn|primary virtual IP|pool returned|bad source address):?\s*(?P<msg>(?:(?:.*?(?:: |/)| IPv4=)(?P<dst>\d+\.\d+\.\d+\.\d+)(?::(?P<dstport>\d+))?)?.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
dst_ip={$dst}
src_port={$srcport}
dst_port={$dstport}
username={$username}
userdata1={$msg}
userdata2={$pid}


[0002 - Openvpn-server - TCP events]
event_type=event
precheck="TCP"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?TCP(?:v4_SERVER)?\s+(?P<sid>connection established|link local|link remote):?\s(?:with)?\s*\[(?P<net>[^]]+)\](?:(?P<dst>\d+\.\d+\.\d+\.\d+):(?P<dstport>\d+))?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
dst_ip={$dst}
src_port={$srcport}
dst_port={$dstport}
username={$username}
userdata1={$pid}


[0003 - Openvpn-server - TLS events]
event_type=event
precheck="TLS"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:message repeated \d+ times: \[ )?(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?TLS(?: Error)?:\s+(?P<sid>Initial packet|Username/Password authentication deferred|soft reset|local/remote TLS keys are out of sync)(?:.*?sid=(?P<sidlog>.*)|.+?for username '(?P<name>[^']+)')?.*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
src_port={$srcport}
username={$name}
userdata1={$username}
userdata2={$sidlog}
userdata3={$pid}


[0004 - Openvpn-server - SENT CONTROL events]
event_type=event
precheck="SENT CONTROL"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?SENT CONTROL \[(?: |(?P<name>[^]]+))\]:\s+'(?P<sid>[^',]+)(?:'|,)?(?:route (?P<route>[^,]+),route (?P<route2>[^,]+),dhcp-option\sDNS\s(?P<dns>[^,]+),route-gateway\s(?P<route_gw>[^,]+),topology\s+(?P<topology>[^,]+),ping\s+(?P<ping>\d+).*?ifconfig\s+(?P<ifconfig>[^']+)')?\s+\(status=(?P<status>\d+)\)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
src_port={$srcport}
username={$name}
userdata1={$username}
userdata2={$route}
userdata3={$route2}
userdata4={$dns}
userdata5={$route_gw}
userdata6={$topology}
userdata7={$ifconfig}
userdata9={$status}


[0005 - Openvpn-server - VERIFY/POST events]
event_type=event
precheck="VERIFY"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?(?P<sid>VERIFY OK|PLUGIN_CALL):\s+(?:(?P<method>\S+)\s+(?P<url>\S+) status=(?P<status>\d+)|depth=(?P<depth>\d+),\s+C=(?P<country>[^,]+),\s+ST=(?P<state>[^,]+),\s+L=(?P<location>[^,]+),\s+O=(?P<organizatrion>[^,]+),\s+CN=(?P<cn>.*))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
src_port={$srcport}
username={$username}
userdata1={$method}
userdata2={$url}
userdata3={$status}
userdata4={$depth}
userdata5={$country}
userdata6={$state}
userdata7={$location}
userdata8={$organizatrion}
userdata9={$cn}


[0006 - Openvpn-server - Peer Connection events]
event_type=event
precheck="Peer Connection"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:message repeated \d+ times: \[ )?(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?\[(?P<name>[^]]+)\]\s+(?P<sid>Peer Connection Initiated)\s+with\s+\[(?P<net>[^]]+)\](?P<dst>\d+\.\d+\.\d+\.\d+):(?P<dstport>\d+)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src}
dst_ip={$dst}
src_port={$srcport}
dst_port={$dstport}
username={$name}
userdata1={$username}
userdata2={$net}
userdata3={$pid}


[0999 - Openvpn-server - Generic events]
event_type=event
#precheck=""
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d+)\]\s+(?:(?:message repeated \d+ times: \[ )?(?:(?P<username>[^/]+)/)?(?P<src>\d+\.\d+\.\d+\.\d+):(?P<srcport>\d+)\s+)?(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$src}
src_port={$srcport}
username={$username}
userdata1={$msg}
userdata2={$pid}


[9999 - Openvpn-server - Generic events]
event_type=event
#precheck=""
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+ovpn-server\[(?P<pid>\d*)\].*"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
userdata1={$pid}

