# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin openswan id:1756 version: 0.0.3
# Last modification: 2016-08-31 14:20
#
# Plugin Selection Info:
# OpenSwan:IPsec:-
#
# END-HEADER
# Accepted products:
#
# Description:
#
# OpenSwan IPsec

[DEFAULT]
plugin_id=1756

[config]
type=detector
enable=yes
source=log

location=/var/log/openswan.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]

#   Rule 1 sids
max number of retransmissions = 1
initiating Main Mode = 2
STATE_MAIN = 3
transition from state = 4
ignoring informational payload = 5
received and ignored = 6
STATE_PARENT = 7
starting keying attempt = 8
received Vendor = 9
ignoring Vendor = 10
enabling possible = 11
IKEv2 mode peer ID = 12
PAUL: = 13
Dead Peer Detection = 47
received Delete SA = 48
responding to Main Mode = 49
STATE_QUICK_I2: sent QI2, IPsec SA established tunnel mode = 50
initiating Quick Mode = 51
NAT-Traversal = 52
ignoring unknown Vendor ID payload = 53
Main mode peer ID is = 54

#   Rule 3 sids
Starting OpenSwan = 15
Starting Pluto = 15
...Openswan IPsec = 15
restarting = 16
Stopping = 17

#   Rule 9 sids
add = 18
register_enc = 19
register_hash = 20

#   Rule 10 sids
skipping = 21
adding = 22

#   Rule 12 sids
no connection named = 23
initiating all conns with alias = 24

#   Rule 104 sids
prospective erouted = 35
unrouted = 36

#   Rule 107 sids
wanted = 40
found = 41
loaded = 42

#   Default
_DEFAULT_ = 200000000


#   PACKET translations (rule 105)
[packet]
ignoring = 5
received = 6
transition = 4
negotiated = 25
ASSERTION = 37
using = 38

#   Normalization rules
[0001 - OpenSwan Ipsec: main events         ]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s\d*\s*"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*"\s#\d+:\s(?P<msg>(?P<sid>max number of retransmissions|initiating Main Mode|STATE_MAIN|transition from state|ignoring informational payload|received and ignored|STATE_PARENT|starting keying attempt|received Vendor|ignoring Vendor|enabling possible|IKEv2 mode peer ID|PAUL:|Dead Peer Detection|received Delete SA|responding to Main Mode|STATE_QUICK_I2: sent QI2, IPsec SA established tunnel mode|initiating Quick Mode|NAT-Traversal|ignoring unknown Vendor ID payload|Main mode peer ID is).*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$msg}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$session_id}

[0002 - OpenSwan Ipsec: pending Quick Mode  ]
event_type=event
precheck="pending Quick Mode"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spending Quick Mode with \S+\s"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*"\s(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid=14
device={resolv($device)}
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$msg}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$session_id}

[0003 - OpenSwan Ipsec: system change       ]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s(?P<msg>(?P<sid>Starting (?:Openswan|Pluto)|...Openswan IPsec|restarting|Stopping).*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
userdata1={$msg}
userdata2={$session_id}

[0004 - OpenSwan Ipsec: negotiated tunnel   ]
event_type=event
precheck="negotiated tunnel"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*"\s#\d+:\snegotiated tunnel\s(?P<tunnel>.*)"
date={normalize_date($date)}
plugin_sid=25
device={resolv($device)}
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$tunnel}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$session_id}

[0005 - OpenSwan Ipsec: Abort               ]
event_type=event
precheck="Aborted"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s.*?Aborted\s*(?P<filename>\S+)\s(?P<flags>.*?)\s(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})"
date={normalize_date($date)}
plugin_sid=26
device={resolv($device)}
src_ip={$src_ip}
filename={$filename}
userdata1={$flags}
userdata2={$session_id}

[0006 - OpenSwan Ipsec: added connection    ]
event_type=event
precheck="added connection description"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s\d*\s*added connection description\s*"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*""
date={normalize_date($date)}
plugin_sid=27
device={resolv($device)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
userdata1={$src_nat}
userdata2={$dst_nat}
userdata3={$session_id}

[0007 - OpenSwan Ipsec: support disabled    ]
event_type=event
precheck="[disabled]"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s(?P<support>.*?)\[disabled]:?\s*(?P<reason>.*)"
date={normalize_date($date)}
plugin_sid=28
device={resolv($device)}
userdata1={$support}
userdata2={$reason}
userdata3={$session_id}

[0008 - OpenSwan Ipsec: bind                ]
event_type=event
precheck="bind()"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\sbind\(\)\swill be filtered for\s(?P<src_ip>\S+)"
date={normalize_date($date)}
plugin_sid=29
device={resolv($device)}
src_ip={$src_ip}
userdata1={$session_id}

[0009 - OpenSwan Ipsec: ike_alg             ]
event_type=event
precheck="ike_alg"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\sike_alg_(?P<sid>add|register_enc|register_hash)\(\):\s(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
userdata1={$msg}
userdata2={$session_id}

[0010 - OpenSwan Ipsec: interface           ]
event_type=event
precheck="interface"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s(?P<sid>skipping|adding)\sinterface\s(?P<interface>\S+)\s(?:with\s)?(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(?::(?P<src_port>\d+))?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
userdata1={$interface}
userdata2={$session_id}

[0011 - OpenSwan Ipsec: using interface code]
event_type=event
precheck="interface code"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s(?P<msg>Using\s(?P<os_version>.*?)IPsec interface code on (?P<src_ip>\S+).*)"
date={normalize_date($date)}
plugin_sid=30
device={resolv($device)}
src_ip={$src_ip}
userdata1={$msg}
userdata2={$os_version}
userdata3={$session_id}

[0012 - OpenSwan Ipsec: connection msg      ]
event_type=event
precheck="conn"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\s\d*\s*(?P<sid>no connection named|initiating all conns with alias)=?\s*["'](?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*["']"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$src_nat}
userdata2={$dst_nat}
userdata3={$session_id}

[0013 - OpenSwan Ipsec: loading secrets    ]
event_type=event
precheck="secrets"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\sloading secrets from\s"(?P<filename>[^"]*)""
date={normalize_date($date)}
plugin_sid=31
device={resolv($device)}
filename={$filename}
userdata1={$session_id}

#   Packet rules
[0101 - OpenSwan Ipsec: packet - algorithm  ]
event_type=event
precheck="algorithm"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\salgorithm\s(?P<algorithm_type>[^:]*):\sid=(?P<id>\d+),\sname=(?P<algorithm_name>\S+),\s*(?P<attributes>.*)"
date={normalize_date($date)}
plugin_sid=32
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
userdata1={$algorithm_name}
userdata2={$algorithm_type}
userdata3={$attributes}
userdata4={$session_id}

[0102 - OpenSwan Ipsec: packet - interface  ]
event_type=event
precheck="interface"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s*interface\s*(?P<interface>\S+)\s(?P<dst_ip>\S+)"
date={normalize_date($date)}
plugin_sid=33
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$interface}
userdata2={$session_id}

[0103 - OpenSwan Ipsec: packet - ABORT      ]
event_type=event
precheck="ABORT"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\sABORT at\s(?P<filename>\S+):(?P<dst_port>\d+)"
date={normalize_date($date)}
plugin_sid=34
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_port={$dst_port}
filename={$filename}
userdata1={$session_id}

[0104 - OpenSwan Ipsec: packet - routing    ]
event_type=event
precheck="eroute"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<alias_src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)/.*?":\s*(?P<routing1>[^>]*>)\.\.\.(?P<routing2>[^;]*);\s(?P<sid>prospective erouted|unrouted);.*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$alias_src_ip}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$routing1}
userdata5={$routing2}
userdata6={$session_id}

[0105 - OpenSwan Ipsec: packet - translates ]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s(?P<msg>(?P<sid>ignoring|received|transition|negotiated|ASSERTION|using)\s(?:FAILED at\s(?P<filename>\S+):(?P<dst_port>\d+))?.*)"
date={normalize_date($date)}
plugin_sid={translate2($sid,$packet)}
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_port={$dst_port}
filename={$filename}
userdata1={$msg}
userdata2={$session_id}

[0106 - OpenSwan Ipsec: packet - pending Phase ]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s#\d+:\spending Phase \d for\s"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<alias_src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*"\s*.*"
date={normalize_date($date)}
plugin_sid=39
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$alias_src_ip}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$session_id}

[0107 - OpenSwan Ipsec: packet - alg issue  ]
event_type=event
precheck="algorithms"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<alias_src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*":\s*(?P<algorithm_type>\w+)\salgorithms\s(?P<sid>wanted|found|loaded):\s*(?P<alg_name>[^\s;]*);?\s*(?:pfsgroup=(?P<pfsgroup>\S+);\s*)?(?:flags=(?P<flags>.*))?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$alias_src_ip}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$alg_name}
userdata6={$flags}
userdata5={$algorithm_type}
userdata7={$pfsgroup}
userdata8={$session_id}

[0108 - OpenSwan Ipsec: packet - policy     ]
event_type=event
precheck="policy"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s*"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<alias_src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*":\s*policy:\s(?P<policy>\S+);\sprio:\s(?P<priority>\S+);\sinterface:\s(?P<interface>\S+);"
date={normalize_date($date)}
plugin_sid=43
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$alias_src_ip}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$policy}
userdata5={$interface}
userdata6={$priority}
userdata7={$session_id}

[0109 - OpenSwan Ipsec: packet - state_main ]
event_type=event
precheck="STATE_MAIN"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s*#\d+:\s*"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<alias_src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*":\d*\s*(?P<interface>STATE_MAIN_I\d*)\s*\((?P<action>[^\)]*)\);\s*(?P<msg_rest>.*)"
date={normalize_date($date)}
plugin_sid=44
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$alias_src_ip}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$action}
userdata5={$interface}
userdata6={$msg_rest}
userdata7={$session_id}

#   Generic rules
[0900 - OpenSwan Ipsec: packet - generic with alias]
event_type=event
precheck="packet from"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s"(?P<dst_ip>[^_]*)_(?P<dst_nat>[^/]*)/(?P<mask1>\d+)-(?P<alias_src_ip>[^_]*)_(?P<src_nat>[^/]*)/(?P<mask2>\d+)[^"]*":\s*(?P<packet_msg>.*)"
date={normalize_date($date)}
plugin_sid=20000001
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
userdata1={$alias_src_ip}
userdata2={$src_nat}
userdata3={$dst_nat}
userdata4={$packet_msg}
userdata5={$session_id}

[0901 - OpenSwan Ipsec: packet - super generic]
event_type=event
precheck="packet from"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+\S+:\s\[(?P<session_id>[^]]*)]:\spacket from\s(?P<src_ip>\S+):(?P<src_port>\d+):\s(?P<packet_msg>.*)"
date={normalize_date($date)}
plugin_sid=20000001
device={resolv($device)}
src_ip={$src_ip}
src_port={$src_port}
userdata1={$packet_msg}
userdata2={$session_id}

[9999 - OpenSwan Ipsec: Generic             ]
event_type=event
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s*\S+:\s(?:\S+:)?\s*(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid=20000000
userdata1={$msg}
