# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin oracle-nxlog id:1975 version: 0.0.1
# Last modification: 2018-08-02	13:00
#
# Plugin Selection Info:
# Oracle:Database Server:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1975


[config]
type=detector
enable=yes

source=log
location=/var/log/oracle-nxlog.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
CREATE TABLE=1
create table=1
INSERT=2
insert=2
SELECT=3
select = 3
CREATE CLUSTER=4
create cluester=4
ALTER CLUSTER=5
UPDATE=6
update=6
DELETE=7
delete=7
DROP CLUSTER=8
drop cluster=8
CREATE INDEX=9
create index=9
DROP INDEX=10
drop index=10
ALTER INDEX=11
alter index=11
DROP TABLE=12
drop table = 12
CREATE SEQUENCE=13
create sequence=13
ALTER SEQUENCE=14
alter sequence=14
ALTER TABLE=15
DROP SEQUENCE=16
drop sequence=16
GRANT OBJECT=17
REVOKE OBJECT=18
CREATE SYNONYM=19
create synonym=19
DROP SYNONYM=20
drop synonym=20
CREATE VIEW=21
DROP VIEW=22
VALIDATE INDEX=23
CREATE PROCEDURE=24
ALTER PROCEDURE=25
LOCK=26
lock=26
NO-OP=27
RENAME=28
COMMENT=29
comment=29
AUDIT OBJECT=30
NOAUDIT OBJECT=31
CREATE DATABASE LINK=32
DROP DATABASE LINK=33
CREATE DATABASE=34
ALTER DATABASE=35
ALTER DATABASE MOUNT=35
ALTER DATABASE OPEN=35
CREATE ROLLBACK SEG=36
ALTER ROLLBACK SEG=37
DROP ROLLBACK SEG=38
CREATE TABLESPACE=39
ALTER TABLESPACE=40
DROP TABLESPACE=41
ALTER SESSION=42
alter session = 42
ALTER USER=43
COMMIT=44
ROLLBACK=45
SAVEPOINT=46
PL\/SQL EXECUTE=47
SET TRANSACTION=48
ALTER SYSTEM=49
EXPLAIN=50
CREATE USER=51
create user = 51
CREATE ROLE=52
DROP USER=53
drop user = 53
DROP ROLE=54
SET ROLE=55
CREATE SCHEMA=56
CREATE CONTROL FILE=57
CREATE TRIGGER=59
ALTER TRIGGER=60
DROP TRIGGER=61
ANALYZE TABLE=62
ANALYZE INDEX=63
ANALYZE CLUSTER=64
CREATE PROFILE=65
DROP PROFILE=66
ALTER PROFILE=67
DROP PROCEDURE=68
ALTER RESOURCE COST=70
CREATE MATERIALIZED VIEW LOG=71
ALTER MATERIALIZED VIEW LOG=72
DROP MATERIALIZED VIEW LOG=73
CREATE MATERIALIZED VIEW=74
ALTER MATERIALIZED VIEW=75
DROP MATERIALIZED VIEW=76
CREATE TYPE=77
DROP TYPE=78
ALTER ROLE=79
ALTER TYPE=80
CREATE TYPE BODY=81
ALTER TYPE BODY=82
DROP TYPE BODY=83
DROP LIBRARY=84
TRUNCATE TABLE=85
TRUNCATE CLUSTER=86
CREATE FUNCTION=91
ALTER FUNCTION=92
DROP FUNCTION=93
CREATE PACKAGE=94
ALTER PACKAGE=95
DROP PACKAGE=96
CREATE PACKAGE BODY=97
ALTER PACKAGE BODY=98
DROP PACKAGE BODY=99
LOGON=100
LOGOFF=101
LOGOFF BY CLEANUP=102
SESSION REC=103
SYSTEM AUDIT=104
SYSTEM NOAUDIT=105
AUDIT DEFAULT=106
AUDIT ALL=106
audit all=106
NOAUDIT DEFAULT=107
NOAUDIT ALL=107
noaudit all=107
SYSTEM GRANT=108
SYSTEM REVOKE=109
CREATE PUBLIC SYNONYM=110
DROP PUBLIC SYNONYM=111
CREATE PUBLIC DATABASE LINK=112
DROP PUBLIC DATABASE LINK=113
GRANT ROLE=114
REVOKE ROLE=115
EXECUTE PROCEDURE=116
USER COMMENT=117
ENABLE TRIGGER=118
DISABLE TRIGGER=119
ENABLE ALL TRIGGERS=120
DISABLE ALL TRIGGERS=121
NETWORK ERROR=122
EXECUTE TYPE=123
FLASHBACK=128
CREATE SESSION=129
CREATE DIRECTORY=157
DROP DIRECTORY=158
CREATE LIBRARY=159
CREATE JAVA=160
ALTER JAVA=161
DROP JAVA=162
CREATE OPERATOR=163
CREATE INDEXTYPE=164
DROP INDEXTYPE=165
DROP OPERATOR=167
ASSOCIATE STATISTICS=168
DISASSOCIATE STATISTICS=169
CALL METHOD=170
CREATE SUMMARY=171
ALTER SUMMARY=172
DROP SUMMARY=173
CREATE DIMENSION=174
ALTER DIMENSION=175
DROP DIMENSION=176
CREATE CONTEXT=177
DROP CONTEXT=178
ALTER OUTLINE=179
CREATE OUTLINE=180
DROP OUTLINE=181
UPDATE INDEXES=182
ALTER OPERATOR=183
PURGE USER_RECYCLEBIN=197
PURGE DBA_RECYCLEBIN=198
PURGE TABLESPACE=199
PURGE TABLE=200
PURGE INDEX=201
UNDROP OBJECT=202
FLASHBACK DATABASE=204
FLASHBACK TABLE=205
CREATE RESTORE POINT=206
DROP RESTORE POINT=207
PROXY AUTHENTICATION ONLY=208
DECLARE REWRITE EQUIVALENCE=209
ALTER REWRITE EQUIVALENCE=210
DROP REWRITE EQUIVALENCE=211
SUPER USER LOGON=212
SUPER USER DDL=213
SUPER USER DML=214
STARTUP=215
SHUTDOWN=216
SUPER USER UNKNOWN=217
UNKNOWN=218

FACTOR EVALUATION=1000
FACTOR ASSIGNMENT=1001
FACTOR EXPRESSION=1002
REALM VIOLATION=1003
REALM AUTHORIZATION=1004
COMMAND AUTHORIZATION=1005
SECURE ROLE=1006
LBL SEC SESSION INIT=1007
ACCESS CTRL COMMAND AUTH=1008
ACCESS CTRL SESSION INIT=1009
LBL SEC ATTEMPT TO UPGRADE=1010
CONNECT=9000
connect = 9000
INVALID RECORD=30000
ALTER=10000
create=10001
drop=10002
begin = 10003
BEGIN = 10003
alter = 10000
declare = 10004
DECLARE = 10004

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Oracle-NxLog: ACTION]
event_type=event
precheck="ACTION"
regexp='(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) \S+ ORACLE-NXLOG: (?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2});"(?P<event_type>INFO)";"(?P<severity>[^"]*)";(?:"(?P<channel>[^"]*)")?;"(?:-|(?P<hostname>[^"]*))";(?P<event_id>34);"(?P<source_name>[^"]*)";"(?P<account_name>[^"]*)";"(?P<account_type>[^"]*)";"(?P<domain>[^"]*)";"(?:Audit trail:\s)?(?:LENGTH\s:\s+'(?P<length>\d+)'\s+)?ACTION\s+:(?:\[(?:\d+)\])?\s+'\s*(?P<sid>create table|drop table|create user|drop user|drop cluster|drop index|drop sequence|drop synonym|alter index|create sequence|create cluster|create index|create synonym|alter sequence|ALTER SYSTEM|audit all|noaudit all|CONNECT|connect|alter|ALTER|select|SELECT|BEGIN|begin|declare|DECLARE|insert|INSERT|UPDATE|update|DELETE|delete|CREATE|create|DROP|drop|LOCK|lock|COMMENT|COMMIT|ROLLBACK|SAVEPOINT|SET TRANSACTION|SET ROLE|EXPLAIN|ANALYZE TABLE|ANALYZE CLUSTER|ANALYZE INDEX|TRUNCATE TABLE|TRUNCATE CLUSTER|[^']*)(?:(?<=table)\s+(?P<table>\S+))?.*?'\s+DATABASE\s+USER:(?:\[\d+\])?\s+'(?P<userdata2>[^']*)'.*?PRIVILEGE\s+:(?:\[\d+\])?\s+'?(?P<username>[^']*)'?.*?CLIENT\s+USER:(?:\[\d+\])?\s+'?(?P<client_user>[^']*)'?.*?CLIENT\s+TERMINAL:(?:\[\d+\])?\s+'?(?P<client_terminal>[^']*)'?.*?STATUS:(?:\[\d+\])?\s+'?(?P<status>[^']*)'?.*?DBID:(?:\[\d+\])?\s+'?(?P<dbid>[^']*)'?'
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$hostname}
src_ip={$hostname}
dst_ip={$hostname}
username={$username}
userdata1={$severity}
userdata2={$status}
userdata3={$client_terminal}
userdata4={$client_user}
userdata5={$length}
userdata6={$table}
userdata7={$userdata2}
userdata8={$dbid}

[0002 - Oracle-NxLog: Rest]
event_type=event
precheck="SESSIONID"
regexp='(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) \S+ ORACLE-NXLOG: (?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2});"(?P<event_type>INFO)";"(?P<severity>[^"]*)";(?:"(?P<channel>[^"]*)")?;"(?:-|(?P<hostname>[^"]*))";(?P<event_id>34);"(?P<source_name>[^"]*)";"(?P<account_name>[^"]*)";"(?P<account_type>[^"]*)";"(?P<domain>[^"]*)";"(?:Audit trail:\s)?(?:LENGTH:\s\\"(?P<length>\d+)\\"\s+)?SESSIONID:(?:\[\d+\])?\s+\\"(?P<sessionid>\d+)\\".*?ENTRYID:(?:\[\d+\])?\s+\\"(?P<entryid>\d+)\\".*?(?:STATEMENT:(?:\[\d+\])?\s+\\"(?P<statement>.*?)\\")?.*?USERID:(?:\[\d+\])?\s+\\"(?P<userid>.*?)\\".*?(?:USERHOST:(?:\[\d+\])\s+"(?:(?P<host_domain>[^\\\"]+)\\+)?(?P<userhost>[^"]*)")?\s+(?:TERMINAL:(?:\[\d+\])\s+"(?P<terminal>[^"]*)"\s+)?ACTION:(?:\[\d+\])?\s+\\"(?P<action>\d+)\\".*?RETURNCODE:(?:\[\d+\])?\s+\\"(?P<code>.*?)\\".*'
date={normalize_date($date)}
plugin_sid={$action}
device={$userhost}
src_ip={$hostname}
dst_ip={$userhost}
username={$userid}
userdata1={$terminal}
userdata2={$sessionid}
userdata3={$entryid}
userdata4={$statement}
userdata5={$length}
