# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin oracle-jde id:1899 version: 0.0.1
# Last modification: 2017-09-18 13:30
#
# Plugin Selection Info:
# Oracle:JD Edwards EnterpriseONE:-
#
# END-HEADER
# 
# Description:
#
#
#

[DEFAULT]
plugin_id=1899

[config]
type=detector
enable=yes

source=log
location=/var/log/oracle-jde.log

create_file=false

process=syslog
start=no
stop=no
startup=
shutdown=

[translation]
File=2
Failed to read=3
failed to read=3
Failed to find=4
failed to find=4
timed=5
request to=6
Started=7
Send notification=8
_DEFAULT_ = 20000000



[0001 - JDE Access rule]
event_type=event
#precheck=""
regexp="(?P<src_ip>\d+\.\d+\.\d+\.\d+)\s+-\s+-\s\[(?P<date>\S+)\s+\S+\s"(?P<method>\S+)\s\S+\s(?P<http_protocol>[^"]+)"\s+(?P<response>\d+)\s(?P<size_returned>\d+)"
date={normalize_date($date)}
plugin_sid=1
src_ip={$src_ip}
userdata1={$method}
userdata2={$http_protocol}
userdata3={$response}
userdata4={$size_returned}

[0002 - JDE Error rule]
event_type=event
#precheck=""
regexp="\[\w+\s+(?P<date>\w+\s+\d+\s+\d+:\d+:\d+\s+\d+)\]\s\[(?P<info>\w+)\]\s\[(?:client\s(?P<src>\d+\.\d+\.\d+\.\d+))\](?:\s\[ecid:\s+\d+:(?P<ip>[^:]+):(?P<port>[^:]+)[^\]]+\])?\s+(?:\w+:)?.*?(?P<sid>File|\wailed\sto\sread|\wailed\sto\sfind|timed|request\sto)(?:(?:.*?exist:\s(?P<file>\S+))|(?:.*?destination:\s+(?P<destination>\S+).*)|.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
filename={$file}
src_ip={$src}
userdata1={$ip}
userdata2={$port}
userdata3={$info}
userdata4={$destination}




##################
# Multiline Rules #
##################

[0003 - JDE Server rule]
event_type=event
#precheck=""
regexp="(?P<date>\d+/\d+/\d+\s+\d+:\d+:\d+)\.\d+\s+(?P<version>\d+\.\d+\.\d+\.\d+\.\d+)?\s*(?P<action>[^:]+):?\n(?P<notification>\w+\.\w+\.\w+@\w+)?"
date={normalize_date($date)}
plugin_sid={translate($action)}
userdata1={$notification}
userdata2={$version}


##################
# Generic Rules #
##################

[9999 - generic rule - Debug Events]
event_type=event
regexp="(?P<date>\d+\s+\S+\s+\d+\s+\d+:\d+:\d+),\d+\s+.(?P<info>[^\]]+)\]\s*(?P<username>\w+)?\s*.*"
plugin_sid=20000000
date={normalize_date($date)}
username={$username}
userdata1={$info}



