# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin oracle-weblogic id:1907 version: 0.0.1
# Last modification: 2017-11-06	13:00
#
# Plugin Selection Info:
# Oracle:WebLogic Server:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1907


[config]
type=detector
enable=yes

source=log
location=/var/log/oracle-weblogic.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
SUCCESS = 1
FAILURE = 2
#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Oracle-WebLogic - Authentication Audit Event]
event_type=event
precheck="Authentication Audit Event"
regexp="(?P<syslogdate>\w{3}\s*\d+\s\d+:\d+:\d+)\s(?P<dev>\S+)\s(?P<server>[^:]+):\s*(?:#* Audit Record Begin <#*)(?P<date>\w+\s\d+,\s\d+\s\d+:\d+\d+:\d+\s\w+)>#*\s*<#*Severity\s=(?P<sev>FAILURE|SUCCESS)>\s*#*\s*<*#*<*Event Type = (?P<event_type>Authentication Audit Event)><*(?P<username>[^>]+)>*<(?P<cat>AUTHENTICATE|IMPERSONATEIDENTITY)>+\s*#*(?:\s*<#*FailureException =(?P<failure>[^:]+):\s\[Security:(?P<sec_id>\d+)\]Authentication failure: (?P<desc>[^.]+). (?P<failure_2>[^:]+):\s\[Security:(?P<sec_id_2>\d+)\](?P<desc_2>[^>]+)>|\s*Audit Record End|\s*#+)*"
date={normalize_date($syslogdate)}
plugin_sid={translate($sev)}
device={$dev}
dst_ip={$dev}
username={$username}
userdata1={$event_type}
userdata2={$server}
userdata3={$desc}
userdata4={$desc_2}
userdata5={$cat}
userdata9={$sev}

[9999 - Oracle-WebLogic - Generic Rule]
event_type=event
regexp="(?P<syslogdate>\w{3}\s*\d+\s\d+:\d+:\d+)\s(?P<dev>\S+).*"
date={normalize_date($syslogdate)}
plugin_sid=20000000
device={$dev}