# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin oracle-syslog id:1651 version: 0.0.15
# Last modification: 2018-11-19 10:30
#
# Plugin Selection Info:
# Oracle:Database Server:-
#
# END-HEADER
# Accepted products:
# oracle - database_server 1.0.2.2
# Description:
# 
#
#

[DEFAULT]
plugin_id=1651

[config]
type=detector
enable=yes

source=log
location=/var/log/oracle.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
get audit policy flags ok = 10000000
get audit state ok = 10000001
get default user preselection mask ok = 10000002
get process audit info ok = 10000003
get zone audit info ok = 10000004
setaudit_addr = 10000005
getaudit_addr = 10000006
execve = 10000007
mount = 10000008
setrlimit = 10000009
umount2 = 10000010
telnet failed = 10000011
telnet ok = 10000012
ssh ok = 10000013
ssh failed = 10000014
cron-invoke = 10000015
logout = 10000016
local ok = 10000017
su ok = 10000018
su failed = 10000019
role login ok = 10000020
role logout = 10000021
refresh service instance = 10000022
at-create atjob = 10000023
change service instance property = 10000024
role login failed = 10000025
passwd = 10000026
crontab-modify = 10000027
succeeded = 10000028
failed = 10000029
create or modify configuration object ok = 10000030
zone state change = 10000031
temporarily enable service instance = 10000032
dlmgmt_process_db_onereq = 10000033
adjtime = 10000034
create service instance property = 10000035
zlogin ok = 10000036

EVENT-TIME = 10000100
PLATFORM = 10000101
SOURCE = 10000102
EVENT-ID = 10000103
DESC = 10000104
AUTO-RESPONSE = 10000105
IMPACT = 10000106
REC-ACTION = 10000107

_DEFAULT_=20000000


[query]

UNKNOWN=218
CREATE TABLE=1
INSERT=2
SELECT=3
CREATE CLUSTER=4
ALTER CLUSTER=5
UPDATE=6
DELETE=7
DROP CLUSTER=8
CREATE INDEX=9
DROP INDEX=10
ALTER INDEX=11
DROP TABLE=12
CREATE SEQUENCE=13
ALTER SEQUENCE=14
ALTER TABLE=15
DROP SEQUENCE=16
GRANT OBJECT=17
REVOKE OBJECT=18
CREATE SYNONYM=19
DROP SYNONYM=20
CREATE VIEW=21
DROP VIEW=22
VALIDATE INDEX=23
CREATE PROCEDURE=24
ALTER PROCEDURE=25
LOCK=26
NO-OP=27
RENAME=28
COMMENT=29
AUDIT OBJECT=30
NOAUDIT OBJECT=31
CREATE DATABASE LINK=32
DROP DATABASE LINK=33
CREATE DATABASE=34
ALTER DATABASE=35
ALTER DATABASE MOUNT=35
ALTER DATABASE OPEN=35
CREATE ROLLBACK SEG=36
ALTER ROLLBACK SEG=37
DROP ROLLBACK SEG=38
CREATE TABLESPACE=39
ALTER TABLESPACE=40
DROP TABLESPACE=41
ALTER SESSION=42
ALTER USER=43
COMMIT=44
ROLLBACK=45
SAVEPOINT=46
PL\/SQL EXECUTE=47
SET TRANSACTION=48
ALTER SYSTEM=49
EXPLAIN=50
CREATE USER=51
CREATE ROLE=52
DROP USER=53
DROP ROLE=54
SET ROLE=55
CREATE SCHEMA=56
CREATE CONTROL FILE=57
CREATE TRIGGER=59
ALTER TRIGGER=60
DROP TRIGGER=61
ANALYZE TABLE=62
ANALYZE INDEX=63
ANALYZE CLUSTER=64
CREATE PROFILE=65
DROP PROFILE=66
ALTER PROFILE=67
DROP PROCEDURE=68
ALTER RESOURCE COST=70
CREATE MATERIALIZED VIEW LOG=71
ALTER MATERIALIZED VIEW LOG=72
DROP MATERIALIZED VIEW LOG=73
CREATE MATERIALIZED VIEW=74
ALTER MATERIALIZED VIEW=75
DROP MATERIALIZED VIEW=76
CREATE TYPE=77
DROP TYPE=78
ALTER ROLE=79
ALTER TYPE=80
CREATE TYPE BODY=81
ALTER TYPE BODY=82
DROP TYPE BODY=83
DROP LIBRARY=84
TRUNCATE TABLE=85
TRUNCATE CLUSTER=86
CREATE FUNCTION=91
ALTER FUNCTION=92
DROP FUNCTION=93
CREATE PACKAGE=94
ALTER PACKAGE=95
DROP PACKAGE=96
CREATE PACKAGE BODY=97
ALTER PACKAGE BODY=98
DROP PACKAGE BODY=99
LOGON=100
LOGOFF=101
LOGOFF BY CLEANUP=102
SESSION REC=103
SYSTEM AUDIT=104
SYSTEM NOAUDIT=105
AUDIT DEFAULT=106
NOAUDIT DEFAULT=107
SYSTEM GRANT=108
SYSTEM REVOKE=109
CREATE PUBLIC SYNONYM=110
DROP PUBLIC SYNONYM=111
CREATE PUBLIC DATABASE LINK=112
DROP PUBLIC DATABASE LINK=113
GRANT ROLE=114
REVOKE ROLE=115
EXECUTE PROCEDURE=116
USER COMMENT=117
ENABLE TRIGGER=118
DISABLE TRIGGER=119
ENABLE ALL TRIGGERS=120
DISABLE ALL TRIGGERS=121
NETWORK ERROR=122
EXECUTE TYPE=123
FLASHBACK=128
CREATE SESSION=129
CREATE DIRECTORY=157
DROP DIRECTORY=158
CREATE LIBRARY=159
CREATE JAVA=160
ALTER JAVA=161
DROP JAVA=162
CREATE OPERATOR=163
CREATE INDEXTYPE=164
DROP INDEXTYPE=165
DROP OPERATOR=167
ASSOCIATE STATISTICS=168
DISASSOCIATE STATISTICS=169
CALL METHOD=170
CREATE SUMMARY=171
ALTER SUMMARY=172
DROP SUMMARY=173
CREATE DIMENSION=174
ALTER DIMENSION=175
DROP DIMENSION=176
CREATE CONTEXT=177
DROP CONTEXT=178
ALTER OUTLINE=179
CREATE OUTLINE=180
DROP OUTLINE=181
UPDATE INDEXES=182
ALTER OPERATOR=183
PURGE USER_RECYCLEBIN=197
PURGE DBA_RECYCLEBIN=198
PURGE TABLESPACE=199
PURGE TABLE=200
PURGE INDEX=201
UNDROP OBJECT=202
FLASHBACK DATABASE=204
FLASHBACK TABLE=205
CREATE RESTORE POINT=206
DROP RESTORE POINT=207
PROXY AUTHENTICATION ONLY=208
DECLARE REWRITE EQUIVALENCE=209
ALTER REWRITE EQUIVALENCE=210
DROP REWRITE EQUIVALENCE=211
SUPER USER LOGON=212
SUPER USER DDL=213
SUPER USER DML=214
STARTUP=215
SHUTDOWN=216
SUPER USER UNKNOWN=217
FACTOR EVALUATION=1000
FACTOR ASSIGNMENT=1001
FACTOR EXPRESSION=1002
REALM VIOLATION=1003
REALM AUTHORIZATION=1004
COMMAND AUTHORIZATION=1005
SECURE ROLE=1006
LBL SEC SESSION INIT=1007
ACCESS CTRL COMMAND AUTH=1008
ACCESS CTRL SESSION INIT=1009
LBL SEC ATTEMPT TO UPGRADE=1010
CONNECT=9000
INVALID RECORD=30000
ALTER=10000
create=10001
drop=10002
select = 3
begin = 10003
BEGIN = 10003
alter session = 42
alter = 10000
declare = 10004
DECLARE = 10004
connect = 9000
drop user = 53
create user = 51
create table = 1
drop table = 12
#   DEFAULT
_DEFAULT_=3


[0001 - Oracle: Rule1 - Authentications]
event_type=event
precheck="Client address:"
regexp="(?P<syslog_date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?:.*?):?(?:info\s+)?Oracle\s+Audit\[\d+\]:\s+(?:[^]]+]\s+)?(?:LENGTH:\s+\"(?P<length>\d+)\".*?)?SESSIONID:(?:\[\d+\])?\s+\"(?P<sessionid>\d+)\".*?ENTRYID:(?:\[\d+\])?\s+\"(?P<entryid>\d+)\".*?(?:STATEMENT:(?:\[\d+\])?\s+\"(?P<statement>.*?)\")?.*?USERID:(?:\[\d+\])?\s+\"(?P<userid>.*?)\".*?(?:USERHOST:(?:\[\d+\])\s+"(?:(?P<host_domain>[^\\"]+)\\+)?(?P<userhost>[^"]*)")?\s+(?:TERMINAL:(?:\[\d+\])\s+"(?P<terminal>[^"]*)"\s+)?ACTION:(?:\[\d+\])?\s+\"(?P<action>\d+)\".*?RETURNCODE:(?:\[\d+\])?\s+\"(?P<code>.*?)\".*?(?:COMMENT\$TEXT:(?:\[\d+\])?.*?\"Authenticated\s+by:\s+(?P<auth_by>\S+)(?:\;\s+Client\s+address:\s+\(ADDRESS\=\(PROTOCOL\=tcp\)\(HOST\=(?P<host>\d+\.\d+\.\d+\.\d+)\)\(PORT\=(?P<port>\d+)\)\).*?|"\s+)|OBJ\$CREATOR:(?:\[\d+\])?\s+\"(?P<objcreator>[^"]*)"\s+.*?OBJ\$NAME:(?:\[\d+\])?\s+\"(?P<objname>[^"]*)"\s+)OS\$USERID:(?:\[\d+\])?\s+\"(?P<osuserid>[^"]*)"\s*(?:(?!PRIV\$)\S+\s+)*(?:PRIV\$USED:(?:\[\d+\])?\s+"(?P<priv>[^"]*)")?"
date={normalize_date($syslog_date)}
plugin_sid={$action}
device={$userhost}
src_ip={$host}
dst_ip={$userhost}
src_port={$port}
username={$userid}
userdata1={$objcreator}
userdata2={$auth_by}
userdata3={$osuserid}
userdata4={$priv}
userdata5={$objname}
userdata6={$terminal}
userdata7={$sessionid}
userdata8={$entryid}
userdata9={$statement}

[0002 - Oracle: Rule2 - Rest]
event_type=event
precheck="SESSIONID"
regexp="(?P<syslog_date>\S+\s+\d+\s+\d+:\d+:\d+)\s+.*?(?:(?P<device>[^\s:]+):?\s+)?(?:info\s+)?Oracle\s+Audit\[\d+\]:\s+(?:[^]]+]\s+)?(?:LENGTH:\s+\"(?P<length>\d+)\".*?)?SESSIONID:(?:\[\d+\])?\s+\"(?P<sessionid>\d+)\".*?ENTRYID:(?:\[\d+\])?\s+\"(?P<entryid>\d+)\".*?(?:STATEMENT:(?:\[\d+\])?\s+\"(?P<statement>.*?)\")?.*?USERID:(?:\[\d+\])?\s+\"(?P<userid>.*?)\".*?(?:USERHOST:(?:\[\d+\])\s+"(?:(?P<host_domain>[^\\"]+)\\+)?(?P<userhost>[^"]*)")?\s+(?:TERMINAL:(?:\[\d+\])\s+"(?P<terminal>[^"]*)"\s+)?ACTION:(?:\[\d+\])?\s+\"(?P<action>\d+)\".*?RETURNCODE:(?:\[\d+\])?\s+\"(?P<code>.*?)\".*?(?:COMMENT\$TEXT:(?:\[\d+\])?.*?\"Authenticated\s+by:\s+(?P<auth_by>\S+)(?:\;\s+Client\s+address:\s+\(ADDRESS\=\(PROTOCOL\=tcp\)\(HOST\=(?P<host>\d+\.\d+\.\d+\.\d+)\)\(PORT\=(?P<port>\d+)\)\).*?|"\s+)|OBJ\$CREATOR:(?:\[\d+\])?\s+\"(?P<objcreator>[^"]*)"\s+|OBJ\$NAME:(?:\[\d+\])?\s+\"(?P<objname>[^"]*)"\s+)+OS\$USERID:(?:\[\d+\])?\s+\"(?P<osuserid>[^"]*)"\s*(?:(?!PRIV\$)\S+\s+)*(?:PRIV\$USED:(?:\[\d+\])?\s+"(?P<priv>[^"]*)")?"
date={normalize_date($syslog_date)}
plugin_sid={$action}
device={$userhost}
src_ip={$device}
dst_ip={$userhost}
src_port={$port}
username={$userid}
userdata1={$device}
userdata2={$auth_by}
userdata3={$osuserid}
userdata4={$priv}
userdata5={$objname}
userdata6={$terminal}
userdata7={$sessionid}
userdata8={$entryid}
userdata9={$statement}

[0003 - Oracle: Rule3]
event_type=event
precheck="ACTION"
regexp="(?P<syslog_date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?:Message forwarded from\s+)?(?P<dev>\S*)[^:]*:?\s*(?:info\s+)?Oracle\s+Audit\[\d+\]:\s+(?:[^]]+]\s+)?(?:LENGTH\s:\s+'(?P<length>\d+)'\s+)?ACTION\s+:(?:\[(?:\d+)\])?\s+'\s*(?P<sid>create table|drop table|create user|drop user|CONNECT|connect|alter|ALTER|select|SELECT|BEGIN|begin|declare|DECLARE|[^']*)(?:(?<=table)\s+(?P<table>\S+))?.*?'\s+DATABASE\s+USER:(?:\[\d+\])?\s+'(?P<userdata2>[^']*)'.*?PRIVILEGE\s+:(?:\[\d+\])?\s+'?(?P<username>[^']*)'?.*?CLIENT\s+USER:(?:\[\d+\])?\s+'?(?P<client_user>[^']*)'?.*?CLIENT\s+TERMINAL:(?:\[\d+\])?\s+'?(?P<client_terminal>[^']*)'?.*?STATUS:(?:\[\d+\])?\s+'?(?P<status>[^']*)'?"
date={normalize_date($syslog_date)}
plugin_sid={translate2($sid,$query)}
device={$dev}
src_ip={$dev}
dst_ip={$dev}
username={$username}
userdata1={$status}
userdata2={$dev}
userdata3={$client_terminal}
userdata4={$client_user}
userdata5={$length}
userdata6={$table}
userdata7={$userdata2}

[0004 - Oracle: Rule4]
event_type=event
precheck="LOGOFF"
regexp="(?P<syslog_date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?:Message forwarded from\s+)?(?P<dev>\S*)[^:]*:?\s*(?:info\s+)?Oracle\s+Audit\[\d+\]:\s+(?:[^]]+]\s+)?(?:LENGTH:\s+"(?P<length>\d+)"\s+)?SESSIONID:.*?\"(?P<sessionid>\d+)\".*?ENTRYID:.*?\"(?P<entryid>\S+)\".*?(?:USERID:\[\d+\]\s+"(?P<user>\S+)")?\s+ACTION:.*?\"(?P<action>\S+)\".*?RETURNCODE:.*?\"(?P<code>.*?)\".*?LOGOFF\$PREAD:.*?\"(?P<pread>.*?)\".*?LOGOFF\$LREAD:.*?\"(?P<lread>.*?)\".*?LOGOFF\$LWRITE:.*?\"(?P<write>.*?)\".*?LOGOFF\$DEAD:.*?\"(?P<dead>.*?)\".*?SESSIONCPU:.*?\"(?P<session_cpu>.*?)\".*"
date={normalize_date($syslog_date)}
plugin_sid={$action}
device={$dev}
src_ip={$dev}
dst_ip={$dev}
username={$user}
userdata1={$session_cpu}
userdata2={$length}
userdata3={$sessionid}
userdata4={$entryid}
userdata5={$code}
userdata6={$pread}
userdata7={$lread}
userdata8={$write}
userdata9={$dead}

[0005 - Oracle: Rule5 Generic Event]
event_type=event
regexp=(\S+\s+\d+\s+\d+:\d+:\d+)\s+Oracle\s+Audit\[\d+\]:.*?ACTION\s+:(?:\[\d+\])?\s+'(.*)'.*?DATABASE\s+USER:(?:\[\d+\])?\s+'([^']*)'.*?PRIVILEGE\s+:(?:\[\d+\])?\s+'?([^']*)'?.*?CLIENT\s+USER:(?:\[\d+\])?\s+'?([^']*)'?.*?CLIENT\s+TERMINAL:(?:\[\d+\])?\s+'?([^']*)'?.*?STATUS:(?:\[\d+\])?\s+'?([^']*)'?
date={normalize_date($1)}
plugin_sid=20000000
username={$3}
userdata1={$4}
userdata2={$5}
userdata3={$6}
userdata4={$7}
userdata5={$2}

[0006 - Oracle: Rule6]
event_type=event
regexp=(\S+\s+\d+\s+\d+:\d+:\d+)\s+Oracle\s+Audit\[\d+\]:\s+LENGTH:\s+\"(.*?)\".*?SESSIONID:.*?\"(\d+)\".*?ENTRYID:.*?\"(\S+)\"\s+STATEMENT:.*?\"(\S+)\"\s+USERID:.*?\"(\S+)\"\s+USERHOST:.*?\"(\S+)\"\s+TERMINAL:.*?\"(\S+)\"\s+ACTION:.*?\"(\S+)\"\s+RETURNCODE:.*?\"(\S+)\"\s+COMMENT.TEXT:.*?\"(.*?)\"\s+OS.USERID:.*?\"(\S+).
date={normalize_date($1)}
plugin_sid={$9}
src_ip={$7}
username={$12}
userdata1={$7}
userdata2={$8}
userdata3={$11}

[0007 - Oracle: Rule7]
event_type=event
regexp=(\S+\s+\d+\s+\d+:\d+:\d+)\s+Oracle\s+Audit\[\d+\]:\s+(?:LENGTH:\s+\".*?\".*?)?SESSIONID:.*?\"(\d+)\".*?ENTRYID:.*?\"(\S+)\"\s+STATEMENT:.*?\"(\S+)\"\s+USERID:.*?\"(\S+)\"\s+USERHOST:.*?\"(\S+)\"\s+ACTION:.*?\"(\S+)\"\s+RETURNCODE:.*?\"(\S+)\"\s+OBJ\$NAME:.*?\"(.*?)\"\s+OS\$USERID:.*?\"(\S+).
date={normalize_date($1)}
plugin_sid={$7}
src_ip={$6}
username={$10}
userdata1={$6}
userdata2={$8}
userdata3={$9}

[0008 - Oracle: Rule8]
event_type=event
regexp=(\S+\s+\d+\s+\d+:\d+:\d+)\s+Oracle\s+Audit\[\d+\]:\s+(?:LENGTH:\s+\".*?\".*?)?SESSIONID:.*?\"(\d+)\".*?ENTRYID:.*?\"(\S+)\"\s+STATEMENT:.*?\"(\S+)\"\s+USERID:.*?\"(\S+)\"\s+USERHOST:.*?\"(\S+)\"\s+ACTION:.*?\"(\S+)\"\s+RETURNCODE:\s+\"([^\"]*)\".*?OBJ\$NAME:.*?\"(.*?)\"\s+OS\$USERID:.*?\"(\S+).
date={normalize_date($1)}
plugin_sid={$7}
src_ip={$6}
username={$10}
userdata1={$6}
userdata2={$8}
userdata3={$9}

[0009 - Oracle: Rule9 - Auditon Events]
event_type=event
precheck="auditon"
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>auditon)\(\d+\)\s+-\s+(?P<event>\S+(?:(?!\ssession)\s+\S+)*)\ssession\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$class}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}

[0010 - Oracle: Rule10 - cron-invoke Events]
event_type=event
precheck="cron-invoke"
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>cron-invoke)\s(?P<outcome>\S+)\s+session\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)\s+text\s+(?P<data>\S+(?:(?!\s+text)\s+\S+)*)\s+text\s+(?:(?P<first>\S+(?:(?!\s+\d*>)\s+\S+)*)\s+\d*>+\s*(?P<second>\S+)|(?P<text>\S+))"
date={normalize_date($date)}
plugin_sid={translate($class)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$text}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}
userdata8={$first}
userdata9={$second}

[0011 - Oracle: Rule11 - Login Events]
event_type=event
precheck="login"
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>login)\s+-\s+(?P<event>\S+\s(?:ok|failed))\ssession\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$class}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}

[0011-b - Oracle: Rule11-b - Role Login Events]
event_type=event
precheck="role login"
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>role login (?:ok|failed))\ssession\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)"
date={normalize_date($date)}
plugin_sid={translate($class)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$class}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}

[0012 - Oracle: Rule12 - Logout Events]
event_type=event
precheck="logout"
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>(?:role )?logout)\sok\s+session\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)"
date={normalize_date($date)}
plugin_sid={translate($class)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$class}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}

[0013 - Oracle: Rule13 - Su OK/FAILED Events]
event_type=event
precheck="su "
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>su (?:ok|failed))\s+session\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)\s+text\s+(?P<text>.+)"
date={normalize_date($date)}
plugin_sid={translate($class)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$class}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}
userdata8={$text}

[0014 - Oracle: Rule14 - Su Command Events]
event_type=event
precheck="su:"
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+su:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+'(?P<command>[^']+)'\s(?P<outcome>succeeded|failed)\sfor\s(?P<user>\S+)\son\s(?P<on>\S+)"
date={normalize_date($date)}
plugin_sid={translate($outcome)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$command}
userdata3={$on}

[0015 - Oracle: Rule15 - Audit Notice Events]
event_type=event
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>refresh service instance ok|[^\(]+)(?:\(\d+\))?\s(?P<outcome>\S+)\s+session\s(?P<session>\S+)\sby\s(?P<by>\S+)\sas\s(?P<user>[^:]+):(?P<group>\S+)\sin\s(?P<in>\S+)\sfrom\s(?P<from>\S+)(?:\s*obj\s(?P<obj>\S+)\s)*"
date={normalize_date($date)}
plugin_sid={translate($class)}
device={$device}
src_ip={$device}
username={$user}
userdata1={$level}
userdata2={$class}
userdata3={$session}
userdata4={$by}
userdata5={$in}
userdata6={$from}
userdata7={$group}
userdata8={$outcome}
userdata9={$obj}

[0016 - Oracle: Rule16 - Audit Notice Events (Shorter fortmat)]
event_type=event
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+\d+\s+(?P<level>[^\]]+)\]\s+(?P<class>create or modify configuration object ok|dlmgmt_process_db_onereq)(?:\sin\s(?P<in>\S+)\stext\s(?P<text>\S+)\stext\s(?P<text2>\S+)|:\s+(?:also\s)?read\s\S+\sfrom\s(?P<file>\S+))"
date={normalize_date($date)}
plugin_sid={translate($class)}
device={$device}
src_ip={$device}
filename={$file}
userdata1={$level}
userdata2={$class}
userdata3={$text}
userdata4={$text2}
userdata5={$in}

[0017 - Oracle: Rule17 - New format]
event_type=event
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<event>EVENT-TIME|PLATFORM|SOURCE|EVENT-ID|DESC|AUTO-RESPONSE|IMPACT|REC-ACTION):\s+(?:(?<=EVENT-ID: )(?P<id>\S+)|(?<=PLATFORM: )(?P<platform>[^,]+),\sCSN: (?P<csn>[^,]+),\sHOSTNAME: (?P<hostname>\S+)|FRU\s'(?P<fru>[^']+)')*"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$device}
userdata1={$id}
userdata2={$platform}
userdata3={$csn}
userdata4={$hostname}
userdata5={$fru}


[9998 - Oracle: Generic Rule]
event_type=event
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^:]+:\s+\[ID\s+(?P<id>\d+)\s+(?P<level>[^\]]+)\]\s+(?P<msg>.+)"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
userdata1={$level}
userdata2={$id}
userdata3={$msg}

