# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin pf id:1560 version: 0.0.6
# Last modification: 2017-12-20 13:20
#
# Plugin Selection Info:
# OpenBSD:PF Packet Filter:-
#
# END-HEADER
# Accepted products:
# openbsd - pf -
# Description:
# 
# http://www.openbsd.org/cgi-bin/man.cgi?query=pflogd&sektion=8
# 
#  Copyright (C) 2008 Stephan Buys <sbuys@exponant.com>
# 
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
# 
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
# 
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
# 
#   This plugin works with logs generated as follows:
#   #!/bin/sh
#   PFLOG=/var/log/pflog
#   FILE=/var/log/pflog5min.$(date "+%Y%m%d%H%M")
#   kill -ALRM $(cat /var/run/pflogd.pid)
#   if [ -r $PFLOG ] && [ $(stat -f %z $PFLOG) -gt 24 ]; then
#      mv $PFLOG $FILE
#      kill -HUP $(cat /var/run/pflogd.pid)
#      tcpdump -n -e -s 1024 -r $FILE | logger -t pf -p security.info
#      rm $FILE
#   fi
# 
#
#

[DEFAULT]
plugin_id=1560

[config]
type=detector
enable=yes

source=log
location=/var/log/messages

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
accept=1
pass=1
block=2
request=3
reply=4
unreachport=5
unreach=6
timexceed=7
#   Rule 8
sending retransmit = 8
sending packet = 9
received packet = 10
#   Rule 9
giving up after = 11
peer not responding = 12
establishing = 13
initiating Aggressive Mode = 14
generating = 15
unable to delete = 16
closing expired = 17
sending DELETE for ESP = 18
parsed = 19
no proposal found = 20
configured proposals = 21
received proposals = 22
is initiating a Main Mode = 23
CHILD_SA = 24
received DELETE for ESP = 25
unable to query = 26
closing = 27
maximum = 28
sending DELETE for = 29
scheduling reauthentication in = 30
received = 31
reauthenticating = 32
detected rekeying of = 33
unable to query = 34

#   Rule 14
deleting = 41
established = 42

#   Rule 15
creating rekey = 43
creating delete = 44

#   Rule 17
failed to resolve host = 47
clearing entry = 48
adding entry = 49

echo request = 3

_DEFAULT_ = 20000000


[0001 - pfSense-IPv4]
event_type=event
precheck=",4,"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<hostname>\S+)\s+filterlog:\s+(?P<rule_num>[^,]*),(?P<sub_rule_num>[^,]*),(?:[^,]*),(?:[^,]*),(?P<iface>[^,]*),(?P<reason>[^,]*),(?P<action>[^,]*),(?P<direction>[^,]*),(?P<ip_version>[^,]*),(?:[^,]*),(?:[^,]*),(?P<ttl>[^,]*),(?P<id>[^,]*),(?P<offset>[^,]*),(?:[^,]*),(?:[^,]*),(?P<proto>tcp|igmp|udp),(?P<length>[^,]*),(?P<src_ip>[^,]*),(?P<dst_ip>[^,]*),((?P<src_port>\d+),)?((?P<dst_port>\d+),)?"
date={normalize_date($date)}
plugin_sid={translate($action)}
device={$hostname}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={$proto}
userdata1={$iface}
userdata2={$reason}
userdata3={$direction}
userdata4={$rule_num}
userdata5={$sub_rule_num}
userdata6={$ip_version}
userdata7={$ttl}
userdata8={$offset}
userdata9={$length}

[0002 - pfSense-IPv4 icmp]
event_type=event
precheck="icmp"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<hostname>\S+)\s+filterlog:\s+(?P<rule_num>[^,]*),(?P<sub_rule_num>[^,]*),(?:[^,]*),(?:[^,]*),(?P<iface>[^,]*),(?P<reason>[^,]*),(?P<action>[^,]*),(?P<direction>[^,]*),(?P<ip_version>[^,]*),(?:[^,]*),(?:[^,]*),(?P<ttl>[^,]*),(?:[^,]*),(?P<offset>[^,]*),(?:[^,]*),(?:[^,]*),(?P<proto>icmp),(?P<length>[^,]*),(?P<src_ip>[^,]*),(?P<dst_ip>[^,]*),(?P<icmp_type>request|reply),(?P<icmp_id>[^,]*),(?P<icmp_seq>[^,]*)"
date={normalize_date($date)}
plugin_sid={translate($icmp_type)}
device={$hostname}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol={$proto}
userdata1={$iface}
userdata2={$reason}
userdata3={$action}
userdata4={$direction}
userdata5={$rule_num}
userdata6={$sub_rule_num}
userdata7={$icmp_id}
userdata8={$ttl}
userdata9={$icmp_seq}

[0003 - pfSense-IPv4 icmp]
event_type=event
precheck="icmp"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<hostname>\S+)\s+filterlog:\s+(?P<rule_num>[^,]*),(?P<sub_rule_num>[^,]*),(?P<anchor>[^,]*),(?P<tracket>[^,]*),(?P<iface>[^,]*),(?P<reason>[^,]*),(?P<action>[^,]*),(?P<direction>[^,]*),(?P<ip_version>[^,]*),(?:[^,]*),(?:[^,]*),(?P<ttl>[^,]*),(?:[^,]*),(?P<offset>[^,]*),(?:[^,]*),(?P<proto_id>[^,]*),(?P<proto>icmp),(?P<length>[^,]*),(?P<src_ip>[^,]*),(?P<dst_ip>[^,]*),(?P<icmp_type>unreachport|unreach|timexceed)(?P<data>.*)"
date={normalize_date($date)}
plugin_sid={translate($icmp_type)}
device={$hostname}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol={$proto}
userdata1={$iface}
userdata2={$reason}
userdata3={$action}
userdata4={$direction}
userdata5={$rule_num}
userdata6={$sub_rule_num}
userdata7={$ip_version}
userdata8={$offset}
userdata9={$data}

[0004 - pfSense-IPv6 MLDv2 Reports]
event_type=event
precheck=",ff02::16,"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<hostname>\S+)\s+filterlog:\s+(?P<rule_num>[^,]*),(?P<sub_rule_num>[^,]*),(?P<anchor>[^,]*),(?P<tracket>[^,]*),(?P<iface>[^,]*),(?P<reason>[^,]*),(?P<action>[^,]*),(?P<direction>[^,]*),(?P<ip_version>[^,]*),(?P<class>[^,]*),(?P<flow_label>[^,]*),(?P<hop_limit>[^,]*),Options,(?:[^,]*,){2}(?P<ipv6_local_addr>[^,]*),(?P<ipv6_mldv2_addr>[^,]*)"
date={normalize_date($date)}
plugin_sid={translate($action)}
device={$hostname}
userdata1={$iface}
userdata2={$reason}
userdata3={$ip_version}
userdata4={$direction}
userdata5={$rule_num}
userdata6={$sub_rule_num}
userdata7={$class}
userdata8={$hop_limit}
userdata9={$ipv6_local_addr}

[0005 - pfSense-IPv6]
event_type=event
precheck=",6,"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<hostname>\S+)\s+filterlog:\s+(?P<rule_num>[^,]*),(?P<sub_rule_num>[^,]*),(?P<anchor>[^,]*),(?P<tracket>[^,]*),(?P<iface>[^,]*),(?P<reason>[^,]*),(?P<action>[^,]*),(?P<direction>[^,]*),(?P<ip_version>[^,]*),(?P<class>[^,]*),(?P<flow_label>[^,]*),(?P<hop_limit>[^,]*),(?P<proto>[^,]*),(?P<proto_id>[^,]*)"
date={normalize_date($date)}
plugin_sid={translate($action)}
device={$hostname}
protocol={$proto}
userdata1={$iface}
userdata2={$reason}
userdata3={$ip_version}
userdata4={$direction}
userdata5={$rule_num}
userdata6={$sub_rule_num}
userdata7={$class}
userdata8={$hop_limit}
userdata9={$flow_label}

[0006-pf-icmp_echo]
event_type=event
regexp=(\SYSLOG_DATE)\s+(?P<sensor>\S+)\s+\w+\:\s+(\TIME)\.\d+\s+rule\s+\d+\/\d+\(\w+\)\:\s+(?P<action>\w+)\s+in\s+on\s+(?P<interface>[\w\d]+)\:\s+(?P<src_ip>\IPV4)\s+\>\s+(?P<dst_ip>\IPV4)\:
date={normalize_date($1)}
plugin_sid={translate($action)}
device={$sensor}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol=icmp
interface={$interface}

[0007-pf-noprotocol]
event_type=event
regexp=(\SYSLOG_DATE)\s+(?P<sensor>\S+)\s+\w+\:\s+(\TIME)\.\d+\s+rule\s+\d+\/\d+\(\w+\)\:\s+(?P<action>\w+)\s+in\s+on\s+(?P<interface>[\w\d]+)\:\s+(?P<src_ip>\IPV4)\.(?P<src_port>\d+)\s+\>\s+(?P<dst_ip>\IPV4)\.(?P<dst_port>\d+)\:
date={normalize_date($1)}
plugin_sid={translate($action)}
device={$sensor}
src_ip={$src_ip}
dst_ip={$dst_ip}
dst_port={$dst_port}
src_port={$src_port}
interface={$interface}

[0008 - pfSense - Packet/retransmit event]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+<(?:(?P<con>[^\|>]+)\|)?(?P<con_id>[^\>]+)>\s+(?P<sid>sending retransmit|sending packet|received packet):?\s+(?:from\s+(?P<src_ip>[^]]+)\[(?P<src_port>\d+)\] to\s+(?P<dst_ip>[^]]+)\[(?P<dst_port>\d+)\]\s+\((?P<packet_size>[^)]+)\)|(?P<id>\d+) of request (?P<msg_id>message ID \d+), (?P<sec>seq \d+))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
userdata1={$con}
userdata2={$con_id}
userdata3={$channel}
userdata4={$mode}
userdata5={$packet_size}
userdata6={$id}
userdata7={$msg_id}
userdata8={$sec}

[0009 - pfSense - Con events mega-rule]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+<(?:(?P<con>[^\|>]+)\|)?(?P<con_id>[^\>]+)>\s+(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}) )?(?P<sid>maximum|sending DELETE for|scheduling reauthentication in|received|reauthenticating|detected rekeying of|unable to query|closing|no proposal found|configured proposals|received proposals|is initiating a Main Mode|CHILD_SA|giving up after|peer not responding|establishing|initiating Aggressive Mode|generating|unable to delete|closing expired|received DELETE for ESP|sending DELETE for ESP|parsed)(?:[,\s:]+(?P<usd>\S+(?: retransmits| again \S+| request \d+| response \d+)?)(?: (?P<usd2>con\S+))?(?:\s(?:entry |established )?with SPIs? (?P<spi>[^:\s]+)|\s(?:(?!to)\S+\s)+to (?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}))?)?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$con}
userdata2={$con_id}
userdata3={$channel}
userdata4={$mode}
userdata5={$usd}
userdata6={$usd2}
userdata7={$spi}

[0010 - pfSense - ICMP multiline unreachable port]
event_type=event
precheck="ICMP"
regexp="(?P<syslog_date>\w+\s\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s\S+\s+rule\s(?P<rule>\d+/\d+)\((?P<result>[^)]*)\):\s(?P<action>\w+)\s+(?P<direction>in|out)\s+on\s(?P<interface>[^:]*):\s\(tos\s(?P<tos>\S+),\sttl\s(?P<ttl>\S+),\sid\s(?P<id>\d+),\soffset\s(?P<offset>\S+),\sflags\s\[(?P<flags>\S+)\],\sproto\s(?P<protocol>ICMP)\s\S+, length\s(?P<length>\d+)(?:,\soptions\s\((?P<options>[^)]*)\))?\)\n(?:[^:]+:){3}\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s>\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}):\sICMP \S+\s\w+\sport\s+\d+\s+unreachable,\slength\s\d+\n.*\n(?:[^:]+:){3}\s+(?:\d+\.){4}(?P<src_port>\d+)\s+>\s+(?:\d+\.){4}(?P<dst_port>\d+):\s+(?P<usd1>\d+\+?).*"
date={normalize_date($syslog_date)}
plugin_sid=5
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={$protocol}
userdata1={$rule}
userdata2={$direction}
userdata3={$interface}
userdata4={$tos}
userdata5={$ttl}
userdata6={$id}
userdata7={$options}
userdata8={$flags}
userdata9={$usd1}

[0011 - pfSense - ICMP multiline]
event_type=event
precheck="ICMP"
regexp="(?P<syslog_date>\w+\s\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s\S+\s+rule\s(?P<rule>\d+/\d+)\((?P<result>[^)]*)\):\s(?P<action>\w+)\s+(?P<direction>in|out)\s+on\s(?P<interface>[^:]*):\s\(tos\s(?P<tos>\S+),\sttl\s(?P<ttl>\S+),\sid\s(?P<id>\d+),\soffset\s(?P<offset>\S+),\sflags\s\[(?P<flags>\S+)\],\sproto\s(?P<protocol>ICMP)\s\S+, length\s(?P<length>\d+)(?:,\soptions\s\((?P<options>[^)]*)\))?\)\n(?:[^:]+:){3}\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s>\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}):\sICMP (?P<sid>echo request),.*"
date={normalize_date($syslog_date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol={$protocol}
userdata1={$rule}
userdata2={$direction}
userdata3={$interface}
userdata4={$tos}
userdata5={$ttl}
userdata6={$id}
userdata7={$options}
userdata8={$flags}

[0012 - pfSense - Multiline - Everything else]
event_type=event
#precheck=""
regexp="(?P<syslog_date>\w+\s\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s\S+\s+rule\s(?P<rule>\d+/\d+)\((?P<result>[^)]*)\):\s(?P<action>\w+)\s+(?P<direction>in|out)\s+on\s(?P<interface>[^:]*):\s\(tos\s(?P<tos>\S+),\sttl\s(?P<ttl>\S+),\sid\s(?P<id>\d+),\soffset\s(?P<offset>\S+),\sflags\s\[(?P<flags>\S+)\],\sproto\s(?!ICMP)(?P<protocol>\S+)\s\S+, length\s(?P<length>\d+)(?:,\soptions\s\((?P<options>[^)]*)\))?\)\n(?:[^:]+:){3}\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(?:\.(?P<src_port>\d+))?\s>\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(?:\.(?P<dst_port>\d+))?:\s+.*?(?:Flags\s\[(?P<flags2>\S+)\],.*|(?P<usd2>BOOTP/DHCP),\sRequest from\s(?P<mac>\S+),|.*)"
date={normalize_date($syslog_date)}
plugin_sid={translate($action)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={$protocol}
userdata1={$rule}
userdata2={$direction}
userdata3={$interface}
userdata4={$tos}
userdata5={$ttl}
userdata6={$mac}
userdata7={$options}
userdata8={$flags}
userdata9={$flags2}

[0013 - pfSense - Creating acquire job]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+creating acquire job for policy (?P<ip1>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\S+ === (?P<ip2>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\S+ with reqid {(?P<req_id>\d+)}"
date={normalize_date($date)}
plugin_sid=40
device={$device}
src_ip={$ip1}
userdata1={$ip2}
userdata2={$req_id}
userdata3={$channel}
userdata4={$mode}

[0014 - pfSense - Con event with src&dst ips]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+<(?:(?P<con>[^\|>]+)\|)?(?P<con_id>[^\>]+)>\s+(?:(?P<sid>deleting|established) |(?P<con_mode>\S+)\s+\S+\s+){2}between (?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\[[^]]+\]\.+(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
userdata1={$con}
userdata2={$con_id}
userdata3={$channel}
userdata4={$mode}
userdata5={$con_mode}

[0015 - pfSense - Creating rekey/delete job]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+(?P<sid>creating rekey|creating delete) job for (?P<con_mode>\S+)\s+(?P<usd1>[^/]+)/(?P<usd2>[^/]+)/(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
userdata1={$usd1}
userdata2={$usd2}
userdata3={$channel}
userdata4={$mode}
userdata5={$con_mode}

[0016 - pfSense - Child not found for delete]
event_type=event
precheck="not found for delete"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+(?P<con_mode>\S+)\s+(?P<usd1>[^/]+)/(?P<usd2>[^/]+)/(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}) not found for delete"
date={normalize_date($date)}
plugin_sid=45
device={$device}
src_ip={$src_ip}
userdata1={$usd1}
userdata2={$usd2}
userdata3={$channel}
userdata4={$mode}
userdata5={$con_mode}

[0017 - pfSense - Table entry or host resolv failed]
event_type=event
#precheck=""
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?:#011)*(?P<sid>failed to resolve host|clearing entry|adding entry)\s+(?:(?P<src_ipv6>\w+:\S+|:\S+)|(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+))\s+(?:(?:from|to) table (?P<table>\S+) on host\s+(?P<dst_host>\S+))?"
date={normalize_date($syslog_date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_host}
userdata1={$table}
userdata2={$src_ipv6}

[0030 - pfSense - ignoring acquire]
event_type=event
#precheck=""
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+ignoring acquire, connection attempt pending"
date={normalize_date($date)}
plugin_sid=46
device={$device}
src_ip={$device}
userdata3={$channel}
userdata4={$mode}

[0099 - pf - ##GENERIC-RULE-1##]
event_type=event
regexp=(\SYSLOG_DATE)\s+(?P<sensor>\S+)\s+\w+\:\s+\d+\.*\s*\d*\s+rule\s+\d+\/\d+\(\w+\)\:\s+(?P<action>\w+)\s+in\s+on\s+(?P<interface>[\w\d]+)\:.*?proto\:*\s+(?P<protocol>\w+).*?(?P<src_ip>\IPV4)\.(?P<src_port>\d+)\s+\>\s+(?P<dst_ip>\IPV4)\.(?P<dst_port>\d+):
date={normalize_date($1)}
plugin_sid={translate($action)}
device={$sensor}
src_ip={$src_ip}
dst_ip={$dst_ip}
dst_port={$dst_port}
src_port={$src_port}
protocol={$protocol}
interface={$interface}

[0100 - pf - ##GENERIC-RULE-2##]
event_type=event
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<device>\S+)\s+[^:]+:\s+(?P<channel>\d+)\[(?P<mode>[^]]+)\]\s+"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
userdata3={$channel}
userdata4={$mode}