# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin proofpoint-ps id:1875 version: 0.0.1
# Last modification: 2017-05-30	18:36
#
# Plugin Selection Info:
# Proofpoint:Protection Server:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1875


[config]
type=detector
enable=yes

source=log
location=/var/log/proofpoint-ps.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
#   Rule 2
fail = 2
forged = 3
ok = 4
temp = 5
#   Rule 3
spam = 6
sandbox = 7
access = 8
av = 9
spf = 10
zerohour = 11
#   Rule 6
disconnect = 12
judge = 13
dispose = 14
data = 15
#   Rule 11
attachment = 19
env_from = 32
env_rcpt = 33
helo = 34
msg = 35
release = 36
split = 37
#   Rule 100
mail = 29
reinject = 31
#   Default
_DEFAULT_ = 20000000


#########################
#         RULES         #
#########################

[0001 - Proofpoint-ps - Session: Connect]
event_type=event
precheck="cmd=connect"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=session\s+cmd=(?P<cmd>connect)\s+ip=(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+country=(?P<country>\S+)\s+lip=(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+prot=(?P<src_prot>\w+):(?P<dst_prot>\w+)\s+hops_active=(?P<usd1>\S+)\s+routes=(?P<r1>\S*)\s+notroutes=(?P<r2>\S*)\s+perlwait=(?P<pw>\S+)"
date={normalize_date($syslog_date)}
plugin_sid=1
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol={$src_prot}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$country}
userdata5={$usd1}
userdata6={$r1}
userdata7={$r2}
userdata8={$pw}
userdata9={$dst_prot}

[0002 - Proofpoint-ps - Session: Resolve]
event_type=event
precheck="cmd=resolve"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=session\s+cmd=(?P<cmd>resolve)\s+host=\[?(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\]?\sresolve=(?P<sid>fail|forged|ok|temp)\s+reverse=\[?(?P<reverse>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\S+)\]?\s+routes=(?P<r1>\S*)\s+notroutes=(?P<r2>\S*)"
date={normalize_date($syslog_date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
dst_ip={$dst_ip}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$reverse}
userdata5={$r1}
userdata6={$r2}

[0003 - Proofpoint-ps - Session: Store]
event_type=event
precheck="cmd=store"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=session\s+cmd=(?P<cmd>store)\s+module=(?P<module>spam|sandbox|access|av|spf|zerohour)\s+rule=(?P<rule>\S+)\s+folder="?(?P<folder>.*?)"?\s+pri=(?P<priority>\d+)\s+form=(?P<form>\S+)\s+duration=(?P<duration>\S+)"
date={normalize_date($syslog_date)}
plugin_sid={translate($module)}
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$rule}
userdata5={$folder}
userdata6={$priority}
userdata7={$form}
userdata8={$duration}

[0004 - Proofpoint-ps - Session: Throttle]
event_type=event
precheck="cmd=throttle"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=session\s+cmd=(?P<cmd>throttle)\s+rule=(?P<rule>\S+)\s+ip=(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+rate=(?P<rate>\d+)\s+crate=(?P<crate>\S+)\s+limit=(?P<limit>\d+)"
date={normalize_date($syslog_date)}
plugin_sid=16
device={$device}
src_ip={$src_ip}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$rule}
userdata5={$rate}
userdata6={$crate}
userdata7={$limit}

[0005 - Proofpoint-ps - Session: Headers]
event_type=event
precheck="cmd=headers"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=session\s+cmd=(?P<cmd>headers)\s+(?:hops=(?P<hops>\d+)\s+ip=(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+country=(?P<country>\S+)\s+host=(?P<src_hostname>.*?)\s*)?routes=(?P<r1>\S*)\s+notroutes=(?P<r2>\S*)"
date={normalize_date($syslog_date)}
plugin_sid=17
device={$device}
src_ip={$src_ip}
dst_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$hops}
userdata5={$country}
userdata6={$src_hostname}
userdata7={$r1}
userdata8={$r2}

[0006 - Proofpoint-ps - Session: Rest]
event_type=event
precheck="mod=session"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=session\s+cmd=(?P<cmd>disconnect|judge|dispose|data)\s+(?:module=(?P<module>\S*)\s*|rule=(?P<rule>\S*)\s*|action=(?P<action>\S*)\s*|helo=(?P<helo>\S*)\s*|msgs=(?P<msgs>\d+)\s*|rcpts=(?P<rcpts>\d+)\s*|routes=(?P<r1>\S*)\s*|duration=(?P<duration>\S*)\s*|value="(?P<value>.*)"|suborg=(?P<sub_org>\S*)\s*|elapsed=(?P<elapsed>\S+)\s*|(?:rcpt|from)=(?:(?P<username>[^@]+)@(?P<domain>\S*)|\S*)\s*|rcpt_routes=(?P<rcpt_routes>\S*)\s*)+"
date={normalize_date($syslog_date)}
plugin_sid={translate($cmd)}
device={$device}
src_ip={$device}
username={$username}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$helo}
userdata5={$r1}
userdata6={$domain}
userdata7={$rule}
userdata8={$action}
userdata9={$value}

[0010 - Proofpoint-ps - AV]
event_type=event
precheck="mod=av"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+)?(?:attachment=\d+\s+file="?(?P<file>(?:(?!mod=)[^"\s]+\s*)+)"?\s+)?mod=av\s+(?:type=(?P<type>\S+)\s+)?cmd=(?P<cmd>run|refresh)\s+(?:id=\d+|rule=(?P<rule>\S+))\s+(?:name=(?P<name>\S+)\s+)?vendor=(?P<vendor>\S+)\s+(?:version="vendor=\S+\s+)?engine=(?P<engine>[^:]+):,*\s+definitions=(?P<definition_date>[^:]+):,*\s+signatures=(?P<signatures>\d+)(?:"\s+duration=(?P<duration>\S+))?"
date={normalize_date($syslog_date)}
plugin_sid=18
device={$device}
src_ip={$device}
filename={$file}
userdata1={$severity}
userdata2={$session}
userdata3={$name}
userdata4={$type}
userdata5={$cmd}
userdata6={$rule}
userdata7={$vendor}
userdata8={$engine}
userdata9={$signatures}

[0011 - Proofpoint-ps - Mail]
event_type=event
precheck="mod=mail"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=mail\s+cmd=(?P<cmd>\S+)\s+(?:o?r(?:cpts?)?=(?P<recept_number>\S+)\s*|(?:value|ofrom)=(?:(?P<username>[^@\s]+)@(?P<domain>\S+)|\S*)\s*|id=(?P<id>\S*)\s+|file="?(?P<filename>.*?)"?\s+mime=\S+\s+|type=(?P<type>\S+)\s+|qid=(?P<qid>\S+)\s+|module=(?P<module>\S*)\s+|rule=(?P<rule>\S*)\s+|action=(?P<action>\S+)\s+|verified=(?P<verified>\d+)\s+|omime=\S+\s+|attachments=(?P<attachs>\d+)\s+|oext=\S+\s+|tls=\S*\s+|(?:not)?routes=\S*\s*|corrupted=(?P<corrupted>\d+)\s+|protected=(?P<protected>\d+)\s+|size=(?P<size>\d+)\s+|virtual\S+\s+|a=\S+|guid=\S+\s+|hdr_mid=\S*\s+|(?:hops-)?ip=(?P<src_ip>\S+)\s*|(?:hops-)?host=(?P<src_hostname>\S+)\s+|subject="[^"]+"|status=(?P<status>\S+)\s+)+"
date={normalize_date($syslog_date)}
plugin_sid={translate($cmd)}
device={$device}
src_ip={$src_ip}
username={$username}
filename={$filename}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$domain}
userdata5={$cmd}
userdata6={$type}
userdata7={$src_hostname}
userdata8={$rule}
userdata9={$size}


[0012 - Proofpoint-ps - Spam]
event_type=event
precheck="mod=spam"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+)?mod=spam\s+(?:cmd=(?P<cmd>\S+)\s+|clx_result=(?P<clx_result>\S*)\s+|(?:clx_)?score=(?P<clx_score>\d+)\s+|rule=(?P<rule>\S*)\s+|action=(?P<action>\S+)\s+|policy=(?P<policy>\S+)\s+|priority_?score=(?P<priority>\d+)\s+|clx_result_group=(?P<clx_result_group>\d+)\s+|clx_shade=(?P<clx_shade>\S+)\s+|num_domains=(?P<num_domains>\d+)\s+|num_domains_to_lookup=(?P<no_domains_lookup>\d+)\s*|impostor_score=(?P<impostor_score>\d+)\s+|subject="[^"]+"|status=(?P<status>\S+)\s*|type=(?P<type>\S+)\s+|id=\d+\s+|engine=\S+\s+|\w+score=\d+\s+|classifier=(?P<class>\S+)\s+|adjust=\d+\s+|reason=(?P<reason>\S+)\s+|total_uri_count=\d+\s+|uris_excluded_from_report_info=\d+)+"
date={normalize_date($syslog_date)}
plugin_sid=20
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$action}
userdata5={$rule}
userdata6={$policy}
userdata7={$priority}
userdata8={$class}
userdata9={$reason}

[0013 - Proofpoint-ps - CVT]
event_type=event
precheck="mod=cvt"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+)?mod=cvt\s+cmd=(?P<dmc>\S+)\s+cset=(?P<cset>\S+)\s+name="?(?P<name>(?:(?!mod=)[^"\s]+\s*)+)"?\s+status=(?P<status>\S+)\s+err=(?P<err>\S*)"
date={normalize_date($syslog_date)}
plugin_sid=21
device={$device}
src_ip={$device}
filename={$name}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$dmc}
userdata5={$cset}
userdata6={$status}
userdata7={$err}

[0014 - Proofpoint-ps - Zerohour]
event_type=event
precheck="mod=zerohour"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+)?mod=zerohour\s+(?:cmd=(?P<cmd>\S+)\s+|type=(?P<type>\S+)\s+|name="(?P<name>[^"]*)"\s+|id=(?P<id>\S+)\s+|init_time=(?P<init>\S+)\s+|init_virusthreat=(?P<ivt>\S+)\s+|virusthreat=(?P<vt>\S+)\s+|virusthreatid="(?P<vtid>[^"]+)"\s+|duration=(?P<duration>\S+)|rule=(?P<rule>\S+)\s+|count=(?P<count>\S+)\s+|version=(?P<version>\S+))+"
date={normalize_date($syslog_date)}
plugin_sid=22
device={$device}
src_ip={$device}
filename={$name}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$type}
userdata5={$id}
userdata6={$count}
userdata7={$ivt}
userdata8={$vtid}
userdata9={$rule}

[0015 - Proofpoint-ps - Access]
event_type=event
precheck="mod=access"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?)?(?:mod=access\s+|cmd=(?P<cmd>\S+)\s+|rule=(?P<rule>\S+)\s+|type=(?P<type>\S+)\s+|id=(?P<id>\S+)\s+|action=(?P<action>\S+)\s+|dict=(?P<dict>\S+)\s+|file=(?P<filename>\S+)\s*|duration=(?P<duration>\S+)|attachment=\S+\s+)+"
date={normalize_date($syslog_date)}
plugin_sid=23
device={$device}
src_ip={$device}
filename={$filename}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$cmd}
userdata5={$rule}
userdata6={$type}
userdata7={$action}
userdata8={$dict}
userdata9={$duration}

[0016 - Proofpoint-ps - DNS]
event_type=event
precheck="mod=dns"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+)?mod=dns\s+server=(?P<src_ip>\S+)\s+elapsed=(?P<elapsed>\S+)\s+avgtime=(?P<avg_time>\S+)\s+qname=(?P<qname>\S+)\s+qtype=(?P<qtype>\d+)"
date={normalize_date($syslog_date)}
plugin_sid=24
device={$device}
src_ip={$src_ip}
dst_ip={$qname}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$elapsed}
userdata5={$avg_time}
userdata6={$qtype}

[0017 - Proofpoint-ps - PDR]
event_type=event
precheck="mod=pdr"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?mod=pdr\s+(?:cmd=(?P<cmd>\S+)\s+|rule=(?P<rule>\S+)\s+|ttl=(?P<ttl>\S+)\s+|reply="(?P<reply>(?:\S+\s*)+)(?!\\")"\s*|duration=(?P<duration>\S+)|cached="(?P<cached>[^"]+)"$)+"
date={normalize_date($syslog_date)}
plugin_sid=25
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$rule}
userdata5={$cmd}
userdata6={$ttl}
userdata7={$reply}
userdata8={$cached}
userdata9={$duration}


[0018 - Proofpoint-ps - URLDefense]
event_type=event
precheck="mod=urldefense"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+(?:mod=urldefense\s+|cmd=(?P<cmd>\S+)\s+|attachment=(?P<attach_no>\d+)\s+|file=(?P<file>\S+)\s+|action=(?P<action>\S+)\s*|id=(?P<id>\d+)\s+|o?mime(?:type)?=\S+\s+|type=(?P<type>\S+)\s+|oext=\S+\s+|msg="(?P<msg>[^"]+)"\s+|corrupted=\d+\s+|protected=\d+\s+|size=(?P<size>\d+)\s+|virtual=\d+\s+|uri=(?:https?://)?(?P<fqdn>[^\s/]+)\S+\s*|sha256=(?P<sha>\S+)\s+)+"
date={normalize_date($syslog_date)}
plugin_sid=26
device={$device}
src_ip={$device}
filename={$file}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$id}
userdata5={$type}
userdata6={$msg}
userdata7={$size}
userdata8={$sha}
userdata9={$fqdn}

[0019 - Proofpoint-ps - SPF]
event_type=event
precheck="mod=spf"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+mod=spf\s+(?:cmd=(?P<cmd>\S+)\s+|record="v=(?P<v>\S+)[^"]+"\s*|type=(?P<type>\S+)\s+|rule=(?P<rule>\S+)\s+|dnsid=(?P<dnsid>\d+)\s+|result=(?P<result>\S+)\s*|duration=(?P<duration>\S+)|status="(?P<status>[^"]+)"\s+|query=(?P<query>\S+)\s+|dnsrcode="(?P<dnsr_code>[^"]+)")+"
date={normalize_date($syslog_date)}
plugin_sid=27
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$status}
userdata4={$cmd}
userdata5={$v}
userdata6={$type}
userdata7={$rule}
userdata8={$dnsr_code}
userdata9={$result}

[0020 - Proofpoint-ps - Sandbox]
event_type=event
precheck="mod=sandbox"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+s=(?P<session>\S+)\s+m=\d+\s+x=(?P<x>\S+)\s+(?:mod=sandbox\s+|cmd=(?P<cmd>\S+)\s+|attachment=(?P<attach_no>\S+)\s+|file="?(?P<file>(?:(?!mod=)[^"\s]+\s*)+)"?\s+|action=(?P<action>\S+)\s*|age=\d+\s+|rule=(?P<rule>\S+)\s+|policy=(?P<policy>\S+)\s+|protected=\d+\s+|size=(?P<size>\d+)\s+|virtual=\d+\s+|sha256=(?P<sha>\S+)\s+|duration=(?P<duration>\S+)|tap_result=(?P<tap_result>\S+)\s+|upload_enabled=\d+\s*|scan_eligible=\d+\s*|reason="(?P<reason>[^"]+)"|prescan=(?P<prescan>\S+)\s*)+"
date={normalize_date($syslog_date)}
plugin_sid=28
device={$device}
src_ip={$device}
filename={$file}
userdata1={$severity}
userdata2={$session}
userdata3={$tap_result}
userdata4={$action}
userdata5={$rule}
userdata6={$policy}
userdata7={$sha}
userdata8={$reason}
userdata9={$prescan}

[0100 - Proofpoint-ps - Profile]
event_type=event
precheck="profile="
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?)?cmd=(?P<cmd>\S+)\s+profile=(?P<sid>mail|reinject) qid=(?P<quid>\S+)\s+rcpts=(?P<rcpts>\S+)"
date={normalize_date($syslog_date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$cmd}
userdata5={$quid}
userdata6={$rcpts}

[0101 - Proofpoint-ps - Rest response]
event_type=event
precheck="restquery returned a response"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?)?status="restquery returned a response" restquery_stage=(?P<res_stage>\S+)"
date={normalize_date($syslog_date)}
plugin_sid=30
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}
userdata4={$res_stage}

# Filter / Service / smtpsrv / mimelint -> generic
[9000 - Proofpoint-ps - Generic]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<severity>\w+)\s+(?:s=(?P<session>\S+)\s+(?:m=\d+\s+x=(?P<x>\S+)\s+)?)?mod=(?:filter|service|smtpsrv|mimelint)"
date={normalize_date($syslog_date)}
plugin_sid=20000000
device={$device}
src_ip={$device}
userdata1={$severity}
userdata2={$session}
userdata3={$x}


[9999 - Proofpoint-ps - Super Generic]
event_type=event
#precheck=
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+.*"
date={normalize_date($syslog_date)}
plugin_sid=20000000
device={$device}
src_ip={$device}