lienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin proxmox id:91129 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# proxmox:-
#
# END-HEADER
#
# Description:
#   proxmox
#
#
#
#
 
[DEFAULT]
plugin_id=91129
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/proxmox.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# Nov 26 10:44:19 pardus vzdump[206393]: ERROR: Backup of VM 124 failed - volume 'ISO:iso/lsgs-2.1.1-90-a.iso' does not exist
# Nov 26 10:44:26 pardus vzdump[206393]: ERROR: Backup of VM 125 failed - vma_co_write write error - Broken pipe

[0001 - proxmox-Error]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?):\sERROR:\s(?P<msg>.*?)$"
date={normalize_date($date)}
device={$device}
plugin_sid=1
userdata1=MSG: {$msg}
