# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin removable-storage id:91135 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# removable-storage:-
#
# END-HEADER
#
# Description:
#   removable-storage
#
#
#
#
 
[DEFAULT]
plugin_id=91135
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/windowslogs.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

#Dec  6 00:02:27 guzelhost WindowsLogs Dec  6 00:02:26 guzeladress.guzel MSWinEventLog#0111#011Security#01176737#011Thu Dec 06 00:02:26 2018#0114663#011Microsoft-Windows-Security-Auditing#011N/A#011N/A#011Success Audit#011guzeladress.guzel#011Removable Storage#011#011An attempt was made to access an object.    Subject:   Security ID:  S-1-5-18   Account Name:  guzeluser$   Account Domain:  guzeldomain   Logon ID:  0x3E7    Object:   Object Server:  Security   Object Type:  File   Object Name:  G:\process\dosyam.dos   Handle ID:  0x11c4   Resource Attributes:     Process Information:   Process ID:  0x140   Process Name:  G:\process.exe    Access Request Information:   Accesses:  ReadData (or ListDirectory)         Access Mask:  0x1#011931982599
#Dec  6 00:02:27 guzelhost WindowsLogs Dec  6 00:02:26 guzeladress.guzel MSWinEventLog#0111#011Security#01176738#011Thu Dec 06 00:02:26 2018#0114663#011Microsoft-Windows-Security-Auditing#011N/A#011N/A#011Success Audit#011guzeladress.guzel#011Removable Storage#011#011An attempt was made to access an object.    Subject:   Security ID:  S-1-5-18   Account Name:  guzeluser$   Account Domain:  guzeldomain   Logon ID:  0x3E7    Object:   Object Server:  Security   Object Type:  File   Object Name:  G:\process\dosyam   Handle ID:  0x720   Resource Attributes:     Process Information:   Process ID:  0x24e4   Process Name:  G:\process\process.exe    Access Request Information:   Accesses:  ReadData (or ListDirectory)         Access Mask:  0x1#011931982600

[0001 - removable-storage]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s.*?\s(?P<sensor>.*)?\s(?P<date>\w+\s+\d+\s\d+:\d+:\d+)\s(?P<device>.*?)\sMSWinEventLog\#011\d*\#011\w*\#011\d*\#011\w+\s\w+\s+\d+\s\d+:\d+:\d+\s\d{4}\#0114663\#011.*?Account\sName\:\s+(?P<account>.*?)\$\s+Account\sDomain\:\s+(?P<domain>.*?)\s+.*?Object\sName\:\s+(?P<object_name>.*?)\s+.*Process\sName\:\s+(?P<process_name>.*?)\s+.*$"
date={normalize_date($date)}
device={resolv($device)}
plugin_sid=2
userdata1= account: {$account}
userdata2= domain: {$domain}
userdata3= object_name: {$object_name}
userdata4= process_name: {$process_name}
