# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin sudo id:4005 version: 0.0.6
# Last modification: 2018-02-19 9:00
#
# Plugin Selection Info:
# Sudo:Sudo:-
#
# END-HEADER
# Accepted products:
# todd_miller - sudo 1.8.6p6
# todd_miller - sudo 1.8.6p7
# Description:
# 
#  Sudo allows users to run programs with the security privileges of another user 
#  (normally the system's superuser) in a secure manner
#              
# URL: http://www.sudo.ws
#
#

[DEFAULT]
plugin_id=4005

[config]
type=detector
enable=yes

source=log
location=/var/log/auth.log

create_file=false

process=
start=no   
stop=no
startup=
shutdown=

[translation]
FAILED=1
Successful=2
opened=5
closed=6

_DEFAULT_ = 20000000


[0001 - sudo - Session opened/closed]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<dst>\S+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>\S+)\s*:\s*session (?P<status>closed|opened) for user root(?: by (?P<userdst>[^\(]+)(?:\(uid=(?P<uid>\d+)\))?)?"
date={normalize_date($date)}
plugin_sid={translate($status)}
device={$dst}
dst_ip={$dst}
src_ip={$dst}
username={$userdst}
userdata1={$uid}


[0002 - sudo - Authentication failure]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<dst>\S+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>\S+)\s*:\s*authentication failure; logname=(?P<logname>\S+) uid=1000 euid=0 tty=/dev/pts/1 ruser=(?P<realuser>\S+).*user=(?P<user2>\S+)"
date={normalize_date($date)}
plugin_sid=7
device={$dst}
dst_ip={$dst}
src_ip={$dst}
username={$user2}
userdata1={$logname}
userdata2={$realuser}


[0003 - sudo - Command not allowed]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<dst>\S+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>\S+)\s+:\s+command not allowed.*TTY=(?P<tty>\S+)\s+;.*PWD=(?P<pwd>\S+).*USER=(?P<user2>\S+).*COMMAND=(?P<command>\S+)"
date={normalize_date($date)}
plugin_sid=8
dst_ip={$dst}
src_ip={$dst}
username={$user}
userdata1={$pwd}
userdata2={$command}
userdata3={$user2}
device={$dst}

[0004 - sudo - User not in sudoers]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<dst>\S+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>\S+).*?user NOT in sudoers.*?TTY=(?P<tty>\S+)\s*;.*?PWD=(?P<pwd>\S+).*?USER=(?P<user2>\S+).*?COMMAND=(?P<command>.*)"
date={normalize_date($date)}
plugin_sid=4
device={$dst}
dst_ip={$dst}
src_ip={$dst}
username={$user}
userdata1={$pwd}
userdata2={$command}
userdata3={$user2}


[0005 - sudo - Incorrect password attempts]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<dst>\S+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>\S+)\s+:\s+(?P<nattempts>\d+) incorrect password attempts.*TTY=(?P<tty>\S+)\s+;.*PWD=(?P<pwd>\S+).*USER=(?P<user2>\S+).*COMMAND=(?P<command>\S+)"
date={normalize_date($date)}
plugin_sid=9
device={$dst}
dst_ip={$dst}
src_ip={$dst}
username={$user}
userdata1={$pwd}
userdata2={$command}
userdata3={$user2}
userdata4={$nattempts}


[0006 - AVAPI sudo - Command executed]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<dst>\S+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>avapi|avserver|www\-data).*TTY=(?P<tty>\S+).*PWD=(?P<pwd>\S+).*USER=(?P<user2>\S+).*COMMAND=(?P<command>.*)"
date={normalize_date($date)}
plugin_sid=1000003
device={$dst}
src_ip={$dst}
dst_ip={$dst}
username={$user}
userdata1={$user2}
userdata2={$pwd}
userdata3={$command}


[0007 - sudo - Command executed]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?:Message forwarded from )?(?P<dst>[^:\s]+).*?sudo\s*(?:<\w+>|\[\d+\])?:\s+(?P<user>\S+).*TTY=(?P<tty>\S+).*PWD=(?P<pwd>\S+).*USER=(?P<user2>\S+).*COMMAND=(?P<command>.*)"
date={normalize_date($date)}
plugin_sid=3
device={$dst}
dst_ip={$dst}
src_ip={$dst}
username={$user}
userdata1={$user2}
userdata2={$pwd}
userdata3={$command}

