# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin suricata-eve id:1001 version: 0.0.2
# Last modification: 2018-05-07 08:30
#
# Plugin Selection Info:
# OISF:Suricata:EveJSON
#
# END-HEADER
#
# Description:
# 
#
#

[DEFAULT]
plugin_id=1001


[config]
type=detector
enable=yes

source=log
location=/var/log/suricata-eve.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=


[translation]
query = 20
answer = 21

_DEFAULT_ = 20000000


[0001 - Suricata-eve: alert]
event_type=event
precheck="alert"
regexp="(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s{"timestamp":"(?P<date>.*?\.)[^"]*",(?:"flow_id":[^"]*)?(?:"in_iface":"(?P<in_iface>[^"]*)")?,"event_type":"(?P<event_type>[^"]*)","src_ip":"(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<src_ipv6>[^"]*))",(?:"src_port":(?P<src_port>\d+),)?"dest_ip":"(?:(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<dst_ipv6>[^"]*))",(?:"dest_port":(?P<dst_port>\d+),)?"proto":"(?P<protocol>[^"]*)",(?:"icmp_type":(?P<icmp_type>\d+),"icmp_code":(?P<icmp_code>\d+),)?(?:"tx_id":\d+,)?"alert":{"action":"(?P<action>[^"]*)","gid":(?P<gid>\d+),"signature_id":(?P<signature_id>\d+),"rev":(?P<rev>\d+),"signature":"(?P<signature>[^"]*)","category":"(?P<category>[^"]*)","severity":(?P<severity>\d+)}"
date={normalize_date($date)}
plugin_sid={$signature_id}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={normalize_protocol($protocol)}
userdata1={$action}
userdata2={$signature}
userdata3={$rev}
userdata4={$in_iface}
userdata5={$severity}
userdata6={$category}
userdata7={$signature_id}
userdata8={$icmp_type}
userdata9={$icmp_code}


[0002 - Suricata-eve:  dns]
event_type=event
precheck="dns"
regexp="(?:(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s)?{"timestamp":"(?P<date>.*?\.)[^"]*","flow_id":[^"]*(?:"in_iface":"(?P<in_iface>[^"]*)",)?"event_type":"dns","src_ip":"(?P<src_ip>[^"]*)","src_port":(?P<src_port>\d+),"dest_ip":"(?P<dst_ip>[^"]*)","dest_port":(?P<dst_port>\d+),"proto":"(?P<protocol>[^"]*)","dns":{"type":"(?P<dns_type>[^"]*)","id":(?P<id>\d+)(?:,"rcode":"(?P<rcode>[^"]*)")?(?:,"rrname":"(?P<rrname>[^"]*)")?(?:,"rrtype":"(?P<rrtype>[^"]*)")?(?:,"tx_id":(?P<tx_id>\d+)|,"ttl":(?P<ttl>\d+))?(?:,"rdata":"(?P<rdata>[^"]+)?")?"
date={normalize_date($date)}
plugin_sid={translate($dns_type)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={normalize_protocol($protocol)}
userdata1={$dns_type}
userdata2={$id}
userdata3={$rcode}
userdata4={$in_iface}
userdata5={$rrname}
userdata6={$rrtype}
userdata7={$ttl}
userdata8={$rdata}

[0003 - Suricata-eve:  fileinfo]
event_type=event
precheck="fileinfo"
regexp="(?:(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s)?{"timestamp":"(?P<date>.*?\.)[^"]*","flow_id":\d+,(?:"in_iface":"(?P<in_iface>[^"]*)",)?"event_type":"fileinfo","src_ip":"(?P<src_ip>[^"]*)","src_port":(?P<src_port>\d+),"dest_ip":"(?P<dst_ip>[^"]*)","dest_port":(?P<dst_port>\d+),"proto":"(?P<protocol>[^"]*)",(?:"tx_id":(?P<tx_id>\d+),)?(?:"http":{"hostname":"(?P<hostname>[^"]*)","url":"(?P<url>[^"]*)|http_user_agent":"(?P<browser>[^"]*)|http_content_type":"(?P<http_content_type>[^"]*)|http_refer":"(?P<http_refer>[^"]*)|http_method":"(?P<method>[^"]*)|protocol":"(?P<http_protocol>[^"]*)|status":(?P<http_response_code>\d+)|length":(?P<length>\d+)|redirect":"(?P<redirect>[^"]*)|","|,")*(?:},|"app_proto":"(?P<app_proto>[^"]*)|fileinfo":{"filename":"(?P<filename>[^"]*)|state":"(?P<state>[^"]*)|stored":(?P<stored>true|false)|size":(?P<file_size>\d+)|","|,")*"
date={normalize_date($date)}
plugin_sid=22
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={normalize_protocol($protocol)}
filename={$filename}
userdata1={$hostname}
userdata2={$http_content_type}
userdata3={$method}
userdata4={$in_iface}
userdata5={$http_response_code}
userdata6={$state}
userdata7={$stored}

[0004 - Suricata-eve:  ssh]
event_type=event
precheck="ssh"
regexp="(?:(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s)?{"timestamp":"(?P<date>.*?\.)[^"]*","flow_id":[^"]*"in_iface":"(?P<in_iface>[^"]*)","event_type":"ssh","src_ip":"(?P<src_ip>[^"]*)","src_port":(?P<src_port>\d+),"dest_ip":"(?P<dst_ip>[^"]*)","dest_port":(?P<dst_port>\d+),"proto":"(?P<protocol>[^"]*)","ssh":{"client":{"proto_version":"(?P<client_proto_version>[^"]*)","software_version":"(?P<client_software_version>[^"]*)"},"server":{"proto_version":"(?P<server_proto_version>[^"]*)","software_version":"(?P<server_software_version>[^"]*)"}"
date={normalize_date($date)}
plugin_sid=23
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={normalize_protocol($protocol)}
userdata1={$client_proto_version}
userdata2={$client_software_version}
userdata3={$server_proto_version}
userdata4={$in_iface}
userdata5={$server_software_version}

[0005 - Suricata-eve:  tls]
event_type=event
precheck="tls"
regexp="(?:(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s)?{"timestamp":"(?P<date>.*?\.)[^"]*","flow_id":[^"]*"in_iface":"(?P<in_iface>[^"]*)","event_type":"tls","src_ip":"(?P<src_ip>[^"]*)","src_port":(?P<src_port>\d+),"dest_ip":"(?P<dst_ip>[^"]*)","dest_port":(?P<dst_port>\d+),"proto":"(?P<protocol>[^"]*)","tls":{"subject":".*?CN=(?P<cn>[^"]*)","issuerdn":"[^"]*"(?:,"fingerprint":"(?P<fingerprint>[^"]*)",(?:"sni":"(?P<url>[^"]*)",)?"version":"(?P<prot_version>[^"]*)")?"
date={normalize_date($date)}
plugin_sid=24
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={normalize_protocol($protocol)}
userdata1={$cn}
userdata2={$prot_version}
userdata3={$url}
userdata4={$in_iface}
userdata5={$fingerprint}

[0006 - Suricata-eve:  http]
event_type=event
precheck="http"
regexp="(?:(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s)?{"timestamp":"(?P<date>.*?\.)[^"]*","flow_id":\d+,(?:"in_iface":"(?P<in_iface>[^"]*)",)?"event_type":"http","src_ip":"(?P<src_ip>[^"]*)","src_port":(?P<src_port>\d+),"dest_ip":"(?P<dst_ip>[^"]*)","dest_port":(?P<dst_port>\d+),"proto":"(?P<protocol>[^"]*)",(?:"tx_id":(?P<tx_id>\d+),)?"http":{(?:"(?:"hostname":"(?P<hostname>[^"]*)","url":"(?P<url>[^"]*))?(?:http_user_agent":"(?P<browser>[^"]*)|http_content_type":"(?P<http_content_type>[^"]*)|http_refer":"(?P<http_refer>[^"]*)|http_method":"(?P<method>[^"]*)|protocol":"(?P<http_protocol>[^"]*)|status":(?P<http_response_code>\d+)|length":(?P<length>\d+)|redirect":"(?P<redirect>[^"]*)|","|,")*)?"
date={normalize_date($date)}
plugin_sid=25
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={normalize_protocol($protocol)}
userdata1={$hostname}
userdata2={$http_content_type}
userdata3={$method}
userdata4={$in_iface}
userdata5={$http_response_code}
userdata6={$redirect}
userdata7={$length}

[9999 - Suricata-eve:  Generic]
event_type=event
#precheck=""
regexp="(?P<sys_date>\w+\s\d+\s\d+:\d+:\d+)\s*(?P<device>\S+)\ssuricata\S+:\s.*"
date={normalize_date($sys_date)}
plugin_sid=20000000
device={$device}
src_ip={$device}