# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin sysmon-nxlog id:1904 version: 0.0.5
# Last modification: 2018-09-17	09:15
#
# Plugin Selection Info:
# Microsoft:Sysmon:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1904


[config]
type=detector
enable=yes

source=log
location=/var/log/sysmon-nxlog.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=



#########################
#         RULES         #
#########################

[0001 - Sysmon-nxlog - Sysmon rule]
event_type=event
precheck="SourceIp"
regexp="^(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) \S+ SYSMON-NXLOG (?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2});"(?P<event_type>\w+)";"(?P<severity>\w+)";"(?P<channel>[^"]+)";"(?:-|(?P<hostname>[^"]*))";(?P<event_id>\d+);"(?P<source_name>[^"]+)";"(?P<account_name>[^"]*)";"(?P<account_type>[^"]*)";"(?P<domain>[^"]*)";"[^:]+:\s+(?:UtcTime:\s+(?P<sysmon_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+\s+|ProcessGuid:\s+(?P<process_guid>\S+)\s+|ProcessId:\s+(?P<process_id>\d+)\s+|Image:\s+(?P<image>(?:\w:\\\\[^\.]+)?\S+)[\s"]+|User: (?P<sysmon_domain>[^\\]+)\\\\(?P<sysmon_username>(?:(?!\w+:)\S+\s+)+)\s+|Protocol: (?P<protocol>\S+)\s+|TargetFilename:\s+(?P<filename>.*?)\s+CreationUtcTime:\s+(?P<creation_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+\s+PreviousCreationUtcTime:\s+(?P<previous_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+|Initiated:\s+(?P<initiated>true|false)\s+|SourceIsIpv6:\s+(?P<is_ipv6>true|false)\s+|SourceIp:\s+(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<src_ipv6>\S+))\s+|SourceHostname:\s\S*\s+|SourcePort:\s+(?P<src_port>\d+)\s+SourcePortName:\s\S*\s+|DestinationIsIpv6:\s+(?P<is_dst_ipv6>true|false)\s+|DestinationIp:\s+(?:(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<dst_ipv6>\S+))\s+|DestinationHostname:\s\S*\s+|DestinationPort:\s+(?P<dst_port>\d+)\s+DestinationPortName:\s\S*|RuleName:\s(?P<rule_name>\S*(?:(?!\sUtc)\s\S*)*)\s+|CommandLine:\s+.*?CurrentDirectory:\s+\w:(?:(?!\w+:)\S+\s+)+|LogonGuid:\s+(?P<logon_guid>\S+)\s*|(?!Task:)\w+:\s(?:(?!$|\w+:)\S+\s+)*)+(?:\s*Task:\s(?P<task>\S+)?\s*Category:\s(?P<cat>\S+(?:(?!\s\w+:)\s\S+)*)?\s*Keywords:\s(?P<key>\S+(?:(?!\s\w+:)\s\S+)*)?\s*UserID:\s(?P<userid>\S+(?:(?!\s\w+:)\s\S+)*)?\s*Severity:\s(?P<sev>\S+)?\s*ProviderGuid:\s(?P<prov_id>\S+(?:(?!\s\w+:)\s\S+)*)?\s*Version:\s+(?P<version>\S+)?\s*OpcodeValue:\s\S*\s*Opcode:\s(?P<opcode>\S+(?:(?!\s\w+:)\s\S+)*)?\s*ActivityID:\s(?P<act_id>\S+)?\s*RelatedActivityID:\s(?P<related_id>\S+(?:(?!\s\w+:)\s\S+)*)?\s*ProcessID:\s(?P<process>\S+)?\s*ThreadID:\s(?P<thread>\S+)?\s*RecordNumber:\s(?P<record>\S+)?)?"
date={normalize_date($date)}
plugin_sid={$event_id}
device={$hostname}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
username={$sysmon_username}
protocol={$protocol}
filename={$filename}
userdata1={$image}
userdata2={$process_guid}
userdata3={$process_id}
userdata4={$logon_guid}
userdata5={$src_ipv6}
userdata6={$dst_ipv6}
userdata7={$sysmon_domain}
userdata8={$creation_date}
userdata9={$previous_date}

[0002 - Sysmon-nxlog - Sysmon rule without Source/DestinationIp and with ParentImage]
event_type=event
precheck="ParentImage:"
regexp="^(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) \S+ SYSMON-NXLOG (?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2});"(?P<event_type>\w+)";"(?P<severity>\w+)";"(?P<channel>[^"]+)";"(?:-|(?P<hostname>[^"]*))";(?P<event_id>\d+);"(?P<source_name>[^"]+)";"(?P<account_name>[^"]*)";"(?P<account_type>[^"]*)";"(?P<domain>[^"]*)";"[^:]+:\s+(?:UtcTime:\s+(?P<sysmon_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+\s+|ProcessGuid:\s+(?P<process_guid>\S+)\s+|ProcessId:\s+(?P<process_id>\d+)\s+|Image:\s+(?P<image>(?:\w:\\\\[^\.]+)?\S+)[\s"]+|User: (?P<sysmon_domain>[^\\]+)\\\\(?P<sysmon_username>\S+(?:(?!\s\w+:)\s\S+)*)\s+|FileVersion:\s+\S+(?:(?!\s+\w+:)\s\S+)*\s+|Description:\s\S+(?:(?!\s+\w+:)\s\S+)*\s+|Product:\s\S+(?:(?!\s+\w+:)\s\S+)*\s+|Company:\s\S+(?:(?!\s+\w+:)\s\S+)*\s+|CommandLine:\s(?P<command_line>\S+(?:(?!\s+\w+:)\s+\S+)*)\s+|CurrentDirectory:\s\S+(?:(?!\s+\w+:)\s\S+)*\s+|LogonGuid:\s(?P<logon_guid>\S+(?:(?!\s+\w+:)\s\S+)*)\s+|ParentImage:\s(?P<parent_image>\S+(?:(?!\s+\w+:)\s\S+)*)\s+|\w+:\s\S+(?:(?!\s+\w+:)\s\S+)*\s+)+"
date={normalize_date($date)}
plugin_sid={$event_id}
device={$hostname}
src_ip={$hostname}
dst_ip={$hostname}
username={$sysmon_username}
userdata1={$image}
userdata2={$process_guid}
userdata3={$process_id}
userdata4={$logon_guid}
userdata5={$domain}
userdata6={$channel}
userdata7={$sysmon_domain}
userdata8={$command_line}
userdata9={$parent_image}

[0003 - Sysmon-nxlog - Sysmon rule without Source/DestinationIp]
event_type=event
precheck="ProcessGuid:"
regexp="^(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) \S+ SYSMON-NXLOG (?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2});"(?P<event_type>\w+)";"(?P<severity>\w+)";"(?P<channel>[^"]+)";"(?:-|(?P<hostname>[^"]*))";(?P<event_id>\d+);"(?P<source_name>[^"]+)";"(?P<account_name>[^"]*)";"(?P<account_type>[^"]*)";"(?P<domain>[^"]*)";"[^:]+:\s+(?:UtcTime:\s+(?P<sysmon_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+\s+|ProcessGuid:\s+(?P<process_guid>\S+)\s+|ProcessId:\s+(?P<process_id>\d+)\s+|Image:\s+(?P<image>(?:\w:\\\\[^\.]+)?\S+)[\s"]+|User: (?P<sysmon_domain>[^\\]+)\\\\(?P<sysmon_username>\S+(?:(?!\s\w+:)\s\S+)*)\s+|Protocol: (?P<protocol>\S+)\s+|TargetFilename:\s+(?P<filename>.*?)\s+CreationUtcTime:\s+(?P<creation_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+\s+PreviousCreationUtcTime:\s+(?P<previous_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+|Initiated:\s+(?P<initiated>true|false)\s+|SourceHostname:\s\S*\s+|DestinationHostname:\s\S*\s+|CommandLine:\s+.*?CurrentDirectory:\s+\w:(?:(?!\w+:)\S+\s+)+|LogonGuid:\s+(?P<logon_guid>\S+)\s*|(?!Task:)\w+:\s(?:(?!$|\w+:)\S+\s+)*)+(?:\s*Task:\s(?P<task>\S+)?\s*Category:\s(?P<cat>\S+(?:(?!\s\w+:)\s\S+)*)?\s*Keywords:\s(?P<key>\S+(?:(?!\s\w+:)\s\S+)*)?\s*UserID:\s(?P<userid>\S+(?:(?!\s\w+:)\s\S+)*)?\s*Severity:\s(?P<sev>\S+)?\s*ProviderGuid:\s(?P<prov_id>\S+(?:(?!\s\w+:)\s\S+)*)?\s*Version:\s+(?P<version>\S+)?\s*OpcodeValue:\s\S*\s*Opcode:\s(?P<opcode>\S+(?:(?!\s\w+:)\s\S+)*)?\s*ActivityID:\s(?P<act_id>\S+)?\s*RelatedActivityID:\s(?P<related_id>\S+(?:(?!\s\w+:)\s\S+)*)?\s*ProcessID:\s(?P<process>\S+)?\s*ThreadID:\s(?P<thread>\S+)?\s*RecordNumber:\s(?P<record>\S+)?)?"
date={normalize_date($date)}
plugin_sid={$event_id}
device={$hostname}
src_ip={$hostname}
dst_ip={$hostname}
username={$sysmon_username}
protocol={$protocol}
filename={$filename}
userdata1={$image}
userdata2={$process_guid}
userdata3={$process_id}
userdata4={$logon_guid}
userdata5={$domain}
userdata6={$channel}
userdata7={$sysmon_domain}
userdata8={$creation_date}
userdata9={$previous_date}

[0004 - Sysmon-nxlog - Sysmon rule including Source/Target]
event_type=event
regexp="^(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) \S+ SYSMON-NXLOG (?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2});"(?P<event_type>\w+)";"(?P<severity>\w+)";"(?P<channel>[^"]+)";"(?:-|(?P<hostname>[^"]*))";(?P<event_id>\d+);"(?P<source_name>[^"]+)";"(?P<account_name>[^"]*)";"(?P<account_type>[^"]*)";"(?P<domain>[^"]*)";"[^:]+:\s+(?:UtcTime:\s+(?P<sysmon_date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\.\d+\s+|SourceProcessGUID:\s+(?P<process_guid>\S+)\s+|RuleName:\s*(?P<rule_name>(?:\S+\s+(?:(?!UtcTime:)\S+)*))\s+|SourceProcessId:\s+(?P<src_process_id>\d+)\s+|SourceThreadId:\s+(?P<src_thread_id>\d+)\s+|SourceImage:\s+(?P<source_image>(?:\w:\\\\[^\.]+)?\S+)[\s"]+|TargetProcessGUID:\s+(?P<target_process_guid>\S+)\s+|TargetProcessId:\s+(?P<target_process_id>\d+)\s+|TargetImage:\s+(?P<target_image>(?:\w:\\\\[^\.]+)?\S+)[\s"]+|GrantedAccess:\s+(?P<granted_access>\S+)\s*)+"
date={normalize_date($date)}
plugin_sid={$event_id}
device={$hostname}
src_ip={$hostname}
dst_ip={$hostname}
userdata1={$severity}
userdata2={$domain}
userdata3={$process_guid}
userdata4={$rule_name}
userdata5={$source_image}
userdata6={$src_process_id}
userdata7={$target_image}
userdata8={$target_process_guid}
userdata9={$granted_access}


[9999 - Sysmon-nxlog - Generic rule]
event_type=event
#precheck=
regexp="^(?P<incoming_date>\w{3}\s{1,2}\d{1,2}\s\d{2}:\d{2}:\d{2}) (?P<device>\S+) SYSMON-NXLOG.*"
date={normalize_date($incoming_date)}
plugin_sid=200000000
device={$device}