# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin trendmicro-cm id:1771 version: 0.0.12
# Last modification: 2018-10-09 08:30
#
# Plugin Selection Info:
# Trend Micro:Control Manager:-
#
# END-HEADER
# Accepted products:
#
# Description:
#
#
#
#

[DEFAULT]
plugin_id=1771

[config]

custom_functions_file=/etc/ossim/agent/plugins/custom_functions/date_fixer.cfg
type=detector
enable=yes
source=log
location=/var/log/trendmicro-cm.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
SLF_INCIDENT_EVT_GRAYWARE_FOUND_QUARANTINE_SUCCESS=1
SLF_INCIDENT_EVT_GRAYWARE_FOUND_CLEAN_SUCCESS=13
EVT_URL_CONTENT_FILTERING=2
SLF_INCIDENT_EVT_CCCA = 19
EVT_SMTP_POP3_CONTENT_FILTERING = 20
3=3
WB:36=4
Spyware Detected=5
MS:1=6
NCIE:Block=7
NCIE:Pass=15
BM=8
CnC:Block=9
CnC:Pass=14
EVT_UPDATE_FAIL = 10
EVT_UNKNOWN = 11
AV:File passed = 12
AV:File quarantined = 16
AV:File cleaned = 17
AV:Unable to upload file = 18
107=107
115=115
116=116
123=123
138=138
147=147
151=151
152=152
190=190
192=192
197=197
252=252
260=260
273=273
276=276
290=290
300=300
321=321
326=326
352=352
470=470
472=472
564=564
569=569
570=570
600=600
601=601
602=602
608=608
710=710
720=720
721=721
728=728
729=729
730=730
731=731
736=736
737=737
740=740
741=741
742=742
743=743
770=770
771=771
780=780
781=781
784=784
785=785
794=794
795=795
801=801
851=851
926=926
935=935
1523=1523
1524=1524
1600=1600
1601=1601
2204=2204
2205=2205
2800=2800
2801=2801
2908=2908
8011=8011
700106=700106
700107=700107
800101=800101
800102=800102
1001251=1001251
1006296=1006296
_DEFAULT_=20000000

[0001-a - Trendmicro with Event_time - EVT_SMTP_POP3_CONTENT_FILTERING]
event_type=event
precheck="EVT_SMTP_POP3_CONTENT_FILTERING"
regexp="(?P<date>\w+\s*\d+\s*\d+\s*\d+:\d+:\d+)\s*(?P<device>\S*)\s*TMCM:\s*(?P<sid>\S*)\s*Security\sproduct="(?P<sec_product>[^"]*)"\s*Security\sproduct\snode="(?P<sec_product_node>[^"]*)"\s*(?:(?:Source\sIP="|Security\sproduct\sIP=")(?P<src_ip>[^"]+)"\s*|Event\stime="(?P<date_log>[^"]*)"\s*|Email subject="(?P<subject>[^"]+)"\s|Email sender="(?P<sender>[^";]+);?"\s|Email recipient="(?P<recipient>[^";]+);?"\s|Policy rule="(?P<policy>[^"]+)"\s|Action on content="(?P<action>[^"]+)"\s|Action on email="(?P<action2>[^"]+)"\s|Domain="(?P<domain>[^"]+)"\s|Event time[^=]+="[^"]+"\s|Infected file="(?:N/A|(?P<infected_file>[^"]+))")*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
filename={$infected_file}
userdata1={$sec_product}
userdata2={$sec_product_node}
userdata3={$subject}
userdata4={$sender}
userdata5={$recipient}
userdata6={$policy}
userdata7={$action}
userdata8={$action2}
userdata9={$domain}

[0001-b - Trendmicro with Event_time]
event_type=event
precheck="TMCM"
regexp="(?P<date>\w+\s*\d+\s*\d+\s*\d+:\d+:\d+)\s*(?P<device>\S*)\s*TMCM:\s*(?P<sid>\S*)\s*Security\sproduct="(?P<sec_product>[^"]*)"\s*Security\sproduct\snode="(?P<sec_product_node>[^"]*)"\s*(?:(?:Source\sIP="|Security\sproduct\sIP=")\[?(?P<src_ip>[^"\]]+)\]?"\s*|Event\stime="(?P<date_log>[^"]*)"\s*|URL="(?P<url>[^"]*)"\s*|Grayware/Spyware="(?P<spyware>[^"]*)"\s*|Result="(?P<result>[^"]*)"\s|Infection\sdestination="(?P<infection_dst>[^"]*)"\s*|(?:Destination\sIP="|Infection\sdestination\sIP=")(?P<dst_ip>[^"]+)"\s*|Destination\sIP=""\s*|Source\sIP=""\s|Policy\srule="(?P<policy>[^"]*)"\s*|Blocking\stype="(?P<block_type>[^"]*)"\s*|Domain="(?P<domain>[^"]*)"\s*|ScanMethod="(?P<scan_method>[^"]*)"\s*|Infected\sfile="(?P<file>[^"]*)"\s*|Event\stime[^=]*="(?P<event_time>[^"]*)"\s*|Client\shost\sname="(?P<hostname>[^"]*)"\s*|File\spath="(?:N/A|(?P<path>[^"]*))"\s*|User="(?P<username>[^"]*)"\s*|Managing\sserver\sentity="(?P<server_entity>[^"]*)"\s*|Component="[^"]+"\s|Component version="[^"]+"\s)*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
filename={$file}
username={$username}
userdata1={$sec_product}
userdata2={$result}
userdata3={$url}
userdata4={$spyware}
userdata5={$policy}
userdata6={$block_type}
userdata7={$domain}
userdata8={$scan_method}
userdata9={$server_entity}

[0002 - Trendmicro]
event_type=event
precheck="TMCM"
regexp="(?P<date>\w+\s*\d+\s*\d+\s*\d+:\d+:\d+)\s*(?P<device>\S*)\s*TMCM:\s*(?P<sid>\S*)\s*(?:(?:Product/)?Endpoint_IP="(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(?:;(?P<mac>[^"]+))?"\s*|(?:(?:Engine|Pattern/Rule)_Updated|Time_Generated_at_Entity)="(?P<time>[^"]*)"\s*|(?:Product_Entity/)?Endpoint="(?P<product>[^"]*)"\s*|Operating_System="(?P<os_system>[^"]*)"\s*|Update_Agent="(?P<update_agent>[^"]*)"\s|Connection_Status="(?P<conn_status>[^"]*)"\s*|Pattern/Rule="(?P<rule>[^"]*)"\s*|(?:Pattern/Rule|Engine)_Version="(?P<version>[^"]*)"\s*|Domain="(?P<domain>[^"]*)"\s*|(?:Pattern/RuleEngine|Engine)_Status="(?P<status>[^"]*)"\s*|Engine="(?P<engine>[^"]+)"\s*|Host="(?P<host>[^"]+)"\s*|Risk_Level="(?P<risk_level>[^"]+)"\s*|Policy="(?P<policy>[^"]+)"\s*|Subject="(?P<subject>[^"]+)"\s*|Event_Type="(?P<event_type>[^"]+)"\s*|Target="(?P<target>[^"]+)"\s*|Action="(?P<action>[^"]+)"\s*|Operation="(?P<operation>[^"]+)"\s*)*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
userdata1={$mac}
userdata2={$product}
userdata3={$os_system}
userdata4={$host}
userdata5={$conn_status}
userdata6={$rule}
userdata7={$policy}
userdata8={$risk_level}
userdata9={$action}

[0005 - CEF]
event_type=event
precheck="CEF"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<dev>\S+)\s+CEF:\s+\d+\|(?P<vendor>[^|]*)\|(?P<product>[^|]*)\|(?P<version>[^|]*)\|(?P<sid>BM|[^|]*)(?::\d+)?\|(?P<des>[^|]*)\|(?P<sev>[^|]*)\|(?:deviceExternalId=(?P<devid>\d+)\s|rt=(?P<rt>\w{3}\s+\d{1,2}\s\d{4}\s\d\d:\d\d:\d\d\s\S+)\s|app=(?P<app>[^\s]*)\s|cntLabel=(?P<cntlabel>[^\s]+)\s|cnt=(?P<cnt>\d+)\s|dhost=(?P<dhost>\S+)\s|dpt=(?:N/A|(?P<dport>\d+))\s|duser=(?:(?:/o\\[^;]+;)+|(?P<duser>[^\s@]*))\S*\s|deviceProcessName=(?P<devname>[^\s]*)\s|spt=(?:N/A|(?P<sport>\d+))\s|act=(?P<act>\S+\s*(?:(?!\w+=)\S+\s*)*)?\s+|msg=(?P<msg>[^=]*)\s|suser=(?P<usr>(?:(?!@|duser|device|target|msg)\S+\s*)+)\s+|proto=(?:Other:\s+)?(?P<protocol>\S+)\s+|shost=(?P<shost>\S+)\s|TrendMicroDsFrameType=(?:Other:\s+)?(?P<frame_type>\S+)\s+|in=(?P<in>\S+)\s|out=(?P<out>\S+)\s|src=(?P<src>\S+)\s|cs3Label=(?P<cs3Lab>Fragmentation\s+Bits|[^\s]*)\s|dmac=(?P<dst_mac>\S+)\s+|smac=(?P<src_mac>\S+)\s+|target=(?P<target>(?:(?!msg)\S+\s+)+|\S+\s+)|cs3=(?P<cs3>[^=]*)\s|cs4Label=(?P<cs4lab>[^\s]*)\s|cs4=(?P<cs4>[^=]*)\s|cs1Label=(?P<cs1label>DPI Note|[^\s]*)\s|cs1=(?P<cs1>[^=]*)\s|deviceDirection=(?P<dir>[^\s]*)\s|cat=(?P<cat>[^\s]*)\s|dvchost=(?P<dvchost>[^\s]*)\s|fname=(?P<fname>[^=]*)\s|filePath=(?P<path>[^=]*)\s|dst=(?P<dst>[^\s]*)\s|fileHash=(?P<hash>[^\s]*)\s*|request=(?P<req>[^\s]*)\s|(?:cs2Label=(?P<cs2Label>TCP\s+Flags|\S+)\s|cs2=(?P<cs2>Bill\s\(with\sUSB\)|CWR\sECE\sSYN|ACK\sPSH|File\sServer|[^\s]*)\s*|cn1Label=(?P<cn1Lab>Host\sID|\S+)\s|cn1=(?P<cn1>\S+)\s|cn2Label=(?P<cn2lab>\S+)\s|cn2=(?P<cn2>\S+)\s|cs5Label=(?P<cs5lab>DPI\s+Stream\s+Position|\S+)\s+|cs5=(?P<cs5>[^=]*)\s|cn3Label=(?P<cn3lab>DPI\s+Packet\s+Position|\S+)\s|cn3=(?P<cn3>\S+)\s|cs6Label=(?P<c6lab>DPI\s+Flags|\S+)\s|cs6=(?P<cs6>\S+\s*(?:(?!\w+=)\S+\s*)*)?\s+|deviceFacility=(?P<fac>\S+)\s*)|sproc=(?P<sproc>\S+(?:(?!\s*\w+=)\s+\S+)*)\s*|.*?TrendMicroDsTenant=(?P<dsTenant>\S+)\s*|TrendMicroDsTenantId=(?P<dsTenantId>\S+)\s*)+"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$dev}
src_ip={$src}
dst_ip={$dst}
src_port={$sport}
dst_port={$dport}
protocol={$protocol}
username={$usr}
filename={$path}
userdata1={$des}
userdata2={$sev}
userdata3={$dhost}
userdata4={$shost}
userdata5={$dvchost}
userdata6={$cat}
userdata7={$duser}
userdata8={$act}
userdata9={$cs5}

[9999 - Generic Rule]
event_type=event
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<dev>\S+).*"
date={normalize_date($date)}
plugin_sid=20000000
device={$dev}
