# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin trendmicro-ddi id:1905 version: 0.0.1
# Last modification: 2017-10-26	11:30
#
# Plugin Selection Info:
# Trend Micro:Deep Discovery Inspector:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1905


[config]
type=detector
enable=yes

source=log
location=/var/log/trendmicro-ddi.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


#########################
#         RULES         #
#########################

[0001 - Trendmicro-ddi - CEF 1]
event_type=event
#precheck=
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<dev>\S+)\s+CEF:\s+\d+\|(?P<vendor>[^\|]*)\|(?P<product>[^\|]*)\|(?P<version>[^\|]*)\|(?P<sid>[^\|]*)\|(?P<des>[^\|]*)\|(?P<sev>[^\|]*)\|(?:deviceExternalId=(?P<devid>\S+)\s|rt=(?P<rt>\w{3}\s+\d{1,2}\s\d{4}\s\d\d:\d\d:\d\d)\s\S+\s|app=(?P<app>(?:(?!\w+=)\S+\s*)*)\s|dhost=(?P<dhost>\S+)\s|dpt=(?:N/A|(?P<dport>\d+))\s|duser=(?:(?:/o\\[^;]+;)+|(?P<duser>[^\s@]*))\S*\s|dvc=(?P<dvc>\S+)\s|spt=(?:N/A|(?P<sport>\d+))\s|act=(?P<act>(?:(?!\w+=)\S+\s*)*)\s|suser=(?P<usr>[^@\s]+)(?:@\S+)\s*|shost=(?P<shost>\S+)\s|src=(?P<src>\S+)\s|cs3Label=(?P<cs3Lab>(?:(?!\w+=)\S+\s*)*)\s|dmac=(?P<dst_mac>\S+)\s+|smac=(?P<src_mac>\S+)\s+|cs3=(?P<cs3>[^=]*)\s|cs4Label=(?P<cs4lab>[^\s]*)\s|cs4=(?P<cs4>[^=]*)\s|cs1Label=(?P<cs1label>(?:(?!\w+=)\S+\s*)*)\s|cs1=(?P<cs1>[^=]*)\s|deviceDirection=(?P<dir>[^\s]*)\s|cat=(?P<cat>(?:(?!\w+=)\S+\s*)*)\s|dvchost=(?P<dvchost>[^\s]*)\s|fname=(?P<fname>[^=]*)\s|fileType=(?P<ftype>\S+)\s|dst=(?P<dst>[^\s]*)\s|fileHash=(?P<hash>[^\s]*)\s*|request=(?P<req>[^\s]*)\s|(?:cs2Label=(?P<cs2Label>(?:(?!\w+=)\S+\s*)*)\s|cs2=(?P<cs2>(?:(?!\w+=)\S+\s*)*)\s*|cn1Label=(?P<cn1Lab>(?:(?!\w+=)\S+\s*)*)\s|cn1=(?P<cn1>\S+)\s|cn2Label=(?P<cn2lab>\S+)\s|cn2=(?P<cn2>\S+)\s|cs5Label=(?P<cs5lab>(?:(?!\w+=)\S+\s*)*)\s+|cs5=(?P<cs5>[^=]*)\s|cn3Label=(?P<cn3lab>(?:(?!\w+=)\S+\s*)*)\s|cn3=(?P<cn3>\S+)\s|cs6Label=(?P<c6lab>(?:(?!\w+=)\S+\s*)*)\s|cs6=(?P<cs6>(?:(?!\w+=)\S+\s*)*)\s*|destinationTranslatedAddress=(?P<dst_translated_address>\S+)\s*)|sourceTranslatedAddress=(?P<src_translated_address>\S+)\s*|cnt=(?P<cnt>\S+)\s*|dvcmac=(?P<dvc_mac>\S+)\s*|fsize=(?P<fsize>\S+)\s*|flexNumber1Label=(?:(?!\w+=)\S+\s*)*|flexNumber1=(?:(?!\w+=)\S+\s*)*|suid=(?:(?!\w+=)\S+\s*)*|requestClientApplication=(?:(?!\w+=)\S+\s*)*|request=(?:(?!\w+=)\S+\s*)*)+"
date={normalize_date($rt)}
plugin_sid={$sid}
device={$dvc}
src_ip={$src}
dst_ip={$dst}
src_port={$sport}
dst_port={$dport}
username={$usr}
filename={$fname}
userdata1={$dvc_mac}
userdata2={$src_mac}
userdata3={$dst_mac}
userdata4={$act}
userdata5={$duser}
userdata6={$app}
userdata7={$sev}
userdata8={$cat}
userdata9={$cs6}
