# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin trendmicro id:1574 version: 0.0.5
# Last modification: 2018-10-08 16:30
#
# Plugin Selection Info:
# Trend Micro:InterScan Messaging Security:-
#
# END-HEADER
# Accepted products:
# trendmicro - interscan_messaging_security_suite -
# trendmicro - InterScan Messaging Security Virtual Appliance -
# Description:
#
# Trend Micro (IMSS Messaging Security)
# url: http://www.webspy.com.au/resources/logdetails.aspx?format=197
#
#

[DEFAULT]
plugin_id=1574

[config]
type=detector
enable=yes
source=log
location=/var/log/trendmicro.log
create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
VIRUS FOUND=1
starting=2
terminating=3
stop=4
delivery=6
non-delivery=7
warning=8
message-id=9
filter=10
deferred=11
Deferred Queue Event=12
reload=13
daemon started=14
refreshing=15
stopping=16
fatal=17
Checking=18
Starting to flush=19
SUCCESS=20
removed=21
replied=24
greeted=25
Connection reset=26
Connection refused=27
refused to talk to me=27
Connection timed out=28
timeout=28
No route to host=29
connect=30
disconnect=31
lost connection=32
certificate verification failed=33
SSL=34
missing=36
Shutting down SMTP=37
starting the Postfix mail=39
IMSSDTASAgent=40
DDA is not enabled=41
Error: No dda server=42
failed to load configuration=43
load_dtas_config=44
Callback is NULL=45
Cannot find a destination=46
The delivery policy server finishes=47
The delivery policy server starts=48
imssmgr=49
imssps=50
imssdps=50
imsstasks=51
imssui=52
smtpconnagent=53
sysevt.imss=54
tlsagent=55
dtasagent=56
wrsagent=57
ers.imss=58
euqsynch.imss=59
foxmsg=60
log.imss=61
msgsync.imss=62
msgtra.imss=63
polevt.imss=64

sent=66
Policy/rule cache scheduled update started = 67
Version number unchanged, nothing to update = 68
PRStatusMonitor: Updating the product license status = 69
Find increased version number, start update the policy setting = 70
Could not determine product registration status for Compliance filter = 71
licensed = 72
Policy version changed, update policy/rule succeed = 73
Connected = 74
processScoreResult = 75
Policy setting update finished = 76
Accept connection from client = 77
sendOrgEmail = 78
Scan finished = 79
SMTP client connection closed = 80
The application wrsagent finished successfully = 81
The application wrsagent started successfully = 82
pumpEvents = 83
Message-ID = 9
_writeLog = 84
isTriggered = 85
get entity filename = 86
GetRawAddress = 87
new file name = 88
Quarantine to this folder = 89
Scheduled Update started = 90
started successfully = 91
finished successfully = 92
Finished finally = 93
foxreport = 60

_DEFAULT_ = 20000000



[0001 - Trendmicro virus rule]
event_type=event
precheck="VIRUS FOUND"
regexp="(?P<date>\d+\/\d+\/\d+ \d+:\d+:\d+) \S+\+\d+:\d+.*?(?P<event>VIRUS FOUND).*"
date={normalize_date($date)}
plugin_sid={translate($event)}

[0002 - Trendmicro dkim rule]
event_type=event
precheck=" dkim"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\sdkim[^:]+:\s+.*?(?P<status>starting|terminating|stop)(?:.*?args:\s-x\s(?P<file_conf>\S+)\s-P\s(?P<file_pid>[^)]+)|.*?errno\s=\s(?P<error>\d+)|.*)"
date={normalize_date($date)}
plugin_sid={translate($status)}
device={$device}
userdata1={$file_conf}
userdata2={$file_pid}
userdata3={$error}

[0003 - Trendmicro anvil rule]
event_type=event
precheck=" postfix/anvil"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/anvil[^:]+:\s+\S+.*?(?:max\scache\ssize\s(?P<max_cache_size>\d+)|max\sconnection\scount\s(?P<max_connection_count>\d+)|max\sconnection\srate\s(?P<max_connection_rate>\S+))\s(?:for\s\(smtp:(?P<src_ip>\d+\.\d+\.\d+\.\d+)\)\s)?(?:at\s(?P<real_date>\w+\s+\d+\s+\d+:\d+:\d+))"
date={normalize_date($real_date)}
plugin_sid=5
device={$device}
src_ip={$src_ip}
userdata1={$max_cache_size}
userdata2={$max_connection_count}
userdata3={$max_connection_rate}

[0004 - Trendmicro bounce rule]
event_type=event
precheck=" postfix/bounce"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/bounce[^:]+:\s+\S+\ssender\s(?P<status>non-delivery|delivery).*?notification:\s(?P<notification_id>\w+)"
date={normalize_date($date)}
plugin_sid={translate($status)}
device={$device}
userdata1={$notification_id}

[0005 - Trendmicro cleanup rule]
event_type=event
precheck=" postfix/cleanup"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/cleanup[^:]+:\s+\S+\s+(?P<sid>message-id|warning|filter)(?:=<?(?P<message_id>[^>]*)|:\s(?P<warning_info>[^\[]*\[(?P<ip>[^\]]*)\]);\sfrom=<(?P<from>[^>]*)>\sto=<(?P<to>[^>]*)>\sproto=(?P<protocol>\w*)\shelo=(?P<helo><(?P<helo_mail>[^>]*)>.*))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$ip}
protocol={$protocol}
userdata1={$warning_info}
userdata2={$from}
userdata3={$to}
userdata4={$helo_mail}



[0006 - Trendmicro flush rule]
event_type=event
precheck=" postfix/flush"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/(?:flush|qmgr)[^:]+:\s+(?P<sid>[^:]+):Message=(?P<message>[^,]*),Action=(?P<action>[^,]*),From=(?P<from>[^,]*),To=(?P<to>[^,\s]*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$message}
userdata2={$action}
userdata3={$to}
userdata4={$from}


[0007 - Trendmicro master rule]
event_type=event
precheck=" postfix/master"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/master[^:]+:\s+(?P<sid>[^-]+)\s--\sversion\s(?P<version>\S+)\sconfiguration\s(?P<config_path>\S+)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$version}
userdata2={$config_path}


[0008 - Trendmicro postfix-script rule]
event_type=event
precheck=" postfix/postfix-script"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/postfix-script[^:]+:\s+(?P<sid>refreshing|stopping|fatal|starting)(?::\s(?P<description>.*))?.*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$description}


[0009 - Trendmicro postfixlog rule]
event_type=event
precheck=" postfix/postlog"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/postlog[^:]+:\s+FLUSH:\s(?P<sid>Checking|Starting to flush|SUCCESS).*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}


[0010 - Trendmicro postfixqmgr rule]
event_type=event
precheck=" postfix/qmgr"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/qmgr[^:]+:\s+(?:\w*:?)?\s*(?P<sid>Deferred\sQueue\sEvent|removed)(?::?Message=(?P<message_id>[^,]+),Action=(?P<action>[^,]+),From=(?P<from>[^,]*),To=(?P<to>.*))?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$message_id}
userdata2={$action}
userdata3={$to}
userdata4={$from}



[0011 - Trendmicro postfixqmgr queue rule]
event_type=event
precheck=" postfix/qmgr"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/qmgr[^:]+:\s+(?:(?P<id>\w+):)?\s*from=<(?P<from>[^>]*)>,\s(?:status=(?P<status>[^,]*)|size=(?P<size>\d+))?.*"
date={normalize_date($date)}
plugin_sid=22
device={$device}
userdata1={$from}
userdata2={$size}
userdata3={$status}


[0012 - Trendmicro postfixscache rule]
event_type=event
precheck=" postfix/scache"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/scache[^:]+:\s+statistics:.*"
date={normalize_date($date)}
plugin_sid=23
device={$device}


[0013 - Trendmicro postfixsmtp1 rule]
event_type=event
precheck=" postfix/smtp"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/smtp[^:]+:\swarning:\s(?:host\s(?P<dst_host>[^\[]+)\[(?P<dst_ip>\d+\.\d+\.\d+\.\d+)\]:?(?P<dst_port>\d+)?)?.*?(?P<sid>replied|greeted|Connection\sreset)(?:(?:.*?hostname\s(?P<hostname>\S+))|.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
dst_ip={$dst_ip}
dst_port={$dst_port}
userdata1={$dst_host}
userdata2={$hostname}

[0014 - Trendmicro postfixsmtp2 rule]
event_type=event
precheck=" postfix/smtp"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/smtp[^:]+:.*?(?:(?:connect\sto|host)\s*(?P<dst_host>[^\[]+)\[(?P<dst_ip>\d+\.\d+\.\d+\.\d+)\]:?(?P<dst_port>\d+)?|host\s):?\s*(?P<sid>Connection\srefused|No\sroute\sto\shost|Connection\stimed\sout|refused\sto\stalk\sto\sme).*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
dst_ip={$dst_ip}
dst_port={$dst_port}
userdata1={$dst_host}

[0015 - Trendmicro postfixsmtp3 rule]
event_type=event
precheck=" postfix/smtp"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/smtp[^:]+:.*?(?P<sid>connect|disconnect|lost\sconnection|timeout|certificate\sverification\sfailed|SSL).*?(?:(?:(?:from|for)\s*(?P<src_host>[^\[]+)\[(?P<src_ip>\d+\.\d+\.\d+\.\d+)\]:?(?P<src_port>\d+)?(?:.*?CN=(?P<username>.*))?.*)|(?:to\s*(?P<dst_host>[^\[]+)\[(?P<dst_ip>\d+\.\d+\.\d+\.\d+)\]:?(?P<dst_port>\d+)?)|(?:with localhost.*))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
src_port={$src_port}
dst_ip={$dst_ip}
dst_port={$dst_port}
username={$username}
userdata1={$src_host}
userdata2={$dst_host}

[0016 - Trendmicro postfixsmtp4 rule]
event_type=event
precheck=" postfix/smtp"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/smtp[^:]+:(?:(?:.*?from=<(?P<from>[^>]*)>)?\s*(?:.*?to=<(?P<to>[^>]*)>)?\s*(?:.*?(?:for|from|relay=|client=)\s*(?P<src_host>[^\[]*)\[(?P<src_ip>\d+\.\d+\.\d+\.\d+)\]:?(?P<src_port>\d+)?)?\s*(?:.*?proto=(?P<proto>\S+))?)\s*(?:.*?Hostname=(?P<hostname>\S+))?.*"
date={normalize_date($date)}
plugin_sid=65
device={$device}
src_ip={$src_ip}
src_port={$src_port}
protocol={$proto}
userdata1={$src_host}
userdata2={$from}
userdata3={$to}
userdata4={$hostname}


[0017 - Trendmicro postfix/local rule]
event_type=event
precheck=" postfix/local"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/local[^:]+:\s+(?:(?P<id>\w+):)?\s*to=<(?P<to>[^>]*)>,\sorig_to=<(?P<orig_to>[^>]*)>,\srelay=(?P<relay>[^,]*),\sdelay=(?P<delay>[^,]*),\s.*?status=(?P<status>\S+)"
date={normalize_date($date)}
plugin_sid={translate($status)}
device={$device}
userdata1={$id}
userdata2={$to}
userdata3={$orig_to}
userdata4={$relay}
userdata5={$delay}

[0018 - Trendmicro error rule]
event_type=event
precheck=" postfix"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/(?:error|smtp)[^:]+:\s+\S+\s+to=<(?P<to>[^>]+)>,\srelay=(?P<relay>\w+),\sdelay=(?P<delay>[^,]+),\sdelays=(?P<delays>[^,]+),\sdsn=(?P<dsn>[^,]+),\sstatus=(?P<status>(?P<sid>\w+)[^\[]+\[(?P<dst_ip>\d+\.\d+\.\d+\.\d+)\]:(?P<dst_port>\d+):.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
dst_ip={$dst_ip}
dst_port={$dst_port}
userdata1={$relay}
userdata2={$delay}
userdata3={$to}
userdata4={$delays}



[0030 - Trendmicro postfixtrivial-rewrite rule]
event_type=event
precheck=" postfix/trivial-rewrite"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\spostfix/trivial-rewrite[^:]+:\s+(?P<info>\w+):.*?from\s(?P<dst_ip>\d+\.\d+\.\d+\.\d+):(?P<port>\d+).*"
date={normalize_date($date)}
plugin_sid=35
device={$device}
src_ip={$dst_ip}
src_port={$port}
userdata1={$info}


[0031 - Trendmicro smtpconnagent rule]
event_type=event
precheck=" smtpconnagent"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\ssmtpconnagent[^:]+:\s+(?:(?P<file>\S+)?\s*(?P<sid>missing|Shutting\sdown\sSMTP).*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$file}


[0041 - Trendmicro - Policy Server events]
event_type=event
precheck="imssps["
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+imssps\[\d+\]:\s+[^\[]+\[(?P<data>[^\]]+)\]\s+\[(?P<sev>[^\]]+)\](?P<product>\S+(?:(?!\sis\scurrently)\s\S+)*\sis\scurrently\s)?(?:\[ERROR\])?\s*(?P<event_name>licensed|[^\.]+)(?:\.|\s)"
date={normalize_date($date)}
plugin_sid={translate($event_name)}
device={$device}
src_ip={$device}
userdata1={$sev}
userdata2={$data}
userdata3={$product}

[0042 - Trendmicro - Tlsagent events]
event_type=event
precheck="tlsagent["
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+tlsagent\[\d+\]:\s+[^\[]+\[(?P<data>[^\]]+)\]\s+\[(?P<sev>[^\]]+)\](?P<event>Connected)\sfrom\s\[(?P<from>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\],\ssender\sis\s\[(?P<sender>[^\]]+)?\],\smatched\spolicy\sname\sis\s\[(?P<policy>[^\]]+)\],\s(?P<outcome>\S+)"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$from}
userdata1={$sev}
userdata2={$data}
userdata3={$sender}
userdata4={$policy}
userdata5={$outcome}

[0043 - Trendmicro - Wrsagent events]
event_type=event
precheck="wrsagent["
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+wrsagent\[\d+\]:\s+[^\[]+\[(?P<data>[^\]]+)\]\s+\[(?P<sev>[^\]]+)\](?P<class>[^:]+):\s(?:\[(?P<process>[^\[]+)\]\[(?P<int>[^\[]+)\])?\[?(?P<tag>The application wrsagent (?:finished|started) successfully|[^\]]+)\]?\s*(?P<event>Rate result|Detect Exit/Exception on Listener)?(?:\sfrom\s(?P<object>\S+)\sis\sURL=(?P<url>[^,]+),?\s*|Score=(?P<score>[^,]+),\s|Category=(?P<category>[^,]+)?,\s|soType=(?P<soType>[^,]+),\s|soAction=(?P<soAction>[^,]+),\s|isSmart=(?P<isSmart>\d+)|.*?(?:Fail to normalize URL|Failed:)[^'\[]+['\[](?P<url2>[^'\]]+))*"
date={normalize_date($date)}
plugin_sid={translate($tag)}
device={$device}
src_ip={$device}
userdata1={$sev}
userdata2={$data}
userdata3={$class}
userdata4={$process}
userdata5={$url}
userdata6={$object}
userdata7={$url2}
userdata8={$score}
userdata9={$category}

[0044 - Trendmicro - LOG.IMSS events]
event_type=event
precheck="log.imss["
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+log\.imss\[\d+]:\s[^\[]+\[(?P<data>[^\]]+)\]\s+(?:>+\s|\[[^\]]+\]|TmIsScan::Scan:\s+|(?P<sev>[^:]+):\s+|\S+(?:(?!\sfunction:)\s\S+)*\sfunction: )?(?P<event>Accept connection from client|sendOrgEmail|Scan finished|get entity filename|new file name|GetRawAddress|Quarantine to this folder|SMTP client connection closed|Message-ID)(?:\s\[(?P<src_ip>[^\]]+)\]|\sfor\s(?P<object>[^,]+)|[\s:<]+(?P<msg_id>[^>]+)>|(?:(?<=filename)|(?<=file name)):\s(?P<filename>.+)|(?<=GetRawAddress):\s(?P<raw_address>.+)|(?<=folder):\s(?P<folder>\S+) for msg: (?P<msg>\S+))?"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$src_ip}
filename={$filename}
userdata1={$data}
userdata2={$sev}
userdata3={$object}
userdata4={$msg_id}
userdata5={$raw_address}
userdata6={$folder}
userdata7={$msg}

[0045 - Trendmicro - IMSS events]
event_type=event
precheck=".imss["
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+[^\.]+\.imss\[\d+\]:\s[^#]+#011[^#]+#011(?:#null#|(?P<field_1>[^#]+))?#011(?:#null#|(?P<field_2>[^#]+))?#011(?P<field_3>[^#]+(?:(?!#011)\S+[^#]+)*)?#011(?:#null#|(?P<field_4>[^#]+))?#011(?P<field_5>[^#]+)?#011(?P<field_6>[^#]+)?#011(?:(?P<field_7>[^#]+)?#011(?P<field_8>[^#]+)#011(?:#null#|(?P<field_9>[^#]+)#011))?"
date={normalize_date($date)}
plugin_sid=10
device={$device}
src_ip={$device}
userdata1={$field_1}
userdata2={$field_2}
userdata3={$field_3}
userdata4={$field_4}
userdata5={$field_5}
userdata6={$field_6}
userdata7={$field_7}
userdata8={$field_8}
userdata9={$field_9}

[0046 - Trendmicro - imsstasks events]
event_type=event
precheck="imsstasks["
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+imsstasks\[\d+]:\s[^\[]+\[(?P<data>[^\]]+)\]\s+\[(?P<sev>[^\]]+)\](?:[^:]+:\s|\[[^\]]+\])?(?:The application (?P<app>\S+)|(?P<process>\S+) process )?\s*(?P<event>Scheduled Update started|started successfully|finished successfully|Finished finally)"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$device}
userdata1={$data}
userdata2={$sev}
userdata3={$app}
userdata4={$process}

[0998 - Trendmicro - Generic rule]
event_type=event
regexp="(?P<date>\w{3}\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<process>[^\[]+)\[\d+]:\s[^\[]+\[(?P<data>[^\]]+)\](?:\s+\[(?P<sev>[^\]]+)\])?"
date={normalize_date($date)}
plugin_sid={translate($process)}
device={$device}
src_ip={$device}
userdata1={$data}
userdata2={$sev}

[0999 - Generic rule]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s(?P<sid>[^\[]+)[^:]+:\s(?:(?P<event_date>\d+/\d+/\d+\s\d+:\d+:\d+))?.*?#011.*"
date={normalize_date($date)}
plugin_sid={translate($sid)}


[9999 - Generic rule - match all]
event_type=event
#precheck=""
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+).*"
date={normalize_date($date)}
plugin_sid=20000000








