# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin trendmicro-iwsva id:1934 version: 0.0.1
# Last modification: 2018-01-31	11:00
#
# Plugin Selection Info:
# Trend Micro:InterScan Web Security Virtual Appliance:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1934


[config]
type=detector
enable=yes

source=log
location=/var/log/trendmicro-iwsva.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]

EVT_URL_BLOCKING = 1
EVT_URL_ACCESS_TRACKING = 2
EVT_PERFORMANCE = 3
EVT_VIRUS_FOUND = 4
EVT_SPYWARE_FOUND = 5
EVT_DLP_FOUND = 6
EVT_C&C_CALLBACK_FOUND = 7
EVT_URL_MONITORING = 8
EVT_URL_WARNING = 9
EVT_URL_WARN_AND_CONTINUING = 10
EVT_FTP_GET = 11
EVT_FTP_PUT = 12
EVT_APP_CONTROL_BLOCK = 13
EVT_SYSEVENT_AU_SUCC = 14
EVT_SYSEVENT_AU_FAIL = 15
EVT_AUDITING = 16

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Trendmicro-IWSVA - EVT_URL_BLOCKING]
event_type=event
precheck="EVT_URL_BLOCKING"
regexp="(?P<syslogdate>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<dev_name>[^:]+):\s+<(?P<date>[^>]+)>\s+\[(?P<sid>[^\|\]]+)\|(?P<severity>[^]]*)\]\s+(?P<desc>\S+(?:(?!\s\w+=)\s+\S+)*)\s+(?:tk_server=(?P<server>[^,]+),|tk_date_field=(?P<date_field>[^,]+),|tk_username=(?P<username>[^,]+),|tk_url=(?P<url>[^,]+),|tk_size=(?P<size>[^,]+),|tk_protocol=(?P<proto>[^,]+),|tk_client_ip=(?P<srcip>[^,]+),|tk_server_ip=(?P<server_ip>[^,]+),|tk_domain=(?P<domain>[^,]+),|tk_path=(?P<path>[^,]+),|tk_file_name=(?P<filename>[^,]+)?,|tk_operation=(?P<method>[^,]+),|tk_uid=(?P<uid>[^,]+),|tk_category=(?P<cat>[^,]+),|tk_malicious_entity=(?P<malicious>[^,]+)?,|tk_entity_name=(?P<entity>[^,]+)?,|tk_action=(?P<action>[^,]+)?,|tk_scan_type=(?P<scan>[^,]+),|tk_blocked_by=(?P<blocked>[^,]+),|tk_rule_name=(?P<rule>[^,]+),|tk_opp_id=(?P<opp_id>[^,]+),|tk_group_name=(?P<group>[^,]+),|tk_filter_action=(?P<filter>[^,]+))+"
date={normalize_date($date_field)}
plugin_sid={translate($sid)}
device={$device}
username={$username}
protocol={$proto}
filename={$filename}
userdata1={$severity}
userdata2={$url}
userdata3={$cat}
userdata4={$blocked}
userdata5={$rule}
userdata6={$malicious}
userdata7={$group}
userdata8={$filter}
userdata9={$scan}

[0002 - Trendmicro-IWSVA]
event_type=event
regexp="(?P<syslogdate>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<dev_name>[^:]+):\s+<(?P<date>[^>]+)>\s+\[(?P<sid>[^]|]+)\|(?P<severity>[^]]*)\]\s+(?P<desc>\S+(?:(?!\s\w+=)\s+\S+)*)\s+(?:tk_server=(?P<server>[^,]+),|tk_date_field=(?P<date_field>[^,]+),|tk_metric_id=(?P<metric_id>[^,]+),|tk_metric_value=(?P<metric_value>[^,]+),|tk_username=(?P<username>[^,]+),|tk_url=(?P<url>[^,]+),|tk_size=(?P<size>[^,]+),|tk_protocol=(?P<proto>[^,]+),|tk_mime_content=(?P<mime>[^,]+),|tk_client_ip=(?P<srcip>[^,]+),|tk_server_ip=(?P<server_ip>[^,]+),|tk_domain=(?P<domain>[^,]+),|tk_path=(?P<path>[^,]+),|tk_file_name=(?P<filename>[^,]+)?,|tk_operation=(?P<method>[^,]+),|tk_uid=(?P<uid>[^,]+),|tk_category=(?P<cat>[^,]+),|tk_category_type=(?P<cat_type>[^,]+))+"
date={normalize_date($date_field)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$srcip}
dst_ip={$server_ip}
username={$username}
protocol={$proto}
filename={$filename}
userdata1={$severity}
userdata2={$url}
userdata3={$server}
userdata4={$mime}
userdata5={$domain}
userdata6={$path}
userdata7={$method}
userdata8={$cat}
userdata9={$metric_value}

[9998 - Trendmicro-IWSVA - Generic Rule]
event_type=event
regexp="(?P<syslogdate>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+(?P<dev_name>[^:]+):\s+<(?P<date>[^>]+)>\s+\[(?P<sid>[^\|\]]+)\|(?P<severity>[^]]*)\].*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$device}
userdata1={$dev_name}
userdata2={$severity}


[9999 - Trendmicro-IWSVA - Ultra Generic Rule]
event_type=event
regexp="(?P<syslogdate>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+).*"
date={normalize_date($syslogdate)}
plugin_sid=20000000
device={$device}