# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin tripwire id:1974 version: 0.0.1
# Last modification: 2018-08-03	12:00
#
# Plugin Selection Info:
# tripwire:Enterprise:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1974


[config]
type=detector
enable=yes

source=log
location=/var/log/tripwire.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
Task Run = 1
Agent CSR = 2
Element Check = 3
Baseline = 4
System = 5
Security = 6
Change = 7
Rule Change = 8
Asset View Change = 9
Node Change = 10
Audit Event = 11
Policy Test = 12
Action = 13

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Tripwire - Failed to establish SSH connection]
event_type=event
precheck="Failed to establish SSH connection"
regexp="^(?P<date>\w+\s+\d+\s+\d+\:\d+\:\d+)\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s\S+\s+(?P<severity>\S+)\s+(?:HostName=(?P<hostname>\S+)\s+|LogId=(?P<log_id>\S+)\s+|LogCategory="?(?P<log_category>Baseline|System|Action|Change|Security|[^"]+)"?\s+|LogUser=(?P<log_user>\S+)\s+|AssociatedObjects=(?P<associated_objects>\S+)\s+|ElementId=(?P<element_id>\S+)\s+|NodeId=(?P<node_id>\S+)\s+|NodeName=(?P<node_name>\S+)\s+|NodeIp=(?P<node_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+|ChangeType=(?P<change_type>\S+)\s+|AccessType=(?P<access_type>\S+)\s+|EventType=(?P<event_type>\S+)\s+|AppType=(?P<app_type>\S+)\s+|VerId=(?P<ver_id>\S+)\s+|Msg=".*(?P<msg>Failed to establish SSH connection to host '\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}' using port \d+))*"
date={normalize_date($date)}
plugin_sid=14
device={$src_ip}
src_ip={$src_ip}
dst_ip={$node_ip}
username={$log_user}
userdata1={$log_id}
userdata2={$associated_objects}
userdata3={$severity}
userdata4={$node_id}
userdata5={$node_name}
userdata6={$msg}
userdata7={$access_type}
userdata8={$event_type}
userdata9={$hostname}

[0002 - Tripwire - Failed to complete a certificate signing request]
event_type=event
precheck="Failed to complete a certificate signing request"
regexp="^(?P<date>\w+\s+\d+\s+\d+\:\d+\:\d+)\s+(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s\S+\s+(?P<severity>\S+)\s+(?:HostName=(?P<hostname>\S+)\s+|LogId=(?P<log_id>\S+)\s+|LogCategory="?(?P<log_category>Baseline|System|Action|Change|Security|[^"]+)"?\s+|LogUser=(?P<log_user>\S+)\s+|AssociatedObjects=(?P<associated_objects>\S+)\s+|ElementId=(?P<element_id>\S+)\s+|NodeId=(?P<node_id>\S+)\s+|NodeName=(?P<node_name>\S+)\s+|NodeIp=(?P<node_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+|ChangeType=(?P<change_type>\S+)\s+|AccessType=(?P<access_type>\S+)\s+|EventType=(?P<event_type>\S+)\s+|AppType=(?P<app_type>\S+)\s+|VerId=(?P<ver_id>\S+)\s+|Msg=".*(?P<msg>Failed to complete a certificate signing request for host '(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})'))*"
date={normalize_date($date)}
plugin_sid=15
device={$device}
src_ip={$src_ip}
dst_ip={$node_ip}
username={$log_user}
userdata1={$log_id}
userdata2={$associated_objects}
userdata3={$severity}
userdata4={$node_id}
userdata5={$node_name}
userdata6={$msg}
userdata7={$access_type}
userdata8={$event_type}
userdata9={$hostname}

[0003 - Tripwire - Failed to login via SSH]
event_type=event
precheck="Failed to login via SSH"
regexp="^(?P<date>\w+\s+\d+\s+\d+\:\d+\:\d+)\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s\S+\s+(?P<severity>\S+)\s+(?:HostName=(?P<hostname>\S+)\s+|LogId=(?P<log_id>\S+)\s+|LogCategory="?(?P<log_category>Baseline|System|Action|Change|Security|[^"]+)"?\s+|LogUser=(?P<log_user>\S+)\s+|AssociatedObjects=(?P<associated_objects>\S+)\s+|ElementId=(?P<element_id>\S+)\s+|NodeId=(?P<node_id>\S+)\s+|NodeName=(?P<node_name>\S+)\s+|NodeIp=(?P<node_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+|ChangeType=(?P<change_type>\S+)\s+|AccessType=(?P<access_type>\S+)\s+|EventType=(?P<event_type>\S+)\s+|AppType=(?P<app_type>\S+)\s+|VerId=(?P<ver_id>\S+)\s+|Msg=".*(?P<msg>Failed to login via SSH to host 'server'))*"
date={normalize_date($date)}
plugin_sid=16
device={$src_ip}
src_ip={$src_ip}
dst_ip={$node_ip}
username={$log_user}
userdata1={$log_id}
userdata2={$associated_objects}
userdata3={$severity}
userdata4={$node_id}
userdata5={$node_name}
userdata6={$msg}
userdata7={$access_type}
userdata8={$event_type}
userdata9={$hostname}

[0004 - Tripwire - Key value events]
event_type=event
regexp="^(?P<date>\w+\s+\d+\s+\d+\:\d+\:\d+)\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s\S+\s+(?P<severity>\S+)\s+(?:HostName=(?P<hostname>\S+)\s+|LogId=(?P<log_id>\S+)\s+|LogCategory="?(?P<log_category>Baseline|System|Action|Change|Security|[^"]+)"?\s+|LogUser=(?P<log_user>\S+)\s+|AssociatedObjects=(?P<associated_objects>\S+)\s+|ElementId=(?P<element_id>\S+)\s+|NodeId=(?P<node_id>\S+)\s+|NodeName=(?P<node_name>\S+)\s+|NodeIp=(?P<node_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+|ChangeType=(?P<change_type>\S+)\s+|AccessType=(?P<access_type>\S+)\s+|EventType=(?P<event_type>\S+)\s+|AppType=(?P<app_type>\S+)\s+|VerId=(?P<ver_id>\S+)\s+|Msg="(?P<msg>.*)")*"
date={normalize_date($date)}
plugin_sid={translate($log_category)}
device={$src_ip}
src_ip={$src_ip}
dst_ip={$node_ip}
username={$log_user}
userdata1={$log_id}
userdata2={$associated_objects}
userdata3={$severity}
userdata4={$node_id}
userdata5={$node_name}
userdata6={$msg}
userdata7={$access_type}
userdata8={$event_type}
userdata9={$hostname}

[9999 - Tripwire - Generic event]
event_type=event
regexp="^(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid=20000000
userdata1={$msg}
