# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin vmware-nsx id:1980 version: 0.0.2
# Last modification: 2018-10-25	16:30
#
# Plugin Selection Info:
# VMware:NSX:-
#
# END-HEADER
#
# Description:
# Firewall logs
#
#
# 

[DEFAULT]
plugin_id=1980


[config]
type=detector
enable=yes

source=log
location=/var/log/vmware-nsx.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]

match = 1
bad-offset = 2
fragment = 3
short = 4
normalize = 5
memory = 6
bad-timestamp = 7
proto-cksum = 8
state-mismatch = 9
state-insert = 10
state-limit = 11
SpoofGuard = 12
TERM = 13
TCP Connection Timedout = 14
Portal authentication request received = 15
Portal authentication failure = 16

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Vmware-nsx - Action included]
event_type=event
regexp="^(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<filter_hash>\d+)\s+(?P<af_value>\S+)\s+(?P<reason>\S+)\s+(?P<action>\S+)\s+(?P<rule_set>[^\/]+)\/(?P<rule_id>\d+)\s+(?P<direction>\S+)\s+(?P<packet_length>\d+)\s+(?P<protocol>TCP|UDP|ICMP|PROTO\s+\d+)\s+(?:(?P<proto_exp>\S+)\s+)?(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})?(?P<src_ipv6>(?:[0-9A-Fa-f]{1,4}:){7}(?:[0-9A-Fa-f]{1,4}))?(?:\/(?P<src_port>\d+))?->(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})?(?P<dst_ipv6>(?:[0-9A-Fa-f]{1,4}:){7}(?:[0-9A-Fa-f]{1,4}))?(?:\/(?P<dst_port>\d+))?(?:\s+(?P<tcp_flag>S|SA|A|P|U|F|R))?(?:\s+(?P<packets_in>\d+)\/(?P<packets_out>\d+)\s+(?P<bytes_in>\d+)\/(?P<bytes_out>\d+))?"
date={normalize_date($date)}
plugin_sid={translate($reason)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={$protocol}
userdata1={$action}
userdata2={$dst_ipv6}
userdata3={$src_ipv6}
userdata4={$tcp_flag}
userdata5={$packets_in}
userdata6={$packets_out}
userdata7={$bytes_in}
userdata8={$bytes_out}
userdata9={$rule_id}

[0002 - Vmware-nsx - Action not included]
event_type=event
regexp="^(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<filter_hash>\d+)\s+(?P<af_value>\S+)\s+(?P<reason>\S+)\s+(?P<rule_set>[^\/]+)\/(?P<rule_id>\d+)\s+(?P<direction>\S+)\s+(?:(?P<packet_length>\d+)\s+)?(?P<protocol>TCP|UDP|ICMP|PROTO\s+\d+)\s+(?:(?P<proto_exp>\S+)\s+)?(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})?(?P<src_ipv6>(?:[0-9A-Fa-f]{1,4}:){7}(?:[0-9A-Fa-f]{1,4}))?(?:\/(?P<src_port>\d+))?->(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})?(?P<dst_ipv6>(?:[0-9A-Fa-f]{1,4}:){7}(?:[0-9A-Fa-f]{1,4}))?(?:\/(?P<dst_port>\d+))?(?:\s+(?P<tcp_flag>S|SA|A|P|U|F|R))?(?:\s+(?P<packets_in>\d+)\/(?P<packets_out>\d+)\s+(?P<bytes_in>\d+)\/(?P<bytes_out>\d+))?"
date={normalize_date($date)}
plugin_sid={translate($reason)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={$protocol}
userdata1={$src_ipv6}
userdata2={$dst_ipv6}
userdata3={$packet_length}
userdata4={$tcp_flag}
userdata5={$packets_in}
userdata6={$packets_out}
userdata7={$bytes_in}
userdata8={$bytes_out}
userdata9={$rule_id}

[0003 - Vmware-nsx - Length before]
event_type=event
regexp="^(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:\s+(?P<filter_hash>\d+)\s+(?P<af_value>\S+)\s+(?P<reason>\S+)\s+(?P<rule_set>[^\/]+)\/(?P<rule_id>\d+)\s+(?P<direction>\S+)\s+(?P<protocol>TCP|UDP|ICMP|PROTO\s+\d+)\s+(?P<packet_length>\d+)\s+\d+\s+(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})?(?P<src_ipv6>(?:[0-9A-Fa-f]{1,4}:){7}(?:[0-9A-Fa-f]{1,4}))?(?:\/(?P<src_port>\d+))?->(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})?(?P<dst_ipv6>(?:[0-9A-Fa-f]{1,4}:){7}(?:[0-9A-Fa-f]{1,4}))?(?:\/(?P<dst_port>\d+))?(?:\s+(?P<tcp_flag>S|SA|A|P|U|F|R))?(?:\s+(?P<packets_in>\d+)\/(?P<packets_out>\d+)\s+(?P<bytes_in>\d+)\/(?P<bytes_out>\d+))?"
date={normalize_date($date)}
plugin_sid={translate($reason)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
src_port={$src_port}
dst_port={$dst_port}
protocol={$protocol}
userdata1={$src_ipv6}
userdata2={$dst_ipv6}
userdata3={$packet_length}
userdata4={$tcp_flag}
userdata5={$packets_in}
userdata6={$packets_out}
userdata7={$bytes_in}
userdata8={$bytes_out}
userdata9={$rule_id}

[0004 - Vmware-nsx - Timedout events]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s[^:]+:\s(?P<class>[^:]+):\s(?P<event>TCP Connection Timedout)\s(?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}):(?P<src_port>\d+)\s->\s(?P<dst>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}):(?P<dst_port>\d+)"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$src}
dst_ip={$dst}
src_port={$src_port}
dst_port={$dst_port}
userdata1={$class}

[0005 - Vmware-nsx - SSLVPN events]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\ssslvpn:\s(?P<level>\S+)\s+:*(?P<class>\S+(?:(?!\s+:)\s+\S+)*)\s+:\s(?P<event>Portal authentication (?:request received|failure))\s(?:from|for)\suser\s(?P<username>\S+)"
date={normalize_date($date)}
plugin_sid={translate($event)}
device={$device}
src_ip={$device}
username={$username}
userdata1={$class}
userdata2={$level}

[9999 - Vmware-nsx - Generic rule]
event_type=event
#precheck=""
regexp="^(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+\S+:(?P<msg>.*)"
date={normalize_date($date)}
device={$device}
src_ip={$device}
userdata1={$msg}
plugin_sid=20000000

