# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin vmware-sso id:1894 version: 0.0.1
# Last modification: 2017-08-24	14:20
#
# Plugin Selection Info:
# VMware:Single Sign On Server:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1894


[config]
type=detector
enable=yes

source=log
location=/var/log/vmware-sso.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
#   Rule 1
Authentication succeeded for user = 1
Failed to authenticate principal = 2
#   Rule 3
Added access control = 4
Remove access control for principals = 5
Add role = 6
Update role = 7
Delete role = 8
#   Rule 4
logged in successfully = 1
logged out = 9
Resetting password of local user = 10
Deleting principal = 11
Creating local group = 12
Removing principals from local group = 13
Updating local password policy = 14
Adding users to local group = 15
Creating local person user = 16
#   Default
_DEFAULT_ = 20000000


#########################
#         RULES         #
#########################

[0001 - Vmware-sso - Authentications]
event_type=event
precheck="IdentityManager"
regexp="\[(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+(?P<device>\S+)\s+(?:opId=)?(?P<op_id>\S*)\s+(?P<severity>\S+)\s*(?P<process>\S*)\]\s+\[IdentityManager\]\s+(?P<sid>Authentication succeeded for user|Failed to authenticate principal)\s+\[(?P<username>[^]@]+)(?:@(?P<domain>[^]]+))?\] (?:in|for) tenant\s+\[(?P<tenant>[^]]+)\](?: in\s+\[(?P<login_time>\d+)\]\s+\S+\s+with provider\s+\[(?P<provider>[^]]+)\]\s+of type\s+\[\S+\.(?P<type>\S+)\])?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
dst_ip={$tenant}
username={$username}
userdata1={$severity}
userdata2={$domain}
userdata3={$process}
userdata4={$op_id}
userdata5={$login_time}
userdata6={$provider}
userdata7={$type}

[0002 - Vmware-sso - User not found]
event_type=event
precheck="ActiveDirectoryProvider"
regexp="\[(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+(?P<device>\S+)\s+(?:opId=)?(?P<op_id>\S*)\s+(?P<severity>\S+)\s*(?P<process>\S*)\]\s+\[ActiveDirectoryProvider\]\s+Failed to retrieve default\s+UPN\s+for principal\s+(?P<username>[^\s@]+)(?:@(?P<domain>\S+))?"
date={normalize_date($date)}
plugin_sid=3
device={$device}
dst_ip={$device}
username={$username}
userdata1={$severity}
userdata2={$domain}
userdata3={$process}
userdata4={$op_id}

[0003 - Vmware-sso - Action performed]
event_type=event
precheck="Action performed by principal"
regexp="(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+\[\S+\s+(?P<severity>\S+)\s+\S+\s+(?:opId=)?(?P<op_id>\S*)\]\s+Action performed by principal\(name=(?:(?P<domain>[^\\),\s]+)\\)(?P<username>[^,]+),isGroup=(?P<isgroup>true|false)\):(?P<sid>Added access control|Remove access control for principals|Add role|Update role|Delete role)\s+(?:\[\s+(?:Principal=)?Name=(?:(?P<domain2>[^\\),\s]+)\\)(?P<username2>[^,]+),isGroup=(?P<isgroup2>true|false)(?:,roles=(?P<roles>[^,]+),propogating=(?P<propagating>true|false))?\s+\]\s+(?:to|on)\s+document\s+(?P<document>\S+)|(?:Id=)?(?P<id>\d+)(?:,Name=(?P<role_name>[^,]+),Description=(?P<desc>[^,]*),)?)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
username={$username}
userdata1={$severity}
userdata2={$domain}
userdata3={$isgroup}
userdata4={$op_id}
userdata5={$username2}
userdata6={$domain2}
userdata7={$document}
userdata8={$id}
userdata9={$role_name}

[0004 - Vmware-sso - User interaction]
event_type=event
precheck="with role"
regexp="\[(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+\S+\s+(?:opId=)?(?P<op_id>\S*)\s+(?P<severity>\S+)\s*(?P<process>\S*)\][\s\[]+User\s+\{Name:\s+(?P<username>\S+),\s+Domain:\s+(?P<domain>\S+)}\s+with role\s+'(?P<role>[^']+)'\]?\s+(?P<sid>logged in successfully|logged out|Resetting password of local user|Deleting principal|Creating local group|Removing principals from local group|Updating local password policy|Adding users to local group|Creating local person user)(?:\s+'(?P<userdata3>[^']+)'(?:\s+with details\s+{(?P<details>[^}]+)})?)?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
username={$username}
userdata1={$severity}
userdata2={$domain}
userdata3={$userdata3}
userdata4={$op_id}
userdata5={$process}
userdata6={$role}
userdata7={$details}

[0005 - Vmware-sso - EventLog]
event_type=event
precheck="EventLog"
regexp="\[(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+(?P<device>\S+)\s+(?P<op_id>\S+)\s+(?P<severity>\S+)\s+\]\s+\[VmEventAppender\]\s+EventLog:\s+source=\[(?P<source_device>[^\]]+)\],\s+tenant=\[(?P<tenant>[^]]+)\],\s+eventid=\[(?P<event_id>[^\]]+)\], level=\[(?P<level>[^]]+)\], category=\[(?P<category>[^\]]+)\],\s+text=\[(?:SimpleMessage\[message=)?Failed to authenticate principal\s+\[(?P<username>[^\]\s@]+)(?:@(?P<user_domain>[^\s\+]+))?\]\.\s+"
date={normalize_date($date)}
plugin_sid=2
device={$device}
dst_ip={$tenant}
username={$username}
userdata1={$severity}
userdata2={$user_domain}
userdata3={$source_device}
userdata4={$op_id}
userdata5={$level}
userdata6={$category}
userdata7={$event_id}

[0006 - Vmware-sso - Session closed]
event_type=event
precheck="Session closed for User"
regexp="\[(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+(?P<device>\S+)\s+(?:opId=)?(?P<op_id>\S*)\s+(?P<severity>\S+)\s*(?P<process>\S*)\]\s+Session closed for User\s+\{Name:\s+(?P<username>\S+),\s+Domain:\s+(?P<domain>\S+)}\s+with role\s+'(?P<role>[^']+)'"
date={normalize_date($date)}
plugin_sid=9
username={$username}
userdata1={$severity}
userdata2={$domain}
userdata3={$process}
userdata4={$role}
userdata5={$op_id}


[9999 - Vmware-sso - Generic rule]
event_type=event
#precheck=""
regexp="\[(?P<date>\d+-\d+-\d+T\d+:\d+:\d+\.\d+\S+)\s+.*"
date={normalize_date($date)}
plugin_sid=20000000