# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin vmware-view-admin id:1892 version: 0.0.2
# Last modification: 2018-09-06	09:45
#
# Plugin Selection Info:
# VMware:View Administrator:-
#
# END-HEADER
#
# Description:
#
#
# 

[DEFAULT]
plugin_id=1892


[config]
type=detector
enable=yes

source=log
location=/var/log/vmware-view-admin.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
View Added deployment = 1
View Failed to perform space reclamation = 2
View Provisioning error occurred = 3
View SSO credentials locked = 4
View Session = 5
View Successfully configured = 6
View The pending session = 7
added = 8
assigned = 9
attempting recovery for = 10
attempting to delete = 11
attempting to restart = 12
failed to authenticate = 13
failed to authenticate because of a bad username or password = 14
has accepted an allocated session = 15
has been deleted = 16
has been successfully reconfigured = 17
has contacted the connection server and sent a startup message = 18
has disconnected = 19
has logged in = 20
has logged in to View Administrator = 21
has logged off = 22
has logged out = 23
has logged out from View Administrator = 24
has reconnected = 25
has shut down = 26
removed assignment for = 27
requested = 28
updated = 29
was entitled to = 30
has logged in to a new session on = 31

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Vmware-view-admin - View User]
event_type=event
precheck="View User"
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\sView\sUser\s(?:(?P<domain>[^\\]+)\\)?(?P<user>\S+)\s(?P<sid>failed\sto\sauthenticate(?:\sbecause\sof\sa\sbad\susername\sor\spassword)?|requested|has\s\S+(?:\soff|\sout(?:\sfrom\sView\sAdministrator)?|\sin(?:\sto\sView\sAdministrator|\sto\sa\snew\ssession\son)?)?)\s*(?:from\s|to\s|Pool\s(?P<pool>[^\s,]+)(?:,\s+allocated\s)?|machine\s(?P<machine>\S+))*"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
username={$user}
userdata1={$domain}
userdata2={$machine}
userdata3={$pool}

[0002 - Vmware-view-admin - View The agent running on machine]
event_type=event
precheck="View The agent running on machine"
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+View\s+The\s+agent\s+running\s+on\s+machine\s(?P<machine>\S+)\s+(?P<sid>has\saccepted\san\sallocated\ssession|has shut down|.*)\s*(?:for\suser\s+(?P<domain>[^\\]+)\\(?P<user>\S+))?"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
username={$user}
userdata1={$domain}
userdata2={$machine}


[0003 - Vmware-view-admin - View Automatic error recovery for Pool]
event_type=event
precheck="View Automatic error recovery for Pool"
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+View\s+Automatic\serror\srecovery\sfor\sPool\s(?P<pool>[^:]+):\s(?P<sid>attempting\s.*?)\sMachine\s(?P<machine>\S+)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$pool}
userdata2={$machine}

[0004 - Vmware-view-admin - View machine]
event_type=event
#precheck=""
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\sView\s[mM]achine\s(?P<machine>\S+)\s(?P<sid>.*)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
userdata1={$machine}

[0005 - Vmware-view-admin - View User]
event_type=event
#precheck=""
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+View\s(?:(?P<domain>[^\\]+)\\)?(?P<user>\S+)\s(?P<sid>updated|added|assigned|removed\sassignment\sfor|was\sentitled\sto)\s(?:Pool\s(?P<pool>\S+)(?:\sby\s(?:(?P<domain2>[^\\]+)\\)?(?P<user2>\S+))?|(?P<msg>.*))"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
username={$user}
userdata1={$domain}
userdata2={$pool}
userdata3={$domain2}
userdata4={$user2}
userdata5={$msg}

[0010 - Vmware-view-admin - ]
event_type=event
#precheck=""
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s(?P<sid>View Added deployment|View\sSession|View Successfully configured|View\sFailed\sto\sperform\sspace\sreclamation|View Provisioning error occurred|View The pending session|View SSO credentials locked)\s(?:(?:on\s|for\s)[mM]achine\s(?P<machine>[^:\s]+)[\s:]+|(?:in|for)\sPool\s(?P<pool>[^\s:]+)|for\suser\s(?P<domain>[^\\]+)\\(?P<user>\S+)|(?P<configured>.*?)for\s(?:Machine\s)?(?P<machine2>.*?)in\sPool\s(?P<pool2>\S+)|group\s(?P<group>\S+)\sfor\s\S+)+"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
username={$user}
userdata1={$pool}
userdata2={$machine}
userdata3={$domain}
userdata4={$configured}
userdata5={$machine2}
userdata6={$pool2}
userdata7={$group}

[9999 - Vmware-view-admin - Generic]
event_type=event
#precheck=""
regexp="(?P<date>\S+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s(?P<msg>.*)"
date={normalize_date($date)}
plugin_sid=20000000
device={$device}
userdata1={$msg}