# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin vmware-vshield id:1711 version: 0.0.4
# Last modification: 2016-08-31 14:20
#
# Plugin Selection Info:
# VMware:vShield:-
#
# END-HEADER
# Accepted products:
#
# Description:
#
# Vmware Vshield Manager

[DEFAULT]
plugin_id=1711

[config]
type=detector
enable=yes
source=log
location=/var/log/vmware-vshield.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
#   Rule 1
LOGIN = 1
STATISTICS = 2
#   Rule 2
ACCEPT = 3
DROP = 4
#   Default
_DEFAULT_=20000000

[0001 - Vmware-Vshield - Audits]
event_type=event
precheck="AuditLog"
regexp="(?P<date>\w{3}\s+\d{1,2}\s\d\d:\d\d:\d\d)\s+\S+\s+\[AuditLog\]\s+UserName:'(?P<username>[^']*)',\s+ModuleName:'(?P<module>[^']*)',\s+Operation:'(?P<operation>[^']*)',\s+Resource:'(?P<resource>[^']*)',\s+Time:'(?P<time>[^']*)'"
date={normalize_date($date)}
plugin_sid={translate($operation)}
username={$username}
userdata1={$module}
userdata2={$resource}
userdata3={$time}

# Jul 22 02:27:22 <...> firewall[]: [1df2f2e6-ed5d-491b-a264-793f02e44b05]: DROP_131073IN=vNic_1 OUT= MAC=<...> SRC=x.x.x.x DST=x.x.x.x LEN=241 TOS=0x00 PREC=0x00 TTL=128 ID=18015 PROTO=UDP SPT=138 DPT=138
[0002 - Vmware-Vshield - Firewall]
event_type=event
#precheck=""
regexp="(?P<syslog_date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<sensor>\S*)\s+.*?\[.*?\]:\s\S+\s(?P<sid>[^_]*)_.*?IN=(?P<in>\S*)\s+OUT=(?P<out>\S*)\s+(?:MAC=(?P<mac>[^\s]*)\s+)?SRC=(?P<src_ip>\S+)\s+DST=(?P<dst_ip>\S+).*\s+PROTO=(?P<proto>\S*)\s+SPT=(?P<src_port>\S+)\s+DPT=(?P<dst_port>\S+)"
date={normalize_date($syslog_date)}
device={resolv($sensor)}
plugin_sid={translate($sid)}
src_ip={resolv($src_ip)}
dst_ip={resolv($dst_ip)}
src_port={$src_port}
dst_port={$dst_port}
protocol={$proto}
userdata1={$in}
userdata2={$out}
userdata3={$mac}
