# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin vmware-esxi id:1686 version: 0.0.5
# Last modification: 2017-08-30 12:00
#
# Plugin Selection Info:
# VMware:ESXi:-
#
# END-HEADER
# Accepted products:
# vmware - esxi -
# Description:
# 
#  $Id: vmware-esxi.cfg, v1.0 2012/05/17
#  Auth. Paty Chavez
#  Coleccion: Syslog
#
#

[DEFAULT]
plugin_id=1686

[config]
type=detector
enable=yes


source=log
location=/var/log/vmware-esxi.log

create_file=false

process=
start=no
stop=no
startup=
shutdown=

[translation]
warning = 1
error = 2
info = 3
verbose = 4

Accepted password = 7
Claiming = 8
IpmiIfcSelGetAll = 9
No match, sensor_health file missing = 12
QueryInformation() = 13
Section for VMware ESX = 14
is already loaded = 15
quiet = 17
DictionaryLoad = 18
host = 19
vpx = 20
hostd-prob = 21
starting hostd probing. = 22
Unlocking esx.conf = 23
Locking esx.conf = 24
Creating archive = 25
released lock for = 26
received CONNECT command: = 27
up = 28
login from = 29
Connect from = 5
local verification = 30
fd = 31
scanning = 33
HTTP Not Found Error = 34
Rejected password = 35
QueryInformation = 36
rhttpprox = 37
hostdCgiServe = 32
pathStr = 39
Bad HTTP Request Error = 40
HTTP Forbidden Error = 41

_DEFAULT_ = 20000000


[0001 - esxi - HostCtl Exeption]
event_type=event
precheck="HostCtl Exception in stats collection"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<source_ip>\S+)\s+(?P<vmware_process>\S+): \[(?P<info>[^\]]+)\] HostCtl Exception in stats collection.\s+(?P<exception_info>[\S\t .]+)"
plugin_sid=10
date={normalize_date($date)}
device={$source_ip}
src_ip={$source_ip}
userdata1={$info}
userdata2={$exception_info}

[0002 - esxi - Version Info]
event_type=event
precheck="version="
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s([^,]+),\s+(?P<source_ip>\S+)\s+(?P<vmware_process>\S+): id=(?P<id>\d+), version=(?P<version>\S+), build=(?P<build>\d+), option=(?P<option>\S+)"
plugin_sid=11
date={normalize_date($date)}
device={$source_ip}
src_ip={$source_ip}
userdata1={$id}
userdata2={$version}
userdata3={$build}
userdata4={$option}

[0003 - esxi - vthread]
event_type=event
precheck="vthread-"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<source_ip>\S+)\s+vthread\-\d\| \S+: (?P<message>[\S\t .]+)"
plugin_sid=9995
date={normalize_date($date)}
device={$source_ip}
src_ip={$source_ip}
userdata1={$message}

[0004 - esxi - vmkernel]
event_type=event
precheck="vmkernel:"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<source_ip>\S+)\s+vmkernel:\s+(?:(?P<cpu>[^)]+)\)[^:]+:\s+\d*:?\s*)?(?:scsi\d+:\d+\s|SVM_MakeDev\S+\s+|hpsa_vmkScsiCmdDone:(?P<hpsa_cmd>[^:]+):\sSense\sdata:(?P<sense_data>\S*)\serror\scode:\s(?P<error_code>[^,]+),\skey:\s(?P<key>[^,]+),\sinfo:[^,]+,\scmdInfo:[^,]+,\s|Cmd\([^)]+\)\s[^,]+,\s+|CmdSN:?\s.*?(?:,\s|Valid\ssense\sdata:\s+.*)|worldId:\s[^,]+,\sCmd:\s[^,]+,\sASC:\s[^,]+,\sASCQ:\s\S*|handle[^)]+\):\s*)*(?P<msg>enabled\sport\s\S+|[^(;,:]*)(?:\s+with\smac\s(?P<mac>\S+))?.*"
plugin_sid=9996
date={normalize_date($date)}
device={$source_ip}
src_ip={$source_ip}
userdata1={$hpsa_cmd}
userdata2={$sense_data}
userdata3={$error_code}
userdata4={$key}
userdata5={$msg}
userdata6={$mac}

[0005 - esxi - vmkernel]
event_type=event
precheck="vmkwarning:"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<source_ip>\S+)\s+vmkwarning:\s+(?:(?P<cpu>[^)]+)\))?(?P<message>[\S\t .]+)"
plugin_sid=9997
date={normalize_date($date)}
device={$source_ip}
src_ip={$source_ip}
userdata1={$message}
userdata2={$cpu}

[0006 - esxi - Debug Traceback]
event_type=event
precheck="-->"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<source_ip>\S+)\s+(?P<vmware_process>[^:]+): -->(?:\s\[context\]|\s*\}?\]?,?(?P<debug_info>[\S\t .]*))?"
plugin_sid=9998
date={normalize_date($date)}
device={$source_ip}
src_ip={$source_ip}
userdata1={$vmware_process}
userdata2={$debug_info}

[0007 - esxi - Auth1]
event_type=event
precheck="Connect from"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<host>\S+)\s+\S+:\s+(?P<date>.*?)\s+(?P<process>vmauthd)\[(?P<pid>\d+)\]:\s+Connect from.*?(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})(?::(?P<src_port>\d+))?"
plugin_sid=5
date={normalize_date($date)}
device={$host}
src_ip={$src_ip}
src_port={$src_port}
userdata1={$process}
userdata2={$pid}

[0008 - esxi - Auth]
event_type=event
precheck="vmauthd"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<host>\S+)\s+\S+:\s+(?P<date>.*?)\s+(?P<process>vmauthd)\[(?P<pid>\d+)\]:\s+(?P<message>.*)"
plugin_sid=6
date={normalize_date($date)}
device={$host}
src_ip={$host}
userdata1={$process}
userdata2={$pid}
userdata3={$message}

[0008-b - esxi - Auth without date]
event_type=event
precheck="vmauthd"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<host>\S+)\s+(?P<process>vmauthd)\[(?P<pid>\d+)\]:\s+(?P<sid>Connect\sfrom|login\sfrom|local\sverification|.*)\s(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s*)?(?:as\s(?P<user>\S+))?"
plugin_sid=6
date={normalize_date($syslog_date)}
device={$host}
src_ip={$src_ip}
username={$user}
userdata1={$process}
userdata2={$pid}

[0009 - esxi - Hostd]
event_type=event
precheck="Hostd"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+(?P<vmware_process>Hostd):\s(?:\[[^\]]+\]\s+)?(?P<sid>No match, sensor_health file missing|Rejected password|Section for VMware ESX|Accepted password|(?!\S+\shostd\[)[^:(]+)(?:(?:\sfor|\([^)]+\):)\suser\s(?P<username>\S+)\s(?:from\s(?P<src_ip>\S+)+)?|:?\s+(?P<msg>[^:]+))?.*"
plugin_sid={translate($sid)}
date={normalize_date($date)}
device={$device}
src_ip={$src_ip}
username={$username}
userdata1={$vmware_process}
userdata2={$msg}

[0010 - esxi - Early init logs]
event_type=event
precheck="Early init logs"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+-+\s*(?P<sid>Early init logs)\s\S+\s+(?P<host>\S+)\shostd-probe:\s.*"
plugin_sid=16
date={normalize_date($date)}
device={$device}
src_ip={$device}
userdata1={$host}

[0011 - esxi - Section for VMware ESX]
event_type=event
precheck="Section for VMware ESX"
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+(?P<vmware_process>[^:]+):\s(?:\[[^\]]+\]\s+)?(?P<sid>Section for VMware ESX)(?:\sfor\suser\s(?P<username>\S+)\sfrom\s(?P<src_ip>\S+)+|:?\s+(?P<msg>[^:]+))?.*"
plugin_sid={translate($sid)}
date={normalize_date($date)}
device={$device}
src_ip={$src_ip}
username={$username}
userdata1={$vmware_process}
userdata2={$msg}

[0020 - esxi - Verbose]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+(?P<vmware_process>(?!sshd)\S+):\s+(?P<level>info|warning)?\s*(?P<sid>[^\s\[]+)\s*[^\[]+\[(?P<pid>[^\]]+)\]\s+\[(?P<usd1>\S+)\ssub=(?P<sub>[^\]\s]+)\]?\s(?:opID=(?P<op_id>\S+\s|[^\]]+)(?:user=(?:(?:vpxuser)?:(?P<vpxuser>[^\\]+)\\+)?(?P<user>[^]]+)\]|\])\s)?(?:\[(?P<usd2>[^\]]+)\]\s+)?-*\s*(?P<description>Activation\s\[[^]]+\]\s|[^:-]+)(?::\s(?:view\[[^]]+\],\ssession\[[^]]+\]\S+\s)?(?P<msg>Cannot\sopen\sfile|.*)(?:\s"(?P<file>[^"]+)")?)?"
plugin_sid={translate($sid)}
date={normalize_date($date)}
device={$device}
src_ip={$device}
filename={$file}
username={$user}
userdata1={$vmware_process}
userdata2={$pid}
userdata3={$description}
userdata4={$usd1}
userdata5={$sub}
userdata6={$op_id}
userdata7={$usd2}
userdata8={$msg}
userdata9={$vpxuser}

[9998 - esxi - General]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\s+.*?(?P<proccess>\[(?:\S+ (?P<level>\S+) '(?P<process>[^\']+)'(?:\s+\S+)?|[^]]+)\]|[^:]+):?\s*(?:pam_[^\(\s]+\([^)]+\):\s|\[[^]]+\][^:]+:\s\[[^]]+\]\sRemote access for ESXi local user account '(?P<user>[^']+)'\s|[^:\s]+:\s*\d*:?)?(?:plugin\s(?P<plugin>\S+)\s)?(?P<sid>Claiming|up|released lock for|DictionaryLoad|pathStr|has been locked|SSL\s+Connection\serror|Cannot open file|Could not expand environment variable HOME|authentication failure|HTTP Not Found Error|received CONNECT command:|.*)(?::?\.?\s*(?P<msg>(?:Cannot\sopen\sfile\s"|Filename:\s)(?P<file>[^"\s]+)"?)|:?\s*(?P<message>[\S\t \.]+))?"
plugin_sid={translate($sid)}
date={normalize_date($date)}
device={$device}
src_ip={$device}
username={$user}
filename={$file}
userdata1={$proccess}
userdata2={$plugin}
userdata3={$level}
