# Alienvault plugin
# Author: Umut YERCI <umut.yerci@labrisnetworks.com>
# Plugin win_filemon id:91133 version: 0.0.1
# Last modification: 2018-12-06 15:00
#
# Plugin Selection Info:
# win_filemon:-
#
# END-HEADER
#
# Description:
#    win_filemon
#
#
#
#

[DEFAULT]
plugin_id=91133

[config]
type=detector
enable=yes

source=database
source_type=mssql
source_ip=0.0.0.0
source_port=0
user=testuser
password=testpass
db=testdb
sleep=60

process=
start=no
stop=no

[translation]
EVT_SUCCESS=1
EVT_ERROR=2
EVT_WARNING=3
EVT_INFORMATION=4
EVT_AUDIT_SUCCESS=5
EVT_AUDIT_FAILURE=6

[start_query]
query="SELECT TOP 1 PK_FILEMON FROM FILEMON ORDER BY PK_FILEMON DESC"
regexp=

[query]
query="SELECT PK_FILEMON, DATE_CATCHED, EVENT, EVENT_TYPE, OBJECT_CLASS, OBJECT_SECURITY, PATH, PATH_OLD, PROCESS_NAME, SERVER_NAME, USER_COMPUTER_NAME, USER_NAME, USER_SID, GUARENTEE, EXTENSION, DATE_INSERTED FROM FILEMON where PK_FILEMON > $1 ORDER BY PK_FILEMON"
regexp=
ref=0
plugin_sid={translate($3)}
date={normalize_date($1)}
username={$11}
userdata1= EVENT: {$2}
userdata2= OBJECT CLASS: {$4}
userdata3= OBJECT_SECURITY: {$5}
userdata4= PATH: {$6}
userdata5= PROCESS_NAME: {$8}
userdata6= SERVER_NAME: {$9}
userdata8= USER_COMPUTER_NAME: {$10}
userdata9= USER_SID: {$12}
