# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin windns-nxlog id:1689 version: 0.0.7
# Last modification: 2018-03-16 14:20
#
# Plugin Selection Info:
# Microsoft:DNS Server:NXLog
# END-HEADER
# Accepted products:
# 
# Description:
# 
#

[DEFAULT]
plugin_id=1689

[config]
type=detector
enable=yes

custom_functions_file=/etc/ossim/agent/plugins/custom_functions/windns_domain_fixer.cfg
process=
start=no
stop=no
startup=
shutdown=

source=log
location=/var/log/dns-nxlog.log
create_file=false

[translation]
0000 = 0002
0001 = 0001
0028 = 0002
0080 = 0002
0084 = 0002
0085 = 0002
0280 = 8281
0384 = 8385
0385 = 8385
0580 = 1000003
0581 = 1000003
1001 = 0001
2001 = 0002
8080 = 0002
8081 = 0001
8085 = 0001
8087 = 0002
8281 = 8281
8285 = 1000006
8381 = 8385
9081 = 0001
8385 = 8385
00a8 = 0002
03a8 = 1000005
05a8 = 1000004
06a8 = 1000001
08a8 = 1000002
R = 0002
#   Default
_DEFAULT_ = 20000000

[0001 - W2003DNS]
event_type=event
regexp="(?P<date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date_event>\d+(?:\.|/)\d+(?:\.|/)\d+\s\d+:\d+:\d+(?:\s(?:AM|PM))?)\s\w+\sPACKET\s+\S+\s(?P<proto>\S+)\s(?:Rcv\s(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<src>\S+))|Snd\s(?:(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|(?P<dst>\S+)))\s+\S+\s(?P<query>\S*)\s*(?P<opcode>\S*)\s\[(?P<flag>\S+)\s+(?:\S{1,2})?\s+(?P<response_code>[^]]+)\]\s(?P<question_type>\S+)\s+(?P<question_name>[^"]+)""
date={normalize_date($date_event)}
plugin_sid={translate($flag)}
device={$device}
src_ip={$src_ip}
dst_ip={$dst_ip}
protocol={normalize_protocol($proto)}
userdata1={$query}
userdata2={$hostname}
userdata3={:fix_domain($question_name)}
userdata4={$opcode}
userdata5={$flag}
userdata6={$source_name}
userdata7={$src}
userdata8={$response_code}
userdata9={$question_type}

[0010 - W2003DNS]
precheck="Snd"
event_type=event
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<DNSServer>[^\#]+)\#.*?PACKET\s+(?P<proto>\S{3})\s\S+\s(?P<dst>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})"
date={normalize_date($date)}
plugin_sid={translate($sid)}
src_ip={$DNSServer}
dst_ip={$dst}
protocol={$proto}

[0011 - W2003DNS]
event_type=event
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<DNSServer>[^\#]+)\#.*?PACKET\s+(?P<proto>\S{3})\s\S+\s(?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})"
date={normalize_date($date)}
plugin_sid={translate($sid)}
src_ip={$src}
dst_ip={$DNSServer}
protocol={$proto}

[0012 - W2003DNS Snd device]
event_type=event
precheck="Snd"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s(?P<DNSServer>[^\#]+)\#.*?PACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$DNSServer}
dst_ip={$dst_ip}
protocol={$proto}
userdata1={$domain}

[0013 - W2003DNS Rcv device]
event_type=event
precheck="Rcv"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s(?P<DNSServer>[^\#]+)\#.*?PACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
plugin_sid={translate($sid)}
device={$device}
src_ip={$src_ip}
dst_ip={$DNSServer}
protocol={$proto}
userdata1={$domain}

[0014 - W2012DNS Snd device Query]
event_type=event
precheck="Snd"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?:(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+).*?(?P<query>\s)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\([^\s#]*)"
date={normalize_date($date)}
plugin_sid=1
device={$device}
src_ip={$device}
dst_ip={$dst_ip}
protocol={$proto}
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0015 - W2012DNS Rcv device Query]
event_type=event
precheck="Rcv"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+).*?(?P<query>\s)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\([^\s#]*)"
date={normalize_date($date)}
plugin_sid=1
device={$device}
src_ip={$src_ip}
dst_ip={$device}
protocol={$proto}
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0016 - W2012DNS Snd device Response]
event_type=event
precheck="Snd"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?(?P<query>R)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
plugin_sid={translate($query)}
device={$device}
protocol={$proto}
src_ip={$device}
dst_ip={$dst_ip}
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0017 - W2012DNS Rcv device Response]
event_type=event
precheck="Rcv"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?(?P<query>R)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
plugin_sid={translate($query)}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
protocol={$proto}
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0018 - W2012DNS ]
event_type=event
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<syslog_device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<device>\S+)\sProcess Name\[(?P<severity>\S+)\]\s+\S+\s+\S+\s+(?:\S+\s+)?(?P<thread_id>\d+)\s+(?P<context>[A-Z]+)\s+(?:\S+)\s+(?P<protocol>[A-Z]+)\s+(?P<snd_rcv_indicator>\S+)\s+(?P<remote_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+(?:\S+)\s+(?P<opcode>\w)\s+\[(?P<flag>\S+)\s+(?P<flag_code>\w)\s+(?P<response_code>[^\]]*)\]\s+(?P<question_type>\w+)\s+(?P<question_name>\S+)"
date={normalize_date($date)}
plugin_sid={translate($flag)}
device={$device}
src_ip={$device}
dst_ip={$remote_ip}
protocol={$protocol}
userdata1={$severity}
userdata2={$thread_id}
userdata3={$context}
userdata4={$question_type}
userdata5={$opcode}
userdata6={$question_name}
userdata7={$flag_code}
userdata8={$response_code}

[0019 - W2012DNS ]
event_type=event
precheck="got GQCS failure on a dead socket"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date_event>\d+/\d+/\d+\s\d+:\d+:\d+(?:\s(?:AM|PM))?)\s(?P<thread_id>\w+)\sNote:\sgot\sGQCS\sfailure\son\sa\sdead\ssocket\scontext\sstatus=(?P<context>[^\\]+)\\,\ssocket=(?P<socket>[^\\]+)\\,\spcon=(?P<pcon>[^\\]+)\\,\sstate=(?P<state>[^\\]+)\\,\sIP=(?:::|(?P<ip>[^"]+))""
date={normalize_date($date_event)}
plugin_sid=1000000
device={$device}
src_ip={$device}
dst_ip={$ip}
userdata1={$thread_id}
userdata2={$state}
userdata3={$context}
userdata4={$socket}
userdata5={$pcon}

[9999 - W2003DNS generic rule]
event_type=event
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s(?P<device>\S+)\sDNS-NXLOG:\s"(?P<hostname>[^\s";]*)","(?P<source_name>[^\s";]*)","(?P<date_event>\d+/\d+/\d+\s\d+:\d+:\d+\s\w+)\s\w+\s(?P<msg>\S+)\s+(?P<event>.*)"
date={normalize_date($date_event)}
plugin_sid=20000000
device={$device}
src_ip={$hostname}
userdata1={$source_name}
userdata2={$msg}
userdata3={$event}
