# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin windns id:1689 version: 0.0.5
# Last modification: 2016-11-22 16:50
#
# Plugin Selection Info:
# Microsoft:DNS Server:-
# END-HEADER
# Accepted products:
# microsoft - server 2003
# microsoft - server 2012
# Description:
# 
#

[DEFAULT]
plugin_id=1689

[config]
type=detector
enable=yes

process=
start=no
stop=no
startup=
shutdown=

source=log
location=/var/log/windns.log
create_file=false

[translation]
0000=0002
8081=0001
8085=0001
9081=0001
0001=0001
1001=0001
R=0002

[0001 - W2003DNS]
precheck="Snd"
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<DNSServer>[^\#]+)\#.*?PACKET\s+(?P<proto>\S{3})\s\S+\s(?P<dst>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})"
date={normalize_date($date)}
src_ip={resolv($DNSServer)}
dst_ip={$dst}
plugin_sid={translate($sid)}
protocol={$proto}


[0002 - W2003DNS]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<DNSServer>[^\#]+)\#.*?PACKET\s+(?P<proto>\S{3})\s\S+\s(?P<src>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})"
date={normalize_date($date)}
src_ip={$src}
dst_ip={resolv($DNSServer)}
plugin_sid={translate($sid)}
protocol={$proto}

[0003 - W2003DNS Snd device]
event_type=event
precheck="Snd"
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s(?P<DNSServer>[^\#]+)\#.*?PACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
device={$device}
protocol={$proto}
src_ip={resolv($DNSServer)}
dst_ip={$dst_ip}
plugin_sid={translate($sid)}
userdata1={$domain}

[0004 - W2003DNS Rcv device]
event_type=event
precheck="Rcv"
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s(?P<DNSServer>[^\#]+)\#.*?PACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?\[(?P<sid>\w{4})[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
device={$device}
protocol={$proto}
src_ip={$src_ip}
dst_ip={resolv($DNSServer)}
plugin_sid={translate($sid)}
userdata1={$domain}

[0010 - W2012DNS Snd device Query]
event_type=event
precheck="Snd"
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?:(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+).*?(?P<query>\s)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\([^\s#]*)"
date={normalize_date($date)}
device={resolv($device)}
protocol={$proto}
src_ip={resolv($device)}
dst_ip={$dst_ip}
plugin_sid=1
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0011 - W2012DNS Rcv device Query]
event_type=event
precheck="Rcv"
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?:(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})|\S+).*?(?P<query>\s)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\([^\s#]*)"
date={normalize_date($date)}
device={resolv($device)}
protocol={$proto}
src_ip={$src_ip}
dst_ip={resolv($device)}
plugin_sid=1
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0012 - W2012DNS Snd device Response]
event_type=event
precheck="Snd"
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<dst_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?(?P<query>R)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
device={resolv($device)}
protocol={$proto}
src_ip={resolv($device)}
dst_ip={$dst_ip}
plugin_sid={translate($query)}
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0013 - W2012DNS Rcv device Response]
event_type=event
precheck="Rcv"
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<device>\S+)\s.*?\sPACKET.*?(?P<proto>[A-Z]{3})\s\S+\s(?P<src_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}).*?(?P<query>R)\s(?P<opcode>\w)\s\[(?P<flags>\w{4})\s[^\(]+?(?P<domain>\(\S+)"
date={normalize_date($date)}
device={resolv($device)}
protocol={$proto}
src_ip={$src_ip}
dst_ip={resolv($device)}
plugin_sid={translate($query)}
userdata1={$domain}
userdata2={$opcode}
userdata3={$flags}

[0014 - W2012DNS ]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s+(?P<device>\S+)\sProcess Name\[(?P<severity>\S+)\]\s+\S+\s+\S+\s+(?:\S+\s+)?(?P<thread_id>\d+)\s+(?P<context>[A-Z]+)\s+(?:\S+)\s+(?P<protocol>[A-Z]+)\s+(?P<snd_rcv_indicator>\S+)\s+(?P<remote_ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s+(?:\S+)\s+(?P<opcode>\w)\s+\[(?P<flag>\S+)\s+(?P<flag_code>\w)\s+(?P<response_code>[^\]]*)\]\s+(?P<question_type>\w+)\s+(?P<question_name>\S+)"
date={normalize_date($date)}
plugin_sid={translate($flag)}
device={resolv($device)}
protocol={$protocol}
src_ip={resolv($device)}
dst_ip={$remote_ip}
userdata1={$severity}
userdata2={$thread_id}
userdata3={$context}
userdata4={$question_type}
userdata5={$opcode}
userdata6={$question_name}
userdata7={$flag_code}
userdata8={$response_code}

[0099 - W2003DNS generic rule]
event_type=event
regexp="(?P<date>\S+\s+\d+\s+\d\d:\d\d:\d\d)\s(?P<DNSServer>[^\#]+)\#"
date={normalize_date($date)}
plugin_sid=20000000
