# Alienvault plugin
# Author: Alienvault Team at plugins@alienvault.com
# Plugin winftp-nxlog id:1916 version: 0.0.1
# Last modification: 2017-11-21	10:30
#
# Plugin Selection Info:
# Microsoft:Windows IIS FTP Server:NXLog
#
# END-HEADER
#
# Description:
#
# https://support.microsoft.com/en-us/help/969061/the-ftp-7-0-status-codes-in-iis-7-0
# 

[DEFAULT]
plugin_id=1916


[config]
type=detector
enable=yes

source=log
location=/var/log/winftp-nxlog.log
create_file=true

process=
start=no
stop=no
startup=
shutdown=


[translation]
0 = 1000
1 = 1
2 = 2
3 = 3
4 = 4
5 = 5
6 = 6
7 = 7
8 = 8
9 = 9
10 = 10
11 = 11
12 = 12
13 = 13
14 = 14
15 = 15
16 = 16
17 = 17
18 = 18
19 = 19
20 = 20
21 = 21
22 = 22
23 = 23
24 = 24
25 = 25
26 = 26
27 = 27
28 = 28
29 = 29
30 = 30
31 = 31
32 = 32
33 = 33
34 = 34
35 = 35
36 = 36
37 = 37
38 = 38
39 = 39
41 = 41
42 = 42
43 = 43
44 = 44
45 = 45
46 = 46
47 = 47
48 = 48
49 = 49
50 = 50
51 = 51
52 = 52
53 = 53
54 = 54
55 = 55

#   Default
_DEFAULT_=20000000


#########################
#         RULES         #
#########################

[0001 - Winftp-nxlog]
event_type=event
precheck="WINFTP-NXLOG"
regexp="(?P<syslog_date>\w+\s+\d+\s+\d+:\d+:\d+)\s+(?P<device>\S+)\s+WINFTP-NXLOG\s+\{"EventReceivedTime":"(?P<evt_rcv_time>[^"]+)","SourceModuleName":"(?P<src_module_name>[^"]+)","SourceModuleType":"(?P<src_module_type>[^"]+)","date":"(?P<date>[^"]+)","time":"(?P<time>[^"]+)","cs-username":"(?:-|(?P<cs_username>[^"\\]+))(?:\\(?P<domain>[^"]+))?","s-ip":"(?:-|(?P<src_ip>[^"]+))","s-port":"(?:-|(?P<src_port>[^"]+))","cs-method":"(?P<method>[^"]+)","cs-uri-stem":"(?:-|(?P<cs_uri_stem>[^"]+))","sc-status":"(?:-|(?P<cs_status>[^"]+))","sc-win32-status":"(?:-|(?P<sc_win32_status>[^"]+))","sc-substatus":"(?:-|(?P<sc_substatus>[^"]+))","x-session":"(?:-|(?P<x_session>[^"]+))","x-fullpath":"(?:-|(?P<x_full_path>[^"]+))","EventTime":"(?P<event_date>[^"]+)","SourceName":"(?P<src_name>[^"]+)"}"
date={normalize_date($event_date)}
plugin_sid={translate($sc_substatus)}
device={$device}
src_ip={$src_ip}
dst_ip={$device}
src_port={$src_port}
username={$cs_username}
protocol='ftp'
filename={$x_full_path}
userdata1={$method}
userdata2={$domain}
userdata3={$cs_uri_stem}
userdata4={$cs_status}
userdata5={$sc_win32_status}
userdata6={$x_session}