# Alienvault plugin
# Author: Fatih usta <fatihusta@labrisnetworks.com>
# Plugin honeypot_wordpot id:91120 version: 0.0.1
# Last modification: 2018-11-08 10:00
#
# Plugin Selection Info:
# honeypot_wordpot:-
#
# END-HEADER
#
# Description:
#   honeypot_wordpot
#
#
#
#
 
[DEFAULT]
plugin_id=91120
 
[config]
type=detector
enable=yes
 
source=log
location=/var/log/honeypot_wordpot.log
 
create_file=false
 
process=
start=no
stop=no
startup=
shutdown=

# 2018-11-13 13:47:32,253 - 169.254.10.1 probed for the login page
# 2018-11-13 13:47:32,475 - 169.254.10.1 probed for the login page
# 2018-11-13 13:47:37,392 - 169.254.10.1 tried to login with username asdasd and password asdasdasdasd


[0001 - honeypot_wordpot]
event_type=event
regexp="\w+\s+\d+\s\d+:\d+:\d+\s(?P<device>.*?)\s(?P<sensor>.*?)\s(?P<date>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}),\d+\s-\s(?P<src_ip>\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})(?P<msg>.*)"
date={normalize_date($date)}
device={$device}
plugin_sid=1
src_ip={$src_ip}
userdata1=MSG: {$msg}
