# Alienvault plugin
# Author: Alienvault Team at devel@alienvault.com
# Plugin yara id:1710 version: 0.0.1
# Last modification: 2015-09-09 12:00
#
# Plugin Selection Info:
# Yara:Yara:-
#
# END-HEADER
# Accepted products:
# 
# Description:
# 
#

[DEFAULT]
plugin_id=1710

[config]
type=detector
enable=yes

source=log
location=/var/log/yara.log
create_file=false

process=
start=no
stop=no
restart=no
startup=
shutdown=

[translation]
Debugger detection tricks=2
Compilers=3
Virtual Machine detection tricks=4
Sandbox detection tricks=5


[0001 - Yara]
event_type=event
regexp="(?P<name>\S+)(?:\s+\[\S+\])?\s+\[description="(?P<description>[^"]*)",(?:severity=(?P<severity>\d+),)?type="(?P<type>[^"]*)",author="(?P<author>[^"]*)"\]\s+(?P<file>\S+)"
plugin_sid={translate($description)}
userdata1={$name}
userdata2={$severity}
userdata3={$type}
userdata4={$author}
userdata5={$file}

[0002 - Yara]
event_type=event
regexp="(?P<name>\S+)\s+(?:\[(?P<type>\S+)\]\s+)?(?P<file>\S+)"
plugin_sid=100
userdata1={$name}
userdata2={$type}
userdata3={$file}
