## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCz9rC0bpeF5/Pd
oqswKdw3QkyOKCCNzDqIYCrYVNqqo2/l+MRPzO5gV7ardsPxgmkZw8DOdovEmMoH
CHOF+rTgZg30SwD/z2r5ybO6MwVJRiDIzWDpvA/Ayg5BYTpsGcH2Fn1TZZA8cbZo
zysxQDw4Dsg9H3z7WYAwewytaTMlMegVJ11FtTYltnsbJZaPyXYYQz5YSVK5GH+i
6kizd8tUqXUZqw2XhI+FGD+OtzLfGIkrx2/WO5ao0KO62Vet4fNLJx73EYlMtThg
EpYobyyc39WUUTfTVuak2gTsW1cOdmILEfGDvFr85ZFOi8uC1lR58b/5m1oKCpR6
gMw4wNc5AgMBAAECggEAZb/uvLVimmVA7mkQnRSt29hybFWnwkRcO8sTrmibkasC
k2YJqIzXokU1lNB7jMsNHXIeSx2ffLJeV4ehuXi8V7ub3CmkEP53H2+5XGeIb5tk
4eOtDbo0te4IDVMpswEFN1wT09kyqdopJi0r4JbO9Wr2MAjjo0FBRyfrTQiT0Ezp
fkxZSi0hM8uoOE1DhwVBYj0pvxAMAW0g/DvsFiqXawrW/q12UOBQFQucskItQrSx
xGPHfCc22ydgbYN3VoGssTwTTBapNdmy9wXXtFPlt3T5kfXcFYPt0uBlSXs30Wy8
Vu1XWj6FLYKhD6VZpORoWy5LIxKvZsg9wGp/C/j/YQKBgQDr1pNL76zJBAmq8CJp
Ujg97hklG9JSUbInbpzp/SFs58ZZ7V7T6LDHOf6SzTQKu75Ar7mVCJpK6M/GQTiL
Ogq6rCaRe8uKHDyUCqS8kZ5qL9T89JfhDMvNmFfDPu841fnwswIMkFFUjygdJ+XA
XcAvz0j230UpOIgdfkAOMs3NTQKBgQDDWUZ06pj9tpiR9g2G/4VAII6w+vTqJbPm
ebdHu5xtZHTh3956f9CxxmXBt9yPeW/kBcqzoW+ygm4jX2ASHxN8Tr5q6JlgpE/1
ApYqNsyZnO384AH6aKNr6Gpg5HRix4zqQD4czgO24U/47E68DQQIkHhoXqcI3ILO
eWzrzEYrnQKBgAVTazAj0XsYpD8//Qbz3GFJpze3USCax7MsRE7kcITNFyWgvqt6
bcOSA7W8/JfhdYJwdXhwIUvfxhFsF6LNRMDCcnyGlyofSR7uvpmjkDhFrEGqJGPo
rhGOhyzZlv1pl6Nf54PxHmUSdo1yATY+58AspjEtCZrMtAY2e6vWad9hAoGBAJvw
vEnArHh8Nrbt0Eaf22Mhmka1TqVLi5zENQbSQUEiHBvjddocBiCj278UYsE1k5hW
90UF7gB2Fi2uiSZuIEPvKBp3q1h2Uk2nzu/L5vAJUgG3YFzhAvO1CJZoSHBCE787
oVmlK1nl6s0u9nsveLTNfxDx3i04ukLQs55X5vwRAoGALL4B7hf5d+Uer/whZU7r
sKWKii5MdklyxMNlMtM4VVguQaoto2OGauLTIPmevCFKk6guKNd9MACqUYa2P5HS
2LPHLk+x+dkQTHve2kSXriu2A5uvIipHNowIH0mOXT3MgLvgkePaAp4J3xEJRkTd
M0UDBLt2Xh/Sw/sC3GK7Ryo=
-----END PRIVATE KEY-----
