## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

server {
    listen      {{ nginx['listen'] }};
    server_name  {{ nginx['server_name'] }};

    ssl                  on;
    ssl_certificate      {{ nginx['certificate']['destination'] }};
    ssl_certificate_key  {{ nginx['key']['destination'] }};

    ssl_session_timeout  5m;

    ssl_protocols  TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    index index.php index.html;

    location / {
        proxy_pass http://localhost:5601;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

}
