## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

user="{{ kibana['user'] }}"
group="{{ kibana['group'] }}"
chroot="{{ kibana['chroot'] }}"
chdir="{{ kibana['chdir'] }}"
nice="{{ kibana['nice'] }}"
