## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
-----BEGIN CERTIFICATE-----
MIIDaTCCAlGgAwIBAgIJAK+3INUfqAjiMA0GCSqGSIb3DQEBCwUAMEsxCzAJBgNV
BAYTAlRSMQ8wDQYDVQQIDAZBTktBUkExDzANBgNVBAcMBkFOS0FSQTENMAsGA1UE
CgwERFpLSzELMAkGA1UECwwCSVQwHhcNMTYwNDA0MTUzNjA5WhcNNDQwODIwMTUz
NjA5WjBLMQswCQYDVQQGEwJUUjEPMA0GA1UECAwGQU5LQVJBMQ8wDQYDVQQHDAZB
TktBUkExDTALBgNVBAoMBERaS0sxCzAJBgNVBAsMAklUMIIBIjANBgkqhkiG9w0B
AQEFAAOCAQ8AMIIBCgKCAQEAs/awtG6Xhefz3aKrMCncN0JMjiggjcw6iGAq2FTa
qqNv5fjET8zuYFe2q3bD8YJpGcPAznaLxJjKBwhzhfq04GYN9EsA/89q+cmzujMF
SUYgyM1g6bwPwMoOQWE6bBnB9hZ9U2WQPHG2aM8rMUA8OA7IPR98+1mAMHsMrWkz
JTHoFSddRbU2JbZ7GyWWj8l2GEM+WElSuRh/oupIs3fLVKl1GasNl4SPhRg/jrcy
3xiJK8dv1juWqNCjutlXreHzSyce9xGJTLU4YBKWKG8snN/VlFE301bmpNoE7FtX
DnZiCxHxg7xa/OWRTovLgtZUefG/+ZtaCgqUeoDMOMDXOQIDAQABo1AwTjAdBgNV
HQ4EFgQU2POSD++rNOQy8SGPYxxS2Z9qoeMwHwYDVR0jBBgwFoAU2POSD++rNOQy
8SGPYxxS2Z9qoeMwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAKi1n
UM+/VcCPG0yeVAETdRtN7MBy2cXH3t0nbKuIQrXKqfJ3LLjyT0U4huZlIIzskT3u
4VM9qtOSpGNsrge+PqlLPD0w/uZaD3oMJk4cA1iwkVgbdalBzoOWmauA18tlnJ2k
KC1O6AOhnSkogcU4eJAJobOPngzf5SDvaEw2aF5wi2Y8iGGWq3cdwj2sTCCRxNP8
OSpZgrobp/8cV/HivgRUTUlU81RhizdzZDXsm3ysvUM4yUqF/HavMwl/ThOIbKIH
jDEPvyZ/hYPts7RPP7kJE6kCjG8bY8W9Fz+inaEqn/mrIU4XNldphKtBSfGiRSWW
KBeJ7pm0qoaUwc/h2w==
-----END CERTIFICATE-----
