ruleset(name="HoneypotLogs") {
   action(name="Honeypot-Log-Gonderme"
      type="{{lxc[inventory_hostname].rsyslog_type}}"
      target="{{lxc[inventory_hostname].rsyslog_target}}"
      port="{{lxc[inventory_hostname].rsyslog_port}}"
      tls="{{lxc[inventory_hostname].rsyslog_tls}}"
      tls.caCert="{{lxc[inventory_hostname].rsyslog_tls_cacert}}"
      tls.myCert="{{lxc[inventory_hostname].rsyslog_tls_mycert}}"
      tls.myPrivKey="{{lxc[inventory_hostname].rsyslog_tls_myprivkey}}"
      tls.authmode="{{lxc[inventory_hostname].rsyslog_tls_authmode}}"
      tls.permittedpeer=["{{lxc[inventory_hostname].rsyslog_tls_permittedpeer}}"]
      queue.Type="LinkedList"
      queue.FileName="srvfrwd_honeypot"
      queue.SaveOnShutdown="on"
      queue.MaxFileSize="100m"
      action.resumeRetryCount="-1"
   )
   stop
}
{% for honeypot in containers[inventory_hostname] %}
{%if honeypot.type == "elastichoney" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/elastichoney/elastichoney.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "amun" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/amun/*.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "cowrie" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/usr/share/cowrie/var/log/cowrie/cowrie.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "p0f" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/p0f.out"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "dionaea" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/dionaea.out"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "smtp" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/honeypot_smtp.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "ftp" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/honeypot_ftp.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "pop3" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/honeypot_pop3.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "suricata" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/suricata/fast.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "shockpot" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/shockpot/shockpot.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "wordpot" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/wordpot/wordpot.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "conpot" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/conpot/conpot.log"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{%if honeypot.type == "glastopf" %}
input(type="imfile"
   file="/var/lib/lxc/{{honeypot.type}}/rootfs/var/log/glastopf.out"
   tag="{{honeypot.type}}"
   ruleset="HoneypotLogs")
{%endif%}
{% endfor %}

