lxc.network.type = {{lxc.network_type}}
lxc.network.link = {{lxc.network_link}}
{% if lxc.network_type == "macvlan" %}
lxc.network.macvlan.mode = bridge
{% endif %}
lxc.network.flags = up
lxc.network.hwaddr = {{lxc.network_hwaddr}}
lxc.aa_profile = unconfined