-----BEGIN CERTIFICATE-----
MIIDpjCCAo4CCQDEneSzx9Bp7TANBgkqhkiG9w0BAQsFADCBlDELMAkGA1UEBhMC
VFIxETAPBgNVBAgMCElTVEFOQlVMMREwDwYDVQQHDAhJU1RBTkJVTDEXMBUGA1UE
CgwOUGFyZHVzIEFodGFwb3QxCzAJBgNVBAsMAklUMRUwEwYDVQQDDAwqLmdkeXMu
bG9jYWwxIjAgBgkqhkiG9w0BCQEWE2JpbGdpQHBhcmR1cy5vcmcudHIwHhcNMTkw
ODIwMjMxNjQ2WhcNMjkwODE3MjMxNjQ2WjCBlDELMAkGA1UEBhMCVFIxETAPBgNV
BAgMCElTVEFOQlVMMREwDwYDVQQHDAhJU1RBTkJVTDEXMBUGA1UECgwOUGFyZHVz
IEFodGFwb3QxCzAJBgNVBAsMAklUMRUwEwYDVQQDDAwqLmdkeXMubG9jYWwxIjAg
BgkqhkiG9w0BCQEWE2JpbGdpQHBhcmR1cy5vcmcudHIwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQCqCeh7KwJPjYDWavOkL/V2Jd2wHfTHTNks93Cg2hTj
Nga3VFmsBMuQLOtnCEJJlf6imumHycDtcsNHYuwUT+CkkQeZ39JT0FL3ptCJKa3N
Gqh1HczrLwaeINLnZZ82Vf986vpF3mGFqw7JTZuu40PZHpd7AsqtFoWuPnDG4Lri
NvSk2iWopvjJUZG4NgwCfCDCM9cgt0hWjxIJRzkxr2twNNo0v5cghzxdnB/bFi1H
4eY1mxpXUBk8T6rp8zZoPtoTc+7rrYmex3+xMTjPWK0sMyZ1N+DqQLtsHMG6/3ST
WplRTnc1cuNQMsN5nF6rkPb7HFc2olnL6eMOb3qfotGhAgMBAAEwDQYJKoZIhvcN
AQELBQADggEBAKZw0wXGta+CyA4w+dQtdsFGQmEy14pmgh8O0uIgkDWgMIn0tsJx
AEOnCZylBFalaXYOKefzhwujeTwvQP2ajjancPc3eB7lp7e2FxaRw6rZmYbPGD1J
24VHxbIF+4Wpd+8Dx2iV9gL1jQOp9dvhQzX/iC4ZkcUBLLYe2DfGxv+pwzdcpEGQ
b+oKj1BNmzSZ4vPn7OKiOAgDC9Y1o8etQm+h8TqQhm67/xdIMXKUBAWGveqR0JVq
s/rrTj8je15IX6OB4dRn1tJId2eKPQuN2+nMzPukfeBSvWXwE9WCZ9Tys/GsQYek
+oUXbP6B3XWPg3WOT5TzpL+qqvSr4XHG808=
-----END CERTIFICATE-----
