/**
 * Host group examples.
 */

object HostGroup "linux-servers" {
  display_name = "Linux Servers"

  assign where host.vars.os == "Linux"
}

object HostGroup "windows-servers" {
  display_name = "Windows Servers"

  assign where host.vars.os == "Windows"
}

{% for group in host_groups %}
object HostGroup "{{group.name}}" {

  display_name = "{{group.display_name}}"
  assign where host.vars.os == "{{group.os}}"

}
{% endfor %}
/**
 * Service group examples.
 */

object ServiceGroup "ping" {
  display_name = "Ping Checks"

  assign where match("ping*", service.name)
}

object ServiceGroup "http" {
  display_name = "HTTP Checks"

  assign where match("http_*", service.check_command)
}

object ServiceGroup "disk" {
  display_name = "Disk Checks"

  assign where service.check_command == "check_disk"
}

object ServiceGroup "ntp time" {
  display_name = "NTP Time Checks"

  assign where service.check_command == "check_ntp_time"
}

object ServiceGroup "rsyslog" {
  display_name = "Rsyslog Checks"

  assign where service.check_command == "rsyslog"
}

object ServiceGroup "memory" {
  display_name = "Memory Checks"

  assign where service.check_command == "check_mem"
}

object ServiceGroup "cpu" {
  display_name = "CPU Checks"

  assign where service.check_command == "check_load"
}
