# {{ ansible_managed }}

{% for key,value in check_all.iteritems() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/check_nrpe",
{% for key,value in value.items() %}
    "{{ key }}", {{ value }},
{% endfor %}
  ]
}

{% endfor %}

{% for key,value in check_net.iteritems() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/check_nrpe",
{% for key,value in value.items() %}
    "{{ key }}", {{ value }},
{% endfor %}
  ]
}

{% endfor %}

{% for key,value in check_service.iteritems() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/check_nrpe",
{% for key,value in value.items() %}
    "{{ key }}", {{ value }},
{% endfor %}
  ]
}

{% endfor %}


{% for key,value in check_website.iteritems() %}
object CheckCommand "{{ key }}" {
  import "plugin-check-command"

  command = [
    PluginDir + "/check_nrpe",
{% for key,value in value.items() %}
    "{{ key }}", {{ value }},
{% endfor %}
  ]
}

{% endfor %}

