## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

# Izin verilmiş url listesini icermektedir
.Include</etc/dansguardian/lists/exceptionurllist_general>

# Local izin vermeleriniz icin exceptionurllist_local dosyasini kullaniniz
.Include</etc/dansguardian/lists/exceptionurllist_local>
