{{local_cf}}

{% if spam_regexes %}
{% for item in spam_regexes %}
{{ item.where }}	{{ item.name }}	{{ item.regex }}
score	{{ item.name }}	{{ item.score }}
describe	{{ item.name }}	{{ item.describe }}
{% endfor %}
{% endif %}
