## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
-----BEGIN CERTIFICATE-----
MIIDcTCCAlmgAwIBAgIJAIuR7+6qQi0sMA0GCSqGSIb3DQEBCwUAME8xCzAJBgNV
BAYTAlRSMREwDwYDVQQIDAhJU1RBTkJVTDERMA8GA1UEBwwISVNUQU5CVUwxCzAJ
BgNVBAoMAklUMQ0wCwYDVQQLDAREWktLMB4XDTE2MDUxMzA4Mjg0NloXDTQ0MDky
ODA4Mjg0NlowTzELMAkGA1UEBhMCVFIxETAPBgNVBAgMCElTVEFOQlVMMREwDwYD
VQQHDAhJU1RBTkJVTDELMAkGA1UECgwCSVQxDTALBgNVBAsMBERaS0swggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDTwT2+CSkjUQ2CHnzRSPW46vn8EAss
Ikcky4RbgMXJDreaIELu8vFGibxS/HCUyk/x7yfedlZcQQw67pi1pPaKQ+DBM9Bw
Qs75RAjFbSnIPQEWOKxNQRam7zm1BSkoBLlCQ9PhC98k5RfPY6tQcm7sRrTbnA2U
HJqhMBkmNqAMhdQmMfZp4qXvcWioKnKdFq6dYpj5xGwN3RhKK3NGvm63AB8+PE+I
AhMyB8u/9JoiQ7bqn6ocd3B54b4ClbUNkIFFe1Ua/HlEVeTt85ar79ZT904o/Pxu
15LwffYMk4rb8GbwZNn7BTGGoOIXjfmXtxaYnQwgwvQfIMQcPOnm+XyNAgMBAAGj
UDBOMB0GA1UdDgQWBBQa8spgJNhLbBKySVoyeW1mx2YBIzAfBgNVHSMEGDAWgBQa
8spgJNhLbBKySVoyeW1mx2YBIzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUA
A4IBAQCjS4jwxSG0B5xA5/ZdwPicZyd3nVpmVOKL3/OiXvAkWVCGGDplEvNWeh5K
67hD9dhxPBFd/T34v/jPZSC8+QM27qnigJJcR47IRWyhIaUmqAchRawDD5qplybZ
LzYXOeMOZIvTTQsWi9S5eTtEf9Hcc2k88fTIZz49YR44z4zfVJYC8p5Enk4MZXjK
lvdgZi0P3RLM2MpiMQ0OpBczNeyitZFJDwEaZHvY/9xnKjx/se5fFw4ps+Rnfo0g
Pfhx6xG4pLeBblldxoIBgGgQJSqC4TUBTabek6nZ7riv+xSBDzgoXwGvLnvl5pCr
REbG58AJp3p8FkNausZv2DLEmvJn
-----END CERTIFICATE-----
