## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{{ zeustracker['min'] }} {{ zeustracker['hour'] }} {{ zeustracker['day'] }} {{ zeustracker['week'] }} {{ zeustracker['month'] }} {{ zeustracker['user'] }} {{ zeustracker['app']['destination'] }}
