## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

#!/bin/bash

cd /etc/ansible && git pull

EXIT=$?

if [ "$EXIT" -eq 0 ]
then
        /usr/bin/ansible-playbook /etc/ansible/playbooks/state.yml
else
        logger -p local5.crit "Ansible MYS Repo Update Failed !!"
fi
