# This input block will listen on port 10514 for logs to come in.  
# host should be an IP on the Logstash server.  
# codec => "json" indicates that we expect the lines we're receiving to be in JSON format  
# type => "rsyslog" is an optional identifier to help identify messaging streams in the pipeline.  
  
input {
	udp {
		host => "127.0.0.1"  
		port => 10514  
		codec => "json"  
		type => "rsyslog"  
	}
}
  
# This is an empty filter block. You can later add other filters here to further process  
# your log lines  
  
filter {
	if [programname] == "suricata" {
  
		# parse the message into individual fields  
		grok {  
			match => { "message" => "(?<ts>[\w].*?\.\d+).*?\[(?<action>.*?)\]\s+\[(?<generator_id>.*?):.*?(?<signature_id>.*?):.*?\]\s(?<signature>.*?)\s\[Classification:\s(?<classification>.*?)\]\s\[Priority:\s(?<priority>.*?)\].*?{(?<protocol>.*?)\}\s(?<source_ip>.*?):(?<source_port>.*?)\s-\>\s(?<destination_ip>.*?):(?<destination_port>.*)" }  
		}  
  
		# remove the original message if parsing was successful  
		if !("_grokparsefailure" in [tags]) {  
			mutate {  
				remove_field => [ "message" ]  
			}  
		}  
  
		# parse the timestamp and save in a new datetime field  
		if [ts] {  
			date {  
				locale => "en"  
				match => [ "ts", "MM/dd/YYYY-HH:mm:ss.SSSSSS" ]  
				target => "sys_timestamp"  
			}  
		  
			# remove the original timestamp if date parsing was successful  
			if !("_dateparsefailure" in [tags]) {  
				mutate {  
					remove_field => [ "ts" ]  
				}  
			}  
		}  
	}
}
  
filter {
	  
	uuid {
		target => "@uuid"  
	}
	  
	mutate {
		add_field => {  
			"collection" => "elasticsearch.cyphon.%{programname}"  
		}  
	}
}
  
# This output block will send all events of type "rsyslog" to Elasticsearch at the configured  
# host and port into daily indices of the pattern, "rsyslog-YYYY.MM.DD"  
  
output {
  
	elasticsearch {
		hosts => [ "127.0.0.1:9200" ]  
		index => "cyphon-%{+YYYY-MM-dd}"  
		document_id => "%{@uuid}"  
	}
	  
	rabbitmq {
		host => "127.0.0.1"  
		port => 5672  
		exchange => "cyphon"  
		exchange_type => "direct"  
		key => "watchdogs"  
		user => "guest"  
		password => "guest"  
		vhost => "cyphon"  
		durable => true  
		persistent => true  
	}
}

