## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{{ updshalla['min'] }} {{ updshalla['hour'] }} {{ updshalla['day'] }} {{ updshalla['week'] }} {{ updshalla['month'] }} {{ updshalla['user'] }} {{ updshalla['app']['destination'] }}
