## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{% if ansible_fqdn in groups['ansible'] %}
/var/log/ahtapot/*.log
{
        rotate 7 
        daily
        maxsize 500M
        missingok
        notifempty
        dateext
        compress
        postrotate
                invoke-rc.d rsyslog rotate > /dev/null
        endscript
}
{% endif %}

{% if ansible_fqdn in groups['firewall'] %}
/var/log/ahtapot/fw/*.log
{
        rotate 45 
        hourly
        maxsize 500M
        missingok
        notifempty
        compress
        postrotate
                invoke-rc.d rsyslog rotate > /dev/null
        endscript
}
{% endif %}

{% if ansible_fqdn not in groups['ossimcik'] %}
/var/log/client.log
{
        rotate 7 
        hourly 
        maxsize 500M
        missingok
        notifempty
        dateext
        compress
        postrotate
                invoke-rc.d rsyslog rotate > /dev/null
        endscript
}
{% endif %}
