## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

{% if ansible_fqdn in groups['ansible'] %}
/var/log/ahtapot/*.log
{
        rotate 7 
        daily
        missingok
        notifempty
        dateext
        compress
                systemctl kill -s HUP rsyslog.service > /dev/null
        endscript
}
{% endif %}

{% if ansible_fqdn in groups['firewall'] %}
/var/log/ahtapot/fw/*.log
{
        rotate 45 
        daily
        missingok
        notifempty
        dateext
        compress
        postrotate
                systemctl kill -s HUP rsyslog.service > /dev/null
        endscript
}
{% endif %}

{% if ansible_fqdn not in groups['ossimcik'] %}
/var/log/client.log
{
        rotate 7 
        daily 
        missingok
        notifempty
        dateext
        compress
        postrotate
                systemctl kill -s HUP rsyslog.service > /dev/null
        endscript
}
{% endif %}
