## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

Defaults   !requiretty
Defaults   !visiblepw
Defaults    always_set_home

Defaults    env_reset
Defaults    env_keep =  "COLORS DISPLAY HOSTNAME HISTSIZE INPUTRC KDEDIR LS_COLORS"
Defaults    env_keep += "MAIL PS1 PS2 QTDIR USERNAME LANG LC_ADDRESS LC_CTYPE"
Defaults    env_keep += "LC_COLLATE LC_IDENTIFICATION LC_MEASUREMENT LC_MESSAGES"
Defaults    env_keep += "LC_MONETARY LC_NAME LC_NUMERIC LC_PAPER LC_TELEPHONE"
Defaults    env_keep += "LC_TIME LC_ALL LANGUAGE LINGUAS _XKB_CHARSET XAUTHORITY"

Defaults    secure_path = /usr/local/bin:/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin
Defaults:ALL timestamp_timeout=5

root	ALL=(ALL) 	ALL

{% for key,value in sudo_privileges.iteritems() %}
{% if value.hostgroups == "all" %}
{{ value.user }}	ALL=(ALL) 	NOPASSWD: {{ value.commands }}
{% elif ansible_fqdn in groups[value.hostgroups] %}
{{ value.user }}	ALL=(ALL) 	NOPASSWD: {{ value.commands }}
{% endif %}
{% endfor %}

Defaults insults
Defaults log_output
Defaults:%ahtapotops,%lkk,%kontrol,%git,root !log_output
Defaults!/usr/bin/sudoreplay !log_output
Defaults!/sbin/reboot !log_output
Defaults iolog_dir = {{ sudo['iologdir'] }}
