## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

[Db]
host = {{ ocswbalarm['host'] }}
user = {{ ocswbalarm['user'] }}
password = {{ ocswbalarm['password'] }}
db_name = {{ ocswbalarm['db_name'] }}
sqlite_db = {{ ocswbalarm['sqlite_db'] }}
