## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

# Ankara karargah tarafindan izinverilmis site listesini icermektedir
*.gov.tr
*.edu.tr
