{{ad.cron_ad_user_sync_freq}} root systemctl stop smb.service winbind.service nmbd.service && rm -f /var/cache/samba/*.tdb && systemctl start smb.service winbind.service nmbd.service && systemctl reload squid

