## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!

[global]
   netbios name = {{inventory_hostname| upper}}
   realm = {{ad.domain}}
   workgroup = {{ad.workgroup|upper}}
   security = ads
   encrypt passwords = yes
   password server = {{ad.server_ip}}
   log level = 1
   log file = /var/log/samba.log
   ldap ssl = no

   idmap config * : range = 10000-20000
   idmap config * : backend = tdb

   winbind separator = /
   winbind enum users = yes
   winbind enum groups = yes
   winbind use default domain = yes

   domain master = no
   local master = no
   preferred master = no

   template shell = /sbin/nologin

   getwd cache = yes
   winbind cache time = 900
   ldap connection timeout = 10
   ldap timeout = 120

   server max protocol = smb2
   server min protocol = smb2