-----BEGIN CERTIFICATE-----
MIIDjjCCAnYCCQCXxjwOC0qm8jANBgkqhkiG9w0BAQsFADCBhTELMAkGA1UEBhMC
VFIxETAPBgNVBAgTCElTVEFOQlVMMREwDwYDVQQHEwhJU1RBTkJVTDEPMA0GA1UE
ChMGQklMR0lPMQswCQYDVQQLEwJJVDEPMA0GA1UEAxMGYmlsZ2lvMSEwHwYJKoZI
hvcNAQkBFhJvcHN0ZWFtQGJpbGdpby5jb20wHhcNMTYwMjI5MTAyMTI0WhcNMTcw
NzEzMTAyMTI0WjCBizELMAkGA1UEBhMCVFIxETAPBgNVBAgTCElTVEFOQlVMMREw
DwYDVQQHEwhJU1RBTkJVTDEPMA0GA1UEChMGQklMR0lPMQswCQYDVQQLEwJJVDEV
MBMGA1UEAxQMKi5nZHlzLmxvY2FsMSEwHwYJKoZIhvcNAQkBFhJvcHN0ZWFtQGJp
bGdpby5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCqCeh7KwJP
jYDWavOkL/V2Jd2wHfTHTNks93Cg2hTjNga3VFmsBMuQLOtnCEJJlf6imumHycDt
csNHYuwUT+CkkQeZ39JT0FL3ptCJKa3NGqh1HczrLwaeINLnZZ82Vf986vpF3mGF
qw7JTZuu40PZHpd7AsqtFoWuPnDG4LriNvSk2iWopvjJUZG4NgwCfCDCM9cgt0hW
jxIJRzkxr2twNNo0v5cghzxdnB/bFi1H4eY1mxpXUBk8T6rp8zZoPtoTc+7rrYme
x3+xMTjPWK0sMyZ1N+DqQLtsHMG6/3STWplRTnc1cuNQMsN5nF6rkPb7HFc2olnL
6eMOb3qfotGhAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAEgaCn/Byu5egmy+PDQE
cUQprT6KMTdBYV0eY0BZUHWm7knfTMx4AREgKI89E3GXcTVxU0veFqjcwe89e2iI
dohDHPo02GYXpg3Xw/fOoKzG7Bz0LmLvXX51yFRUydJDJKd/bOOajpjJS8GRsb0g
XQM6pA1TbR2K9/EtEtQGJMknTPlNAmKMAWYvHeHpC6zMtb3pvSJ+aznv2KvN5H47
8dLanYW3S8PUYBvinm4wKI8e7yOstONI9rjpQn/LzeAnwFzwOCuDexX+FkbDXVvy
+BIPr/kX/pGjWPb8ZJGaHvqZ7vNgPDxctRVhHaxRO9lKGKXQcBMdCVx8thZ7da6q
Hec=
-----END CERTIFICATE-----
