## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

[Db]
host = {{ ocswb['host'] }}
user = {{ ocswb['user'] }}
password = {{ ocswb['password'] }}
db_name = {{ ocswb['db_name'] }}
