[faraday_server]
port = {{faraday_port}}
bind_address = {{faraday_bind_addr}}
websocket_port = {{faraday_websoc_port}}
secret_key = fvoSqAzPq1DZMaiF9wBz75gI4

[ssl]
port = {{faraday_ssl_port}}
certificate = {{faraday_ssl_cert}}
keyfile = {{faraday_ssl_key}}

[couchdb]
host = localhost
port = 5984
ssl_port = 6984
user =
password =
protocol = http

[storage]
path = {{faraday_storage_path}}

[database]
connection_string = postgresql+psycopg2://faraday_postgresql:v9JKkuzfRGBZCJaCoaphtbNZv@localhost/faraday

