[faraday_server]
port = 5985
bind_address = 0.0.0.0
websocket_port = 9000
secret_key = fvoSqAzPq1DZMaiF9wBz75gI4

[ssl]
port = {{faraday_ssl_port}}
certificate = /etc/ssl/faraday.crt
keyfile = /etc/ssl/faraday.key

[couchdb]
host = localhost
port = 5984
ssl_port = 6984
user =
password =
protocol = http

[storage]
path = /root/.faraday/storage

[database]
connection_string = postgresql+psycopg2://faraday_postgresql:v9JKkuzfRGBZCJaCoaphtbNZv@localhost/faraday

