## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

[uwsgi]

chdir           = /var/opt/ahtapot-ocs-wb
module          = ocs_wb.wsgi
pythonpath      = /usr/lib/pyton2.7/dist-packages
pythonpath      = /usr/lib/pyton2.7

uid             = ahtapotops
gid             = ahtapotops
master          = true
processes       = 10
socket          = /var/run/ahtapot-ocswb/ocs-wb.sock
chmod-socket    = 666
vacuum          = true
plugin          = python
