## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
-----BEGIN CERTIFICATE-----
MIIDozCCAougAwIBAgIJAO0HJItlvIWBMA0GCSqGSIb3DQEBCwUAMGgxCzAJBgNV
BAYTAlRSMQ8wDQYDVQQIDAZBTktBUkExDzANBgNVBAcMBkFOS0FSQTENMAsGA1UE
CgwERFpLSzELMAkGA1UECwwCSVQxGzAZBgNVBAMMEnNxdWlkMDEuZ2R5cy5sb2Nh
bDAeFw0xNjAzMDMxMDQxMDJaFw0yNjAzMDExMDQxMDJaMGgxCzAJBgNVBAYTAlRS
MQ8wDQYDVQQIDAZBTktBUkExDzANBgNVBAcMBkFOS0FSQTENMAsGA1UECgwERFpL
SzELMAkGA1UECwwCSVQxGzAZBgNVBAMMEnNxdWlkMDEuZ2R5cy5sb2NhbDCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKaxZo2GetIBOw0R0kPsrKL52ydE
CTAE91MDfKNZfnGOL6UmJCtSUwdi1/ek05I6FbT4iHhMmORJpJmziF+/oFQ6r7aJ
QKOS/d1ULiDpojr7zEsHtB55+HU1v0BoQUZmIUS07sHB6wQYZMaLIFnCvtq7ExD8
Xe0saOc9ciGqO7iVauirK3EJfXdpsGPIk4cNbXzUYG03nhgRuThqQOEsoHTL90jD
hH1Id5zyNAeR7VUktXWo3e19QQwyAAEL4/bA/RfJzosVPs0ucT78Ni1V/6WiXd9Z
M4bb0w6aIeaD+kg/yQYGb+6Rgkj7Ac4aTH33N7J46+jmk2m5ruF226G+GnkCAwEA
AaNQME4wHQYDVR0OBBYEFKUkUvrH41thaBzkd7cM7k7BvV/oMB8GA1UdIwQYMBaA
FKUkUvrH41thaBzkd7cM7k7BvV/oMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEL
BQADggEBAJ1L5b+Ahntowjx6HnOSgkefFUpeTaj0Rc9p1EpjBl6vgQG3MGsx5mKa
B12bpKeEakxIaufKFaf8NPBfkQlNTqpbXxTgrdEw+c/gT1JMt98co9m0mnRwUuoH
1dAiyDbmQ+UGwR1fLrUApA7tZCtCbfNnTUPkujZl9nCqfAyBNY1GfK/MNIBAp9O1
HUoB9kx4w/EBtclQBMNYD+EVEGfBw5zJ1RhdWG3TYSZDzX2fRbo2O/GasWsdNJvK
dOVzu2K37vjybf+CxzaZ+H4CqFet9QpIzwbs78Eqedkd3JwgqkEVBPWEa4jEPndI
w2ipz5/7zaA1mJBlFMhAIUlSRzX0iBM=
-----END CERTIFICATE-----
