## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
.Include</etc/dansguardian/lists/blacklists/shalla/adv/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/drugs/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/cooking/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/games-misc/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/games-online/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/gardening/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/pets/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/ringtones/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/violence/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/aggressive/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/dynamic/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/homestyle/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/news/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/science/astronomy/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/science/chemistry/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/warez/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/alcohol/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/education/schools/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hospitals/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/podcasts/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/searchengines/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/weapons/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/anonvpn/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/banking/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/insurance/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/moneylending/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/other/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/realestate/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/trading/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/imagehosting/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/politics/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/sex/education/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/sex/lingerie/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/webmail/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/bikes/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/boats/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/cars/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/planes/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/fortunetelling/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/isp/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/porn/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/shopping/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/webphone/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/chat/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/forum/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/jobsearch/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/radiotv/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/socialnet/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/webradio/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/gamble/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/library/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/humor/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/martialarts/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/restaurants/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/sports/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/travel/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/wellness/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/spyware/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/webtv/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/costtraps/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/military/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/redirector/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/tracker/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/dating/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/government/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/models/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/religion/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/updatesites/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/downloads/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/hacking/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/movies/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/remotecontrol/domains>
.Include</etc/dansguardian/lists/blacklists/shalla/urlshortener/domains>
