## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

# Shalla tarafindan yasaklanmis site listesini icermektedir
.Include</etc/dansguardian/lists/bannedurllist_shalla>

# Local url yasaklamalariniz icin bannedurllist_local dosyasini kullaniniz
.Include</etc/dansguardian/lists/bannedurllist_local>

# Yasaklanmış url listesini icermektedir
.Include</etc/dansguardian/lists/bannedurllist_general>
