## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
.Include</etc/dansguardian/lists/blacklists/shalla/adv/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/drugs/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/cooking/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/games-misc/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/games-online/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/gardening/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hobby/pets/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/ringtones/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/violence/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/aggressive/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/dynamic/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/homestyle/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/news/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/science/astronomy/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/science/chemistry/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/warez/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/alcohol/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/education/schools/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hospitals/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/podcasts/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/searchengines/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/weapons/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/anonvpn/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/banking/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/insurance/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/moneylending/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/other/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/realestate/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/finance/trading/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/imagehosting/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/politics/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/sex/education/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/sex/lingerie/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/webmail/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/bikes/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/boats/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/cars/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/automobile/planes/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/fortunetelling/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/isp/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/porn/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/shopping/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/webphone/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/chat/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/forum/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/jobsearch/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/radiotv/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/socialnet/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/webradio/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/gamble/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/library/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/humor/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/martialarts/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/restaurants/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/sports/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/travel/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/recreation/wellness/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/spyware/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/webtv/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/costtraps/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/military/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/redirector/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/tracker/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/dating/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/government/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/models/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/religion/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/updatesites/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/downloads/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/hacking/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/movies/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/remotecontrol/urls>
.Include</etc/dansguardian/lists/blacklists/shalla/urlshortener/urls>
