## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

pidfile		{{ dhcpd['common_conf']['pidfile'] }}
lease_file	{{ dhcpd['common_conf']['lease_file'] }}

remaining	{{ dhcpd['common_conf']['remaining'] }}
auto_time	{{ dhcpd['common_conf']['auto_time'] }}
decline_time	{{ dhcpd['common_conf']['decline_time'] }}
conflict_time	{{ dhcpd['common_conf']['conftlict_time'] }}
offer_time	{{ dhcpd['common_conf']['offer_time'] }}

{% for key,value in dhcpd_servers.iteritems() %}
{% if value.fqdn == ansible_fqdn %}
start		{{ value.start }}
end		{{ value.end }}
interface	{{ value.interface }}
max_leases	{{ value.max_leases }}
min_lease	{{ value.min_lease }}
siaddr		{{ value.siaddr }}
sname		{{ value.sname }}
opt     dns     {{ value.dns }}
option	subnet	{{ value.subnet }} 
opt	router	{{ value.router }}
option	domain	{{ value.domain }}
option	lease	{{ value.lease }}
{% for statickey,staticvalue in value.static_leases.iteritems() %}
static_lease {{ staticvalue.mac }} {{ staticvalue.ip}}
{% endfor %}
{% endif %}
{% endfor %}
