## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}

[uwsgi]

chdir           = /var/opt/ahtapot-pwlm
module          = ahtapotpie.wsgi
pythonpath      = /usr/lib/pyton2.7/dist-packages
pythonpath      = /usr/lib/pyton2.7

uid             = ahtapotops
gid             = ahtapotops
master          = true
processes       = 10
socket          = /var/run/ahtapot-pwlm/pwlm.sock
chmod-socket    = 666
vacuum          = true
plugin          = python
