## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
{{ ansible_managed }}
-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCmsWaNhnrSATsN
EdJD7Kyi+dsnRAkwBPdTA3yjWX5xji+lJiQrUlMHYtf3pNOSOhW0+Ih4TJjkSaSZ
s4hfv6BUOq+2iUCjkv3dVC4g6aI6+8xLB7Qeefh1Nb9AaEFGZiFEtO7BwesEGGTG
iyBZwr7auxMQ/F3tLGjnPXIhqju4lWroqytxCX13abBjyJOHDW181GBtN54YEbk4
akDhLKB0y/dIw4R9SHec8jQHke1VJLV1qN3tfUEMMgABC+P2wP0Xyc6LFT7NLnE+
/DYtVf+lol3fWTOG29MOmiHmg/pIP8kGBm/ukYJI+wHOGkx99zeyeOvo5pNpua7h
dtuhvhp5AgMBAAECggEATMXX3cbaOm6mq9ZRaUdQG5/H98W2FY+z+V/Zv8IwIkzC
VOXEMs+vve8gWMZpSyfFZ5wv/ngI0tu4G7I8VR0E0sZUt1Vvl+bTVWS3+iCgv1nJ
NaVOp9q1PAaNFzTtG2deWy6Z6FNP0osJnwfk1nKDRGp01ZXmDJ4vkpESR78H0nMA
R9HhZy5CeuMl49td7+E6LHA7P+4B3VjrXesDpAlC10ulswE+xJS9gFKm0M5knqsz
W9ce+pGnpff9g9AfflCzI69w55rl+VsUKLknKjAE+p5H55rc5FPihS9ckZYZBhRJ
8aMIp8WQkcLCwLzRK+gXo0nRMhJX3D1tJFFZzQkSgQKBgQDZjimr9UykPgCA/pDg
M26ssDy5iLKwzc1aP3rQM/L2Y69kiZb7OZU4mDJrjguRDllAyQQujT4pxE6cEmCg
o06dC12LBczhPaTrmjqW00kh/cWGI8CK+h3+c+fkrySSamr7Q02eRkmkgROmum3S
zuqB72hHRgRrox51ng6+PnrLtQKBgQDEJk97VeFFKiolOesVAPw71PxG4f+EgB3k
yJJWBPt0ddCJzUu7fgWZWj1QWZdG7bVjG/cIHC/fpYZn1dsRzu7eWVfwATab8nRO
UCtnAeta0Uqr2fhKG9To0I24fh4/QamD0jeuFHMVj0nEwh79pZuSuPFk0uQ+CvRv
dgk1N4r2NQKBgDiZTaoZBTltj///On25o791kjbKo4Jv6E7kWPU1rq3/PTAww4DU
eEfjAKsOp1+zlfDO2zGpOVTwZ2sfNNhV5CvjOxDiD21B9lf9JeT7Tvly5iKBxqPh
clAyo0/RaPhWi0KXPehBbQNJOW2U7uF7R3NKb5yrUJcYNuJunnNMGfJJAoGAGtKq
V9FcptqnPMP407x4wa3UedT53iKu89RBvqWbxUc/Jzj9vDv1hA0FCXHW8Aodndn7
JA7GtSyrfpOOC5diruFE1zszPowfP35TERkAGEE6ltmNzISVzuiGGM6WUEwoZDBh
ENsXCcG4csGg/0qgRaYozILSV3GkD4HyrGZWCGkCgYBsP+4W5Fp+qJ7WbBb7DBNB
HCJAru33vUPblpdq1bmuCUMoQt3krR9ruLJ4PPYVX/UIhTwp/mqtybYKlZRPaW8h
1dtMWdfxvv0p/vxD6P0eDSunL6EDKdltYGoEoAyCoAF7C5S7h9QjYyVNzB6G/iiI
jRJpv17By8Nsou+TGuIfeg==
-----END PRIVATE KEY-----
