<!DOCTYPE html>
<html>
<head>
<title>Erisim Engellendi</title>
<meta charset="utf-8"/>
<meta http-equiv="Content-Language" content="tr"/>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<link rel="stylesheet" type="text/css" media="all" href="https://{{ dansguardian['request']['address'] }}:{{ dansguardian['request']['port'] }}/static/403_template/style.css"" />
<link rel="stylesheet" type="text/css" media="all" href="https://{{ dansguardian['request']['address'] }}:{{ dansguardian['request']['port'] }}/static/403_template/backgrounds.css" />
</head>
<body>
<div class="wrapper">
	<div class="mainWrapper">
        <div class="leftHolder">
            <div class="errorNumber">403</div>
        </div>
        <div class="rightHolder">
            <div class="message"><p>Güvenlik politikaları geregince, bu adrese erisiminiz engellenmistir.Bu sayfanın ersime kapatılmasının uygun olamgını sünüyorsanız, gerekçenizi asagıdaki formu kullanarak sistem yöneticinize iletebilirsiniz.</p></div>
            <div class="tux"><img src="https://{{ dansguardian['request']['address'] }}:{{ dansguardian['request']['port'] }}/static/403_template/images/tux.ico" alt="Erisim Reddedildi..." title="Erisim Reddedildi." id="tux"></div>
            <div class="tryToMessage">
                Erisim Bilgileri :
                <ul>
                    <li><b>Kullanıcı : </b>-USER-</li>
                    <li><b>IP : </b>-IP-</li>
                    <li><b>Baglantı : </b>-URL-</li>
                    <li><b>Sebep : </b>-REASONGIVEN-</li>
                    <li><b>Kategori : </b>-CATEGORIES-</li>
                </ul>

                <br/>
                <div class="search">
                    <form method="POST" action="https://{{ dansguardian['request']['address'] }}:{{ dansguardian['request']['port'] }}/request/create/">
                        <input type="hidden" name="userValue" id="userValue" value="-USER-" />
                        <input type="hidden" name="userIpValue" id="userIpValue" value="-IP-" />
                        <input type="hidden" name="urlValue" id="urlValue" value="-REASONGIVEN-" />
                        <input type="hidden" name="completeUrlValue" id="completeUrlValue" value="-URL-" />
                        <input type="hidden" name="categoryValue" id="categoryValue" value="-CATEGORIES-" />
                        <input type="text" name="detailValue" id="detailValue" style="padding: 5px 10px 5px 10px;text-decoration: none;margin: 0 0px 2px 150px;" placeholder="Aciklama Giriniz" />
                        <input type="submit" name="submit" value="İzin İste" class="btn"/>
                </form>
                </div>
            </div>

          </div>
	</div>
</div>
</body>
</html>
