<IfModule mod_evasive20.c>
    DOSHashTableSize    {{ waf_ddos.waf_hash_table_size }}
    DOSPageCount       {{ waf_ddos.waf_page_count }}
    DOSSiteCount       {{ waf_ddos.waf_site_count }}
    DOSPageInterval    {{ waf_ddos.waf_page_interval }}
    DOSSiteInterval    {{ waf_ddos.waf_site_interval }}
    DOSBlockingPeriod  {{ waf_ddos.waf_block_period }}

    DOSEmailNotify      {{ waf_ddos.waf_email_notify }}
    DOSLogDir           {{ waf_ddos.waf_ddos_logs_dir }}
    {% if waf_ddos.waf_ddos_sys_cmd %} 
    DOSSystemCommand '{{ waf_ddos.waf_ddos_sys_cmd }}' 
    {% endif %}
</IfModule>