## Bu dosya ansible tarafindan yonetilmektedir!
## Burada yapilan degisikliklerin uzerine yazilir!!
[libdefaults]
        default_realm = {{ad.domain|upper}}
        dns_lookup_realm = false
        dns_lookup_kdc = true